﻿@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "Index";
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <!-- Search form-->
        <section id="search-website" class="card overflow-hidden">
            <div class="card-header">
                <h4 class="card-title">@Resources.Common.about</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                        <!--<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>-->
                        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                        <!--<li><a data-action="close"><i class="feather icon-x"></i></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <!-- Navbar-->
                    @Html.Partial("~/Views/About/partial/_abount_header.cshtml")
                    <!--/ Navbar-->
                    <!--Search Result-->
                    <div class="tab-content">
                        @{
                            string lang = Apom_User.Common.SessionContext.Language == Apom_User.Common.Constant.LANGUAGE_DEFAULT ? "" : Apom_User.Common.SessionContext.Language + ".";

                            @Html.Partial("~/Views/About/partial/_main." + lang + "cshtml")
                            @Html.Partial("~/Views/About/partial/_datasource." + lang + "cshtml")
                            @Html.Partial("~/Views/About/partial/_aqi_cal." + lang + "cshtml")
                            @Html.Partial("~/Views/About/partial/_relate_article." + lang + "cshtml")
                            @Html.Partial("~/Views/About/partial/_edu_video." + lang + "cshtml")
                            @Html.Partial("~/Views/About/partial/_fqa_info." + lang + "cshtml")
                            @Html.Partial("~/Views/About/partial/_contact." + lang + "cshtml")
                        }
                    </div>
                    <!--/ Search Result -->
                </div>
            </div>
        </section>
        <!--/ Search form -->
    </div>
</div>

