﻿<div id="search-nav" class="card-body" style="padding-top: 0;">
    <ul class="nav nav-tabs nav-underline" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#analysis_layer" data-toggle="tab" aria-controls="tabIcon21" role="tab" aria-selected="true">
                <i class="fa fa-link"></i> @Resources.Analysis.model_layer
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#analysis_station" data-toggle="tab" aria-controls="tabIcon22" role="tab" aria-selected="false">
                <i class="fa fa-file-image-o"></i> @Resources.Analysis.station
            </a>
        </li>
    </ul>
</div>