﻿@using Repositories.Models.Category
@{
    List<province> lstProvince = Model.Provinces;
    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;

    string formatDate = Apom_User.Common.Constant.GENERAL_SETTING.formatdate;
}

<style>
    .multiselect-container {
        min-width: 215px;
        max-width: 450px;
        max-height: 300px;
        overflow: auto;
    }

    .multiselect-group {
        font-weight: bold;
    }

    .multiselect-option {
        margin-left: 5px;
    }
</style>
<div id="analysis_layer" class="tab-pane active" role="tabpanel" aria-labelledby="baseIcon-tab21">
    <div class="row">
        <div class="col-12 col-md-12">
            <form action="#" class="number-tab-steps wizard-circle">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="location1">@Resources.Analysis.province:</label>
                                <select class="custom-select form-control" id="analysis_layer_administrative_province" name="analysis_layer_administrative_province">
                                    <option value="">@Resources.Analysis.vietnam</option>
                                    @{
                                        for (int i = 0; i < lstProvince.Count; i++)
                                        {
                                            province p = lstProvince[i];
                                            <option value="@p.province_id">@p.name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="location1">@Resources.Analysis.district:</label>
                                <select class="custom-select form-control" id="analysis_layer_administrative_district" name="analysis_layer_administrative_district" disabled>
                                    <option value="">--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="analysis_layer_product">@Resources.Analysis.product:</label>
                                <select class="custom-select form-control" id="analysis_layer_product" name="analysis_layer_product">
                                    <optgroup label="MEM"></optgroup>
                                    <option value="mem_pm25">PM2.5</option>
                                    <option value="mem_aqi_pm25">AQI PM2.5</option>
                                    @*<optgroup label="WRF-Chem"></optgroup>
                                    <option value="wrf_pm25">PM2.5</option>
                                    <option value="wrf_aqi_pm25">AQI PM2.5</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type_analysis_layer">@Resources.Analysis.type_analysis:</label>
                                <select class="custom-select form-control" id="type_analysis_layer" name="type_analysis_layer">
                                    <option value="day">@Resources.Analysis.day</option>
                                    <option value="week">@Resources.Analysis.week</option>
                                    <option value="month">@Resources.Analysis.month</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="analysis_layer_datefrom">@Resources.Analysis.date_from:</label>
                                <input type="date" data-date-format="@formatDate.ToUpper()" placeholder="@formatDate" class="form-control analysis-date" id="analysis_layer_datefrom" name="analysis_layer_datefrom" value="2022-01-01">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="analysis_layer_dateto">@Resources.Analysis.date_to:</label>
                                <input type="date" data-date-format="@formatDate.ToUpper()" placeholder="@formatDate" class="form-control analysis-date" id="analysis_layer_dateto" name="analysis_layer_dateto" value="2022-01-09">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12" style="text-align: right;">
                            <button type="button" class="btn btn-primary btn-analysis-layer">
                                <i class="fa fa-check-square-o"></i>@Resources.Analysis.statistict_data
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <!-- Navbar-->
            @Html.Partial("~/Views/Analysis/partial/analysis/_header_layer.cshtml")
            <!--/ Navbar-->
            <!-- Search Result -->
            <div class="tab-content">
                @Html.Partial("~/Views/Analysis/partial/analysis/_layer_chart.cshtml")
                @Html.Partial("~/Views/Analysis/partial/analysis/_layer_table_attr.cshtml")
                @Html.Partial("~/Views/Analysis/partial/analysis/_layer_map.cshtml")
                <!--/ Search Result -->
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var f = {
            analysis_time_start: $('#analysis_layer_datefrom'),
            analysis_time_end: $('#analysis_layer_dateto'),
            VNAQI: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI)),
            formatDate: CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase(),
            formatTime: CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase(),
            provinceId: 'null',
            districtId: '',
            typeAnalysis: 'day',
            tableStatistic: null,
            dataStatistic: [],
            extentProvince: undefined,
            mapDataProvince: [],
            mapDataDistrict: [],
        };

        console.log('VNAQI: ', f.VNAQI);
        function getInfoPM25(val){
            let aqiStatus = '';
            let aqiDes = '';
            let bgColor = '';
            let fontColor = '';

            for(let i=0; i< f.VNAQI.length; i++){
                let aqi = f.VNAQI[i];
                if(aqi.from != null) {
                    if(aqi.to != null) {
                        if(aqi.pm25_from <= val && val <= aqi.pm25_to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                    else {
                        if(aqi.pm25_from <= val) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
                else {
                    if(aqi.pm25_to != null) {
                        if(val <= aqi.pm25_to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
            };
            return {
                status: aqiStatus,
                des: aqiDes,
                bg_color: bgColor,
                font_color: fontColor
            }
        }

        function getInfoAQI(val){
            let aqiStatus = '';
            let aqiDes = '';
            let bgColor = '';
            let fontColor = '';

            for(let i=0; i< f.VNAQI.length; i++){
                let aqi = f.VNAQI[i];
                if(aqi.from != null) {
                    if(aqi.to != null) {
                        if(aqi.from <= val && val <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                    else {
                        if(aqi.from <= val) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
                else {
                    if(aqi.to != null) {
                        if(val <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
            };

            return {
                status: aqiStatus,
                des: aqiDes,
                bg_color: bgColor,
                font_color: fontColor
            }
        }

        ////set min/max datetime onchange
        f.analysis_time_start.datepickerValidate({
            rightObjs: [f.analysis_time_end]
        });
        f.analysis_time_end.datepickerValidate({
            leftObjs: [f.analysis_time_start]
        });

        $('#analysis_layer_administrative_province').change(function () {
            let provinceId = $(this).val();
            if (provinceId === '') {
                $('#analysis_layer_administrative_district').html('<option value="">--</option>');
                $('#analysis_layer_administrative_district').attr('disabled', true);
                f.extentProvince = undefined;
            }
            else {
                $('#analysis_layer_administrative_district').attr('disabled', false);
                let hostAPI = '@ViewBag.HostAPI';
                let urlRequestDistrict = hostAPI + "@Apom_User.Common.Constant.APIs.administrative_districts";

                $.ajax({
                    method: "GET",
                    url: urlRequestDistrict,
                    data: {
                        province_id: provinceId,
                        lang_id: '@Apom_User.Common.SessionContext.Language'
                    },
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    crossDomain: true,
                    async: true,
                    success: function (response) {
                        console.log(response);
                        if (response) {
                            html = '<option value="">--</option>';
                            for (let i = 0; i < response.length; i++) {
                                html += '<option value="' + response[i].district_id + '">' + response[i].name + '</option>';
                            }
                            $('#analysis_layer_administrative_district').html(html);
                        }

                        // get extent province
                        let urlRequestDistrict = hostAPI + "@Apom_User.Common.Constant.APIs.administrative_province_extent";
                        $.ajax({
                            method: "GET",
                            url: urlRequestDistrict,
                            data: {
                                province_id: provinceId,
                                lang_id: '@Apom_User.Common.SessionContext.Language'
                            },
                            contentType: 'application/json; charset=utf-8',
                            dataType: "json",
                            crossDomain: true,
                            async: true,
                            success: function (response) {
                                console.log(response);
                                if (response) {
                                    let extentMin = ol.proj.transform([response.minx, response.miny], 'EPSG:4326', 'EPSG:3857');
                                    let extentMax = ol.proj.transform([response.maxx, response.maxy], 'EPSG:4326', 'EPSG:3857');
                                    f.extentProvince = [extentMin[0], extentMin[1], extentMax[0], extentMax[1]];
                                }
                            },
                            failure: function (response) {
                                console.log(response);
                            },
                            error: function (response) {
                                console.log(response);
                            }
                        });                        
                        // end - get extent province
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        });

        //$('.analysis-date').on("change", function () {
        //    this.setAttribute(
        //        "data-date",
        //        moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format"))
        //    )
        //}).trigger("change");

        $('#type_analysis_layer').change(function () {
            let typeVal = $(this).val();
            let dateFrom = $('#analysis_layer_datefrom').val();
            let dateTo = $('#analysis_layer_dateto').val();
            if(typeVal === 'day'){
                if(f.typeAnalysis === 'week'){

                }
                else if(f.typeAnalysis === 'month'){
                    dateFrom = dateFrom + '-01';
                    dateTo = dateTo + '-02';
                }

                $('#analysis_layer_datefrom').attr('type', 'date');
                $('#analysis_layer_datefrom').val(dateFrom);
                $('#analysis_layer_dateto').attr('type', 'date');
                $('#analysis_layer_dateto').val(dateTo);
            }
            else if(typeVal === 'week'){
                if(f.typeAnalysis === 'day'){
                }
                else if(f.typeAnalysis === 'month'){
                }

                $('#analysis_layer_datefrom').attr('type', 'week');
                $('#analysis_layer_dateto').attr('type', 'week');
            }
            else if(typeVal === 'month'){
                if(f.typeAnalysis === 'day'){
                    dateFrom = dateFrom.substr(0,7);
                    dateTo = dateTo.substr(0,7);
                }
                else if(f.typeAnalysis === 'week'){
                    dateFrom = dateFrom + '-01';
                    dateTo = dateTo + '-02';
                }

                $('#analysis_layer_datefrom').attr('type', 'month');
                $('#analysis_layer_datefrom').val(dateFrom);
                $('#analysis_layer_dateto').attr('type', 'month');
                $('#analysis_layer_dateto').val(dateTo);
            }
            f.typeAnalysis = typeVal;
        });

        $('.btn-analysis-layer').click(function () {
            $('#loading-ajax').show();
            f.provinceId = $('#analysis_layer_administrative_province').val();
            let provinceName = $('#analysis_layer_administrative_province').find(":selected").text();
            f.districtId = f.provinceId === '' ? '' : $('#analysis_layer_administrative_district').val();
            let districtName = $('#analysis_layer_administrative_district').find("selected").val();

            let typeAnalysis = $('#type_analysis_layer').val();
            let typeProduct = $('#analysis_layer_product').val();
            let isMEMModel = (typeProduct === 'mem_pm25' || typeProduct === 'mem_aqi_pm25') ? true : false;
            typeProduct = typeProduct === 'mem_pm25' ? 'pm25' : 'aqi_pm25';

            let hostAPI = '@ViewBag.HostAPI';
            let urlAnalysisData = hostAPI + "@Apom_User.Common.Constant.APIs.administrative_statistic";

            let typeVal = $('#type_analysis_layer').val();
            let dateFrom = $('#analysis_layer_datefrom').val();
            let dateTo = $('#analysis_layer_dateto').val();

            // truong hop month -> re-cal datefrom, dateto
            if(typeVal === 'week') {
                if(dateFrom!= ''){
                    let yearFrom = parseInt(dateFrom.substr(0,4));
                    let weekFrom = parseInt(dateFrom.substr(6,2));
                    dateFrom = getDateRangeOfWeek(yearFrom, weekFrom).from; // in utility
                }
                if(dateTo != '')
                {
                    let yearTo = parseInt(dateTo.substr(0,4));
                    let weekTo = parseInt(dateTo.substr(6,2));
                    dateTo = getDateRangeOfWeek(yearTo, weekTo).to; // in utility
                }
            }
            else if(typeVal === 'month') {
                if(dateFrom!= ''){
                    dateFrom = dateFrom + '-01';
                }
                if(dateTo != ''){
                    let year = parseInt(dateTo.substr(0,4));
                    let month = parseInt(dateTo.substr(5,2));
                    if(month === 2) {
                        if(year % 4 === 0) dateTo = dateTo + '-29';
                        else dateTo = dateTo + '-28';
                    }
                    else{
                        if(month === 1 || month === 3 || month === 5 || month === 7 || month === 8 || month === 10 || month === 12) dateTo = dateTo + '-31';
                        else dateTo = dateTo + '-30';
                    }
                }
            }

            $.ajax({
                method: "POST",
                url: urlAnalysisData,
                data: JSON.stringify({
                    province_id: f.provinceId,
                    district_id: f.districtId,
                    fromday: dateFrom,
                    today: dateTo,
                    type_product: typeProduct,
                    lang_id: '@Apom_User.Common.SessionContext.Language'
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: true,
                success: function (response) {
                    console.log(response);
                    if (response) {
                        f.dataStatistic = response.Data.comps;

                        // chart
                        let divIdChart = 'analysis_chart_container';
                        let series = [], drilldown = [];

                        // table attributes
                        let dataTable = [];
                        let childTable = null;

                        // map
                        f.mapDataProvince = [], f.mapDataDistrict = [];

                        if(f.dataStatistic.length === 0) {
                            // chart
                            $('#' + divIdChart).html('<div class="no-data-text">@Resources.Analysis.no_data_analysis</div>');

                            // table attribute
                            if(f.tableStatistic != null) {
                                /*f.tableStatistic.clear();
                                f.tableStatistic.destroy();
                                $('#analysis_geotiff_statistic_data').empty();
                                $('#analysis_geotiff_statistic_data').hide();*/
                                f.tableStatistic.clear().rows.add([]).draw();
                            }

                            // map
                            //$('#map-apom-analysis').removeClass('map-apom-container');
                            $('#navbar-layer-satellite').addClass('d-none');
                            if(apomGis.mainCurrentImpl.mapImpl != null) {
                                apomGis.mainCurrentImpl.mapImpl.destroy();
                                apomGis.mainCurrentImpl.mapImpl = null;
                            }

                            $('.no-data-text').show();
                            
                            $('#loading-ajax').hide();
                            return;
                        }
                        $('.no-data-text').hide();

                        // data
                        let dataSeries = [], dataSeriesDrilldown = [], itemDrilldown = null, dataDrilldown = [];
                        let idCurrent = '';
                        let no = 1;
                        if(f.districtId === '')
                        {
                            for (let i = 0; i < f.dataStatistic.length; i++)
                            {
                                let item = f.dataStatistic[i];
                                let id = item.id;
                                let strDateTime = isMEMModel ? moment(new Date(item.datetime_shooting)).format(f.formatDate): item.datetime_shooting;
                                if (idCurrent != id) {
                                    let color = typeProduct==='pm25'? getInfoPM25(item.avg_val).bg_color:getInfoAQI(item.avg_val).bg_color;

                                    /*** chart ****/
                                    // series
                                    dataSeries.push({
                                        name: item.name,
                                        y: item.avg_val,
                                        //color: color,
                                        drilldown: item.id
                                    });

                                    // drilldown
                                    if (itemDrilldown != null) {
                                        itemDrilldown.data = dataDrilldown;
                                        dataSeriesDrilldown.push(itemDrilldown);
                                    };

                                    itemDrilldown = {
                                        name: item.name,
                                        id: item.id,
                                        //color: color
                                    };
                                    dataDrilldown = [];
                                    dataDrilldown.push([
                                        strDateTime,
                                        item.val
                                    ]);

                                    idCurrent = id;
                                    /*** end chart ****/

                                    /*** table attr ****/
                                    dataTable.push({
                                        'no': no++,
                                        'id': item.id,
                                        'name': item.name,
                                        'val': item.avg_val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL)
                                    });
                                    /*** end table attr ****/

                                    /*** map ***/
                                    if(f.provinceId === ''){
                                        let itemMapDataProvince = {
                                            name: item.name,
                                            val: item.avg_val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL),
                                            color: color,
                                        };
                                        f.mapDataProvince[item.id] = itemMapDataProvince;
                                    }
                                    else{
                                        // 1 province cu the -> lay avg
                                        if(f.mapDataProvince[f.provinceId] === undefined){
                                            let itemMapDataProvince = {
                                                name: provinceName,
                                                val: item.avg_val,
                                                total: 1,
                                            };
                                            f.mapDataProvince[f.provinceId] = itemMapDataProvince;
                                        }
                                        else{
                                            f.mapDataProvince[f.provinceId].val += item.avg_val;
                                            f.mapDataProvince[f.provinceId].total += 1;
                                        }

                                        // data districts
                                        let itemMapDataDistrict = {
                                            name: item.name,
                                            val: item.avg_val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL),
                                            color: color,
                                        };
                                        f.mapDataDistrict[item.id] = itemMapDataDistrict;
                                    }
                                    /*** end map ***/
                                }
                                else {
                                    dataDrilldown.push([
                                        strDateTime,
                                        item.val
                                    ]);
                                }
                            }

                        }
                        else{
                            // district cu the -> show all day, no drilldown
                            for (let i = 0; i < f.dataStatistic.length; i++)
                            {
                                let item = f.dataStatistic[i];
                                let strDateTime = isMEMModel ? moment(new Date(item.datetime_shooting)).format(f.formatDate): item.datetime_shooting;
                                let color = typeProduct==='pm25'? getInfoPM25(item.avg_val).bg_color:getInfoAQI(item.avg_val).bg_color;

                                /*** chart ****/
                                // series
                                dataSeries.push({
                                    name: strDateTime,
                                    y: item.avg_val,
                                    //color: color,
                                    drilldown: null
                                });
                                /*** end chart ****/

                                /*** table attr ****/
                                dataTable.push({
                                    'no': no++,
                                    'id': item.id,
                                    'name': item.name,
                                    'val': item.avg_val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL)
                                });
                                /*** end table attr ****/

                                /*** map ***/
                                let itemMapDataDistrict = {
                                    name: item.name,
                                    val: item.avg_val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL),
                                    color: color,
                                };
                                f.mapDataDistrict[item.id] = itemMapDataDistrict;
                                /*** end map ***/

                            }

                            dataSeriesDrilldown = [];
                        }

                        /******** chart *******/
                        series = [
                                    {
                                        name: "Browsers",
                                        colorByPoint: true,
                                        data: dataSeries
                                    }
                        ];

                        drilldown = {
                            breadcrumbs: {
                                position: {
                                    align: 'right'
                                }
                            },
                            series: dataSeriesDrilldown
                        };

                        let units = '&micro;gm<sup>-3</sup>';
                        let plotsBandAQIPM25 = [];
                        if(typeProduct==='pm25'){
                            f.VNAQI.map(function(element){
                                let _element = {
                                    'color': element.bg_color,
                                    'from': element.pm25_from,
                                    'to': element.pm25_to
                                };
                                plotsBandAQIPM25.push(_element);
                            });
                        }
                        else{
                            f.VNAQI.map(function(element){
                                let _element = {
                                    'color': element.bg_color,
                                    'from': element.from,
                                    'to': element.to
                                };
                                plotsBandAQIPM25.push(_element);
                            });
                        }

                        let myChart = new apomChart();
                        myChart.generateChartDrilldown({
                            'id': divIdChart,
                            'title': provinceName + ' ' + districtName,
                            'subtitle': dateFrom + ' - ' + dateTo,
                            'series': series,
                            'drilldown': drilldown,
                            'enableCredits': false,
                            yAxis: {
                                'text': units,
                                'plotBands': plotsBandAQIPM25
                            },
                        });
                        /******* end chart *******/

                        /******* table attr *******/
                        if(f.tableStatistic != null) {
                            //f.tableStatistic.clear();
                            //f.tableStatistic.destroy();
                            //$('#analysis_geotiff_statistic_data').empty();
                            //$('#analysis_geotiff_statistic_data').show();
                            
                            f.tableStatistic.clear().rows.add(dataTable).draw();
                        }
                        else{
                            f.tableStatistic = $('#analysis_geotiff_statistic_data').DataTable({
                                "data": dataTable,
                                "columns": [
                                        { "title": "#",
                                            "data": null,
                                            "defaultContent": '',
                                            "className": "details-control", "width":'5%', "orderable": false },
                                        { "title": "No.", "data": "no", "orderable": true },
                                        { "title": "Id", "data": "id"},
                                        { "title": "Name", "data": "name"},
                                        { "title": "Val", "data": "val" }
                                ],
                                "columnDefs": [
                                    {
                                        "targets": [ 2 ],
                                        "visible": false,
                                        //"searchable": false
                                    }
                                ],
                                select: {
                                    style: "single"
                                },
                                "createdRow": function( row, data, dataIndex){
                                    var avg = parseFloat(data['val']);
                                    let objInfoColor = typeProduct === 'pm25'? getInfoPM25(avg) : getInfoAQI(avg);
                                    let bgColor = objInfoColor.bg_color, fontColor = objInfoColor.font_color;
                                    // class ol-popup
                                    $($(row).find('td')[3]).css('backgroundColor', bgColor).css('color', fontColor);
                                },
                                "language": {
                                    "url": "/FileStore/cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/@Apom_User.Common.SessionContext.Language" + ".json"
                                }
                            });

                            $('#analysis_geotiff_statistic_data tbody').on('click', 'td.details-control',
                                function (event) {
                                    event.stopImmediatePropagation();
                                    var tr  = $(this).closest('tr'),
                                       row = $('#analysis_geotiff_statistic_data').DataTable().row(tr);

                                    if (row.child.isShown()) {
                                        destroyChild(row, childTable);
                                        tr.removeClass('shown');
                                    }
                                    else {
                                        displayChildOfTable(row, row.data().id);
                                        tr.addClass('shown');
                                    }
                                });
                        }

                        function displayChildOfTable(row, administrativeId)
                        {
                            let dataChildTable = [];
                            let strHTML = '<table class="DTTable2 table table-striped table-bordered small" id="" style="width: 100%; font-size: 10px;">';
                            strHTML = strHTML + '<thead>';
                            strHTML = strHTML + '<tr>';
                            strHTML = strHTML + '<th>No.</th>';
                            strHTML = strHTML + '<th>Date</th>';
                            strHTML = strHTML + '<th>Val</th>';
                            strHTML = strHTML + '</tr>';
                            strHTML = strHTML + '</thead> ';
                            strHTML = strHTML + '</table>';
                            var table = $(strHTML);

                            let no = 1;
                            for (let i = 0; i < f.dataStatistic.length; i++)
                            {
                                let item = f.dataStatistic[i];
                                let id = item.id;
                                let strDateTime = isMEMModel ? moment(new Date(item.datetime_shooting)).format(f.formatDate): item.datetime_shooting;

                                if(administrativeId === id){
                                    dataChildTable.push({
                                        'no': no++,
                                        'name': item.name,
                                        'date': strDateTime,
                                        'val': item.val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL)
                                    });
                                }
                            }

                            // Display it in the child row
                            row.child(table).show();

                            // Initialise as a DataTable
                            childTable = table.DataTable({
                                "data": dataChildTable,
                                "columns": [
                                        { "title": "No.", "data": "no", "orderable": true },
                                        { "title": "Date", "data": "date"},
                                        { "title": "Val", "data": "val" }
                                ],
                                select: {
                                    style: "single"
                                },
                                "createdRow": function( row, data, dataIndex){
                                    var avg = parseFloat(data['val']);
                                    let objInfoColor = typeProduct === 'pm25'? getInfoPM25(avg) : getInfoAQI(avg);
                                    let bgColor = objInfoColor.bg_color, fontColor = objInfoColor.font_color;
                                    // class ol-popup
                                    $($(row).find('td')[2]).css('backgroundColor', bgColor).css('color', fontColor);
                                },
                                "language": {
                                    "url": "/FileStore/cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/@Apom_User.Common.SessionContext.Language" + ".json"
                                }
                            });
                        }

                        function destroyChild(row, childTable) {
                            var table = $(childTable, row.child());
                            table.detach();
                            table.DataTable().destroy();

                            // And then hide the row
                            row.child.hide();
                        }
                        /******* end table attr *******/

                        /******* map *******/
                        //$('#map-apom-analysis').addClass('map-apom-container');
                        $('#navbar-layer-satellite').removeClass('d-none');
                        let maxZoomProvince = f.provinceId === '' ? 22 : 9;
                        apomGis.mainCurrentImpl.vtProvince.layer.setMaxZoom(maxZoomProvince);

                        if (apomGis.mainCurrentImpl.mapImpl != null) {
                            //apomGis.mainCurrentImpl.mapImpl.destroy();
                            console.log('init map');
                            //apomGis.mainCurrentImpl.vtDistrict.layer.setMinZoom(maxZoomProvince);
                            apomGis.mainCurrentImpl.vtProvince.clearTileCache();
                            apomGis.mainCurrentImpl.vtDistrict.clearTileCache();
                            if(f.extentProvince){
                                apomGis.mainCurrentImpl.mapImpl.zoomToExtent(f.extentProvince);
                            }
                        }

                        // visual data
                        console.log('visual data');

                        /******* end map *******/
                        $('#loading-ajax').hide();
                    }
                },
                failure: function (response) {
                    console.log(response);

                    $('#loading-ajax').hide();
                },
                error: function (response) {
                    console.log(response);

                    $('#loading-ajax').hide();
                }
            });
        });

        // init map    
        
        /*** tileload function ***/
        function tileLoadFunctionProvince(tile, url) {
            var format = tile.getFormat();
            var tileCoord = tile.getTileCoord();
            tile.setLoader(function (extent, resolution, projection) {
                fetch(url).then(function (response) {
                    response.arrayBuffer().then(function (data) {
                        const format = tile.getFormat() // ol/format/MVT configured as source format
                        const projection1 = format.readProjection(data);
                        if (tile.setProjection) tile.setProjection(projection1);
                        var features = [];
                        try {
                            //features = format.readFeatures(data, {});
                            features = format.readFeatures(data, {
                                extent: tile.extent,
                                featureProjection: tile.projection
                            });
                        }
                        catch (ex) {
                            //console.log('error read feature: ' + ex);
                            features = [];
                        }

                        // filter provinceId districtId
                        if(f.provinceId != ''){
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fProvinceId = properties.province_id;
                                if(fProvinceId != f.provinceId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }

                        tile.setFeatures(features);
                    });
                });
            });
        };

        function tileLoadFunctionDistrict(tile, url) {
            var format = tile.getFormat();
            var tileCoord = tile.getTileCoord();
            tile.setLoader(function (extent, resolution, projection) {
                fetch(url).then(function (response) {
                    response.arrayBuffer().then(function (data) {
                        const format = tile.getFormat() // ol/format/MVT configured as source format
                        const projection1 = format.readProjection(data);
                        if (tile.setProjection) tile.setProjection(projection1);
                        var features = [];
                        try {
                            //features = format.readFeatures(data, {});
                            features = format.readFeatures(data, {
                                extent: tile.extent,
                                featureProjection: tile.projection
                            });
                        }
                        catch (ex) {
                            //console.log('error read feature: ' + ex);
                            features = [];
                        }


                        // filter provinceId districtId
                        if(f.districtId != ''){
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fDistrictId = properties.district_id;
                                if(fDistrictId != f.districtId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }
                        else if (f.provinceId != '') {
                            // filter by province
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fProvinceId = properties.province_id;
                                if(fProvinceId != f.provinceId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }
                        else{
                            features = [];
                        }

                        tile.setFeatures(features);
                    });
                });
            });
        };
        /*** end tileload function ***/

        /*** stylemap function ***/
        function styleMapFunctionProvince(feature, e){
            let properties = feature.getProperties();
            let fProvinceId = properties.province_id;

            let pm25 = f.mapDataProvince[fProvinceId] ? f.mapDataProvince[fProvinceId].val : -9999;
            // truonghop chon 1 tinh/TP cu the -> tinh avg cho province
            if(f.provinceId != '') {
                pm25 = pm25 / f.mapDataProvince[fProvinceId].total;
                pm25 = pm25.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            }
            let colorVisual = returnColorPM25(pm25, 0.5); // defined in style
            let label = f.mapDataProvince[fProvinceId] ? f.mapDataProvince[fProvinceId].name + ': ' + pm25.toString() : pm25.toString();

            let styleAQI = new ol.style.Style({
                stroke: apomGis.style.default.stroke,
                fill: new ol.style.Fill({
                    color: colorVisual
                }),
                text: new ol.style.Text({
                    text: label,
                    fill: apomGis.style.default.textFill,
                    stroke: apomGis.style.default.textStroke
                }),
                zIndex: 100
            });
            return [styleAQI];
        };

        function styleMapFunctionDistrict(feature, e){
            let properties = feature.getProperties();
            let fProvinceId = properties.province_id;
            var fDistrictId = properties.district_id;

            let pm25 = f.mapDataDistrict[fDistrictId] ? f.mapDataDistrict[fDistrictId].val : -9999;
            let colorVisual = returnColorPM25(pm25, 0.5); // defined in style
            let label = f.mapDataDistrict[fDistrictId] ? f.mapDataDistrict[fDistrictId].name + ': ' + pm25.toString() : pm25.toString();

            let styleAQI = new ol.style.Style({
                stroke: apomGis.style.default.stroke,
                fill: new ol.style.Fill({
                    color: colorVisual
                }),
                text: new ol.style.Text({
                    text: label,
                    fill: apomGis.style.default.textFill,
                    stroke: apomGis.style.default.textStroke
                }),
                zIndex: 100
            });
            return [styleAQI];
        };
        /*** end stylemap function ***/

        // config layers
        let maxZoomProvince = 9; // init: hide district
        apomGis.Config.Services = [
            {
                urlservice: 'http://112.137.129.248:8080/geoserver/gwc/service/tms/1.0.0',
                featurebase: 'hydroalp',
                featuretype: 'gis_administrative_province',
                type: apomGis.Config.layerType.vectortile,
                maxZoom: maxZoomProvince,
                tileLoadFunction: tileLoadFunctionProvince,
                styleMap: styleMapFunctionProvince,
                visible: true
            },
            {
                urlservice: 'http://112.137.129.248:8080/geoserver/gwc/service/tms/1.0.0',
                featurebase: 'hydroalp',
                featuretype: 'gis_administrative_district',
                type: apomGis.Config.layerType.vectortile,
                minZoom: maxZoomProvince,
                maxZoom: 22,
                tileLoadFunction: tileLoadFunctionDistrict,
                styleMap: styleMapFunctionDistrict,
                visible: true
            },
        ]
        // init map
        apomGis.mainCurrentImpl.initApomGisAnalysis();

    });
</script>

