﻿@using Repositories.Models.Asset
@{ 
    List<group_tree> lstGroupTree = Model.TreeGroup;
    string groupParentName = "";
}

<style>
    .multiselect-container {
        min-width: 215px;
        max-width: 450px;
        max-height: 300px;
        overflow: auto;
    }

    .multiselect-group {
        font-weight: bold;
    }

    .multiselect-option {
        margin-left: 5px;
    }
</style>
<div id="analysis_station" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab22">
    <div class="row">
        <div class="col-12 col-md-12">
            <form action="#" class="form form-horizontal">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="location1">@Resources.Analysis.station_list:</label>
                            <select class="custom-select form-control" id="analysis_station_list" name="analysis_station_list" multiple="multiple">
                                @*<optgroup label="VEA1">VEA</optgroup>
                            <option value="">1</option>
                            <optgroup label="hanooi_epa">Hanoi EPA</optgroup>
                            <option value="">2</option>
                            <optgroup label="us">US</optgroup>
                            <option value="">3</option>*@
                                @{
                                    for (int i = 0; i < lstGroupTree.Count; i++)
                                    {
                                        group_tree gt = lstGroupTree[i];
                                        if (groupParentName != gt.parent_name)
                                        {
                                            groupParentName = gt.parent_name;
                                            <optgroup label="@groupParentName"></optgroup>
                                                <option value="@gt.id">@gt.name</option>
                                        }
                                        else
                                        {
                                            <option value="@gt.id">@gt.name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="location1">@Resources.Analysis.product:</label>
                            <select class="custom-select form-control" id="analysis_station_product" name="analysis_station_product">
                                <option value="pm25">PM2.5</option>
                                <option value="aqi_pm25">AQI Pm2.5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="location1">@Resources.Analysis.type_analysis:</label>
                            <select class="custom-select form-control" id="analysis_station_type" name="analysis_station_type">
                                <option value="day">@Resources.Analysis.day</option>
                                <option value="week">@Resources.Analysis.week</option>
                                <option value="month">@Resources.Analysis.month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="analysis_station_datefrom">@Resources.Analysis.date_from:</label>
                            <input type="date" class="form-control" id="analysis_station_datefrom">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="analysis_station_dateto">@Resources.Analysis.date_to:</label>
                            <input type="date" class="form-control" id="analysis_station_dateto">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12" style="text-align: right;">
                        <button type="button" class="btn btn-primary btn-analysis-station">
                            <i class="fa fa-check-square-o"></i>@Resources.Analysis.statistict_data
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <!-- Navbar-->
            @Html.Partial("~/Views/Analysis/partial/analysis/_header_station.cshtml")
            <!--/ Navbar-->
            <!-- Search Result -->
            <div class="tab-content">
                @Html.Partial("~/Views/Analysis/partial/analysis/_station_chart.cshtml")
                @Html.Partial("~/Views/Analysis/partial/analysis/_station_table_attr.cshtml")
                @Html.Partial("~/Views/Analysis/partial/analysis/_station_map.cshtml")
                <!--/ Search Result -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#analysis_station_list').multiselect({
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true
        });
        $('.multiselect-container .caret-container').click();
    });
</script>