﻿<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="@Resources.Common.sys_title">
<meta name="keywords" content="apom, POP, wrf, mem, pm2.5">
<meta name="author" content="tuannh">
<title>@Resources.Common.sys_title</title>
<link rel="apple-touch-icon" href="~/theme/app-assets/images/ico/apple-icon-120.png">
@*<link rel="shortcut icon" type="image/x-icon" href="~/theme/app-assets/images/ico/favicon.ico">*@
<link rel="shortcut icon" type="image/x-icon" href="~/FileStore/img/logo/2451423.27.png">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/extensions/toastr.css">
<!-- END: Vendor CSS-->
<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/components.css">
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/core/menu/menu-types/vertical-overlay-menu.css" />
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/core/colors/palette-gradient.css" />
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/plugins/extensions/toastr.css">
<!-- END: Page CSS-->
<!-- BEGIN: Custom CSS-->
@*<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css" />*@
<link rel="stylesheet" type="text/css" href="~/theme/assets/css/style.css" />
<!-- END: Custom CSS-->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<style>
    .jquery-validate-error {
        color: red;
    }

    .error {
        color: red;
    }

    #overlay {
        background-color: gray;
    }

        #overlay a .menu-text {
            color: antiquewhite;
            font-size: 1rem;
        }

    .field-validation-error {
        color: red;
    }

    .validation-summary-errors li {
        color: red;
    }

    .app-sidebar-fixed #sidebar {
        top: 0 !important;
    }

    #table-tab {
        height: 0 !important;
    }

    .main-content {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    td.day.disabled {
        opacity: 0.2 !important;
    }

    .picker__holder {
        max-width: 330px;
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="~/Scripts/utility.js"></script>