﻿<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="@Resources.Common.sys_title">
<meta name="keywords" content="apom, POP, wrf, mem, pm2.5">
<meta name="author" content="tuannh">
@if (ViewBag.Title != null)
{
    <title>@String.Concat(ViewBag.Title, " - ", Resources.Common.sys_title)</title>
}
else
{
    <title>@Resources.Common.sys_title</title>
}
<link rel="apple-touch-icon" href="~/theme/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="~/theme/app-assets/images/ico/favicon.ico">
@*<link href="https://popgis.vnu.edu.vn/ggfont?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">*@


@*<link rel="stylesheet" href="~/theme/apom/main.css" />*@
@*<link rel="stylesheet" href="~/theme/apom/Icons/style.css">*@
@*<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*@
@*<link href="https://popgis.vnu.edu.vn/ggfont2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">*@
@*<link rel="stylesheet" href="~/theme/apom/library.css" />
    <link rel="stylesheet" href="~/theme/apom/Fonts/stylesheet.css" />
    <script src="~/theme/apom/library.js"></script>*@

@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">*@
<link href="~/theme/apom/bootstrap/bootstrap.min.css" rel="stylesheet">

<script src="~/theme/app-assets/vendors/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/theme/apom/font-awesome-4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/jquery.blockUI.js"></script>

<!-- datetime ultility -->
<script src="~/Scripts/moment.js"></script>

<!-- apom ultility -->
<script type="text/javascript" src="~/Scripts/apom_ultility/apom_main.js"></script>
    @*<script type="text/javascript" src="~/Scripts/apom_ultility/apom_container.js"></script>*@

@if (ViewBag.use_notification != null && ViewBag.use_notification)
{
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/notification/iwc-all.js"></script>
    <script src="~/Scripts/notification/signalr-patch.js"></script>
    <script src="~/Scripts/notification/iwc-signalr.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
        });
    </script>
}