﻿<!DOCTYPE html>
<html>
<!-- BEGIN: Head-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("~/Views/Shared/stack-admin/_Header_new_mobile.cshtml")
    @RenderSection("css_featured", required: false)

    <style>
        .apom-loading {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 45%;
            /*display: none !important;*/
        }

        .loading-ajax {
            display: none;
            background: rgba(204, 204, 204, 0.38);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 1;
        }
    </style>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body>
    <div id="loading-ajax" class="modal in loading-ajax" tabindex="-1">
        <div class="modal-backdrop fade in" style="height: 100vh; background: transparent;"></div>
        <div>
            <div style="position:absolute; top:50%;left:50%">
                <i class="fa fa-spinner fa-spin fa-5x red"></i>
            </div>
            <div class="content"></div>
        </div>
    </div>
    <div class="spinner-border text-success apom-loading"></div>

    <!-- BEGIN: Header-->
    @Html.Partial("~/Views/Shared/stack-admin/partial/_header_new_mobile.cshtml")
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    @*@Html.Partial("~/Views/Shared/stack-admin/partial/_menu.cshtml")*@
    <!-- END: Main Menu-->

    <div class="app-content content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        <!-- BEGIN: FOOTER -->
        @Html.Partial("~/Views/Shared/stack-admin/partial/_footer_new_mobile.cshtml")
        <!-- END: FOOTER -->
    </div>

    @Html.Partial("~/Views/Shared/stack-admin/_Footer_new_mobile.cshtml")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script>
        $(document).ready(function () {
            $('.apom-loading').hide();
        });
    </script>
</body>
<!-- END: Body-->
</html>
