﻿<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="loading" lang="en" data-textdirection="ltr">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    @Html.Partial("/Views/Shared/stack-admin/_Head_login.cshtml")
    @RenderSection("css_featured", required: false)
    <script src="~/Scripts/jsLanguage/language.js"></script>
</head>
<body class="vertical-layout vertical-overlay-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-overlay-menu" data-col="2-columns">
    <div id="loading-ajax" class="modal in" tabindex="-1" style="display:block">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div style="">
            <div style="position:absolute; top:50%;left:50%">
                <i class="fa fa-spinner fa-spin fa-5x red"></i>
            </div>
        </div><!-- /.modal-dialog -->
    </div>

    <!-- BEGIN: Header-->
    @Html.Partial("~/Views/Shared/stack-admin/partial/_header.cshtml")
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    @Html.Partial("~/Views/Shared/stack-admin/partial/_menu.cshtml")
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content container-fluid">
        @RenderBody()
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    @Html.Partial("~/Views/Shared/stack-admin/partial/_footer_login.cshtml")
    <!-- END: Footer-->
    <!-- BEGIN: Footer-->
    @Html.Partial("~/Views/Shared/stack-admin/_Footer_login.cshtml")
    <!-- END: Footer-->
    <!-- start library: Toan -->
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <!-- end library : Toan -->
    <!-- end: JavaScript Event Handlers for this page -->

    @RenderSection("js_featured", required: false)
</body>

</html>
