﻿<div id="search-nav" class="card-body">
    <ul class="nav nav-tabs nav-underline" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#about_system" data-toggle="tab" aria-controls="tabIcon21" role="tab" aria-selected="true">
                <i class="fa fa-link"></i> @Resources.About.system
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_datasource" data-toggle="tab" aria-controls="tabIcon22" role="tab" aria-selected="false">
                <i class="fa fa-file-image-o"></i> @Resources.About.onkk_calculation
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_aqi" data-toggle="tab" aria-controls="tabIcon23" role="tab" aria-selected="false">
                <i class="fa fa-calculator"></i> @Resources.About.aql_caluclation
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_related_article" data-toggle="tab" aria-controls="tabIcon24" role="tab" aria-selected="false">
                <i class="fa fa-newspaper-o"></i> @Resources.About.related_articles
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_edu_video" data-toggle="tab" aria-controls="tabIcon25" role="tab" aria-selected="false">
                <i class="fa fa-file-video-o"></i> @Resources.About.edu_video
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_fqa_info" data-toggle="tab" aria-controls="tabIcon26" role="tab" aria-selected="false">
                <i class="fa fa-question"></i> @Resources.About.fqa_info
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_contact" data-toggle="tab" aria-controls="tabIcon27" role="tab" aria-selected="false">
                <i class="fa fa-address-book-o"></i> @Resources.About.contact
            </a>
        </li>
    </ul>
</div>
