﻿<link rel="stylesheet" type="text/css" href="~/Content/aqi.css" />

<style type="text/css">
    span.frac {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

        span.frac > sup, span.frac > sub {
            display: block;
            font: inherit;
            padding: 0 0.3em;
        }

        span.frac > sup {
            border-bottom: 0.08em solid;
        }

        span.frac > span {
            display: none;
        }
</style>

<div id="about_aqi" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab23">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <ol class="">
                            <li class="">
                                <span class="font-weight-bold">Calculating Nowcast values for PM<sub>2.5</sub></span>
                                <p>
                                    Let c1, c2, …c12 be 12 hourly mean observed values (with c1 being the value of the current hour, c12 being the value of the twelfth previous hour from the current hour).
                                </p>
                                <p>
                                    Calculating the weight value: 𝑤<sup>∗</sup>= <span class="frac"><sup>𝑐<sub>𝑚𝑖𝑛</sub></sup><span>&frasl;</span><sub>𝑐<sub>𝑚𝑎𝑥</sub></sub></span>
                                </p>
                                <p>In which:</p>
                                <p>c<sub>min</sub> being the smallest of the twelve hourly values</p>
                                <p>c<sub>max</sub> being the largest of the twelve hourly values</p>
                                <p>If 𝑤<sup>∗</sup> ≤ <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> then 𝑤 = <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></p>
                                <p>If 𝑤<sup>∗</sup> > <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> then 𝑤 = 𝑤<sup>∗</sup></p>
                                <p>If 𝑤 > <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> then <span class="font-italic">Nowcast</span> = <span class="frac"><sup>∑<sup>12</sup><sub>i=1</sub> 𝑤<sup>𝑖−1</sup>𝑐<sub>𝑖</sub></sup><span>&frasl;</span><sub>∑<sup>12</sup><sub>i=1</sub> 𝑤<sub>𝑖−1</sub></sub></span></p>

                                <p>If 𝑤= <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> then <span class="font-italic">Nowcast</span> = <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>𝑐<sub>1</sub> + (<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>)<sub>2</sub>𝑐<sub>2</sub> + ... + (<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>)<sub>12</sub>𝑐<sub>12</sub></p>
                                <p><span class="font-weight-bold">Note:</span></p>

                                <p>- There must be at least 2 in 3 values c<sub>1</sub>, c<sub>2</sub>, c<sub>3</sub> which have data in order for the Nowcast to be calculated, otherwise the Nowcast value of that hour will be marked as “nodata” (unable to calculate the Nowcast).</p>

                                <p>- If c<sub>i</sub> doesn't have data then w<sup>i-1</sup> = 0.</p>
                            </li>
                            <li class="">
                                <span class="font-weight-bold">Calculate AQI<sup>h</sup> for PM2.5 (AQI<sub>PM2.5</sub>)</span>
                                <p>The AQI<sup>h</sup> value of PM2.5 is calculated using the formula:</p>
                                <p class="d-flex justify-content-center">
                                    𝐴𝑄𝐼<span><sub>𝑥</sub></span>= <span class="frac"><sup>𝐼<sub>𝑖+1</sub> − 𝐼<sub>𝑖</sub></sup><span>&frasl;</span><sub>𝐵𝑃<sub>𝑖+1</sub> − 𝐵𝑃<sub>𝑖</sub></sub></span> <span>(𝑁𝑜𝑤𝑐𝑎𝑠𝑡<sub>𝑥</sub>−𝐵𝑃<sub>𝑖</sub>)+𝐼<sub>𝑖</sub></span>
                                </p>

                                <p>In which:</p>
                                <p class="ml-5">AQI<sub>PM2.5</sub>: The AQI value of PM2.5</p>
                                <p class="ml-5">BP<sub>i</sub>: The concentration breakpoint that is smaller than the Nowcast value as given in Table 1 at index i</p>
                                <p class="ml-5">BP<sub>i+1</sub>: The concentration breakpoint that is greater than the Nowcast value as given in Table 1 at index i+1</p>
                                <p class="ml-5">I<sub>i</sub>: AQI value at index i as given in Table 1 corresponding to BP<sub>i</sub></p>
                                <p class="ml-5">I<sub>i+1</sub>: AQI value at index i+1 as given in Table 1 corresponding to BP<sub>i</sub>+1</p>
                                <p class="ml-5">Nowcast<sub>x</sub>: The Nowcast calculated in section a</p>
                                <p class="d-flex justify-content-center">Table 1: BP<sub>i</sub> breakpoints for the Nowcast value of PM<sub>2.5</sub></p>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">i</td>
                                            <td rowspan="2">I<sub>i</sub></td>
                                            <td>BP<sub>i</sub> value for PM2.5 (µg/m<sup>3</sup>)</td>
                                        </tr>
                                        <tr>
                                            <td>PM<sub>2.5</sub>/td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>50</td>
                                            <td>25</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>100</td>
                                            <td>50</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>150</td>
                                            <td>80</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>200</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>300</td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>400</td>
                                            <td>350</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>≥500</td>
                                            <td>≥500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <span class="font-weight-bold">Table 2: Air quality levels according to AQI</span>
                                <p>Air quality index scale is divided into different levels with different icons and colors to convey how clean or pollute the air quality is and its impact on human health.</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td style="width:25%;">AQI value range</td>
                                            <td style="width:60%;">Air quality description</td>
                                            <td style="width:15%;">Color</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="aqi-box-vn box-good">
                                            <td>0 - 50</td>
                                            <td>Air quality is considered satisfactory, and air quality poses little or no risk.</td>
                                            <td>Green</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-moderate">
                                            <td>51 - 50</td>
                                            <td>Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.</td>
                                            <td>Yellow</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-sensitive-unhealthy">
                                            <td>101 - 150</td>
                                            <td>Members of sensitive groups may experience health effects. The general public is not likely to be affected.</td>
                                            <td>Orange</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-unhealthy">
                                            <td>151 - 200</td>
                                            <td>Everyone may begin to experience health effects. Members of sensitive groups may experience more serious health effects.</td>
                                            <td>Red</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-very-unhealthy">
                                            <td>201 - 300</td>
                                            <td>Health warnings of emergency conditions. The entire population is more likely to be affected.</td>
                                            <td>Purple</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-hazardous">
                                            <td>301 - 500</td>
                                            <td>Health alert: everyone may experience more serious health effects.</td>
                                            <td>Maroon</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </li>
                        </ol>
                        For reference: <a href="http://cem.gov.vn/storage/news_file_attach/QD%201459%20TCMT%20ngay%2012.11.2019%20AQI.pdf">Calculating hourly AQI (AQI<sup>h</sup>)</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

