﻿<div id="about_contact" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab27">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <p class="d-flex justify-content-center">NHÓM NGHIÊN CỨU VỀ ĐỊA TIN HỌC GEOi</p>
                        <p class="d-flex justify-content-center">TRƯỜNG ĐẠI HỌC CÔNG NGHỆ, ĐẠI HỌC QUỐC GIA HÀ NỘI</p>
                        <p>Địa chỉ: Tòa nhà E3, số 144 Xuân Thủy, Cầu Giấy, Hà Nội<p>
                        <p>Số điện thoại: 024 3754 7461</p>
                        <p>Địa chỉ email: uet@vnu.edu.vn</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

