﻿<div id="about_system" class="tab-pane active" role="tabpanel" aria-labelledby="baseIcon-tab21">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <p>Hệ thống sẽ được sử dụng để theo dõi nồng độ PM2.5 trung bình hàng ngày trên toàn Việt Nam. Ưu điểm của hệ thống này là cung cấp số liệu về nồng độ PM2.5 trên quy mô quốc gia ở gần thời gian thực nhằm hỗ trợ các khu vực không có trạm quan trắc PM2.5. Dữ liệu ảnh vệ tinh từ nguồn mở và các mô hình ước tính hiện đại như MEM sẽ được sử dụng để xây dựng nên các bản đồ ô nhiễm không khí theo các chỉ số khác nhau. Người dùng có thể: Theo dõi phân bố không gian của ô nhiễm không khí ở gần thời gian thực; Nhận được thông báo hằng ngày về chất lượng không khí ở khu vực xung quanh mình; Tìm kiếm thông tin theo địa điểm; Xem xếp hạng chất lượng không khí giữa các địa phương; v.v.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
