@font-face {
  font-family: 'popicon';
  src:  url('fonts/popicon.eot?yq8tx5');
  src:  url('fonts/popicon.eot?yq8tx5#iefix') format('embedded-opentype'),
    url('fonts/popicon.ttf?yq8tx5') format('truetype'),
    url('fonts/popicon.woff?yq8tx5') format('woff'),
    url('fonts/popicon.svg?yq8tx5#popicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="font-icon-"], [class*=" font-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'popicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-setting1:before {
  content: "\e92f";
}
.font-icon-lock:before {
  content: "\e918";
}
.font-icon-alert:before {
  content: "\e900";
}
.font-icon-analyzic:before {
  content: "\e901";
}
.font-icon-arrow-bottom-left:before {
  content: "\e902";
}
.font-icon-arrow-bottom:before {
  content: "\e903";
}
.font-icon-arrow-down-right:before {
  content: "\e904";
}
.font-icon-arrow-left:before {
  content: "\e905";
}
.font-icon-arrow-right:before {
  content: "\e906";
}
.font-icon-arrow-top-left:before {
  content: "\e907";
}
.font-icon-arrow-up-right:before {
  content: "\e908";
}
.font-icon-arrow-up:before {
  content: "\e909";
}
.font-icon-bell:before {
  content: "\e90a";
}
.font-icon-chart:before {
  content: "\e90b";
}
.font-icon-close:before {
  content: "\e90c";
}
.font-icon-cloud:before {
  content: "\e90d";
}
.font-icon-done:before {
  content: "\e90e";
}
.font-icon-down:before {
  content: "\e90f";
}
.font-icon-fullscreen:before {
  content: "\e910";
}
.font-icon-global:before {
  content: "\e911";
}
.font-icon-health:before {
  content: "\e912";
}
.font-icon-humidity:before {
  content: "\e913";
}
.font-icon-info-fill:before {
  content: "\e914";
}
.font-icon-info:before {
  content: "\e915";
}
.font-icon-left:before {
  content: "\e916";
}
.font-icon-location:before {
  content: "\e917";
}
.font-icon-mail:before {
  content: "\e919";
}
.font-icon-menu:before {
  content: "\e91a";
}
.font-icon-more:before {
  content: "\e91b";
}
.font-icon-news:before {
  content: "\e91c";
}
.font-icon-pause:before {
  content: "\e91d";
}
.font-icon-pin:before {
  content: "\e91e";
}
.font-icon-play:before {
  content: "\e91f";
}
.font-icon-rain:before {
  content: "\e920";
}
.font-icon-right:before {
  content: "\e921";
}
.font-icon-satellite:before {
  content: "\e922";
}
.font-icon-search:before {
  content: "\e923";
}
.font-icon-setting:before {
  content: "\e924";
}
.font-icon-snow:before {
  content: "\e925";
}
.font-icon-station:before {
  content: "\e926";
}
.font-icon-sun:before {
  content: "\e927";
}
.font-icon-thunder:before {
  content: "\e928";
}
.font-icon-time:before {
  content: "\e929";
}
.font-icon-track:before {
  content: "\e92a";
}
.font-icon-up:before {
  content: "\e92b";
}
.font-icon-user:before {
  content: "\e92c";
}
.font-icon-zoom-in:before {
  content: "\e92d";
}
.font-icon-zoom-out:before {
  content: "\e92e";
}
