﻿@using Apom_User.Common
@{
    ViewBag.Title = "About";
    Layout = ViewBag.LayoutNew;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<input type="button" value="Send Notification" id="btnSendNotify" />

<script type="text/javascript">
    $("#btnSendNotify").click(function (e) {
        e.preventDefault();

        var dataNotify = [];
        var title_vi = 'Hưng Yên';
        var title_en = 'Hung Yen';
        var content_vi = 'Chỉ số AQI ' + title_vi + ' vượt ngưỡng an toàn';
        var content_en = 'The AQI index of ' + title_en + ' exceeds the safe level';
        var province_id = 'VNM.31_1';

        var NotifyModel = {
            title_vi: title_vi,
            title_en: title_en,
            content_vi: content_vi,
            content_en: content_en,
            province_id: province_id,
            notification_code: 'satellite_aqi_pm25',
            notification_type: "pm25",
            notification_date: new Date(Date.UTC(2022, 8, 15, 10, 45, 30))
        };
        dataNotify.push(NotifyModel);

        NotifyModel = {
            title_vi: 'Hà Nội',
            title_en: 'Ha Noi',
            content_vi: 'Chỉ số AQI Hà Nội vượt ngưỡng an toàn',
            content_en: 'The AQI index of Ha Noi exceeds the safe level',
            province_id: '@Constant.WebConfig.PROVINCE_DEFAULT',
            notification_code: 'wrf_aqi_pm25',
            notification_type: "pm25",
            notification_date: new Date(Date.UTC(2022, 8, 15, 10, 15, 30))
        };
        //dataNotify.push(NotifyModel);

        NotifyModel = {
            title_vi: 'Hồ Chí Minh',
            title_en: 'Ho Chi Minh',
            content_vi: 'Chỉ số AQI Hồ Chí Minh vượt ngưỡng an toàn',
            content_en: 'The AQI index of Ho Chi Minh exceeds the safe level',
            province_id: 'VNM.51_1',
            notification_code: 'satellite_aqi_pm25',
            notification_type: "pm25",
            notification_date: new Date(Date.UTC(2022, 8, 15, 10, 15, 30))
        };
        //dataNotify.push(NotifyModel);

        $.ajax({
            type: "POST",
            url: "@Apom_User.Common.Constant.APIs.notification_SendNotification",
            data: JSON.stringify(dataNotify),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //reset field
                console.log(data);
            },
            error: function () {
                alert("Error occured!!")
            }
        });

    });
</script>
