﻿@using Repositories.Models.Category
@using Repositories.Models.Asset
@using Apom_User.Common

@model Repositories.Models.map_model_view
@{
    Layout = ViewBag.LayoutNew;
    //ViewBag.Title = "Home Page";
    string hostGSV = ViewBag.HOSTGSV;
    ViewBag.isVietNam = Model.isVietNam;
    ViewBag.isAuthenticate = Model.isAuthenticate;

    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;
    List<component_geotiff_service_short> lstServices = Model.Services;
    string suffixChartInfo = "info";
}
@*<script src="~/Scripts/apom_ultility/notification.js"></script>*@

<style>
    #content-tab1 {
        display: block !important;
    }
</style>
<!-- map view -->
<div id="map-apom-basic"></div>
<!-- end map view -->

<div class="left-menu">
    <!-- map search / menu -->
    @Html.Partial("/Views/Home/partial/_map_search.cshtml")
    <!-- end map search / menu -->

    <div class="main-popup active" data-aos="fade-right" data-aos-delay="200">
        <div class="tab-icon-line">
            @*<div id="tab2" class="tab">
                    <div class="line-transperent"></div>
                    <div class="icon">
                        <span class="font-icon-chart"></span>
                    </div>
                    <div class="line-status"></div>
                </div>*@
            <div id="tab1" class="tab active" title="@Resources.Map.info_title">
                <div class="line-transperent"></div>
                <div class="icon">
                    <span class="font-icon-location"></span>
                </div>
                <div class="line-status"></div>
            </div>

            <div class="tab space">
                <div class="line-transperent"></div>
                <div class="icon">
                    <svg class="icon-svg" viewBox="0 0 16 16">
                        <path d="M2 10.833L14 10.833C14.2733 10.833 14.5 11.0597 14.5 11.333C14.5 11.6063 14.2733 11.833 14 11.833L2 11.833C1.72667 11.833 1.5 11.6063 1.5 11.333C1.5 11.0597 1.72667 10.833 2 10.833Z" />
                        <path d="M2 7.5L14 7.5C14.2733 7.5 14.5 7.72667 14.5 8C14.5 8.27333 14.2733 8.5 14 8.5L2 8.5C1.72667 8.5 1.5 8.27333 1.5 8C1.5 7.72667 1.72667 7.5 2 7.5Z" />
                        <path d="M2 4.16699L14 4.16699C14.2733 4.16699 14.5 4.39366 14.5 4.66699C14.5 4.94033 14.2733 5.16699 14 5.16699L2 5.16699C1.72667 5.16699 1.5 4.94032 1.5 4.66699C1.5 4.39366 1.72667 4.16699 2 4.16699Z" />
                    </svg>
                </div>
                <div class="line-status"></div>
            </div>
            <div class="tab toggle-panel">
                <div class="line-transperent"></div>
                <div class="icon">
                    <span class="font-icon-up"></span>
                </div>
                <div class="line-status"></div>
            </div>
        </div>

        <!-- selected feature -->
        <div id="content-tab1" class="content-tab">
            <!-- identify -->
            <div class="card-1 map-info-feature">
                @{
                    Html.RenderPartial("/Views/Home/partial/_map_info_feature.cshtml", new Repositories.Models.Asset.component_station_daily_short());
                }
            </div>
            <!-- end identify -->

            <div class="card-1" style="display: none;">
                <div class="title-tab-expand">
                    <div class="icon non-interactive">
                        <svg viewBox="0 0 12 12">
                            <path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 6C12 9.31371 9.31371 12 6 12C2.68629 12 2.34843e-07 9.31371 5.24537e-07 6C-1.39444e-07 2.68629 2.68629 1.39444e-07 6 -5.24537e-07C9.31371 -2.34843e-07 12 2.68629 12 6ZM6 6.25C6.41421 6.25 6.75 6.58579 6.75 7L6.75 9C6.75 9.41421 6.41421 9.75 6 9.75C5.58579 9.75 5.25 9.41421 5.25 9L5.25 7C5.25 6.58579 5.58579 6.25 6 6.25ZM6 5C6.55228 5 7 4.55229 7 4C7 3.44772 6.55228 3 6 3C5.44772 3 5 3.44772 5 4C5 4.55229 5.44771 5 6 5Z" />
                        </svg>
                    </div>
                    <span class="tab">
                        Thông tin
                    </span>

                    <div class="icon">
                        <svg class="icon-svg" viewBox="0 0 16 16">
                            <path d="M3.64645 9.85355C3.45118 9.65829 3.45118 9.34171 3.64645 9.14645L7.64645 5.14645C7.84171 4.95118 8.15829 4.95118 8.35355 5.14645L12.3536 9.14645C12.5488 9.34171 12.5488 9.65829 12.3536 9.85355C12.1583 10.0488 11.8417 10.0488 11.6464 9.85355L8 6.20711L4.35355 9.85355C4.15829 10.0488 3.84171 10.0488 3.64645 9.85355Z" />
                        </svg>
                    </div>
                </div>

            </div>

            <!-- chart -->
            <div class="card-1">
                @Html.Partial("/Views/Home/partial/_map_chart_feature.cshtml", new ViewDataDictionary(ViewData)
                {
                    { "ctrl_id", suffixChartInfo },
                })
            </div>
            <!-- end chart -->

        </div>

        <!-- ranking -->
        @*<div id="content-tab2" class="content-tab">
                @Html.Partial("/Views/Home/partial/_ranking.cshtml")
            </div>*@
        <!-- end ranking -->
    </div>
</div>

<!-- Toc Control -->
<div>
    @Html.Partial("/Views/Home/partial/_map_toccontrol.cshtml", Model.Layers)
</div>
<!-- end Toc Control -->
<!-- map zoom control -->
<div class="map-control" style="z-index: 3;">
    @Html.Partial("/Views/Home/partial/_map_zoom.cshtml")
</div>
<!-- end map zoom control -->

<div class="logo" data-aos="fade-left" data-aos-delay="900">
    <svg xmlns="http://www.w3.org/2000/svg" width="103" height="32" viewBox="0 0 103 32" fill="none">
        <circle cx="16.1448" cy="16.1311" r="15.2027" fill="url(#paint0_angular_701_8330)" stroke="white" stroke-width="1.21622" />
        <path d="M43.5139 24.353V19.2267C43.5608 19.2318 43.6073 19.2347 43.6533 19.2347H46.8842C48.3487 19.2347 49.6141 18.7512 50.6418 17.7781L50.6419 17.778C51.6819 16.7927 52.2062 15.555 52.2062 14.1056V12.1164C52.2062 10.6816 51.6809 9.45333 50.6439 8.46999C49.6172 7.4806 48.3511 6.9874 46.8842 6.9874H39.6349C39.4201 6.98235 39.1439 7.02963 38.9235 7.24291C38.6991 7.46002 38.6448 7.74061 38.6448 7.95718V24.353C38.6448 24.5741 38.7058 24.8488 38.9309 25.0593C39.1484 25.2628 39.4181 25.3108 39.6267 25.3108H42.5683C42.7801 25.3108 43.0493 25.2548 43.2589 25.0376C43.4647 24.8245 43.5139 24.5581 43.5139 24.353ZM43.5139 14.9323V11.4344C43.5202 11.4345 43.5265 11.4346 43.5327 11.4346H46.173C46.6313 11.4346 46.8978 11.5467 47.0574 11.6895C47.2132 11.8289 47.3129 12.0264 47.3129 12.3575V14.0092C47.3129 14.3403 47.2132 14.5379 47.0574 14.6772L47.0574 14.6771L47.0515 14.6826C46.9039 14.8182 46.6433 14.9322 46.173 14.9322H43.5327C43.5265 14.9322 43.5202 14.9322 43.5139 14.9323ZM54.0132 23.8909L54.0152 23.8928C55.0278 24.8965 56.2581 25.4072 57.6742 25.4072H61.0377C62.44 25.4072 63.6616 24.8948 64.6726 23.8928L64.6727 23.8928C65.6952 22.8794 66.215 21.6392 66.215 20.2059V12.1164C66.215 10.6838 65.6959 9.43802 64.6774 8.41011C63.6679 7.38304 62.4449 6.85478 61.0377 6.85478H57.6742C56.2738 6.85478 55.0487 7.38378 54.0253 8.40725L54.0234 8.40915C53.0043 9.43724 52.4849 10.6834 52.4849 12.1164V20.2059C52.4849 21.6375 52.9993 22.877 54.0132 23.8909ZM61.0839 11.551L61.0838 11.5511L61.0904 11.5569C61.2062 11.6606 61.3459 11.9134 61.3459 12.5022V19.8442C61.3459 20.3751 61.2144 20.6354 61.0776 20.765C60.9247 20.91 60.6493 21.0324 60.1456 21.0324H58.5422C58.0624 21.0324 57.7909 20.9176 57.6344 20.7771C57.5052 20.6473 57.3781 20.382 57.3781 19.8442V12.5022C57.3781 11.9094 57.5156 11.6543 57.6275 11.5515L57.628 11.551C57.7835 11.4078 58.0558 11.2899 58.5422 11.2899H60.1456C60.6533 11.2899 60.9311 11.4103 61.0839 11.551ZM79.648 17.7781L79.6481 17.778C80.6882 16.7928 81.2124 15.555 81.2124 14.1056V12.1164C81.2124 10.6816 80.687 9.45319 79.6499 8.46982C78.6233 7.48054 77.3572 6.9874 75.8905 6.9874H68.6411C68.4263 6.98235 68.1501 7.02963 67.9297 7.24291C67.7053 7.46002 67.651 7.74061 67.651 7.95718V24.353C67.651 24.5741 67.712 24.8488 67.9372 25.0593C68.1546 25.2628 68.4243 25.3108 68.6329 25.3108H71.5745C71.7863 25.3108 72.0555 25.2548 72.2651 25.0376C72.4709 24.8245 72.5202 24.5581 72.5202 24.353V19.2267C72.567 19.2318 72.6136 19.2347 72.6595 19.2347H75.8905C77.3549 19.2347 78.6204 18.7512 79.648 17.7781ZM72.5202 14.9323V11.4344C72.5264 11.4345 72.5327 11.4346 72.539 11.4346H75.1792C75.6375 11.4346 75.904 11.5467 76.0637 11.6895C76.2194 11.8289 76.3192 12.0264 76.3192 12.3575V14.0092C76.3192 14.3403 76.2194 14.5379 76.0637 14.6772L76.0636 14.6771L76.0577 14.6826C75.9101 14.8182 75.6495 14.9322 75.1792 14.9322H72.539C72.5327 14.9322 72.5264 14.9322 72.5202 14.9323Z" fill="#0E182D" stroke="white" stroke-width="1.21622" />
        <path d="M93.8811 24.7474C94.0017 24.6319 94.1075 24.5086 94.1979 24.3782V24.6255C94.1979 24.7712 94.2389 24.9893 94.4239 25.162C94.601 25.3273 94.8099 25.3562 94.9374 25.3562H95.839C95.9699 25.3562 96.1808 25.3248 96.3568 25.1547C96.5366 24.9808 96.5739 24.7654 96.5739 24.6255V24.4351C96.6549 24.5446 96.747 24.6488 96.8499 24.7474L96.8499 24.7475L96.8538 24.7511C97.3123 25.1828 97.8701 25.407 98.4984 25.407H99.5359C100.168 25.407 100.729 25.184 101.184 24.7474C101.644 24.3069 101.888 23.7539 101.888 23.12V20.4262C101.888 19.7934 101.645 19.2394 101.191 18.7926C100.737 18.3428 100.174 18.1097 99.5359 18.1097H98.4984C97.8637 18.1097 97.3035 18.3443 96.8463 18.7896L96.8463 18.7896L96.8444 18.7915C96.3895 19.2385 96.146 19.7929 96.146 20.4262V23.0844C96.0302 23.035 95.9183 23.0236 95.839 23.0236H94.9439C94.8491 23.022 94.7168 23.0364 94.585 23.1034V20.4262C94.585 19.7933 94.3419 19.2393 93.8876 18.7924C93.4335 18.3427 92.871 18.1097 92.2326 18.1097H91.1951C90.5604 18.1097 90.0003 18.3443 89.5431 18.7896L89.5431 18.7896L89.5412 18.7915C89.0862 19.2385 88.8428 19.7929 88.8428 20.4262V23.1155C88.7555 23.0896 88.6746 23.0828 88.6127 23.0828H88.3691V18.8912C88.3691 18.7407 88.3244 18.5211 88.1352 18.3506C87.9581 18.1909 87.7524 18.1646 87.6296 18.1646H85.3451C85.2221 18.1623 85.0203 18.188 84.8474 18.3493C84.6627 18.5218 84.6293 18.7381 84.6293 18.8658V19.3656H84.055C83.9301 19.3656 83.7624 19.3926 83.6053 19.5037C83.4531 19.6113 83.3674 19.7578 83.3257 19.8954L82.8907 21.1493L82.458 19.8893C82.4133 19.7508 82.3243 19.6047 82.17 19.4988C82.016 19.393 81.8523 19.3656 81.7263 19.3656H80.7205C80.5429 19.3656 80.267 19.4311 80.1022 19.7026C79.9672 19.9211 79.9866 20.1465 80.0243 20.2875L80.032 20.3161L80.0424 20.3438L81.7364 24.8598C81.7756 24.9765 81.8502 25.112 81.9872 25.2186C82.1376 25.3356 82.3059 25.3731 82.4466 25.3731H83.3301C83.4725 25.3731 83.6293 25.3351 83.7707 25.2351C83.9081 25.1379 83.9904 25.011 84.0385 24.8988L84.0444 24.8852L84.0495 24.8714L85.6741 20.5057H85.8435V23.0828H85.5682C85.4372 23.0828 85.2264 23.1142 85.0504 23.2843C84.8705 23.4582 84.8332 23.6736 84.8332 23.8135V24.6353C84.8307 24.7793 84.8667 24.9962 85.0481 25.1716C85.2276 25.3451 85.4427 25.3731 85.5682 25.3731H88.6127C88.7402 25.3731 88.9491 25.3442 89.1262 25.1789C89.3112 25.0062 89.3522 24.7882 89.3522 24.6424V24.5391C89.412 24.611 89.4768 24.6805 89.5467 24.7474L89.5467 24.7475L89.5505 24.7511C90.0091 25.1828 90.5669 25.407 91.1951 25.407H92.2326C92.8649 25.407 93.4254 25.1841 93.8811 24.7474ZM93.8811 24.7474L93.4604 24.3083L93.8811 24.7474C93.8811 24.7474 93.8811 24.7474 93.8811 24.7474ZM83.0121 22.655L82.9858 22.7309C82.9556 22.8268 82.9253 23.0368 82.8951 23.361C82.8559 23.0284 82.8211 22.8183 82.7909 22.7309L83.0121 22.655ZM91.4317 20.5658L91.4317 20.5619C91.4314 20.5149 91.4351 20.4823 91.439 20.4613C91.4578 20.458 91.486 20.455 91.5259 20.455H91.8974C91.9446 20.455 91.9766 20.4591 91.9966 20.4631C92.0008 20.4836 92.0051 20.5167 92.0051 20.5658V22.9805C92.0051 23.0247 92.0014 23.0552 91.9977 23.0747C91.9773 23.0787 91.9448 23.0828 91.8974 23.0828H91.5259C91.4857 23.0828 91.4571 23.0798 91.4379 23.0765C91.4345 23.0566 91.4315 23.0266 91.4317 22.9843H91.4317V22.9805L91.4317 20.5658ZM98.8291 19.8469C98.358 19.8469 98.1239 20.0865 98.1269 20.5658V22.9805C98.1239 23.4541 98.358 23.6909 98.8291 23.6909H99.2006C99.6779 23.6909 99.9165 23.4541 99.9165 22.9805V20.5658C99.9165 20.0865 99.6779 19.8469 99.2006 19.8469H98.8291ZM98.735 20.5658L98.735 20.5619C98.7347 20.5149 98.7384 20.4823 98.7423 20.4613C98.761 20.458 98.7893 20.455 98.8291 20.455H99.2006C99.2478 20.455 99.2799 20.4591 99.2998 20.4631C99.304 20.4836 99.3084 20.5167 99.3084 20.5658V22.9805C99.3084 23.0247 99.3047 23.0552 99.301 23.0747C99.2806 23.0787 99.2481 23.0828 99.2006 23.0828H98.8291C98.789 23.0828 98.7604 23.0798 98.7412 23.0765C98.7378 23.0566 98.7347 23.0266 98.735 22.9843V22.9805L98.735 20.5658Z" fill="#0E182D" stroke="white" stroke-width="1.21622" />
        <defs>
            <radialGradient id="paint0_angular_701_8330" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(16.1448 16.1311) rotate(90) scale(15.8108)">
                <stop stop-color="#4EBFFF" />
                <stop offset="1" stop-color="#1145FF" />
            </radialGradient>
        </defs>
    </svg>
</div>

<div class="time-slider">
    @Html.Partial("/Views/Home/partial/_map_time_slider.cshtml");

    @Html.Partial("/Views/Home/partial/_map_legend.cshtml");
</div>
<div class="overlay-bottom"></div>

@*<script src="~/theme/apom/main.js"></script>*@

<script>
    AOS.init();

    $(document).ready(function () {
        $(".toggle-panel").click(function (e) {
            e.preventDefault();
            $(".main-popup").toggleClass("active");
            $(".time-slider").toggleClass("full-width");
        });
        $(".tab").click(function (e) {
            e.preventDefault();
            $(".tab").removeClass("active");
            $(this).addClass("active");
        });
        $("#tab1").click(function (e) {
            e.preventDefault();
            $("#content-tab1").show();
            $("#content-tab2").hide();
        });
        $("#tab2").click(function (e) {
            e.preventDefault();
            $("#content-tab2").show();
            $("#content-tab1").hide();
        });
    });

    $("#search").focus(function () {
        $(".show-in-searching").addClass("show-search");
        $(".hide-in-searching").addClass("hide-search");
    });
    $("#search").focusout(function () {
        $(".show-in-searching").removeClass("show-search");
        $(".hide-in-searching").removeClass("hide-search");
    });

    //var options = {
    //    chart: {
    //        height: '200',
    //        type: 'line',
    //        toolbar: {
    //            show: false
    //        },
    //        fontFamily: 'Roboto',
    //        fontWeight: '300',
    //    },

    //    stroke: {
    //        curve: 'smooth',
    //        width: 2
    //    },
    //    series: [
    //        {
    //            name: "AQI",
    //            data: [60, 80, 65, 75, 65]
    //        }
    //    ],
    //    fill: {
    //        type: "gradient",
    //        gradient: {
    //            shadeIntensity: 1,
    //            type: 'vertical',
    //            colorStops: [
    //                {
    //                    offset: 30,
    //                    color: "#FF4123",
    //                    opacity: 1
    //                },
    //                {
    //                    offset: 20,
    //                    color: "#F17C00",
    //                    opacity: 1
    //                },
    //                {
    //                    offset: 60,
    //                    color: "#FFD05C",
    //                    opacity: 1
    //                },
    //                {
    //                    offset: 100,
    //                    color: "#00C582",
    //                    opacity: 1
    //                }
    //            ]
    //        }
    //    },
    //    grid: {
    //        borderColor: '#6D6D6D'
    //    },
    //    yaxis: {
    //        labels: {
    //            align: 'left',
    //        },
    //    },
    //    xaxis: {
    //        categories: [
    //            "01/05",
    //            "02/05",
    //            "03/05",
    //            "04/05",
    //            "05/05",
    //            "06/05"
    //        ],
    //        axisBorder: {
    //            show: false
    //        },
    //        axisTicks: {
    //            show: false
    //        },
    //        tooltip: {
    //            enabled: false
    //        }
    //    }
    //};
    //var chart = new ApexCharts(document.querySelector("#chart"), options);
    //chart.render();
</script>

@*tuannh*@
<script>
    var mapId = 'map-apom-basic';
    var formatDate = 'dd/MM/yyyy';
    var formatTime = 'hh:mm:ss';
    var myDateFormat = 'DD-MM-YYYY';
    var optionIdentify = [];
</script>

<script>
    $('.map-info-feature-satellite').addClass('active');
    optionIdentify.activeSatellite = true;
    $(document).ready(function () {
        $(".map-info-feature-icon-toggle").click(function (e) {
            e.preventDefault();
            let info = null;
            if ($(this).hasClass('map-info-feature-station')) {
                optionIdentify.activeSatellite = false;
            }
            else {
                optionIdentify.activeSatellite = true;
            }
        });
    });

    /* identify */
    function identifyAction(options) {
        let time = optionIdentify.time ? optionIdentify.time : '';
        let date = optionIdentify.date ? optionIdentify.date : '';
        let activeSatellite = optionIdentify.activeSatellite;
        let coors = optionIdentify.coordinate;
        optionIdentify = options;
        if(time != '') optionIdentify.time = time;
        if(date != '') optionIdentify.time = date;
        optionIdentify.activeSatellite = activeSatellite;
        if(coors === optionIdentify.coordinate) optionIdentify.sameCoor = true;
        // active tab
        if (options.coordinate)
        {
            $('.main-popup #tab1').click();

        }
        else return;

        let _options = options ? options : [];
        let map = _options.map ? _options.map : null;
        let feature = _options.feature ? _options.feature : null;;
        let hostAPI = _options.hostAPI ? _options.hostAPI : '';
        let langId = _options.langId ? _options.langId : 'vi';
        let coordinate = _options.coordinate ? _options.coordinate : [0,0];
        let isStation = _options.isStation ? _options.isStation : false;
        let isGeoTiff = _options.isGeoTiff ? _options.isGeoTiff : false;
        let event = _options.e ? _options.e : null;

        if(optionIdentify.activeSatellite)
        {
            $('.map-info-feature-station').removeClass('active');
            if(!$('.map-info-feature-satellite').hasClass('active')) $('.map-info-feature-satellite').addClass('active');
        }
        else
        {
            $('.map-info-feature-satellite').removeClass('active');
            if(!$('.map-info-feature-station').hasClass('active')) $('.map-info-feature-station').addClass('active');
        }

        if(isStation)
        {
            $('.map-info-feature-station').removeClass('disabledbutton');
            var properties = feature.getProperties();
            // station
            let info = getStationInfo(feature, hostAPI, langId, event);
            map.parent.identifyImpl.infoFeatureStation = info;
            if(!optionIdentify.activeSatellite)
            {
                if (info.callbackInfo) {
                    info.callbackInfo(info, langId);
                }
                else {
                    var html = '<div><table>';
                    for (var property in properties) {
                        if (typeof (properties[property]) != "object") {
                            html += '<tr>';
                            html += '<td>' + property + '</td>';
                            html += '<td>';
                            html += properties[property] === null ? '' : properties[property];
                            html += '</td>';
                            html += '</tr>';
                        }
                    }
                    html += '</table></div>';
                    $('.map-info-feature').html(html);
                }
                if (info.callbackChart && !(isGeoTiff && optionIdentify.activeSatellite)) {
                    info.callbackChart[0](info, hostAPI, langId, '#dailyaqichart_' + '@suffixChartInfo', '#dailyconcenchart_' + '@suffixChartInfo', false);
                }
            }
        }
        else{
            if(!$('.map-info-feature-station').hasClass('disabledbutton')) $('.map-info-feature-station').addClass('disabledbutton');
        }

        // geotiff
        if(isGeoTiff && optionIdentify.activeSatellite)
        {
            identitfyDataGeoTiff(map, coordinate, event, function (info) {
                var features = [];
                if (info != null) {
                    if(info.reloadInfo)
                    {
                        return;
                    }
                    if(info.length > 0)
                    {
                        //alert('run');
                        $('.map-info-feature-satellite').removeClass('disabledbutton');
                        map.parent.identifyImpl.infoFeatureSatellite = info;

                        if (info.callbackInfo) {
                            info.callbackInfo(info, langId, event);
                        }
                        if (info.callbackChart) {
                            info.callbackChart[0](info, hostAPI, langId, '#dailyaqichart_' + '@suffixChartInfo', '#dailyconcenchart_' + '@suffixChartInfo', false);
                        }
                    }
                    else
                    {
                        //if(!$('.map-info-feature-satellite').hasClass('disabledbutton')) $('.map-info-feature-satellite').addClass('disabledbutton');
                    }
                }
                else
                {
                    //if(!$('.map-info-feature-satellite').hasClass('disabledbutton')) $('.map-info-feature-satellite').addClass('disabledbutton');
                }
            });
        };
    };

    /********* identify for station **********/
    // get station's name when click station on map
    function getStationInfo(feature, hostAPI, langId, event) {
        let attributes = [];
        let groupId = '';
        let properties = feature.getProperties();
        groupId = (properties["group_id"] === null) ? '' : properties["group_id"];
        let timeSliderCurrentDate = apomGis.mainCurrentImpl.timeSlider.currentDate();
        // call api
        if (groupId != '' && hostAPI != '') {
            let component_id = 'pm25';
            let urlRequest = hostAPI + "@Constant.APIs.station_daily_short" + "?group_id=" + groupId + "&component_id=" + component_id + "&datetime_shooting=" + timeSliderCurrentDate + "&lang_id=" + langId;
            $.ajax({
                type: "GET",
                url: urlRequest,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: false,
                beforeSend: function(){
                    // Show image container
                    if(event != null) event.preventDefault();
                    $('.loading-ajax').show();
                    if(event != null) event.preventDefault();
                },
                success: function (response) {
                    console.log(response);
                    attributes = response;
                    // callback: defined in _map_info_feature & _map_chart_feature
                    if (attributes.group.isaqi) {
                        attributes.callbackInfo = callbackShowStationAQI;
                        attributes.callbackChart = [viewChartDetailStation];
                    }
                    else attributes.callbackInfo = callbackShowMeteorology;
                },
                complete:function(data){
                    // Hide image container
                    if(event != null) event.preventDefault();
                    $('.loading-ajax').hide();
                    if(event != null) event.preventDefault();
                },
                failure: function (response) {
                    console.log(response);
                    $('.loading-ajax').hide();
                },
                error: function (response) {
                    console.log(response);
                    $('.loading-ajax').hide();
                }
            });
        }
        return attributes;
    }
    /********* end identify for station **********/

    /********* identify for geotiff **********/
    function identitfyDataGeoTiff (map, coordinate, event, callback) {
        var action = map.parent.coreImpl.action;
        var coorX = coordinate[0], coorY = coordinate[1];
        var features = [];
        var hostAPI = map.parent.hostAPI;
        var typeSlider = '';
        //var popupFeature = map.parent.popup;
        if (action === apomGis.Config.action.identify) {
            /******** identify  mem - wwrfchem *********/
            // only check layer that is visible
            var arrProperties = [];
            for (var i = 0; i < map.parent.wmslayers.length; i++) {
                var wmsLayer = map.parent.wmslayers[i];
                if (wmsLayer.getVisible()) {
                    var params = wmsLayer.layer.get('params');
                    //console.log('identify: ' + params);
                    var url = params.url;
                    var featurebase = params.featurebase;
                    var featuretype = params.featuretype;

                    var urlRequest = hostAPI + "@Constant.APIs.componentgeotiffservice_getbyserviceinfo";

                    $.ajax({
                        method: "POST",
                        url: urlRequest,
                        data: JSON.stringify({
                            "url": url,
                            "featurebase": featurebase,
                            "featuretype": featuretype
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            //console.log(response);
                            if(response.Data.comps === undefined || response.Data.comps === null) return;
                            if(response.Data.comps.groupcomponent_id === undefined || response.Data.comps.groupcomponent_id === null) return;
                            var groupComponentId = response.Data.comps.groupcomponent_id;
                            typeSlider = response.Data.comps.typeslider;
                            var urlRequestIdentify = hostAPI + "@Constant.APIs.componentgeotiffdaily_identify_geotiff";
                            var timeSliderCurrentDate = '';
                            if(typeSlider === 'hour')
                            {
                                timeSliderCurrentDate = apomGis.mainCurrentImpl.timeSlider.currentDate();
                                if(optionIdentify.time === undefined) optionIdentify.time = timeSliderCurrentDate;
                                else{
                                    if(optionIdentify.time === timeSliderCurrentDate && optionIdentify.sameCoor)
                                    {
                                        optionIdentify.sameTime = true;
                                        arrProperties = {
                                            reloadInfo: true
                                        };
                                        return;
                                    }
                                    optionIdentify.time = timeSliderCurrentDate;
                                }
                            }
                            else
                            {
                                timeSliderCurrentDate = moment(apomGis.mainCurrentImpl.timeSlider.currentDate()).format('YYYY-MM-DD');
                                if(optionIdentify.date === undefined) optionIdentify.date = timeSliderCurrentDate;
                                else{
                                    if(optionIdentify.date === timeSliderCurrentDate && optionIdentify.sameCoor)
                                    {
                                        optionIdentify.sameTime = true;
                                        arrProperties = {
                                            reloadInfo: true
                                        };
                                        return;
                                    }
                                    optionIdentify.date = timeSliderCurrentDate;
                                }
                            }

                            var subTime = new Date();
                            $.ajax({
                                method: "POST",
                                url: urlRequestIdentify,
                                data: JSON.stringify({
                                    "x": coorX,
                                    "y": coorY,
                                    "groupcomponent_id": groupComponentId,
                                    "date_request": timeSliderCurrentDate,
                                    "lang_id": '@SessionContext.Language'
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: "json",
                                crossDomain: true,
                                async: false,
                                beforeSend: function(){
                                    // Show image container
                                    if(event != null) event.preventDefault();
                                    $('.loading-ajax').show();
                                    if(event != null) event.preventDefault();
                                },
                                success: function (response) {
                                    //console.log(response.Data.comps);
                                    var timeCompleted = new Date();
                                    subTime = (timeCompleted - subTime)/1000.0;
                                    console.log('time reponse: ' + subTime + ' (s)');
                                    if(response.Data.comps)
                                    {
                                        response.Data.comps['date'] = timeSliderCurrentDate;
                                        response.Data.comps['click_x'] = coorX;
                                        response.Data.comps['click_y'] = coorY;
                                        response.Data.comps['type_slider'] = typeSlider;
                                        // temp
                                        if(response.Data.comps_temp)
                                        {
                                            response.Data.comps['temp_val'] = response.Data.comps_temp.val;
                                        }
                                        // rh
                                        if(response.Data.comps_rh)
                                        {
                                            response.Data.comps['rh_val'] = response.Data.comps_rh.val;
                                        }
                                        arrProperties.push(response.Data.comps);
                                        // callback: defined in _map_info_feature & _map_chart_feature
                                        arrProperties.callbackInfo = callbackShowGeoTiffAQI;
                                        arrProperties.callbackChart = [viewChartDetailGeoTiff];
                                        //callback(response.Data.comps);
                                    }
                                    //popupFeature.show(coordinate, feature);
                                },
                                complete:function(data){
                                    // Hide image container
                                    if(event != null) event.preventDefault();
                                    $('.loading-ajax').hide();
                                    if(event != null) event.preventDefault();
                                },
                                failure: function (response) {
                                    console.log(response);
                                    $('.loading-ajax').hide();
                                },
                                error: function (response) {
                                    console.log(response);
                                    $('.loading-ajax').hide();
                                }
                            });
                        },
                        failure: function (response) {
                            console.log(response);
                            $('.loading-ajax').hide();
                        },
                        error: function (response) {
                            console.log(response);
                            $('.loading-ajax').hide();
                        }
                    });

                }
            }

            if(callback) {
                callback(arrProperties);
            }
            /******** end identify  mem - wwrfchem *********/
        }
    }
    /********* end identify for geotiff **********/
    /* end identify */

    /***** time-slider callback ******/
    function filterLayer(timeTick)
    {
        // station
        if(apomGis.mainCurrentImpl.vtStationTimeSeries && apomGis.mainCurrentImpl.vtStationTimeSeries.getVisible())
        {
            apomGis.mainCurrentImpl.vtStationTimeSeries.clearTileCache();
        }

        // geotiff
        for (let i = 0; i < apomGis.mainCurrentImpl.mapImpl.wmslayers.length; i++) {
            let layer = apomGis.mainCurrentImpl.mapImpl.wmslayers[i].layer;
            if (layer && layer.getVisible()) {
                apomGis.mainCurrentImpl.layerModelActive = apomGis.mainCurrentImpl.mapImpl.wmslayers[i];
                break;
            }
        }

        if(apomGis.mainCurrentImpl.layerModelActive) // set in _map_toccontrol
        {
            let timeSliderCurrentDate = '';
            if(apomGis.mainCurrentImpl.layerModelActive.layer.get('type_slider') === 'hour') {
                //timeSliderCurrentDate = moment(new Date(timeTick)).format('YYYY-MM-DD HH:00:00');
                timeSliderCurrentDate = moment(new Date(timeTick)).format('YYYY-MM-DDThh:mm:ss') + 'Z';
            }
            else {
                timeSliderCurrentDate = moment(new Date(timeTick)).format('YYYY-MM-DD');
            }
            apomGis.mainCurrentImpl.layerModelActive.updateParams({
                'TIME': timeSliderCurrentDate
            });
        }
    };
    /***** end time-slider callback ******/

    /***** layer time series *******/
    function tileLoadFunctionStationTimeSeries(tile, url) {
        var format = tile.getFormat();
        var tileCoord = tile.getTileCoord();
        tile.setLoader(function (extent, resolution, projection) {
            fetch(url).then(function (response) {
                response.arrayBuffer().then(function (data) {
                    const format = tile.getFormat() // ol/format/MVT configured as source format
                    const projection1 = format.readProjection(data);
                    if (tile.setProjection) tile.setProjection(projection1);
                    var features = [];
                    try {
                        //features = format.readFeatures(data, {});
                        features = format.readFeatures(data, {
                            extent: tile.extent,
                            featureProjection: tile.projection
                        });
                    }
                    catch (ex) {
                        //console.log('error read feature: ' + ex);
                        features = [];
                    }

                    // filter
                    for (var i = 0; i < features.length; i++) {
                        var properties = features[i].getProperties();
                        var parentId = properties.parent_id;

                        var layerItem = apomGis.mainCurrentImpl.listGroupLayers.find(x=>x.id===parentId);
                        // layerItem = undefined -> chua thiet lap trang thai -> mac dinh la active

                        var timeF = new Date(properties.datetime_shooting).getTime();
                        if(timeF != apomGis.mainCurrentImpl.timeSlider.current) {
                            features.splice(i, 1);
                            i--;
                        }
                    }
                    tile.setFeatures(features);
                });
            });
        });
    };
    /***** end layer time series *******/

    $(document).ready(function () {
        var date = new Date().addDays(-1);
        var f = {
            mapid: 'map-apom-basic'
        };

        /* init time slider */
        var nowDate = new Date();
        var nowHour = nowDate.getHours();

        if(apomGis.Config.position) apomGis.Config.position.digit = CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL;
        /* format date with moment
            YYYY: 4-digit year '2019'
            YY: 2-digit year '19'
            MMMM: Full-length month 'June'
            MMM: 3 character month 'Jun'
            MM: Month of the year, zero-padded '06'
            M: Month of the year '6'
            DD: Day of the month, zero-padded '01'
            D: Day of the month '1'
            Do: Day of the month with numeric ordinal contraction '1st'
        */

        /* format time with moment
            HH: hour of day from 0-24, zero-padded, '14'
            H: hour of day from 0-24, '14'
            hh: hour of day on 12-hour clock, zero-padded, '02'
            h: hour of the day on 12 hour clock, '2'
            mm: minute, zero-padded, '04'
            m: minute, '4'
            ss: second, zero-padded
            s: second
            A: 'AM' or 'PM'
            a: 'am' or 'pm'
        */
        //moment.simpleFormat.options.date = 'YMD';

        apomGis.Config.Services = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstServices));

        formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;

        apomGis.Config.scale.show_label = parseInt('@Apom_User.Common.Constant.WebConfig.SCALE_SHOW_STATION_LABEL');

        if(CONFIG_SYSTEMT.MAP_EXTENT != undefined)
        {
            apomGis.Config.initExtent.extent = CONFIG_SYSTEMT.MAP_EXTENT;
            apomGis.Config.initExtent.full = CONFIG_SYSTEMT.MAP_EXTENT;
            let xCenter = (CONFIG_SYSTEMT.MAP_EXTENT[0] + CONFIG_SYSTEMT.MAP_EXTENT[2])/2;
            let yCenter = (CONFIG_SYSTEMT.MAP_EXTENT[1] + CONFIG_SYSTEMT.MAP_EXTENT[3])/2;
            apomGis.Config.initExtent.center = {
                x: xCenter,
                y: yCenter
            };
        }

        var style_simple = new ol.style.Style({
            fill: new ol.style.Fill({
                color: '#ADD8E6'
            }),
            stroke: new ol.style.Stroke({
                color: '#880000',
                width: 1
            })
        });

        function simpleStyle(feature) {
            return style_simple;
        }

        var mainImpl = new apomGis.mainClass({
            mapid: f.mapid,
            hostapi: '@ViewBag.HostAPI',
            endpoint_identify: '@Constant.APIs.administrative_info_by_coor',
            langid: '@Apom_User.Common.SessionContext.Language'.trim()
        });
        mainImpl.hostGSV = '@hostGSV';
        mainImpl.initApomGis();

        // search adress
        mainImpl.mapImpl.setSearchAddressOsm({
            'id': 'search',
            'callbackAction': identifyAction
        });

        apomGis.mainCurrentImpl = mainImpl;
        setStatusLayerList(apomGis.mainCurrentImpl.getStatusLayers()); // defined in _map_toccontrol

        $('#loading-ajax').hide();
        var navHeight = $('nav').height() === undefined ? 0 : $('nav').height();
        var footerHeight = $('footer').height() === undefined ? 0 : $('footer').height();
        var height = (window.innerHeight - (navHeight + footerHeight)) - 0;
        $('#' + f.mapid).css('height', (height + 0) + 'px');
        $('.left-panel-chart-component').css('maxHeight', height);
        $('.left-panel-map-ranking').css('maxHeight', height);
        $(window).resize(function () {
            var height_map = (window.innerHeight - (navHeight + footerHeight)) - 0;
            var height_resize = height_map - 20;
            $('#' + f.mapid).css('height', (height_map + 0) + 'px');
        });

        /******** timeslider ********/
        let elem = document.querySelector('.slider-container');
        let now = new Date();

        let deltaDay = 0;
        now.setDate(now.getDate() - deltaDay);
        now = new Date(now.getFullYear(), now.getMonth(), now.getDate(), now.getHours(), 0, 0);
        //now = new Date(2023,2,17,8,0,0);
        now = now.getTime();

        apomGis.mainCurrentImpl.timeSlider = new apomTimeSlider();
        apomGis.mainCurrentImpl.timeSlider.on('update', function (datetime) {
            //console.log("Time slider updated. param= " + datetime);
            if (typeof (filterLayer) != 'undefined') filterLayer(datetime);
            if (typeof (identifyAction) != 'undefined') identifyAction(optionIdentify);
        });

        // elm, from, to, current, nIntervals
        let from = apomGis.Config.timeslider.prev_current;
        let to = apomGis.Config.timeslider.next_currrent;
        let noTicks = parseInt((from + to + 1) / 2);
        apomGis.mainCurrentImpl.timeSlider.init(elem, now - from * 24 * 60 * 60 * 1000, now + to * 24 * 60 * 60 * 1000, now, noTicks);
        /******** end timeslider ********/

        // trung van - ha noi
        let defaultCoorX = 105.79329380007142;
        let defaultCoorY = 20.995274332526627;
        // get_cookies_array in utility.js
        var cookies = get_cookies_array();
        let nameIdentifyCookie = apomGis.mainCurrentImpl.mapImpl.nameIdentifyCookie;
        if (cookies[nameIdentifyCookie] != undefined) {
            let versionCurrent = apomGis.mainCurrentImpl.mapImpl.version.identify;
            let stringCookies = cookies[apomGis.mainCurrentImpl.mapImpl.nameIdentifyCookie];
            let arrayCookiesData = stringCookies.split('|');
            let coorX = 0, coorY = 0, version = '';
            if (arrayCookiesData.length > 0) coorX = parseFloat(arrayCookiesData[0]);
            if (arrayCookiesData.length > 1) coorY = parseFloat(arrayCookiesData[1]);
            if (arrayCookiesData.length > 2) version = arrayCookiesData[2];
            if (versionCurrent === version) {
                defaultCoorX = coorX;
                defaultCoorY = coorY;
            }
        }

        // add feature graphic of geotiff layer
        if (apomGis.mainCurrentImpl.mapImpl.graphicLayer) apomGis.mainCurrentImpl.mapImpl.graphicLayer.removeAllFeature();
        apomGis.mainCurrentImpl.mapImpl.graphicLayer.createGraphic({
            geom: apomGis.mainCurrentImpl.mapImpl.graphicLayer.geometry.createPoint(defaultCoorX, defaultCoorY)
        });
        identifyAction({
            map: apomGis.mainCurrentImpl.mapImpl.control,
            hostAPI: '@ViewBag.HostAPI',
            langId: '@Apom_User.Common.SessionContext.Language',
            coordinate: [defaultCoorX, defaultCoorY],
            isStation: false,
            isGeoTiff: true,
            runChart: true,
        });
    });
</script>
