﻿.aqi-box-vn.box-undefined {
    /*background: #ffffff;*/
}

.aqi-box-vn.box-good {
    background-color: #1bbe58 !important;
    color: #fff;
}

.aqi-box-vn.box-moderate {
    background-color: #ffd600 !important;
    color: rgba(0,0,0,.5019607843137255);
}

.aqi-box-vn.box-sensitive-unhealthy {
    background-color: #ff7e00 !important;
    color: #fff;
}

.aqi-box-vn.box-unhealthy {
    background-color: #d52827 !important;
    color: #fff;
}

.aqi-box-vn.box-very-unhealthy {
    background-color: #8f3f97 !important;
    color: #fff;
}

.aqi-box-vn.box-hazardous {
    background-color: #7e0023 !important;
    color: #fff;
}

.aqi-icon-20 {
    width: 20px;
}

.aqi-icon-40 {
    width: 40px;
}

.aqi-icon-60 {
    width: 60px;
}

.aqi-icon-80 {
    width: 80px;
}

.aqi-icon-100 {
    width: 100px;
}

.aqi-box-text-number {
}

.aqi-box-number {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}
