:root {
    --primary-color: #0057FC;
    --primary-text: #0E182D;
    --primary-color-10: #0058fc10;
    --primary-color-50: #0058fc50;
    --primary-color-hover: #003fb4;
    --gray: #606781;
    --gray-300: #b4b4b4;
    --gray-200: #d5d5d5;
    --gray-100: #E2E2E2;
    --gray-80: #e7e7e7;
    --gray-50: #f1f1f1;
    --gray-10: #f4f4f4;
    --gray-5: #f8f8f8;
    --overlay-popup: rgba(0, 0, 0, 0.5);
    --color-50: 0, 171, 120;
    --color-100: 255, 208, 92;
    --color-150: 241, 124, 0;
    --color-200: 255, 65, 35;
    --color-300: 203, 41, 255;
    --color-301: 130, 32, 0;
    --air-50: rgb(var(--color-50));
    --air-100: rgb(var(--color-100));
    --air-150: rgb(var(--color-150));
    --air-200: rgb(var(--color-200));
    --air-300: rgb(var(--color-300));
    --air-301: rgb(var(--color-301));
    --color-card-3-1: #E9EFFF;
    --color-card-3-2: #bcc7ff;
    --color-card-3-3: #000081;
    --color-card-3-4: #DAF2E1;
    --color-card-3-5: #abddba;
    --color-card-3-6: #003800;
    --left-menu: 340px;
    --icon-svg: 16px;
    --width-popup-infor: 200px;
    --col-24: 24px;
    --col-32: 32px;
    --col-48: 48px;
    --col-56: 56px;
    --col-72: 72px;
    --border-radius-A: 1px;
    --border-radius-B: 2px;
    --border-radius-C: 3px;
    --border-radius-D: 4px;
    --border-radius-E: 6px;
    --border-radius-F: 8px;
    --border-radius-G: 16px;
    --border-radius-X: 100px;
    --border-A: 1px solid var(--gray-50);
    --border-B: 1px solid var(--white-20);
    --border-C: 1px solid var(--gray-200);
    --border-D: 1px solid var(--gray-100);
    --white: #fff;
    --white-20: rgba(255, 255, 255, 0.2);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-80: rgba(255, 255, 255, 0.8);
    --padding-A: 2px;
    --padding-B: 4px;
    --padding-C: 8px;
    --padding-D: 10px;
    --padding-E: 12px;
    --padding-F: 16px;
    --padding-G: 18px;
    --padding-H: 20px;
    --padding-K: 32px;
    --padding-CF: 8px 16px 8px 8px;
    --margin-I: 32px;
    --margin-K: 24px;
    --margin-H: 16px;
    --margin-G: 14px;
    --margin-F: 12px;
    --margin-E: 10px;
    --margin-D: 8px;
    --margin-C: 4px;
    --margin-B: 2px;
    --margin-A: 1px;
    --scale-zoom: scale(0.9);
    --font-size-input: 12px;
    --font-size-B: 16px;
    --font-size-A: 14px;
    --font-size-10: 10px;
    --line-height-input: 16px;
    --line-height-input-login: 24px;
    --transition: all ease-in 0.2s;
    --transition-1: all ease-in 0.1s;
    --box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
    --popup-register: 650px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-300);
    border-radius: 5px;
}

* {
    font-family: 'Roboto', sans-serif;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-D);
    border-radius: var(--border-radius-D);
    cursor: pointer;
    transition: var(--transition-1);
    user-select: none;
}

    .icon .icon-svg {
        width: var(--icon-svg);
        height: var(--icon-svg);
        fill: currentColor;
    }

        .icon .icon-svg path,
        .icon .icon-svg mask {
            fill: currentColor;
        }

    .icon:active .icon-svg {
        transform: var(--scale-zoom);
    }

    .icon:hover {
        background-color: var(--primary-color-10) !important;
        color: var(--primary-color) !important;
        transition: var(--transition-1);
    }

    .icon.active {
        background-color: var(--primary-color);
        color: var(--white);
    }

.tab-icon-text {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: var(--padding-C);
    font-size: var(--font-size-input);
    font-weight: 400;
    line-height: var(--line-height-input);
    background-color: var(--gray-100);
    border-radius: var(--border-radius-X);
    margin: 0 var(--margin-D);
    /*color: var(--gray);*/
    transition: var(--transition-1);
    position: relative;
}

    .tab-icon-text [class^="font-icon-"],
    .tab-icon-text [class*=" font-icon-"] {
        font-size: 16px;
    }

    .tab-icon-text > div {
        margin: 0 var(--margin-D);
    }

    .tab-icon-text .icon-svg {
        width: var(--icon-svg);
        height: var(--icon-svg);
        fill: currentColor;
    }

        .tab-icon-text .icon-svg path,
        .tab-icon-text .icon-svg mask {
            fill: currentColor;
        }

    .tab-icon-text:active {
        fill: saturate(1.5);
    }

        .tab-icon-text:active .icon-svg {
            transform: var(--scale-zoom);
        }
    /*.tab-icon-text:hover {
  background-color: var(--primary-color-hover) !important;
  color: var(--white) !important;
  transition: var(--transition-1);
}*/
    .tab-icon-text.active {
        background-color: var(--primary-color);
        color: var(--white);
        transition: var(--transition-1);
    }

.tab-icon-line {
    user-select: none;
    display: flex;
    line-height: var(--line-height-input);
    transition: var(--transition-1);
}

    .tab-icon-line .tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .tab-icon-line .tab .icon {
            border-radius: 0;
            padding: var(--padding-F);
            background-color: transparent !important;
        }

        .tab-icon-line .tab .line-status {
            height: 1px;
            background-color: var(--white);
        }

        .tab-icon-line .tab .line-transperent {
            height: 1px;
            background-color: transparent;
        }

        .tab-icon-line .tab:hover {
            background-color: var(--primary-color-10);
        }

            .tab-icon-line .tab:hover .line-status {
                background-color: var(--primary-color);
                transition: var(--transition);
            }

        .tab-icon-line .tab.active {
            color: var(--primary-color);
            transition: var(--transition-1);
        }

            .tab-icon-line .tab.active .line-status {
                background-color: var(--primary-color) !important;
                transition: var(--transition);
            }

    .tab-icon-line .space {
        flex: 1;
        pointer-events: none;
    }

        .tab-icon-line .space .icon {
            opacity: 0;
        }
/*#content-tab1, #content-tab3 {
	display: none;
}*/
.scroll-in-table {
    overflow: hidden;
    flex: 1;
    height: calc(100% - 44px - 1px - 2*var(--padding-G));
}

.margin-F {
    min-height: var(--margin-F);
    height: var(--margin-F);
}

.margin-H {
    min-height: var(--margin-H);
    height: var(--margin-H);
}

.content-tab {
    display: flex;
    flex-direction: column;
    overflow: hidden overlay;
    flex: 1;
}

.pin-location {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--margin-C);
    margin-top: var(--margin-F);
    width: 100%;
}

    .pin-location .card-5 {
        border-radius: var(--border-radius-D);
    }

.card-1 {
    display: flex;
    flex-direction: column;
    padding: var(--padding-G);
    border-bottom: var(--border-A);
    width: calc(100% - 2*var(--padding-G));
}

    .card-1 .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: var(--margin-D);
        display: flex;
        align-items: center;
    }

        .card-1 .title :first-child {
            flex: 1;
        }

    .card-1 .title-small {
        font-size: 11px;
        /*font-weight: 600;*/
        margin-bottom: var(--margin-F);
    }

    .card-1 .title-medium {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: var(--margin-F);
    }

    .card-1 .discription {
        font-size: var(--font-size-input);
        display: flex;
        align-items: center;
        line-height: 148%;
    }

    .card-1 .title-tab-expand {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        user-select: none;
    }

        .card-1 .title-tab-expand .tab {
            flex: 1;
        }

        .card-1 .title-tab-expand > :last-child {
            margin-left: var(--margin-D);
        }

        .card-1 .title-tab-expand > :first-child {
            margin-right: var(--margin-D);
        }

        .card-1 .title-tab-expand > div {
            display: flex;
            align-items: center;
        }

            .card-1 .title-tab-expand > div > :first-child {
                margin-right: 0;
            }

            .card-1 .title-tab-expand > div .tab-icon-text {
                padding: var(--padding-A);
            }

                .card-1 .title-tab-expand > div .tab-icon-text > div {
                    font-size: var(--font-size-10);
                    margin: 0 var(--margin-D);
                }

        .card-1 .title-tab-expand .icon {
            padding: var(--padding-C);
        }

        .card-1 .title-tab-expand .non-interactive {
            padding: 0;
            pointer-events: none;
        }

        .card-1 .title-tab-expand svg {
            width: 12px;
            height: 12px;
            fill: var(--primary-color);
        }

        .card-1 .title-tab-expand .expand {
            cursor: pointer;
        }

.card-2 {
    background-color: var(--air-50);
    border-radius: var(--border-radius-E);
    margin-top: var(--margin-G);
    fill: var(--white);
    color: var(--white);
}

    .card-2 > :nth-child(2) {
        padding: var(--padding-C) var(--padding-C) var(--padding-E) var(--padding-C) !important;
    }

    .card-2 .row-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding-B) var(--padding-E);
    }

        .card-2 .row-card .tab-icon-text {
            margin: 0;
            background-color: transparent;
            pointer-events: none;
            /*color: var(--white);*/
            padding: var(--padding-C) 0;
        }

            .card-2 .row-card .tab-icon-text .icon-svg {
                width: 12px;
                height: 12px;
            }

        .card-2 .row-card .ilustrtion {
            padding: 0 var(--padding-F);
        }

        .card-2 .row-card .info-number {
            display: flex;
            flex-direction: column;
            padding: 0 var(--padding-F);
            flex: 1;
            border-left: var(--border-B);
        }

            .card-2 .row-card .info-number .title {
                font-size: var(--font-size-10);
                font-weight: 400;
                opacity: 0.6;
            }

            .card-2 .row-card .info-number .number {
                font-size: 24;
                font-weight: 600;
                display: flex;
                align-items: baseline;
            }

                .card-2 .row-card .info-number .number > div {
                    font-family: 'Polar';
                }

                .card-2 .row-card .info-number .number .unit {
                    font-size: var(--font-size-10);
                    font-weight: 400;
                    opacity: 0.6;
                    margin-left: var(--margin-C);
                }

    .card-2 .bg-1 {
        background-color: var(--white-20);
    }

    .card-2 .border-top {
        border: 1px solid var(--white-20);
    }

    .card-2 .italic {
        font-style: italic;
    }

        .card-2 .italic > div > span {
            font-size: 12px;
        }

.card-3 {
    margin-top: var(--margin-G);
    display: flex;
    padding: var(--padding-G) var(--padding-F);
    border-radius: var(--border-radius-E);
}

    .card-3 .icon {
        border-radius: var(--border-radius-X);
        height: fit-content;
        margin-right: var(--margin-H);
    }

    .card-3 .content {
        filter: brightness(0.5);
    }

.card-5 {
    background-color: var(--air-50);
    color: var(--white);
    padding: var(--padding-D);
}

    .card-5 .location-name {
        display: flex;
        align-items: center;
        font-size: var(--font-size-input);
        font-weight: 600;
        margin-bottom: var(--margin-C);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .card-5 .location-name :first-child {
            flex: 1;
        }

    .card-5 .icon {
        transform: scale(0);
        transition: var(--transition-1);
    }

    .card-5 .non-interactive {
        padding: 0;
        fill: var(--white);
    }

    .card-5 .infor {
        display: flex;
    }

    .card-5 .no,
    .card-5 .aqi-number {
        opacity: 0.6;
        font-size: var(--font-size-10);
        margin-right: var(--margin-B);
    }

    .card-5:hover .icon {
        transform: scale(1);
        transition: var(--transition-1);
    }

.air-50 > *:first-child {
    background-color: var(--air-50);
}

.air-50 > *:last-child {
    color: var(--air-50);
    background-color: rgba(var(--color-50), 0.2);
    border: 1px solid rgba(var(--color-50), 0.3);
}

    .air-50 > *:last-child .icon {
        background-color: rgba(var(--color-50), 0.6);
        color: var(--white);
    }

.gray-style {
    background-color: var(--gray-80);
    color: var(--primary-text);
}

    .gray-style .icon {
        background-color: var(--gray-300);
        color: var(--white);
    }

.green-style-text {
    color: var(--air-50);
}

.green-bg {
    background-color: var(--air-50);
    color: var(--white);
}

.table {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    .table .header-table {
        display: flex;
        padding: var(--padding-F) var(--padding-B);
    }

    .table .item {
        display: flex;
        align-items: center;
        font-size: var(--font-size-input);
        color: var(--gray);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }

        .table .item svg {
            fill: currentColor;
            cursor: pointer;
        }

    .table .content-table {
        overflow: hidden overlay;
        flex: 1;
    }

    .table .row-table {
        display: flex;
        align-items: center;
        font-size: var(--font-size-input);
        border-top: var(--border-A);
        padding: var(--padding-C);
        font-weight: 500;
    }

        .table .row-table > div {
            display: flex;
            align-items: center;
        }

            .table .row-table > div .icon {
                padding: var(--padding-C);
                font-size: 16px;
            }

                .table .row-table > div .icon.active {
                    color: var(--primary-color);
                    background-color: transparent;
                }

            .table .row-table > div .tab-icon-text {
                padding: var(--padding-B);
                margin: 0;
                width: fit-content;
                pointer-events: none;
            }

        .table .row-table:hover {
            background-color: var(--gray-10);
            transition: var(--transition-1);
        }

    .table .col-24 {
        width: var(--col-24);
    }

    .table .col-32 {
        width: var(--col-32);
    }

    .table .col-48 {
        width: var(--col-48);
    }

    .table .col-56 {
        width: var(--col-56);
    }

    .table .flex-1 {
        flex: 1;
    }

    .table .justify-end {
        justify-content: end;
    }

    .table .justify-start {
        justify-content: start;
    }

.paging {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-B);
}

    .paging .number {
        display: flex;
        align-items: center;
    }

        .paging .number .page {
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size-10);
            background-color: var(--gray-80);
            color: var(--gray);
            border-radius: var(--border-radius-X);
            margin: 0 var(--margin-C);
        }

            .paging .number .page.active {
                color: var(--white);
                background-color: var(--primary-color);
            }

            .paging .number .page:hover {
                background-color: var(--primary-color-10) !important;
                color: var(--primary-color) !important;
                transition: var(--transition-1);
            }

            .paging .number .page.active {
                background-color: var(--primary-color);
                color: var(--white);
            }

.popup-infor-container:hover .popup-infor {
    display: flex;
}

.popup-infor-container .popup-infor {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: calc(100% + var(--margin-D));
    left: 0;
    width: 100%;
    filter: drop-shadow(var(--box-shadow));
}

    .popup-infor-container .popup-infor .content {
        display: flex;
        background-color: var(--white);
        color: var(--primary-text);
        border-radius: var(--border-radius-F);
        padding: var(--padding-F);
        width: var(--width-popup-infor);
    }

        .popup-infor-container .popup-infor .content span {
            color: var(--primary-color);
            margin-right: var(--margin-H);
            line-height: 24px;
        }

        .popup-infor-container .popup-infor .content .title-medium {
            font-size: 13px;
            font-weight: 600;
            margin: var(--margin-C) 0;
        }

        .popup-infor-container .popup-infor .content .discription {
            font-size: var(--font-size-input);
            display: flex;
            align-items: center;
            line-height: 148%;
            color: var(--gray);
        }

.popup-infor-container:hover .popup-infor {
    display: flex;
}

.popup-infor-container .popup-infor {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: calc(100% + var(--margin-D));
    left: 0;
    width: 100%;
    filter: drop-shadow(var(--box-shadow));
}

    .popup-infor-container .popup-infor .content {
        background-color: var(--white);
        color: var(--primary-text);
        border-radius: var(--border-radius-F);
        padding: var(--padding-F);
        width: var(--width-popup-infor);
    }

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: var(--left-menu);
    margin: var(--margin-K);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: calc(100vh - 2*var(--margin-K));
}

.menu-search {
    display: flex;
    align-items: center;
    padding: var(--padding-B);
    background-color: var(--white);
    border-radius: var(--border-radius-E);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

    .menu-search .icon {
        padding: var(--padding-E);
    }

    .menu-search .search {
        flex: 1;
        font-size: var(--font-size-input);
        line-height: var(--line-height-input);
        border: none;
        padding: 0;
        margin: 0;
        height: 100%;
        outline: unset;
    }

    .menu-search .show-in-searching {
        display: none;
    }

    .menu-search .show-search {
        display: block !important;
    }

    .menu-search .hide-search {
        display: none;
    }

.menu-container {
    position: relative;
}

#menu-toggle:not(checked) ~ .menu-content {
    display: none;
}

#menu-toggle:checked ~ .menu-content {
    display: flex;
}

#setting-toggle:not(checked) ~ .popup-setting {
    display: none;
}

#setting-toggle:checked ~ .popup-setting {
    display: flex;
}

#login-toggle:not(checked) ~ .popup-login {
    display: none;
}

#login-toggle:checked ~ .popup-login {
    display: flex;
}

.menu-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: var(--left-menu);
    background-color: var(--white);
    border-radius: var(--border-radius-E);
    box-shadow: var(--box-shadow);
    top: calc(100% + 2*var(--padding-B));
    left: calc(-1*var(--padding-B));
    z-index: 2;
    color: var(--primary-text);
}

    .menu-content .title {
        font-size: 18px;
        font-weight: 600;
        margin-left: var(--margin-D);
        display: flex;
        align-items: center;
    }

    .menu-content > div {
        display: flex;
        align-items: center;
        padding: var(--padding-B) var(--padding-D);
        justify-content: space-between;
    }

        .menu-content > div .icon {
            font-size: var(--font-size-input);
        }

            .menu-content > div .icon > span {
                margin-left: var(--margin-F);
            }

    .menu-content .item-menu {
        flex: 1;
        height: 28px;
        margin: 0 var(--margin-C);
        padding: var(--padding-H) var(--padding-F);
        background-color: var(--gray-100);
        display: flex;
        align-items: center;
        border-radius: var(--border-radius-D);
        font-size: var(--font-size-input);
        font-weight: 500;
        cursor: pointer;
    }

        .menu-content .item-menu > span {
            margin-right: var(--margin-F);
            font-size: var(--font-size-B);
        }

        .menu-content .item-menu > div {
            display: flex;
            flex-direction: column;
        }

            .menu-content .item-menu > div > div {
                font-size: var(--font-size-10);
                font-weight: 400;
                line-height: 148%;
                color: var(--gray);
            }

        .menu-content .item-menu.active {
            background-color: var(--primary-color);
            color: var(--white);
        }

            .menu-content .item-menu.active:hover {
                background-color: var(--primary-color-hover);
            }

        .menu-content .item-menu:hover {
            background-color: var(--gray-200);
        }

.pop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: var(--border-radius-D);
    font-size: var(--font-size-input);
    font-weight: 400;
    padding: var(--padding-E);
    margin: 0 var(--margin-C) var(--margin-E) var(--margin-C);
    white-space: nowrap;
    cursor: pointer;
}

    .pop-btn:hover {
        background-color: var(--primary-color-hover);
        transition: var(--transition);
    }

    .pop-btn.inactive {
        background-color: var(--gray-200);
        color: var(--primary-text);
    }

select {
    width: auto;
    padding: 12px 32px 12px 16px;
    border: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="9.419" y1="0.469661" x2="4.46925" y2="5.41941" stroke="%23999" stroke-width="1.5"/><line x1="5.53022" y1="5.4194" x2="0.580469" y2="0.469651" stroke="%23999" stroke-width="1.5"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
    background-size: 10px 6px;
    color: var(--gray);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: var(--font-size-input);
    font-weight: 400;
    outline: none;
}

.main-popup {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin-top: var(--margin-G);
    border-radius: var(--border-radius-E);
    height: calc(var(--icon-svg) + 2*var(--padding-F) + 2px);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

    .main-popup.active {
        height: 100%;
        transition: var(--transition);
    }

        .main-popup.active .tab-icon-line > .tab > .line-status {
            background-color: var(--gray-50);
        }

.map-control {
    display: flex;
    flex-direction: column;
    margin: var(--margin-K);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

    .map-control .zoom-control {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: var(--border-radius-X);
        box-shadow: var(--box-shadow);
        overflow: hidden;
    }

        .map-control .zoom-control .icon:hover {
            border-radius: var(--border-radius-X);
            box-shadow: inset 0px 0px 0px 1px var(--primary-color-50);
        }

    .map-control .infor-control {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: var(--border-radius-X);
        margin-top: var(--margin-G);
        box-shadow: var(--box-shadow);
        overflow: visible;
    }

        .map-control .infor-control .icon:hover {
            border-radius: var(--border-radius-X);
            box-shadow: inset 0px 0px 0px 1px var(--primary-color-50);
        }

        .map-control .infor-control .badge {
            position: absolute;
            background-color: var(--air-200);
            color: var(--white);
            width: 16px;
            height: 16px;
            border-radius: var(--border-radius-X);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size-10);
            top: -4px;
            right: -4px;
        }

    .map-control .popup-fixed svg {
        margin-top: 107px;
    }

    .map-control .popup-fixed .noti-popup-content {
        top: 0;
        position: fixed;
        transform: translateY(-115px);
        align-items: flex-start;
    }

#info-popup-toggle:not(checked) ~ .noti-popup-content {
    display: none;
}

#info-popup-toggle:checked ~ .noti-popup-content {
    display: flex;
}

#noti-popup-toggle:not(checked) ~ .noti-popup-content {
    display: none;
}

#noti-popup-toggle:checked ~ .noti-popup-content {
    display: flex;
}

.noti-popup-content {
    position: absolute;
    right: calc(100% + 4px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    filter: drop-shadow(var(--box-shadow));
}

    .noti-popup-content .content {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        color: var(--primary-text);
        border-radius: var(--border-radius-G);
        padding: var(--padding-H);
        width: calc(var(--left-menu) - 2*var(--padding-G));
    }

        .noti-popup-content .content .header-popup {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: var(--font-size-B);
            font-weight: 600;
            padding: var(--padding-C) 0;
        }

            .noti-popup-content .content .header-popup > div {
                display: flex;
                align-items: center;
            }

                .noti-popup-content .content .header-popup > div > div,
                .noti-popup-content .content .header-popup > div span {
                    color: var(--primary-color);
                    font-size: var(--font-size-input);
                    font-weight: 400;
                    margin-left: var(--margin-D);
                    cursor: pointer;
                }

                .noti-popup-content .content .header-popup > div > span {
                    font-size: var(--font-size-B);
                }

        .noti-popup-content .content .item-noti {
            display: flex;
            align-items: center;
            border-top: var(--border-A);
            padding-top: var(--padding-F);
            margin-top: var(--margin-F);
        }

            .noti-popup-content .content .item-noti.seen .status {
                background-color: var(--gray-200);
            }

            .noti-popup-content .content .item-noti.seen .font-icon-bell {
                background-color: var(--gray-50);
                color: var(--gray-300);
            }

            .noti-popup-content .content .item-noti.seen > div {
                opacity: 0.5;
            }

            .noti-popup-content .content .item-noti .status {
                min-width: 6px;
                min-height: 6px;
                border-radius: var(--border-radius-X);
                background-color: var(--air-200);
            }

            .noti-popup-content .content .item-noti .font-icon-bell {
                padding: var(--padding-F);
                border-radius: var(--border-radius-X);
                background-color: rgba(var(--color-200), 0.1);
                margin: 0 var(--margin-H) 0 var(--margin-E);
                color: rgba(var(--color-200), 1);
            }

            .noti-popup-content .content .item-noti > div > span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: var(--margin-B);
            }

                .noti-popup-content .content .item-noti > div > span > span {
                    font-size: var(--font-size-10);
                    color: var(--gray-300);
                }

            .noti-popup-content .content .item-noti > div .title-medium {
                font-size: 13px;
                font-weight: 600;
                margin: var(--margin-C) 0;
            }

            .noti-popup-content .content .item-noti > div .discription {
                font-size: var(--font-size-input);
                display: flex;
                align-items: center;
                line-height: 148%;
                color: var(--gray);
            }

/*time-slider*/
.time-slider {
    display: flex;
    align-items: flex-end;
    padding: var(--margin-K);
    position: fixed;
    bottom: 0;
    left: calc(var(--left-menu) + var(--margin-K));
    width: calc(100% - var(--left-menu) - 3*var(--margin-K));
    z-index: 4;
    overflow: visible;
    height: 0px;
}

    .time-slider .slider-container {
        display: flex;
        align-items: center;
        flex: 1;
        margin-right: var(--margin-K);
        padding: var(--padding-H) var(--padding-G);
        background-color: var(--white-50);
        border-radius: var(--border-radius-E);
        backdrop-filter: blur(10px);
        height: fit-content;
    }

        .time-slider .slider-container .play-btn {
            display: flex;
            align-items: center;
            background-color: var(--white);
            border-radius: var(--border-radius-X);
            overflow: hidden;
            width: fit-content;
        }

            .time-slider .slider-container .play-btn .time-selected {
                font-size: var(--font-size-10);
                font-weight: 500;
            }

            .time-slider .slider-container .play-btn .icon {
                padding: var(--padding-D);
            }

        .time-slider .slider-container .slider {
            flex: 1;
            height: fit-content;
            position: relative;
            margin: 0 0 0 var(--margin-K);
        }

            .time-slider .slider-container .slider .slider-bg,
            .time-slider .slider-container .slider .slider-step,
            .time-slider .slider-container .slider .slider-run {
                border-radius: var(--border-radius-X);
                position: absolute;
                top: 0;
                right: 0;
                height: 4px;
            }

            .time-slider .slider-container .slider .slider-bg {
                width: 100%;
                background-color: var(--gray-300);
            }

            .time-slider .slider-container .slider .slider-run {
                background-color: var(--primary-color);
                position: relative;
                pointer-events: none;
            }

                .time-slider .slider-container .slider .slider-run .point-drag {
                    width: 10px;
                    height: 10px;
                    background-color: var(--primary-color);
                    border: 2px solid var(--white);
                    border-radius: var(--border-radius-X);
                    position: absolute;
                    right: 0;
                    top: -5px;
                    transform: translateX(50%);
                    pointer-events: all;
                    cursor: pointer;
                }

                    .time-slider .slider-container .slider .slider-run .point-drag .time-label {
                        font-size: 10px;
                        white-space: nowrap;
                        transform: translate(-50px, -150%);
                    }

            .time-slider .slider-container .slider .slider-step {
                color: var(--primary-text);
                width: 100%;
                font-size: var(--font-size-10);
                font-weight: 500;
                display: flex;
                justify-content: space-around;
                cursor: pointer;
            }

                .time-slider .slider-container .slider .slider-step .tick {
                    opacity: 1.0;
                }

                .time-slider .slider-container .slider .slider-step svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .time-slider .slider-container .slider .slider-step .step {
                    height: 100%;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }

                    .time-slider .slider-container .slider .slider-step .step .line {
                        height: 100%;
                        width: 2px;
                        background-color: var(--white-80);
                    }

                    .time-slider .slider-container .slider .slider-step .step .time {
                        position: absolute;
                        bottom: calc(-100% - var(--padding-G));
                        opacity: 0.6;
                    }
/*legend time-slider*/
.note {
    display: flex;
    height: 120px;
    padding: var(--padding-F);
    background-color: var(--white-50);
    border-radius: var(--border-radius-E);
    backdrop-filter: blur(10px);
}

    .note .line {
        width: 4px;
        height: 100%;
        background: linear-gradient(to top, var(--air-301), var(--air-300), var(--air-200), var(--air-150), var(--air-100), var(--air-50));
        margin-right: var(--margin-D);
    }

    .note .number {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: var(--primary-text);
        font-size: var(--font-size-10);
        font-weight: 500;
        opacity: 0.6;
    }

.full-width {
    width: calc(100% - 2*var(--margin-K)) !important;
    transition: var(--transition-1);
    left: 0;
}

.overlay-bottom {
    height: 100px;
    width: calc(100%) !important;
    background-image: linear-gradient(360deg, #cad2d3, #cad2d300);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.filter {
    display: flex;
    margin: var(--margin-K);
    padding: var(--padding-A);
    border-radius: var(--border-radius-X);
    position: fixed;
    top: var(--padding-B);
    left: calc(var(--left-menu) + var(--margin-K));
    z-index: 2;
}

    .filter > div {
        box-shadow: var(--box-shadow);
        background-color: var(--white);
    }

    .filter > :last-child,
    .filter > :first-child {
        margin: 0;
    }

.popup-login > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--left-menu);
}

    .popup-login > div > div > * {
        margin-bottom: var(--margin-I);
    }

    .popup-login > div > div .title-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .popup-login > div > div .title-login .title {
            font-size: 20px;
            font-weight: 600;
            margin: var(--margin-F) 0 var(--margin-D) 0;
            display: flex;
            align-items: center;
        }

            .popup-login > div > div .title-login .title :first-child {
                flex: 1;
            }

        .popup-login > div > div .title-login .discription {
            font-size: var(--font-size-input);
            display: flex;
            align-items: center;
            line-height: 148%;
            color: var(--primary-text);
        }

    .popup-login > div > div .tab-login {
        display: flex;
        justify-content: center;
    }

        .popup-login > div > div .tab-login .active {
            background-color: var(--primary-text);
        }

    .popup-login > div > div .form-login {
        width: calc(100% - 2*var(--margin-G));
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup-login > div > div .form-login .btn-popup {
        display: flex;
        width: 100%;
    }

    .popup-login > div > div .form-login .btn-popup .pop-btn {
        flex: 1;
        width: fit-content;
        background-color: var(--gray);
        margin: 0 var(--margin-C) 0 0;
    }

    .popup-login > div > div .input-submit {
        width: calc(100%);
        font-size: var(--font-size-A);
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: var(--border-radius-D);
        font-size: var(--font-size-input);
        font-weight: 400;
        padding: var(--padding-E);
        margin: 0;
        white-space: nowrap;
        cursor: pointer;
    }

        .popup-login > div > div .input-submit:hover {
            background-color: var(--primary-color-hover) !important;
            color: var(--white) !important;
            transition: var(--transition-1);
        }

    .popup-login > div > div .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: var(--border-D);
        border-radius: var(--border-radius-F);
        margin-bottom: var(--margin-I);
        background-color: var(--gray-10);
    }

        .popup-login > div > div .input-container > div {
            border-bottom: var(--border-D);
        }

        .popup-login > div > div .input-container > *:last-child {
            border: none;
        }

    .popup-login > div > div .input {
        display: flex;
        align-items: center;
        padding: var(--padding-H);
    }

        .popup-login > div > div .input [class^="font-icon-"],
        .popup-login > div > div .input [class*=" font-icon-"] {
            font-size: var(--font-size-B);
        }

        .popup-login > div > div .input > div {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

            .popup-login > div > div .input > div .input-label {
                font-size: var(--font-size-input);
                display: flex;
                align-items: center;
                line-height: 148%;
                color: var(--gray);
                margin-bottom: var(--margin-D);
                user-select: none;
            }

            .popup-login > div > div .input > div input {
                flex: 1;
                font-size: var(--font-size-A);
                font-weight: 400;
                line-height: var(--line-height-input-login);
                background-color: transparent;
                border: none;
                padding: 0;
                margin: 0;
                outline: unset;
            }

    .popup-login > div > div .check-done > span {
        color: var(--air-50);
    }

    .popup-login > div > div .check-false > span {
        color: var(--air-150);
    }

    .popup-login > div > div .login-information {
        display: flex;
        font-size: var(--font-size-input);
        align-items: center;
        justify-content: center;
        line-height: 148%;
        color: var(--gray);
    }

        .popup-login > div > div .login-information .link {
            margin-left: var(--margin-C);
            color: var(--primary-color);
        }

    .popup-login > div > div .more-option {
        display: flex;
        align-items: center;
    }

        .popup-login > div > div .more-option .icon {
            background-color: var(--gray-100);
            border-radius: var(--border-radius-X);
        }

        .popup-login > div > div .more-option > div {
            margin-left: var(--margin-F);
        }

        .popup-login > div > div .more-option > *:first-child {
            margin: 0;
        }

    .popup-login > div > div .login-alert {
        padding: var(--padding-F);
        width: calc(100% - 2*var(--padding-F));
        font-size: var(--font-size-input);
        border-radius: var(--border-radius-X);
        background-color: #f100000d;
        border: 1px solid var(--air-200);
        display: flex;
        align-items: center;
        color: var(--air-200);
        margin-bottom: var(--margin-I);
    }

        .popup-login > div > div .login-alert .icon-input {
            margin-right: var(--margin-F);
            fill: currentColor;
        }

    .popup-login > div > div .icon-input {
        width: 16px;
        height: 16px;
    }

.logo {
    position: fixed;
    top: var(--padding-H);
    padding: var(--padding-C);
    right: calc(4*var(--padding-H));
    z-index: 1;
}

.apexcharts-canvas .apexcharts-text {
    font-size: 10px;
    font-weight: 400;
    fill: var(--gray);
}

.apexcharts-canvas .apexcharts-gridline {
    stroke: #EFEFEF;
}

body.dark .apexcharts-canvas .apexcharts-gridline {
    stroke: #272B30 !important;
}

.apexcharts-canvas .apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-canvas .apexcharts-ycrosshairs.apexcharts-active {
    stroke: rgba(111, 118, 126, 0.5);
}

.apexcharts-canvas .apexcharts-marker {
    stroke-width: 0;
}

.apexcharts-canvas .apexcharts-tooltip {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #000000;
}

.apexcharts-canvas .apexcharts-tooltip-title {
    margin-bottom: 8px;
    padding: 0;
}

.apexcharts-canvas .apexcharts-tooltip-series-group {
    background: none !important;
    padding: 0 !important;
}

.apexcharts-canvas .apexcharts-tooltip-y-group {
    padding: 0;
}

.apexcharts-canvas .apexcharts-tooltip-marker {
    margin-right: 4px;
    border-radius: 4px;
}

.apexcharts-canvas .apexcharts-tooltip-text {
    font-weight: 600;
    color: #FCFCFC;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light {
    border-color: rgba(255, 255, 255, 0.12);
    background: #272B30;
}

    .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
        background: none;
        border: none;
        color: #EFEFEF;
    }

.apexcharts-canvas .apexcharts-legend.position-bottom.apexcharts-align-center,
.apexcharts-canvas .apexcharts-legend.position-top.apexcharts-align-center {
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .apexcharts-canvas .apexcharts-legend.position-bottom.apexcharts-align-center,
    .apexcharts-canvas .apexcharts-legend.position-top.apexcharts-align-center {
        justify-content: center;
    }
}

.apexcharts-canvas .apexcharts-legend-marker {
    border-radius: 4px !important;
}

.apexcharts-canvas .apexcharts-legend-series {
    margin-top: 6px !important;
}

.apexcharts-canvas .apexcharts-legend-text {
    font-weight: 600 !important;
    color: #1A1D1F !important;
}

.menubar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-E) var(--padding-H);
    color: var(--white);
    background-color: var(--primary-text);
}

    .menubar > div {
        display: flex;
        align-items: center;
        font-size: var(--font-size-A);
    }

        .menubar > div > svg {
            margin: 0 var(--margin-H);
        }

.dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--white-20);
    border-radius: var(--border-radius-D);
    margin-left: var(--margin-E);
}

    .dropdown .icon {
        padding: var(--padding-E);
    }

    .dropdown select {
        background-color: transparent;
        color: var(--white);
        padding-left: 0;
        cursor: pointer;
    }

    .dropdown > span {
        font-size: var(--font-size-input);
        margin-left: var(--margin-F);
        font-weight: 400;
    }

    .dropdown.active {
        background-color: var(--primary-color);
    }

        .dropdown.active:hover {
            transition: var(--transition);
            background-color: var(--primary-color-hover);
        }

    .dropdown:hover {
        transition: var(--transition);
        background-color: var(--white-30);
    }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-text);
    padding: calc(3*var(--padding-H));
    color: var(--white-80);
    font-size: var(--font-size-A);
}

    .footer .footer-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: var(--margin-I);
        border-bottom: 1px solid var(--white-20);
    }

        .footer .footer-menu > div {
            display: flex;
            align-items: center;
        }

            .footer .footer-menu > div .pop-btn {
                background-color: transparent;
                margin: 0 0 0 var(--margin-F);
                font-weight: 400;
                font-size: var(--font-size-input);
                color: var(--white-50);
            }

                .footer .footer-menu > div .pop-btn:hover {
                    background-color: var(--white-20);
                }

    .footer .footer-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--margin-I);
    }

        .footer .footer-copyright > div {
            display: flex;
            align-items: center;
        }

            .footer .footer-copyright > div .icon {
                font-size: 20px;
                margin-left: var(--margin-F);
            }

            .footer .footer-copyright > div .pop-btn {
                background-color: transparent;
                margin: 0 0 0 var(--margin-F);
                color: var(--white-80);
                font-weight: 400;
            }

                .footer .footer-copyright > div .pop-btn:hover {
                    background-color: var(--white-20);
                }

    .footer > div {
        display: flex;
        flex-direction: column;
    }

.maxwidth-desktop {
    width: 1024px;
    max-width: 1024px;
}

.bg-gray {
    background-color: var(--gray-10);
}

.layout-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px repeat(2, calc(50vh - 29px - 2*var(--margin-H) - 50px));
    /*grid-template-rows: auto repeat(2, 1fr);*/
    grid-column-gap: var(--margin-H);
    grid-row-gap: var(--margin-H);
    padding: var(--padding-H);
}

    .layout-dashboard > :nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .layout-dashboard > :nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .layout-dashboard > :nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
    }

    .layout-dashboard > :nth-child(4) {
        grid-area: 1 / 4 / 2 / 5;
    }

    .layout-dashboard > :nth-child(5) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .layout-dashboard > :nth-child(6) {
        grid-area: 2 / 2 / 3 / 5;
    }

    .layout-dashboard > :nth-child(7) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .layout-dashboard > :nth-child(8) {
        grid-area: 3 / 2 / 4 / 5;
    }

    .layout-dashboard .fill-map {
        grid-area: 2 / 2 / 4 / 5;
    }

.card-6 {
    background-color: var(--white);
    border-radius: var(--border-radius-D);
    padding: var(--padding-H) var(--padding-H) 0;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-A);
    border-bottom: 2px solid transparent;
    position: relative;
}

    .card-6 > :first-child {
        margin-bottom: var(--margin-H);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        color: var(--gray);
    }

        .card-6 > :first-child > div > div {
            font-size: var(--font-size-10);
        }

    .card-6 > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .card-6 > div > div {
            display: flex;
            align-items: center;
        }

            .card-6 > div > div span {
                margin-right: var(--margin-D);
            }

    .card-6 .district-info {
        display: flex;
        align-items: center;
    }

        .card-6 .district-info .district-number {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-right: var(--margin-C);
        }

        .card-6 .district-info .district {
            font-weight: 400;
            color: var(--gray);
            font-size: var(--font-size-input);
            margin-top: var(--margin-C);
        }

    .card-6 .percent-info {
        font-size: var(--font-size-input);
    }

        .card-6 .percent-info span {
            color: var(--white);
            background-color: var(--air-50);
            padding: var(--padding-A);
            border-radius: var(--border-radius-X);
        }

        .card-6 .percent-info .percent {
            margin-right: var(--margin-C);
            font-weight: bold;
        }

        .card-6 .percent-info .compare-for {
            color: var(--gray);
            font-weight: 400;
        }

    .card-6:hover {
        z-index: 1;
        transition: var(--transition);
        border-bottom: 2px solid var(--primary-color);
        border-radius: var(--border-radius-D) var(--border-radius-D) 0 0;
        box-shadow: 0 10px 30px #00000015;
    }

.card-7 {
    background-color: var(--white);
    border-radius: var(--border-radius-D);
    padding: var(--padding-K);
    border-bottom: 2px solid transparent;
    overflow: hidden;
}

    .card-7 > :first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size-A);
        font-weight: 500;
    }

        .card-7 > :first-child .icon {
            background-color: var(--gray-10);
        }

        .card-7 > :first-child > div {
            display: flex;
            align-items: center;
        }

            .card-7 > :first-child > div div {
                margin-left: var(--margin-E);
            }

                .card-7 > :first-child > div div span {
                    color: var(--primary-color);
                }

    .card-7:hover {
        z-index: 1;
        transition: var(--transition);
        border-bottom: 2px solid var(--primary-color);
        border-radius: var(--border-radius-D) var(--border-radius-D) 0 0;
        box-shadow: 0 10px 30px #00000015;
    }

.map-bg {
    position: relative;
}

    .map-bg #map {
        right: 0;
    }

    .map-bg > :first-child {
        position: absolute;
        z-index: 2;
        top: var(--padding-K);
        right: var(--padding-K);
        width: calc(100% - 2*var(--padding-K));
    }

        .map-bg > :first-child .icon {
            background-color: var(--white);
        }

.location-selected {
    position: absolute;
    z-index: 2;
    width: calc(100% - 2*var(--padding-K));
    bottom: var(--padding-K);
    right: var(--padding-K);
}

    .location-selected > span {
        font-size: var(--font-size-input);
        border-radius: var(--border-radius-D);
        padding: var(--padding-F);
    }

.chart-height {
    height: 100%;
}

.container-scroll {
    display: flex;
    flex-direction: column;
    overflow: hidden overlay;
    height: calc(100vh - 58px);
}

.login-overlay {
    top: 0 !important;
    left: 0 !important;
}

.popup-overlay {
    background-color: var(--overlay-popup);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: calc(-1*var(--margin-K));
    left: calc(-1*var(--margin-K));
}

    .popup-overlay input {
        flex: 1;
        font-size: var(--font-size-input);
        line-height: var(--line-height-input);
        border: none;
        padding: 0;
        margin: 0;
        height: 100%;
        outline: unset;
    }

    .popup-overlay .popup-container {
        width: var(--popup-register);
        background-color: var(--white);
        border-radius: var(--border-radius-E);
        padding: var(--padding-D);
        display: flex;
        color: var(--primary-text);
        overflow: hidden;
    }

        .popup-overlay .popup-container .popup {
            min-width: var(--left-menu);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .popup-overlay .popup-container .popup > div {
                width: calc(100% - 2*var(--margin-F));
                margin-bottom: var(--margin-H);
            }

            .popup-overlay .popup-container .popup > :first-child {
                margin-top: var(--margin-D);
            }

            .popup-overlay .popup-container .popup > :last-child {
                margin-bottom: var(--margin-F);
            }

            .popup-overlay .popup-container .popup .popup-content {
                display: flex;
                flex-direction: column;
            }

                .popup-overlay .popup-container .popup .popup-content .item-setting {
                    border: var(--border-D);
                    border-radius: var(--border-radius-F);
                    background-color: var(--gray-10);
                    align-items: center;
                    padding: var(--padding-H);
                    margin-top: var(--margin-F);
                    display: flex;
                }

                    .popup-overlay .popup-container .popup .popup-content .item-setting.active {
                        border: 1px solid var(--primary-color-50);
                        background-color: var(--primary-color-10);
                    }

                    .popup-overlay .popup-container .popup .popup-content .item-setting > span {
                        font-size: 20px;
                        color: var(--primary-color);
                    }

                    .popup-overlay .popup-container .popup .popup-content .item-setting > :nth-child(2) {
                        margin: 0 var(--margin-K);
                    }

                    .popup-overlay .popup-container .popup .popup-content .item-setting > div {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                    }

                        .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-discription {
                            font-size: var(--font-size-input);
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            line-height: 148%;
                            color: var(--gray);
                        }

                        .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-label {
                            flex: 1;
                            font-size: var(--font-size-A);
                            font-weight: 500;
                            line-height: var(--line-height-input-login);
                        }

                        .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select {
                            display: flex;
                            flex-direction: column;
                        }

                            .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div {
                                margin: var(--margin-D) 0;
                                display: flex;
                                align-items: center;
                                padding-top: var(--padding-F);
                            }

                                .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div > span {
                                    font-size: var(--font-size-input);
                                    font-weight: 500;
                                    flex: 1;
                                }

                                .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div > div {
                                    overflow: hidden;
                                    display: flex;
                                    flex: 1;
                                    margin-left: var(--margin-F);
                                }

                                    .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div > div > div {
                                        border-radius: var(--border-radius-X);
                                        flex: 1;
                                        font-size: var(--font-size-10);
                                        padding: var(--padding-C);
                                        font-weight: 400;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border: var(--border-C);
                                        margin-left: var(--margin-E);
                                        background-color: var(--white);
                                    }

                                        .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div > div > div:hover {
                                            border-color: var(--primary-color);
                                            color: var(--primary-color);
                                            transition: var(--transition);
                                        }

                                    .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div > div .active {
                                        border-color: var(--primary-color);
                                        color: var(--primary-color);
                                        background-color: var(--primary-color-10);
                                    }

                                        .popup-overlay .popup-container .popup .popup-content .item-setting > div .item-setting-select > div > div .active:hover {
                                            border-color: var(--primary-color-hover);
                                            color: var(--primary-color-hover);
                                            transition: var(--transition);
                                        }

                .popup-overlay .popup-container .popup .popup-content > :first-child {
                    margin-top: 0;
                }

            .popup-overlay .popup-container .popup .popup-header {
                display: flex;
                align-items: center;
                font-size: var(--font-size-B);
                font-weight: bold;
            }

                .popup-overlay .popup-container .popup .popup-header span {
                    margin-right: var(--margin-F);
                    font-size: 22px;
                    color: var(--primary-color);
                }

            .popup-overlay .popup-container .popup .popup-footer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--margin-E);
            }

                .popup-overlay .popup-container .popup .popup-footer .pop-btn {
                    margin: 0;
                    width: auto;
                }
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
/* The slider */
.slider-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-100);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .slider-btn:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

input:checked + .slider-btn {
    background-color: var(--primary-color);
}

input:focus + .slider-btn {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider-btn:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
/* Rounded sliders */
.slider-btn.round {
    border-radius: 34px;
}

    .slider-btn.round:before {
        border-radius: 50%;
    }

.outlined-text {
    /*-webkit-text-stroke: 1px #ccc;*/
    text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
}

g.highcharts-exporting-group {
    opacity: 10%;
}

.highcharts-exporting-group:hover {
    opacity: 80%;
}

.info-switch {
    position: absolute;
    right: 16px;
    top: 16px;
    color: var(--gray);
    cursor: pointer;
}

    .info-switch .info {
        position: absolute;
        visibility: hidden;
        width: 200px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 5px 5px 5px #eee;
        padding: var(--padding-H);
        transform: translate(-50%, 100%);
        font-weight: 300;
        font-style: italic;
    }

        .info-switch .info.last {
            transform: translate(-100%, 100%);
        }

    .info-switch:hover .info {
        visibility: visible;
    }

.languages {
    margin-top: 10px;
    text-align: center;
}

    .languages span {
        cursor: pointer;
        display: inline-block;
        width: 24px;
        height: 18px;
        background-size: cover;
        filter: grayscale(0.9) brightness(1.5);
        border: 2px solid gray;
    }

        .languages span[lang='vi'] {
            background-image: url('/theme/app-assets/images/svg/vn.svg');
        }

        .languages span[lang='en'] {
            background-image: url('/theme/app-assets/images/svg/gb.svg');
        }

    .languages .selected {
        text-decoration: underline;
        border: 2px solid blue;
        filter: none;
    }
