﻿@using Apom_User.Common
@{
    // default hanoi
    string provinceId = ViewData["province_id"] == null ? Constant.WebConfig.PROVINCE_DEFAULT : ViewData["province_id"].ToString();
    string suffixChartForecast = ViewData["ctrl_id"] == null ? "chart" : ViewData["ctrl_id"].ToString();
    string dailyaqiChart = String.Concat("dailyaqichart_", suffixChartForecast);
    string dailyconcenChart = String.Concat("dailyconcenchart_", suffixChartForecast);

    string strForecastTitle = Resources.Map.forecast_title;
    string strForecastDaysTitle = Resources.Map.forecast_aqi_title;
    string strForecastDaysTitle_No = Resources.Map.forecast_aqi_title_not_yet;
    string locationTitle = String.Concat("(", Resources.Map.location.ToLower(), ")");
    string langId = Apom_User.Common.SessionContext.Language;

    string aqi_development = Resources.Map.aqi_development_mobile;
    string pm25_development = Resources.Map.pm25_development_mobile;
}

<style>
    /*tab-forecast*/
    .header {
        text-align: center;
        margin: 20px 0;
    }

    .header-title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .btn-header-title {
        background-color: transparent;
        border: none;
    }

    .header-date {
        font-size: 0.9rem;
        color: #6c757d;
        font-weight: bold;
    }

    .aqi-card {
        background-color: yellow;
        border-radius: 8px;
        padding: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

        .aqi-card .aqi-value {
            font-size: 2rem;
            font-weight: bold;
        }

        .aqi-card .pm25-value {
            font-size: 1.2rem;
            /*color: #555;*/
        }

    .health-advice {
        background-color: #d9fbe5;
        /*border-left: 5px solid #4caf50;*/
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 171, 120, 0.3);
    }

    .forecast-table {
        margin-top: 8px;
    }

    .arrow-down {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        margin-bottom: 5px;
    }
    /*tab-forecast*/

</style>
<div class="container">
</div>
@*location*@
<div class="header">
    <!-- Dropdown Button -->
    <div class="dropdown">
        <button id="dropdownBtnSelectLocation" class="header-title btn-header-title" type="button" data-bs-toggle="modal" data-bs-target="#dropdownModalSelectLocation">
            <span class="text-select-location">
                <div class="spinner-border text-success"></div>
            </span>
            <span class="arrow-down"></span>
        </button>
        <div class="header-date map-forcast-date-now">Thứ năm, ngày 12 tháng 12 năm 2024</div>
    </div>

    <!-- Modal (Popup) -->
    <div class="modal fade" id="dropdownModalSelectLocation" tabindex="-1" aria-labelledby="dropdownModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dropdownModalLabel">@Resources.Administrator.select_location</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Dropdown Options -->
                    <ul class="list-group list-group-location">
                        @*<li class="list-group-item dropdown-item active" data-value="1">Hà Nội</li>
                            <li class="list-group-item dropdown-item" data-value="2">Nam Từ Liêm</li>
                            <li class="list-group-item dropdown-item" data-value="3">Hà Đông</li>
                            <li class="list-group-item dropdown-item" data-value="4">Thanh Xuân</li>
                            <li class="list-group-item dropdown-item" data-value="5">Đống Đa</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="header">
        <div class="header-title">Hà Nội</div>
        <div class="header-date map-forcast-date-now">Thứ năm, ngày 12 tháng 12 năm 2024</div>
    </div>*@

@*info*@
<div class="aqi-card">
    @*<div>Chất lượng không khí: Trung bình</div>*@
    <div>
        @Resources.Map.air_quality_curent_day:
        <span class="map-forecast-feature-air-quality-status"></span>
    </div>
    <div class="aqi-value">
        @*AQI: 74*@
        <div class="spinner-border text-success apom-loading1" style="font-size: 1.2rem;"></div>
    </div>
    <div class="pm25-value">
        @*PM 2.5: 37 (µg/m³)*@
        <div class="spinner-border text-success apom-loading2"></div>
    </div>
</div>

<div class="health-advice">
    <strong>@Resources.Map.health_advice</strong>
    <div class="discription map-forecast-feature-health-advice">
        <div class="spinner-border text-success apom-loading3"></div>
    </div>
</div>

@*forecast*@
<div>
    <div style="display: flex;">
        <div class="icon non-interactive" style="color: blue; margin-right: 8px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07" />
            </svg>
        </div>
        <strong class="forecast-info-title">Dự báo AQI trong 7 ngày tới</strong>
    </div>
    <div class="spinner-border text-success apom-loading4"></div>
    <table class="table table-bordered forecast-table">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>@Resources.Common.forecast_date</th>
                <th>AQI VN</th>
                <th>@Resources.Map.yesterday</th>
            </tr>
        </thead>
        <tbody class="ranking-forecast">
            @*<tr>
                    <td>1</td>
                    <td>Thứ Năm</td>
                    <td><span class="aqi-row-value">78.6</span></td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" />
                        </svg>
                        <span class="aqi-delta-value">40.6</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Thứ Sáu</td>
                    <td><span class="aqi-row-value">93.0</span></td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
                        </svg>
                        <span class="aqi-delta-value">39.1</span>
                    </td>
                </tr>*@
        </tbody>
    </table>
</div>

@*chart*@
<div class="card-1">
    @Html.Partial("/Views/Home/partial/_map_chart_feature_mobile.cshtml")
</div>
<script>
    var forcast_mobile = {
        administrative_id: '@provinceId',
        administrative_name: 'Hà Nội',
    };

    // get info admnistrative
    // api/administrative/administrative_province_district
    function getAdministrativeInfo() {
        var hostAPI = '@ViewBag.HostAPI';
        var urlRequestAdministrative = hostAPI + "@Constant.APIs.administrative_province_districts?province_id=@provinceId&lang_id=@langId";

        $.ajax({
            method: "GET",
            url: urlRequestAdministrative,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                //console.log(response.Data.comps);
                if (response.length > 0) {
                    let html = '';
                    for (let i = 0; i < response.length; i++) {
                        let { id, name, type } = response[i];
                        let classActive = '';
                        if (type === 'province') {
                            $('.text-select-location').text(name);
                            classActive = 'active';
                            forcast_mobile.administrative_name = name;
                        }
                        html += `<li class="list-group-item dropdown-item ${classActive}" data-value="${id}" data-type="${type}">${name}</li>`;
                    }
                    $('.list-group-location').html(html);

                    $('.dropdown-item').click(function () {
                        // Get the value of the clicked item
                        const selectedValue = $(this).data('value');
                        const selectedType = $(this).data('type');
                        const selectedText = $(this).text();

                        // Update the dropdown button text
                        $('#dropdownBtnSelectLocation .text-select-location').text(selectedText);
                        forcast_mobile.administrative_name = selectedText;

                        $('.dropdown-item').removeClass('active');
                        $(this).addClass('active');

                        // Close the modal
                        const modal = bootstrap.Modal.getInstance(document.getElementById('dropdownModalSelectLocation'));
                        modal.hide();

                        // render-chart, forcast
                        var properties = {
                            gcid: '63',
                            type_slider: 'day'
                        };
                        if (selectedType === 'province') {
                            viewChartDetailGeoTiff(properties, hostAPI, '@langId', '#@dailyaqiChart', '#@dailyconcenChart', true);
                        }
                        else {
                            viewChartDetailGeoTiff(properties, hostAPI, '@langId', '#@dailyaqiChart', '#@dailyconcenChart', false, selectedValue);
                        }
                        // chart-title
                        let chartTitleAQI = '@Html.Raw(aqi_development)'.replace('{x}', selectedText);
                        let chartTitlePM25 = '@Html.Raw(pm25_development)'.replace('{x}', selectedText);
                        $('.chart-title-aqi').text(chartTitleAQI);
                        $('.chart-title-pm25').text(chartTitlePM25);
                    });

                    // chart-title
                    let chartTitleAQI = '@Html.Raw(aqi_development)'.replace('{x}', $('.text-select-location').text());
                    let chartTitlePM25 = '@Html.Raw(pm25_development)'.replace('{x}', $('.text-select-location').text());
                    $('.chart-title-aqi').text(chartTitleAQI);
                    $('.chart-title-pm25').text(chartTitlePM25);
                }
            }
        });
    }

    function _showAPINow(dataAQI, dataComp) {
        let valAQI = dataAQI[1] ? dataAQI[1] : dataAQI['y'];
        let valComp = dataComp[1] ? dataComp[1] : dataComp['y'];
        valAQI = parseFloat(valAQI).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
        valComp = parseFloat(valComp).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);

        let aqiStatus = '', aqiDes = '';
        let bgColor = '', fontColor = '';
        let aqi_status = -1;

        // get bgColor, fontColor
        for (let j = 0; j < apomGis.Config.VNAQI.length; j++) {
            let aqi = apomGis.Config.VNAQI[j];
            if (aqi.from != null) {
                if (aqi.to != null) { // 11
                    if (aqi.from <= valAQI && valAQI <= aqi.to) {
                        aqiStatus = aqi.statusname;
                        aqiDes = aqi.des;
                        bgColor = aqi.bg_color;
                        fontColor = aqi.font_color;
                        aqi_status = j;
                        break;
                    }
                }
                else { // 10
                    if (aqi.from <= valAQI) {
                        aqiStatus = aqi.statusname;
                        aqiDes = aqi.des;
                        bgColor = aqi.bg_color;
                        fontColor = aqi.font_color;
                        aqi_status = j;
                        break;
                    }
                }
            }
            else {
                if (aqi.to != null) { // 01
                    if (valAQI <= aqi.to) {
                        aqiStatus = aqi.statusname;
                        aqiDes = aqi.des;
                        bgColor = aqi.bg_color;
                        fontColor = aqi.font_color;
                        aqi_status = j;
                        break;
                    }
                }
            }
        };

        /* fill to GUI */
        $('.map-info-feature-forecast-1').css('background-color', bgColor);
        $('.map-info-feature-forecast-1').css('color', fontColor);

        $('.map-forecast-feature-air-quality-icon').html('<p style="margin: 0;" class="ng-star-inserted"><img class="aqi-icon-60 pm-aqi-faces" src="/FileStore/img/aqi/' + aqi_status + '.svg" alt="' + aqiStatus + '"></p>');

        // forcast tab
        $('.aqi-card').css('background-color', bgColor);
        $('.aqi-card').css('color', fontColor);

        $('.aqi-value').html('AQI VN: ' + valAQI);
        $('.pm25-value').html('@Resources.Map.pm25_avg_daily.ToUpper()' + ': ' + valComp + ' (µg/m³)');
        $('.map-forecast-feature-air-quality-status').html(aqiStatus);

        $('.map-forecast-feature-health-advice').empty();
        $('.map-forecast-feature-health-advice').html(aqiDes);
    }

    function _showForecastInfo(dataAQI, data) {
        $(".ranking-forecast").empty();
        let _data = data.reverse();
        let htmlForeCastInfo = '';
        let mtClass = '';
        let delta = 0, apiValPre = dataAQI.y, classNameArrow = '';
        let index = 1;
        // : date now -> cancel
        for (let i = 1; i < _data.length; i++) {
            mtClass = i === 1 ? '' : 'mt-2';
            let dateForecast = new Date(_data[i][0]);
            let dateFormat = dateForecast.showDate('@langId');
            let apiVal = _data[i][1];
            delta = apiVal - apiValPre;
            apiValPre = apiVal;
            if (delta >= 0) {
                classNameArrow = "font-icon-arrow-up";
            }
            else {
                classNameArrow = "font-icon-arrow-bottom";
            }

            let aqiStatus = '', aqiDes = '';
            let bgColor = '', fontColor = '';
            let aqi_status = -1;

            // get bgColor, fontColor
            for (let j = 0; j < apomGis.Config.VNAQI.length; j++) {
                let aqi = apomGis.Config.VNAQI[j];
                if (aqi.from != null) {
                    if (aqi.to != null) { // 11
                        if (aqi.from <= apiVal && apiVal <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = j;
                            break;
                        }
                    }
                    else { // 10
                        if (aqi.from <= apiVal) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = j;
                            break;
                        }
                    }
                }
                else {
                    if (aqi.to != null) { // 01
                        if (apiVal <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = j;
                            break;
                        }
                    }
                }
            };
            if (aqi_status != -1) {
                htmlForeCastInfo = '<tr>';
                htmlForeCastInfo += '<td>' + index++ + '</td>';
                htmlForeCastInfo += '<td>' + dateFormat + '</td>';
                htmlForeCastInfo += '<td><span class="aqi-row-value" style="background-color: ' + bgColor + '; color: ' + fontColor + ';">' + parseFloat(apiVal).toFixed(1) + '</span></td>';
                if (delta >= 0) {
                    htmlForeCastInfo += '<td>';
                    htmlForeCastInfo += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" /></svg>';
                    htmlForeCastInfo += '<span class="aqi-delta-value">' + Math.abs(delta).toFixed(1) + '</span>';
                    htmlForeCastInfo += '</td>';
                }
                else {
                    htmlForeCastInfo += '<td>';
                    htmlForeCastInfo += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" /></svg> ';
                        htmlForeCastInfo += '<span class="aqi-delta-value">' + Math.abs(delta).toFixed(1) + '</span>';
                    htmlForeCastInfo += '</td>';
                }
                htmlForeCastInfo += '</tr>';
                $(".ranking-forecast").append(htmlForeCastInfo);
                $('.apom-loading4').hide();
            }
        }
    }

    function generalForecastInfoChart(dataAQI, dataComp) {
        let _data = [];
        let index = 0;
        let dataNow = null;
        // forecast date
        while (dataAQI[index][0] != undefined) {
            if (dataAQI[index][1] != 0) {
                _data[_data.length] = dataAQI[index];
            }
            index++;
            if (index === dataAQI.length) break;
        }
        // past-data -> call api
        if (index === dataAQI.length) {
            return;
        }
        _data[_data.length] = dataAQI[index]; // now date

        $('.forecast-week').fadeIn();

        let forecastTitle = _data.length > 1 ? '@Html.Raw(strForecastDaysTitle)' : '@Html.Raw(strForecastDaysTitle_No)';
        forecastTitle = forecastTitle.replace('{x}', _data.length - 1);
        forecastTitle = forecastTitle.replace('{y}', forcast_mobile.administrative_name);
        $('.forecast-info-title').html(forecastTitle);

        // info now
        _showAPINow(dataAQI[index], dataComp[index]);

        // info forecasr
        _showForecastInfo(dataAQI[index], _data);
    }

    $(document).ready(function () {
        let dateNow = new Date();
        let dateNowFormat = dateNow.show('@langId');
        $('.map-forcast-date-now').html(dateNowFormat);

        getAdministrativeInfo();
    });
</script>