﻿@{ 
    bool isAuthenticated = Apom_User.Common.SessionContext.UserProfile != null;
    bool isGetNotify = isAuthenticated ? Apom_User.Common.SessionContext.UserProfile.is_get_notify : false;
    string accessToken = isAuthenticated ? Apom_User.Common.SessionContext.UserProfile.access_token : "";

}

<style>
    .noti-content {
        height: 150px;
        overflow: auto;
    }
</style>

@if (isGetNotify)
{
<link rel="stylesheet" href="~/Scripts/jquery-loadMore/jquery.loadMore.css" />
<script src="~/Scripts/jquery-loadMore/jquery.loadMore.min.js"></script>
}

<div class="zoom-control map-zoom" data-aos="fade-left" data-aos-delay="800">
    <div class="icon zoom-ctrl full-extent">
        <span class="font-icon-fullscreen"></span>
    </div>

    <div class="icon zoom-ctrl zoom-plus fix-zoom-in" data-delta="1">
        <span class="font-icon-zoom-in"></span>
    </div>

    <div class="icon zoom-ctrl zoom-minus fix-zoom-out" data-delta="-1">
        <span class="font-icon-zoom-out"></span>
    </div>
</div>

<label for="info-popup-toggle" class="infor-control popup-fixed" data-aos="fade-left" data-aos-delay="850">
    <input type="checkbox" id="info-popup-toggle" style="display:none;" />
    <div class="icon">
        <span class="font-icon-info"></span>
    </div>
    <div class="noti-popup-content">
        @Html.Partial("/Views/Home/partial/_map_help.cshtml")
    </div>
</label>

@if (isGetNotify)
{
<label for="noti-popup-toggle" class="infor-control" data-aos="fade-left" data-aos-delay="900">
    <input type="checkbox" id="noti-popup-toggle" style="display:none;" />
    <div class="icon">
        <span class="font-icon-bell noti-bell"></span>
    </div>
    <div class="badge noti-number"></div>
    <div class="noti-popup-content">
        <div class="content noti-content">
            <div class="header-popup">
                <div class="title">@Resources.Map.notify_title</div>
                @*<div>
                    <div>@Resources.Common.setting</div>
                    <span class="font-icon-setting"></span>
                </div>*@
            </div>
            @*<div class="item-noti seen">
                <div class="status"></div>
                <span class="font-icon-bell"></span>
                <div>
                    <span>
                        <div class="title-medium">Thông báo</div>
                        <span> 20:40, 16/06/2022 </span>
                    </span>
                    <div class="discription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                </div>
            </div>*@
        </div>
        <svg width="12" height="54" viewBox="0 0 12 54" fill="none">
            <path d="M3 16C4.78977 19.485 8.71785 23.2757 11.0832 25.3726C12.0467 26.2266 12.0467 27.7734 11.0832 28.6274C8.71785 30.7243 4.78977 34.515 2.99999 38C0.0957327 43.6551 -1.18021e-05 54 -1.18021e-05 54L0 -2.84124e-06C0 -2.84124e-06 0.09574 10.3449 3 16Z" fill="white" />
        </svg>
    </div>
</label>

<script>    
    var notifyApomHubName = 'NotificationApomHub';
    var firstClickNotiBell = true;
    $(document).ready(function () {
        /******* notify - content *********/
        var data = {
            page_num: 2
        };
        
        // reference: https://www.jqueryscript.net/loading/infinite-scroll-loadmore.html#google_vignette
        var obj = $(".noti-content").loadMore({
            //loadType: 'auto' || 'click',
            //type:'get' || 'post',
            url: "/apom_api/notification/getNotificationDetail",
            dataType: 'json',
            data: {
                page_num: data.page_num
            },
            header: {
                access_token: '@accessToken'
            },
            success: function (res) {
                if (obj === null) return;
                data.page_num += 1;
                obj.updatePram('data', data);
                if (res.Code === 200) {
                    render(res.Data.comps);
                    if (res.Data.comps.length === 0) {
                        //obj.updatePram('url', '');
                        obj = null;
                        $('._loadMore-imgLoading').hide();
                    }
                }
            },
            error: function (ex) {
                console.log('error loadMore: ' + ex.responseText);
            }
        });


        function render(data) {
            for (let i = 0; i < data.length; i++) {
                renderNotification(data[i]);
            }
        }
        /******* end notify - content *********/


        $('.noti-number').hide();
        function setTotalNotification(totalNotify) {
            console.log('totalNotify: ' + totalNotify);
            if (totalNotify != '') {
                $(".noti-number").text(totalNotify);
                $(".noti-number").show();
            }
            else {
                $(".noti-number").text('');
                $(".noti-number").hide();
            }
        }

        var indexRender = 0;
        function renderNotification(notiItem) {
            indexRender++;
            let title = notiItem.title;
            let content = notiItem.content;
            let date = new Date(notiItem.date);
            let hour = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
            let minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
            let day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
            let month = date.getMonth() < 8 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1);
            date = hour + ':' + minutes + ', ' + day + '/' + month + '/' + date.getFullYear();
            let isRead = notiItem.is_read;
            let classSeen = isRead ? 'seen' : '';

            // html render
            let html = '<div class="item-noti item-noti-detail ' + classSeen + '">';
            html += '<div class="status"></div>';
            html += '<span class="font-icon-bell"></span>';
            html += '<div>';
            // title & date
            html += '<span>';
            //html += '<div class="title-medium">' + indexRender + '. ' + title + '</div>';
            html += '<div class="title-medium">' + title + '</div>';
            html += '<span> ' + date + ' </span>';
            html += '</span>';
            // content
            html += '<div class="discription">' + content + '</div>';
            html += '</div>';
            html += '</div>';
            $('.noti-content').append(html);
        }

        //var hub = $.connection.notificationHub;
        //$.connection.hub.start()
        //    .done(function () {
        //        console.log("Hub Connected!");

        //    })
        //    .fail(function () {
        //        console.log("Could not Connect!");
        //});

        // register
        var apomHub = SJ.iwc.SignalR.getHubProxy(notifyApomHubName, {
            client: {
                displayStatus: function (msg) {
                    console.log('msg: ' + msg);
                }
            }
        });

        /******* Client Call to Server ************/
        SJ.iwc.SignalR.start().done(function () {
            console.log("Hub Connected!");
            apomHub.server.getNotification().done(function () {
                console.log('done');
            });
        })
        .fail(function (ex) {
            console.log("Could not Connect!: " + ex);
        });
        
        $('.noti-bell').on('click', function () {
            if (firstClickNotiBell) {
                $('.item-noti-detail').remove();
                apomHub.server.getNotificationDetailLatest().done(function () {
                    console.log('done');
                });
                firstClickNotiBell = false;
                setTotalNotification('');
            }
        });
        /******* End Client Call to Server ************/

        /******* Server Sent Event *********/
        apomHub.client.broadcaastNotif = function (totalNotif) {
            setTotalNotification(totalNotif);
            firstClickNotiBell = true;
        };
        apomHub.client.broadcaastNotifDetailLatest = function (data) {
            //console.log('broadcaastNotifDetailLatest: ' + data);
            for(let i=0; i<data.length; i++)
            {
                renderNotification(data[i]);
            }
        };
        /******* End Server Sent Event *********/
    });
</script>
}