﻿<div class="note" data-aos="fade-left" data-aos-delay="900">
    <div class="line"></div>
    <div class="number">
        <div>0</div>
        <div>50</div>
        <div>100</div>
        <div>150</div>
        <div>200</div>
        <div>300</div>
    </div>
</div>
