﻿@using Repositories.Extension
@using Repositories.Services.Administrative

@{
    bool isAuthenticated = Apom_User.Common.SessionContext.UserProfile != null;
    bool isGetNotify = isAuthenticated ? Apom_User.Common.SessionContext.UserProfile.is_get_notify : false;
}

<style>
    .popup-container .popup .disabled
    {
        opacity: 0.3;
    }
</style>

<div class="popup-overlay popup-setting">
    <div class="popup-container">
        <div class="popup">
            <div class="popup-header">
                <span class="font-icon-setting1"></span>
                <span class="menu-title">@Resources.Common.setting</span>
            </div>
            <div class="popup-content">
                <div class="item-setting active">
                    <span class="font-icon-bell"></span>
                    <div>
                        <div class="item-setting-label">@Resources.Map.notify_title</div>
                        <div class="item-setting-discription">@Resources.Map.notify_allow</div>
                    </div>
                    <label class="switch">
                        @if (isGetNotify)
                        {
                            <input type="checkbox" checked id="chkNotify" name="chkNotify">
                        }
                        else
                        {
                            <input type="checkbox" id="chkNotify" name="chkNotify">
                        }
                        <span class="slider-btn round"></span>
                    </label>
                </div>
            </div>
            <div class="popup-footer">
                <div class="pop-btn inactive">
                    <div>@Resources.Common.btn_cancel</div>
                </div>
                <div class="pop-btn btn-save-setting disabled">
                    <div>@Resources.Common.btn_save</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#chkNotify').change(function () {
            let isCurrentNotify = '@isGetNotify' === 'True' ? true : false;
            let isNotify = $(this).is(":checked");
            let isCheck = isCurrentNotify === isNotify;
            if (!isCheck) {
                $('.btn-save-setting').removeClass('disabled');
            }
            else {
                if (!$('.btn-save-setting').hasClass('disabled')) $('.btn-save-setting').addClass('disabled');
            }
        });

        $(".btn-save-setting").click(function (e) {
            e.preventDefault();
            let isCurrentNotify = '@isGetNotify' === 'True' ? true : false;
            let isNotify = $('#chkNotify').is(":checked");
            let isCheck = isCurrentNotify === isNotify;
            if(!isCheck)
            {
                $('.loading-ajax').show();
                let urlRequest = "/Home/changeNotification";
                $.ajax({
                    method: "POST",
                    url: urlRequest,
                    data: JSON.stringify({
                        "notify": isNotify
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    crossDomain: true,
                    async: false,
                    success: function (response) {
                        if (response.Code === 200) {
                            console.log('changed setting notification');
                            window.location.reload();
                        }
                        $('.loading-ajax').hide();
                    },
                    failure: function (response) {
                        console.log(response);
                        $('.loading-ajax').hide();
                    },
                    error: function (response) {
                        console.log(response);
                        $('.loading-ajax').hide();
                    }
                });
            }
            else {
                //$('.popup-setting').hide();
            }
        });
    });
</script>
