﻿@{ 
    bool isAuthenticate = ViewData["isAuthenticate"] == null ? false : (bool)ViewData["isAuthenticate"];
}
<style>
    .ol-geocoder .gcd-txt-control {
        outline: unset;
        height: 3em !important;
        width: 85% !important;
        left: 20px;
        border: none !important;
    }

    .ol-geocoder .gcd-txt-control:focus {
        border: none !important;
    }

    .ol-geocoder .gcd-txt-glass {
        display: none;
    }

    .ol-geocoder .gcd-input-reset {
        display: none;
    }

    .ol-geocoder .gcd-txt-input {
        outline: unset;
        padding: 0 !important;
        height: 100%;
        box-shadow: none !important;
    }

    .ol-geocoder ul.gcd-txt-result {
        position: absolute !important;
        top: 3.75em !important;
    }

    .ol-geocoder .gcd-input-search {
        display: none !important;
    }
</style>
<div class="menu-search" data-aos="fade-down" data-aos-delay="100">
    <!--<div class="icon show-in-searching">
        <span class="font-icon-search"></span>
    </div>-->
    <div class="icon">
        <span class="font-icon-search"></span>
    </div>
    @*<input id="search" class="search" placeholder="@Resources.Map.placehoder_search" autocomplete="off">*@
    <div id="search" class="search" onsubmit="return false">
    </div>
    @Html.Partial("/Views/Shared/stack-admin/partial/_menu_new.cshtml")
    <!--<div class="icon show-in-searching active">
        <span class="font-icon-arrow-right"></span>
    </div>-->
</div>
