﻿@using Apom_User.Common

@model Repositories.Models.Asset.component_station_daily_short
@{
    string groupName = Model != null ? Model.group_name : "Xuân Thủy";
    string groupDes = Model != null ? Model.group_des : "Số 144, Xuân Thủy, Phường Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội";
    string suffixChartInfo = "info";
    string aqi_pm25_development = Resources.Map.aqi_pm25_development;
}

<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    .map-info-feature-source {
        cursor: pointer;
    }
</style>

<div class="title">@Resources.Map.selected_location </div>
@*<div class="discription">
        <div>Lấy từ Trung tâm quan trắc miền bắc</div>
    </div>*@
<div class="margin-H"></div>

<div class="title-tab-expand">
    <div class="icon non-interactive">
        <svg viewBox="0 0 12 12">
            <rect x="1" y="4" width="4.5" height="7" rx="1" />
            <rect x="6.5" y="1" width="4.5" height="10" rx="1" />
        </svg>
    </div>
    <span>
        @Resources.Map.data_type
    </span>
    <div class="tab">
        <div class="tab-icon-text map-info-feature-icon-toggle map-info-feature-station">
            <div class="title-layer-station">@Resources.Map.station</div>
        </div>
        <div class="tab-icon-text map-info-feature-icon-toggle map-info-feature-satellite">
            <div class="title-layer-satellite">@Resources.Map.satellite</div>
        </div>
    </div>
    <div class="icon">
        <span class="font-icon-up"></span>
    </div>
</div>

<div class="card-3 gray-style">
    <div class="icon">
        <span class="font-icon-track"></span>
    </div>
    <div class="content">
        <div class="title-medium map-info-feature-source"></div>
        <div class="title-medium map-info-feature-title"></div>
        <div class="discription map-info-feature-des" style="display:block;">
        </div>
    </div>
</div>

<div class="air-50" style="display: flex; flex-direction: column;">
    <div class="card-2 map-info-feature-info-1">
        <div class="row-card">
            <div class="tab-icon-text">
                <div>@Resources.Map.air_quality: <span class="map-info-feature-air-quality-status"></span></div>
            </div>
            <div class="tab-icon-text">
                <span class="font-icon-time"></span>
                <div class="map-info-feature-datetime-shooting"></div>
            </div>
        </div>

        <div class="row-card">
            <div class="ilustrtion map-info-feature-air-quality-icon">
            </div>
            <div class="info-number">
                <div class="title">AQI VN</div>
                <div class="number">
                    <div class="map-info-feature-aqi-value"></div>
                </div>
            </div>
            <div class="info-number" style="padding-right: 5px;">
                <div class="title">PM 2.5 (µg/m3)</div>
                <div class="number">
                    <div class="map-info-feature-pm25-value"></div>
                </div>
            </div>
        </div>
        <!--
        <div class="row-card bg-1">
            <div class="tab-icon-text">
                <span class="font-icon-sun"></span>
                <div class="temp-map-info">n/a</div>
            </div>
            <div class="tab-icon-text">
                <span class="font-icon-humidity"></span>
                <div class="rh-map-info">n/a</div>
            </div>
            <div class="tab-icon-text">
                <span class="font-icon-arrow-up-right"></span>
                <div>14 km/h</div>
            </div>
        </div>

        <div class="row-card bg-1 border-top italic">
            <div class="tab-icon-text">
                <span class="font-icon-info"></span>
                <div>Lấy từ trung tâm quan trắc Miền Bắc</div>
            </div>
        </div>
        -->
    </div>

    <div class="card-3">
        <div class="icon">
            <span class="font-icon-health"></span>
        </div>
        <div class="content">
            <div class="title-medium">@Resources.Map.health_advice</div>
            <div class="discription map-info-feature-health-advice">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".map-info-feature-icon-toggle").click(function (e) {
            e.preventDefault();
            let info = null;
            if ($(this).hasClass('map-info-feature-station')) {
                info = apomGis.mainCurrentImpl.mapImpl.identifyImpl.infoFeatureStation;
            }
            else {
                info = apomGis.mainCurrentImpl.mapImpl.identifyImpl.infoFeatureSatellite;
            }
            if (info != null) {
                $(".map-info-feature-icon-toggle").removeClass("active");
                $(this).addClass("active");
                let hostAPI = apomGis.mainCurrentImpl.mapImpl.hostAPI;
                let langId = apomGis.mainCurrentImpl.mapImpl.langId;
                if (info.callbackInfo) {
                    info.callbackInfo(info, langId);
                }
                if (info.callbackChart) {
                    //info.callbackChart(info, hostAPI, langId);
                    info.callbackChart[0](info, hostAPI, langId, '#dailyaqichart_' + '@suffixChartInfo', '#dailyconcenchart_' + '@suffixChartInfo', false,);

                }
            }
        });
    });

    function callbackShowGeoTiffAQI(info, langId) {
        var formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        var formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        var properties = info[0];
        var gcId = properties['gcid'];
        var coorX = properties['x']; // longitude
        var coorY = properties['y']; // latitude
        var val = properties['val'];
        var valAQI = properties['val_aqi'];
        var valTemp = properties['temp_val'] === undefined ? 'n/a' : properties['temp_val'];
        var valRH = properties['rh_val'] === undefined ? 'n/a' : properties['rh_val'];
        var titleComp = properties['titlecomponent'];
        var titleGroup = properties['titlegroup'];
        var dateShooting = properties['date'];
        var typeSlider = properties['type_slider'];
        if (typeSlider === 'hour') dateShooting = moment(dateShooting).format(formatDate + ' ' + formatTime + ' a');
        else dateShooting = moment(new Date(dateShooting)).format(formatDate);

        var aqiStatus = '', aqiDes = '';
        var className = 'aqi-box-vn box-undefined';
        var bgColor = '', fontColor = '';
        var aqi_status = -1;
        if (Number.isFinite(valTemp)) {
            valTemp = (valTemp === null || valTemp === apomGis.Config.noData) ? 'n/a' : parseFloat(valTemp).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
        }
        if (Number.isFinite(valRH)) {
            valRH = (valRH === null || valRH === apomGis.Config.noData) ? 'n/a' : parseFloat(valRH).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
        }
        if (Number.isFinite(val)) {
            val = (val === null || val === apomGis.Config.noData) ? 'n/a' : parseFloat(val).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            //val = val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            valAQI = (valAQI === null || valAQI === apomGis.Config.noData) ? 'n/a' : parseFloat(valAQI).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            //valAQI = valAQI.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            coorX = coorX.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            coorY = coorY.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);

            for (let i = 0; i < apomGis.Config.VNAQI.length; i++) {
                let aqi = apomGis.Config.VNAQI[i];
                if (aqi.from != null) {
                    if (aqi.to != null) {
                        if (aqi.pm25_from <= val && val <= aqi.pm25_to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = i;
                            break;
                        }
                    }
                    else {
                        if (aqi.pm25_from <= val) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = i;
                            break;
                        }
                    }
                }
                else {
                    if (aqi.pm25_to != null) {
                        if (val <= aqi.pm25_to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = i;
                            break;
                        }
                    }
                }
            };
        }
        else {
            val = 'n/a';
            valAQI = 'n/a';
        }

        /* fill to GUI */
        $('.map-info-feature-info-1').css('background-color', bgColor);
        $('.map-info-feature-info-1').css('color', fontColor);

        $('.map-info-feature-air-quality-icon').html('<p style="margin: 0;" class="ng-star-inserted"><img class="aqi-icon-60 pm-aqi-faces" src="/FileStore/img/aqi/' + aqi_status + '.svg" alt="' + aqiStatus + '"></p>');
        $('.map-info-feature-datetime-shooting').html(dateShooting);

        // info tab
        $('.map-info-feature-aqi-value').html(valAQI);
        $('.map-info-feature-pm25-value').html(val);
        $('.map-info-feature-air-quality-status').html(aqiStatus);
        $('.map-info-feature-health-advice').html(aqiDes);

        $('.temp-map-info').html(valTemp + ' &deg;C');
        $('.rh-map-info').html(valRH + ' %');

        $('.map-info-feature-source').hide();
        $('.map-info-feature-title').html(titleGroup);

        apomGis.mainCurrentImpl.mapImpl.identifyImpl.getInfoAdministrative(
            properties.click_y, properties.click_x,
            // info tab
            function (html, administiveInfo) {
                let info = html != '' ? html : titleComp;
                $('.map-info-feature-des').html(info);
                let chartTitle = '@aqi_pm25_development'.replace('{x}', administiveInfo);
                $('.chart_title_info').html(chartTitle);
            },
            // forecast tab
            function (html, administrativeForcast) {
                let info = html != '' ? html : titleComp;
                $('.map-forcast-feature-des').html(info);
                let chartTitle = '@aqi_pm25_development'.replace('{x}', administrativeForcast);
                $('.chart_title_forecast').html(chartTitle);
            },
        );
    }

    function callbackShowStationAQI(properties, langId) {
        var formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        var formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        var groupId = properties['group_id'];
        var name = properties['group_name'] === null ? '' : properties['group_name'];
        var des = properties['group_des'] === null ? '' : properties['group_des'];
        var parent_name = properties['group_parent_name'] === null ? '' : '@Resources.Common.source' + ' -> ' + properties['group_parent_name'];
        var parent_des = properties['group_parent_des'] === null ? '' : properties['group_parent_des'];

        var aqi_status = properties['aqi_status'] === null ? -1 : parseInt(properties['aqi_status']);
        var aqiStatus = '', aqiDes = '';
        var className = 'aqi-box-vn box-undefined';
        var bgColor = '', fontColor = '';
        var comp_val = properties['comp_val'] === null ? 'n/a' : parseFloat(properties['comp_val']);
        var comp_aqi = properties['comp_aqi'] === null ? 'n/a' : parseFloat(properties['comp_aqi']);
        if (Number.isFinite(comp_aqi)) {
            for (let i = 0; i < apomGis.Config.VNAQI.length; i++) {
                let aqi = apomGis.Config.VNAQI[i];
                if (aqi.from != null) {
                    if (aqi.to != null) {
                        if (aqi.from <= comp_aqi && comp_aqi <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                        }
                    }
                    else {
                        if (aqi.from <= comp_aqi) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                        }
                    }
                }
                else {
                    if (aqi.to != null) {
                        if (comp_aqi <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                        }
                    }
                }
            };
        };


        var date_shooting = properties['datetime_shooting'] === null ? null : properties['datetime_shooting'];
        if (date_shooting) {
            var year = parseInt(date_shooting.substr(0, 4));
            var month = parseInt(date_shooting.substr(5, 2)) - 1;
            var day = parseInt(date_shooting.substr(8, 2));
            var hour = parseInt(date_shooting.substr(11, 2));
            var minute = parseInt(date_shooting.substr(14, 2));
            var second = parseInt(date_shooting.substr(17, 2));
            var dateShooting = new Date(year, month, day, hour, minute, second);
            date_shooting = moment(dateShooting).format(formatDate + ' ' + formatTime + ' a');
        }

        /* fill to GIU */
        $('.map-info-feature-info-1').css('background-color', bgColor);
        $('.map-info-feature-info-1').css('color', fontColor);

        $('.map-info-feature-air-quality-icon').html('<p style="margin: 0;" class="ng-star-inserted"><img class="aqi-icon-60 pm-aqi-faces" src="/FileStore/img/aqi/' + aqi_status + '.svg" alt="' + aqiStatus + '"></p>');
        $('.map-info-feature-air-quality-status').html(aqiStatus);
        $('.map-info-feature-datetime-shooting').html(date_shooting);

        $('.map-info-feature-aqi-value').html(comp_aqi);
        $('.map-info-feature-pm25-value').html(comp_val);

        if (parent_name != '')
            $('.map-info-feature-source').show().html(parent_name).attr('title', parent_des);
        else $('.map-info-feature-source').hide();
        $('.map-info-feature-title').html(name);
        $('.map-info-feature-des').html(des);

        $('.map-info-feature-health-advice').html(aqiDes);

    }

    function callbackShowMeteorology(properties) {
        var html = '';
        var groupId = properties['group_id'];
        var des = properties['group_des'] === null ? properties['group_name'] : properties['group_des'];

        html += '<tr>';
        html += '<td colspan="3">';
        html += '<a data-id=' + groupId + ' style="cursor:pointer;text-decoration: underline;color: #009c9f;" class="popup-station-view" onClick="viewDetailMeteorology(this);">@Resources.Common.view_detail</a>';
        html += '</td>';
        html += '</tr>';
        return html;
    }
</script>
