﻿@using Apom_User.Common
@{
    // default hanoi
    string provinceId = ViewData["province_id"] == null ? Constant.WebConfig.PROVINCE_DEFAULT : ViewData["province_id"].ToString();
    string ctrlId = ViewData["ctrl_id"] == null ? "chart" : ViewData["ctrl_id"].ToString();
    string dailyaqiChart = String.Concat("dailyaqichart_", ctrlId);
    string dailyconcenChart = String.Concat("dailyconcenchart_", ctrlId);
    string loadingChartClass = "loading-ajax-chart";
    string langId = Apom_User.Common.SessionContext.Language;
}
<style>
    .highcharts-button-normal {
        transition: fill 0ms;
        fill: #e6e6e6;
        stroke: #cccccc;
    }

    .highcharts-exporting-group {
        opacity: 0.5 !important;
    }

    .title-tab-expand {
        display: flex;
        align-items: center;
        /*font-size: 12px;*/
        font-weight: 500;
        user-select: none;
        margin-top: 10px;
    }

        .title-tab-expand > :first-child {
            margin-right: 8px;
        }
</style>

@*aqi*@
<div class="title-tab-expand">
    <div class="icon non-interactive" style="color: blue;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
            <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1z" />
        </svg>
    </div>
    <strong class="chart-title-aqi">
        @Resources.Map.map_chart AQI
    </strong>
</div>

<!-- <div class="margin-F"></div> -->
<div class="chart" style="margin-left: -18px; width:calc(100% + 30px);">
    <div class="modal in @loadingChartClass" tabindex="-1" style="display:none">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div>
            <div style="position:relative; top:50%;left:40%">
                <i class="fa fa-spinner fa-spin fa-3x red"></i>
            </div>
        </div><!-- /.modal-dialog -->
    </div>
    <div id="@dailyaqiChart">
        <div class="spinner-border text-success apom-loading2"></div>
    </div>
</div>

@*pm 2.5*@
<div class="title-tab-expand">
    <div class="icon non-interactive" style="color: blue;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
            <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1z" />
        </svg>
    </div>
    <strong class="chart-title-pm25">
        @Resources.Map.map_chart PM2.5
    </strong>
</div>

<!-- <div class="margin-F"></div> -->
<div class="chart" style="margin-left: -18px; width:calc(100% + 30px);">
    <div class="modal in @loadingChartClass" tabindex="-1" style="display:none">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div>
            <div style="position:relative; top:50%;left:40%">
                <i class="fa fa-spinner fa-spin fa-3x red"></i>
            </div>
        </div><!-- /.modal-dialog -->
    </div>
    <div id="@dailyconcenChart">
        <div class="spinner-border text-success apom-loading2"></div>
    </div>
</div>


<script>
    var prevDays = 0;
    var nextDays = 0;
    var loadingChartClass = '.@loadingChartClass';
    $(document).ready(function () {
        prevDays = apomGis.Config.timeslider.prev_current;
        nextDays = apomGis.Config.timeslider.next_currrent;
    });

    function viewChartDetailGeoTiff(properties, hostAPI, langId, dailyAQIChart, dailyconcenChart, isProvince, districtId = '') {
        $(loadingChartClass).show();
        var formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        var formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        var groupcomponentId = properties['gcid'];
        //var coorX = properties['click_x']; // x: latlon
        //var coorY = properties['click_y']; // y: latlon
        var typeSlider = properties['type_slider'];
        var requestDate = moment(new Date()).format('YYYY-MM-DD');

        const units = {
            'pm25': 'PM2.5 ( &micro;g/m <sup>3</sup> )',
            'aqi': 'AQI VN'
        };

        // reset
        $('.left-panel-chart-component').fadeIn();
        $(dailyAQIChart).empty();
        $(dailyconcenChart).empty();

        let urlRequestDaily = '';

        // chart for AQI PM25
        let time = (new Date()).getTime() + '_' + Math.floor(Math.random() * 1000000);
        console.log('time chart: ' + time);
        let divIdAQI = 'daily_aqi_' + time + '_' + groupcomponentId + '_chart_show';
        let $dailyaqichartShow = $("<div id='" + divIdAQI  + "'></div>")
        $(dailyAQIChart).append($dailyaqichartShow);

        // chart for Components
        let divIdComp = 'daily_' + time + '_' + groupcomponentId + '_chart_show';
        let $dailyconcenchartShow = $("<div id='" + divIdComp + "'></div>")
        $(dailyconcenChart).append($dailyconcenchartShow);

        let isDistrict = districtId != '';
        let endpoint = isDistrict ? "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_distict_id_list_geotiff" : (isProvince ? "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_province_id_list_geotiff" : "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_list_geotiff");
        urlRequestDaily = hostAPI + endpoint;
        console.log('urlRequestDaily: ' + urlRequestDaily);
        let dataIdentify = {};
        if (isDistrict) {
            dataIdentify = {
                "district_id": districtId,
                "groupcomponent_id": groupcomponentId,
                "date_request": requestDate,
                "predays": prevDays,
                "nextdays": nextDays,
                "lang_id": langId
            }
        }
        else {
            dataIdentify = {
                "province_id": '@provinceId',
                "groupcomponent_id": groupcomponentId,
                "date_request": requestDate,
                "predays": prevDays,
                "nextdays": nextDays,
                "lang_id": langId
            }
        }

        prevDays = apomGis.Config.timeslider.prev_current;
        nextDays = apomGis.Config.timeslider.next_currrent;

        if (typeSlider === 'hour') {
            prevDays = 0;
        }
        else {
            // day
            //nextDays = 0;
            requestDate = requestDate.substr(0, 10); // only date format
        }

        $.ajax({
            method: "POST",
            url: urlRequestDaily,
            data: JSON.stringify(dataIdentify),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                //console.log(response);
                if (response.Code = 200) {
                    dataDaily = response.Data.comps;
                    if (dataDaily.length > 0) {
                        let titleGroup = dataDaily[0].titlegroup;
                        let titleComponent = dataDaily[0].titlecomponent;
                        let aqiValue = [];
                        let compValue = [];
                        let dateShooting = [];
                        let plotsBandVNAQI = [];
                        let plotsBandAQIPM25 = [];
                        let resultChart = [];
                        let resultChartComp = [];

                        dataDaily.forEach(function (element) {
                            let val;
                            val = (element.val === null || element.val === -9999) ? 0 : element.val;
                            compValue.push(val);
                            val = (element.val_aqi === null || element.val_aqi === -9999) ? 0 : element.val_aqi;
                            aqiValue.push(val);
                            dateShooting.push(element.requestdate);//.substr(0, 10));
                        });

                        // let units = '&micro;gm<sup>-3</sup>';

                        // array da duoc sap xep theo thu tu thoi gian tang dan
                        for(let i=0; i<dataDaily.length;i++){
                            resultChart.push([new Date(dateShooting[i]).getTime(), aqiValue[i]]);
                            resultChartComp.push([new Date(dateShooting[i]).getTime(), compValue[i]]);
                        }

                        /************* AQI *************/
                        let domainArray = apomGis.Config.VNAQI.map(function (elem) {
                            return (elem.from + elem.to)/2.0;
                        })

                        let rangeArray = apomGis.Config.VNAQI.map(function (elem) {
                            return elem.bg_color;
                        })


                        colorScale = d3.scaleLinear()
                            .domain(domainArray)
                            .range(rangeArray)

                        for (let i = 0; i < 500; i++) {
                            plotsBandVNAQI.push({
                                color: colorScale(i),
                                from: i,
                                to: i + 1
                            });
                        }

                        let serieses = [
                        {
                            //showInLegend: false,
                            data: resultChart,
                            name: 'AQI',
                            color: "blue",
                        }];

                        let myChartAQI = new apomChart({
                            'lang_id': langId
                        });
                        myChartAQI.generateChart({
                            'id': divIdAQI,
                            'typeChart': 'line',
                            'title': '',
                            'subtitle': '',
                            'enableCredits': false,
                            'tooltip': {
                                //headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            xAsis: {
                                'type': 'datetime',
                                'format': '{value: %Y-%m-%d}',
                                'rotation': -45,
                                //'text': 'Date',
                                'text': '@Resources.Map.chart_date_title',
                                'tickInterval': 86400000 // 24h
                            },
                            yAxis: {
                                'text': units['aqi'],
                                'plotBands': plotsBandVNAQI
                            },
                            legend: { enabled: false },
                            'series': serieses,
                            'enableExport': false
                        });
                        /************* end AQI *************/

                        /************* Comp *************/
                        //let titleComponent = 'PM2.5';
                        let domainArray1 = apomGis.Config.VNAQI.map(function (elem) {
                            return (elem.pm25_from + elem.pm25_to) / 2.;
                        });

                        let rangeArray1 = apomGis.Config.VNAQI.map(function (elem) {
                            return elem.bg_color;
                        });

                        colorScalePM25 = d3.scaleLinear()
                            .domain(domainArray1)
                            .range(rangeArray1)

                        for (let i = 0; i < 500; i++) {
                            plotsBandAQIPM25.push({
                                color: colorScale(i),
                                from: i,
                                to: i + 1
                            });
                        }

                        let seriesesComp = [
                        {
                            //showInLegend: false,
                            data: resultChartComp,
                            name: titleComponent,
                            color: "blue",
                            type: 'line',
                            tooltip: {
                                valueDecimals: 2
                            }
                        }];

                        let myChartComp = new apomChart({
                            'lang_id': langId
                        });
                        myChartComp.generateChart({
                            'id': divIdComp,
                            'title': '',
                            'subtitle': '',
                            'enableCredits': false,
                            'tooltip': {
                                headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            xAsis: {
                                'type': 'datetime',
                                'format': '{value: %Y-%m-%d}',
                                'rotation': -45,
                                //'text': 'Date',
                                'text': '@Resources.Map.chart_date_title',
                                'tickInterval': 86400000 // 24h
                            },
                            yAxis: {
                                'text': units['pm25'],
                                'plotBands': plotsBandAQIPM25
                            },
                            legend: { enabled: false },
                            'series': seriesesComp,
                            'enableExport': false
                        });
                        /************* end Comp *************/
                        $(loadingChartClass).hide();

                        // how forecast-info
                        if ((isProvince || isDistrict) && typeof (generalForecastInfoChart) != 'undefined') generalForecastInfoChart(resultChart, resultChartComp);
                    }
                }
            },
            failure: function (response) {
                $(loadingChartClass).hide();
                console.log(response);
            },
            error: function (response) {
                $(loadingChartClass).hide();
                console.log(response);
            }
        });
    }

    $(document).ready(function () {
        // default hanoi
        //var defaultCoorX = 105.77942669560795;
        //var defaultCoorY = 21.06512175978723;
        var properties = {
            gcid: '63',
            //click_x: defaultCoorX,
            //click_y: defaultCoorY,
            type_slider: 'day'
        };
        var hostAPI = '@ViewBag.HostAPI';
        viewChartDetailGeoTiff(properties, hostAPI, '@langId', '#@dailyaqiChart', '#@dailyconcenChart', true);
    });
</script>
