﻿@{
    string ctrlId = ViewData["ctrl_id"] == null ? "chart" : ViewData["ctrl_id"].ToString();
    string dailyaqiChart = String.Concat("dailyaqichart_", ctrlId);
    string dailyconcenChart = String.Concat("dailyconcenchart_", ctrlId);
    string endpoint = ctrlId == "forecast" ? Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_province_list_geotiff : Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_list_geotiff;
    string classChartTitle = String.Concat("chart_title_", ctrlId);
}
<style>
    .highcharts-button-normal {
        transition: fill 0ms;
        fill: #e6e6e6;
        stroke: #cccccc;
    }

    .highcharts-exporting-group {
        opacity: 0.5 !important;
    }

    .chart_comp {
        display: flex;
        margin: 5px 0px 5px 15px;
    }

        .chart_comp > .tab-icon-text > div {
            font-size: var(--font-size-10);
            margin: 0 var(--margin-D);
        }
</style>
<div class="title-tab-expand">
    <div class="icon non-interactive">
        <svg viewBox="0 0 12 12">
            <rect x="1" y="4" width="4.5" height="7" rx="1" />
            <rect x="6.5" y="1" width="4.5" height="10" rx="1" />
        </svg>
    </div>
    <span class="@classChartTitle">
        @Resources.Map.map_chart
    </span>
    @*<div class="icon">
            <span class="font-icon-more"></span>
        </div>*@
</div>
<div class="tab chart_comp">
    <div class="tab-icon-text icon-toggle-chart active" data-link="@dailyaqiChart">
        <div>AQI VN</div>
    </div>
    <div class="tab-icon-text icon-toggle-chart" data-link="@dailyconcenChart">
        <div>PM 2.5</div>
    </div>
</div>

<!-- <div class="margin-F"></div> -->
<div class="chart" style="margin-left: -18px; width:calc(100% + 30px);">
    <div class="modal in loading-ajax-chart" tabindex="-1" style="display:none">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div>
            <div style="position:relative; top:50%;left:40%">
                <i class="fa fa-spinner fa-spin fa-3x red"></i>
            </div>
        </div><!-- /.modal-dialog -->
    </div>
    <div id="@dailyaqiChart"></div>
    <div id="@dailyconcenChart" style="display: none;"></div>
</div>

<script>
    var numDaysDaily = 0;
    var prevDays = 0;
    var nextDays = 0;
    $(document).ready(function () {
        numDaysDaily = apomGis.Config.timeslider.prev_current + apomGis.Config.timeslider.next_currrent + 1;
        prevDays = apomGis.Config.timeslider.prev_current;
        nextDays = apomGis.Config.timeslider.next_currrent;
    });

    function viewChartDetailGeoTiff(info, hostAPI, langId, dailyAQIChart, dailyconcenChart, isProvince) {
        $('.loading-ajax-chart').show();
        var formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        var formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        var properties = info[0];
        var groupcomponentId = properties['gcid'];
        var coorX = properties['click_x']; // x: latlon
        var coorY = properties['click_y']; // y: latlon
        var requestDate = moment(new Date()).format('YYYY-MM-DD'); // properties.requestdate;
        var typeSlider = properties['type_slider'];

        const units = {
            'pm25': 'PM2.5 ( &micro;g/m <sup>3</sup> )',
            'aqi': 'AQI VN'
        };

        // reset
        $('.left-panel-chart-component').fadeIn();
        $(dailyAQIChart).empty();
        $(dailyconcenChart).empty();

        let urlRequestDaily = '';

        // chart for AQI PM25
        let time = (new Date()).getTime() + '_' + Math.floor(Math.random() * 1000000);
        console.log('time chart: ' + time);
        let divIdAQI = 'daily_aqi_' + time + '_' + groupcomponentId + '_chart_show';
        let $dailyaqichartShow = $("<div id='" + divIdAQI  + "'></div>")
        $(dailyAQIChart).append($dailyaqichartShow);

        // chart for Components
        let divIdComp = 'daily_' + time + '_' + groupcomponentId + '_chart_show';
        let $dailyconcenchartShow = $("<div id='" + divIdComp + "'></div>")
        $(dailyconcenChart).append($dailyconcenchartShow);

        let endpoint = isProvince ? "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_province_list_geotiff" : "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_list_geotiff";
        urlRequestDaily = hostAPI + endpoint;
        console.log('urlRequestDaily: ' + urlRequestDaily);

        prevDays = apomGis.Config.timeslider.prev_current;
        nextDays = apomGis.Config.timeslider.next_currrent;

        if (typeSlider === 'hour') {
            prevDays = 0;
        }
        else {
            // day
            //nextDays = 0;
            requestDate = requestDate.substr(0, 10); // only date format
        }

        $.ajax({
            method: "POST",
            url: urlRequestDaily,
            data: JSON.stringify({
                "x": coorX,
                "y": coorY,
                "groupcomponent_id": groupcomponentId,
                "date_request" : requestDate,
                "predays": prevDays,
                "nextdays": nextDays,
                "lang_id": langId
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                console.log(response);
                if (response.Code = 200) {
                    dataDaily = response.Data.comps;
                    if (dataDaily.length > 0) {
                        let titleGroup = dataDaily[0].titlegroup;
                        let titleComponent = dataDaily[0].titlecomponent;
                        let aqiValue = [];
                        let compValue = [];
                        let dateShooting = [];
                        let plotsBandVNAQI = [];
                        let plotsBandAQIPM25 = [];
                        let resultChart = [];
                        let resultChartComp = [];

                        dataDaily.forEach(function (element) {
                            let val;
                            val = (element.val === null || element.val === -9999) ? 0 : element.val;
                            compValue.push(val);
                            val = (element.val_aqi === null || element.val_aqi === -9999) ? 0 : element.val_aqi;
                            aqiValue.push(val);
                            dateShooting.push(element.requestdate);//.substr(0, 10));
                        });

                        // let units = '&micro;gm<sup>-3</sup>';

                        // array da duoc sap xep theo thu tu thoi gian tang dan
                        for(let i=0; i<dataDaily.length;i++){
                            resultChart.push([new Date(dateShooting[i]).getTime(), aqiValue[i]]);
                            resultChartComp.push([new Date(dateShooting[i]).getTime(), compValue[i]]);
                        }

                        /************* AQI *************/
                        let domainArray = apomGis.Config.VNAQI.map(function (elem) {
                            return (elem.from + elem.to)/2.0;
                        })

                        let rangeArray = apomGis.Config.VNAQI.map(function (elem) {
                            return elem.bg_color;
                        })


                        colorScale = d3.scaleLinear()
                            .domain(domainArray)
                            .range(rangeArray)

                        for (let i = 0; i < 500; i++) {
                            plotsBandVNAQI.push({
                                color: colorScale(i),
                                from: i,
                                to: i + 1
                            });
                        }
                        /*apomGis.Config.VNAQI.map(function(element){
                            let _element = {
                                'color': element.bg_color,
                                'from': element.from,
                                'to': element.to
                            };
                            plotsBandVNAQI.push(_element);
                        });*/

                        //let title = compName + " values at " + groupName;

                        let serieses = [
                        {
                            //showInLegend: false,
                            data: resultChart,
                            name: 'AQI',
                            color: "blue",
                        }];

                        let myChartAQI = new apomChart({
                            'lang_id': langId
                        });
                        myChartAQI.generateChart({
                            'id': divIdAQI,
                            'typeChart': 'line',
                            'title': '',
                            'subtitle': '',
                            'enableCredits': false,
                            'tooltip': {
                                //headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            xAsis: {
                                'type': 'datetime',
                                'format': '{value: %Y-%m-%d}',
                                'rotation': -45,
                                //'text': 'Date',
                                'text': '@Resources.Map.chart_date_title',
                                'tickInterval': 86400000 // 24h
                            },
                            yAxis: {
                                'text': units['aqi'],
                                'plotBands': plotsBandVNAQI
                            },
                            legend: { enabled: false },
                            'series': serieses,
                            'enableExport': true
                        });
                        /************* end AQI *************/

                        /************* Comp *************/
                        //let titleComponent = 'PM2.5';
                        let domainArray1 = apomGis.Config.VNAQI.map(function (elem) {
                            return (elem.pm25_from + elem.pm25_to) / 2.;
                        });

                        let rangeArray1 = apomGis.Config.VNAQI.map(function (elem) {
                            return elem.bg_color;
                        });

                        colorScalePM25 = d3.scaleLinear()
                            .domain(domainArray1)
                            .range(rangeArray1)

                        for (let i = 0; i < 500; i++) {
                            plotsBandAQIPM25.push({
                                color: colorScale(i),
                                from: i,
                                to: i + 1
                            });
                        }
                        /*apomGis.Config.VNAQI.map(function(element){
                            let _element = {
                                'color': element.bg_color,
                                'from': element.pm25_from,
                                'to': element.pm25_to
                            };
                            plotsBandAQIPM25.push(_element);
                        });*/

                        @*let title = '@Resources.Map.comp_values_at_address';
                        title = title.replaceAll('${x}', compName).replaceAll('${y}', groupName);*@

                        let seriesesComp = [
                        {
                            //showInLegend: false,
                            data: resultChartComp,
                            name: titleComponent,
                            color: "blue",
                            type: 'line',
                            tooltip: {
                                valueDecimals: 2
                            }
                        }];

                        let myChartComp = new apomChart({
                            'lang_id': langId
                        });
                        myChartComp.generateChart({
                            'id': divIdComp,
                            'title': '',
                            'subtitle': '',
                            'enableCredits': false,
                            'tooltip': {
                                headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            xAsis: {
                                'type': 'datetime',
                                'format': '{value: %Y-%m-%d}',
                                'rotation': -45,
                                //'text': 'Date',
                                'text': '@Resources.Map.chart_date_title',
                                'tickInterval': 86400000 // 24h
                            },
                            yAxis: {
                                'text': units['pm25'],
                                'plotBands': plotsBandAQIPM25
                            },
                            legend: { enabled: false },
                            'series': seriesesComp,
                            'enableExport': true
                        });
                        /************* end Comp *************/
                        $('.loading-ajax-chart').hide();

                        // how forecast-info
                        if (isProvince && typeof (generalForecastInfoChart) != 'undefined') generalForecastInfoChart(resultChart, resultChartComp);
                    }
                }
            },
            failure: function (response) {
                $('.loading-ajax-chart').hide();
                console.log(response);
            },
            error: function (response) {
                $('.loading-ajax-chart').hide();
                console.log(response);
            }
        });
    }

    /* view detail station - chart */
    function viewChartDetailStation(properties, hostAPI, langId, dailyAQIChart, dailyconcenChart) {
        var formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        var formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        var groupId = properties['group_id'];
        var title = '';//properties['group_name'] === null ? '' : properties['group_name'];
        var subTitle = '';//properties['group_des'] === null ? '' : properties['group_des'];
        let urlRequestCompByGroup = hostAPI + "@Apom_User.Common.Constant.APIs.groupcomp_compbygroup";

        var requestDate = properties.datetime_shooting.substr(0, 10);
        prevDays = apomGis.Config.timeslider.prev_current;
        nextDays = apomGis.Config.timeslider.next_currrent;

        // reset
        $('.left-panel-chart-component').fadeIn();
        $(dailyAQIChart).empty();
        $(dailyconcenChart).empty();

        $('.apom-loading').show();
        $.ajax({
            method: "POST",
            url: urlRequestCompByGroup,
            data: JSON.stringify({
                "group_id": groupId
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                var lstComps = response.Data.comps;

                var compIds = [];
                var compAQIIds = [];
                //compAQIIds.push('aqi');
                lstComps.forEach(function (element) {
                    compIds.push(element.component_id);
                    compAQIIds.push('aqi_' + element.component_id);
                });

                // chart for AQI
                compAQIIds.forEach(function (element) {
                    let time = (new Date()).getTime() + '_' + Math.floor(Math.random() * 1000000);
                    console.log('time chart: ' + time);
                    // add div tag foreach aqi_comp
                    let divId = 'daily_' + time + '_' + element + '_chart_show';
                    let $dailyaqichartShow = $("<div id='" + divId + "'></div>")
                    $(dailyAQIChart).append($dailyaqichartShow);
                    let urlRequestDaily = hostAPI + "@Apom_User.Common.Constant.APIs.compstation_daily";
                    $.ajax({
                        method: "POST",
                        url: urlRequestDaily,
                        data: JSON.stringify({
                            "group_id": groupId,
                            "comp_id": element,
                            "date_request": requestDate,
                            "predays": prevDays,
                            "nextdays": nextDays,
                            "lang_id": langId
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            console.log(response);
                            $('.apom-loading').hide();
                            if (response.Code = 200) {
                                dataDaily = response.Data.daily_aqi;
                                if (dataDaily.length > 0) {
                                    let compName = dataDaily[0].component_name;
                                    compName = (compName === "AQI_PM25") ? "AQI" : compName;
                                    let groupName = dataDaily[0].group_name;
                                    let aqiValue = [];
                                    let dateShooting = [];
                                    dataDaily.forEach(function (element) {
                                        aqiValue.push(element.aqi_value);
                                        dateShooting.push(element.datetime_shooting);//.substr(0, 10));
                                    });

                                    let units = 'AQI';

                                    let plotsBandVNAQI = [];
                                    apomGis.Config.VNAQI.map(function (element) {
                                        let _element = {
                                            'color': element.bg_color,
                                            'from': element.from,
                                            'to': element.to
                                        };
                                        plotsBandVNAQI.push(_element);
                                    });

                                    //let title = compName + " values at " + groupName;

                                    let resultChart = [];
                                    //dataDaily.map(function(element){
                                    //    resultChart.push([new Date(element.datetime_shooting).getTime(), element.aqi_value]);
                                    //});

                                    // array sap xep theo thu tu thoi gian tang dan
                                    for (let i = dataDaily.length - 1; i >= 0; i--) {
                                        resultChart.push([new Date(dataDaily[i].datetime_shooting).getTime(), dataDaily[i].aqi_value]);
                                    }


                                    let serieses = [
						            {
						                //showInLegend: false,
						                data: resultChart,
						                name: compName,
						                color: "blue",
						            }];

                                    let myChart = new apomChart({
                                        'lang_id': langId
                                    });
                                    myChart.generateChart({
                                        'id': divId,
                                        'typeChart': 'line',
                                        'enableCredits': false,
                                        'title': title,
                                        'subTitle': subTitle,
                                        'tooltip': {
                                            headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                            footerFormat: '</table>',
                                            shared: true,
                                            useHTML: true,
                                        },
                                        xAsis: {
                                            'type': 'datetime',
                                            'format': '{value: %Y-%m-%d %H:%M}',
                                            'rotation': -45,
                                            'text': '@Resources.Map.chart_date_title',
                                            'tickInterval': 86400000 // 24h
                                        },
                                        yAxis: {
                                            'text': units,
                                            'plotBands': plotsBandVNAQI
                                        },
                                        legend: { enabled: false },
                                        'series': serieses,
                                        'enableExport': true
                                    });
                                }
                            }
                        },
                        failure: function (response) {
                            console.log(response);
                            $('.apom-loading').hide();
                        },
                        error: function (response) {
                            console.log(response);
                            $('.apom-loading').hide();
                        }
                    });
                });



                // chart for Components
                compIds.forEach(function (element) {
                    // add div tag foreach aqi_comp
                    let divId = 'daily' + element + '_chart_show';
                    let $dailyconcenchartShow = $("<div id='" + divId + "'></div>")
                    $(dailyconcenChart).append($dailyconcenchartShow);
                    let urlRequestDaily = hostAPI + "@Apom_User.Common.Constant.APIs.compstation_daily";
                    $.ajax({
                        method: "POST",
                        url: urlRequestDaily,
                        data: JSON.stringify({
                            "group_id": groupId,
                            "comp_id": element,
                            "date_request": requestDate,
                            "predays": prevDays,
                            "nextdays": nextDays,
                            "lang_id": langId
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            //console.log(response);
                            if (response.Code = 200) {
                                dataDaily = response.Data.daily_aqi;
                                if (dataDaily.length > 0) {
                                    let compName = dataDaily[0].component_name;
                                    let groupName = dataDaily[0].group_name;
                                    let aqiValue = [];
                                    let dateShooting = [];
                                    dataDaily.forEach(function (element) {
                                        aqiValue.push(element.aqi_value);
                                        dateShooting.push(element.datetime_shooting);//.substr(0, 10));
                                    });

                                    let units = '&micro;gm<sup>-3</sup>';

                                    let plotsBandAQIPM25 = [];
                                    apomGis.Config.VNAQI.map(function(element){
                                        let _element = {
                                            'color': element.bg_color,
                                            'from': element.pm25_from,
                                            'to': element.pm25_to
                                        };
                                        plotsBandAQIPM25.push(_element);
                                    });

                                    @*let title = '@Resources.Map.comp_values_at_address';
                                    title = title.replaceAll('${x}', compName).replaceAll('${y}', groupName);*@

                                    let resultChart = [];
                                    //dataDaily.map(function(element){
                                    //    resultChart.push([new Date(element.datetime_shooting).getTime(), element.aqi_value]);
                                    //});

                                    // array sap xep theo thu tu thoi gian tang dan
                                    for(let i=dataDaily.length-1;i>=0;i--){
                                        resultChart.push([new Date(dataDaily[i].datetime_shooting).getTime(), dataDaily[i].aqi_value]);
                                    }

                                    let serieses = [
						            {
						                //showInLegend: false,
						                data: resultChart,
						                name: compName,
						                color: "blue",
						                type: 'line',
						                tooltip: {
						                    valueDecimals: 2
						                }
						            }];

                                    let myChart = new apomChart({
                                        'lang_id': langId
                                    });
                                    myChart.generateChart({
                                        'id': divId,
                                        'enableCredits': false,
                                        'title': title,
                                        'subTitle': subTitle,
                                        'tooltip': {
                                            headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                            footerFormat: '</table>',
                                            shared: true,
                                            useHTML: true,
                                        },
                                        xAsis: {
                                            'type': 'datetime',
                                            'format': '{value: %Y-%m-%d %H:%M}',
                                            'rotation': -45,
                                            'text': '@Resources.Map.chart_date_title',
                                            'tickInterval': 86400000 // 24h
                                        },
                                        yAxis: {
                                            'text': units,
                                            'plotBands': plotsBandAQIPM25
                                        },
                                        'series': serieses,
                                        legend: { enabled: false },
                                        /*'enableExport': true,
                                        'menuItemsExport': ["downloadPNG",
                                                            "downloadPDF",
                                                            "separator",
                                                            "downloadCSV",
                                                            "downloadXLS",
                                                            //"viewData",
                                                            "openInCloud"
                                        ],*/
                                    });
                                }
                            }
                        },
                        failure: function (response) {
                            console.log(response);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });
            },
            failure: function (response) {
                console.log(response);
                $('.apom-loading').hide();
            },
            error: function (response) {
                console.log(response);
                $('.apom-loading').hide();
            }
        });
    }

    function toogleChart(element, isActive) {
        if (isActive !== undefined) {
            if (isActive) {
                if (!element.hasClass('active')) element.addClass('active');
            }
            else {
                element.removeClass('active');
            }
        }
        else {
			element.addClass("active");
		}
        let _isActive = element.hasClass('active');
        if (_isActive) {
            let link = element.data('link');
            $('#' + link).show();
        }
        let siblingItems = element.siblings();
        for (let i = 0; i < siblingItems.length; i++) {
            let linkSibling = $(siblingItems[i]).data('link');
			$(siblingItems[i]).removeClass("active");
            $('#' + linkSibling).hide();
            /*if (_isActive) {
                $(siblingItems[i]).removeClass("active");
                $('#' + linkSibling).hide();
            }
            else {
                $(siblingItems[i]).addClass("active");
                $('#' + linkSibling).show();
            }*/
        }
    }

    $(document).ready(function () {
        $(".icon-toggle-chart").click(function (e) {
            e.preventDefault();
            toogleChart($(this));
        });
    });
</script>
