﻿@using Apom_User.Common

@{
    string hostGSV = ViewBag.HOSTGSV;
    string mapId = ViewData["ctrl_id"] == null ? "my_map" : ViewData["ctrl_id"].ToString();
    string provinceId = ViewData["province_id"] == null ? Constant.WebConfig.PROVINCE_DEFAULT : ViewData["province_id"].ToString();
    string hostGeoServer = Constant.WebConfig.HOST_GEOSERVER;
}
<style>
    .apom-map {
        height: 500px;
    }

        .apom-map .map-legend {
            position: absolute;
            bottom: 4.5rem;
            right: 0;
            z-index: 1;
        }

            .apom-map .map-legend ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

    .text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    .font-semibold {
        font-weight: 600;
    }

    .text-center {
        text-align: center;
    }

    .border-\[rgba\(245\2c 245\2c 245\2c 0\.6\)\] {
        border-color: hsla(0, 0%, 96%, .6);
    }

    .border-\[8px\] {
        border-width: 8px;
    }

    .rounded-\[1rem\] {
        border-radius: 1rem;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .w-full {
        width: 90%;
    }

    .flex {
        display: flex;
    }

    .flex-1 {
        flex: 1 1 0%;
    }


    .leading-\[1\] {
        line-height: 1;
    }

    .p-\[0\.5rem\] {
        padding: .5rem;
    }

    .rounded-tl-\[0\.8rem\] {
        border-top-left-radius: .8rem;
    }

    .rounded-bl-\[0\.8rem\] {
        border-bottom-left-radius: .8rem;
    }

    .rounded-tr-\[0\.8rem\] {
        border-top-right-radius: .8rem;
    }

    .rounded-br-\[0\.8rem\] {
        border-bottom-right-radius: .8rem;
    }

    .justify-between {
        justify-content: space-between;
    }

    .items-center {
        align-items: center;
    }

    .map-legend ul li span {
        font-size: 1rem;
    }

    .zoom-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 1;
        margin-top: 68px;
    }

    .zoom-button {
        width: 40px;
        height: 40px;
        /*background-color: #007BFF;*/
        background-color: white;
        color: black;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    /*.zoom-button:hover {
        background-color: #0056b3;
    }*/
</style>
<!-- map view -->
<div id="@mapId" class="apom-map">
    <div class="zoom-buttons">
        <button class="zoom-button" data-type="in">+</button>
        <button class="zoom-button" data-type="out">-</button>
    </div>
    <div class="scale w-full text-white text-center font-semibold rounded-[1rem] overflow-hidden border-[8px] border-[rgba(245,245,245,0.6)] dark:border-[rgba(34,39,44,0.40)] map-legend">
        <ul class="w-full flex">
            <li style="background-color: #1bbe58" class="flex-1 flex1 items-center leading-[1] p-[0.5rem] justify-between rounded-tl-[0.8rem] rounded-bl-[0.8rem]">
                <span>0-</span><span>50</span>
            </li>
            <li style="background-color: #ffff00; color: black;" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
                <span>&nbsp</span><span style="float:right;">100</span>
            </li>
            <li style="background-color: #ff7e00" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
                <span>&nbsp;</span><span style="float:right;">150</span>
            </li>
            <li style="background-color: #d52827" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
                <span>&nbsp;</span><span style="float:right;">200</span>
            </li>
            <li style="background-color: #8f3f97" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
                <span>&nbsp;</span><span style="float:right;">300</span>
            </li>
            <li style="background-color: #7e0023" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem] rounded-tr-[0.8rem] rounded-br-[0.8rem]">
                <span style="float:right;">300+</span>
            </li>
        </ul>
    </div>
</div>
<!-- end map view -->

<script>
    function initMap() {
        var mainImpl = new apomGis.mainClass({
            mapid: '@mapId',
            hostapi: '@ViewBag.HostAPI',
            endpoint_identify: '@Constant.APIs.administrative_info_by_coor',
            langid: '@Apom_User.Common.SessionContext.Language'.trim()
        });
        mainImpl.isAuthenticate = isAuthenticate;
        mainImpl.hostGSV = '@hostGSV';

        var f = {
            VNAQI: apomGis.Config.VNAQI,
            provinceId_His: '',
            provinceId: '@provinceId',
            provinceName: '',
            districtId: '',
            componentId: 'aqi',
            langId: '@Apom_User.Common.SessionContext.Language',
            extentProvince: undefined,
            mapDataProvince: [],
            mapDataDistrict: [],
            hostAPI: '@ViewBag.HostAPI',
            rangeGDColorAQI: 100,
            digitDecimal: CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL
        };

        function getDistrictAVG(provinceId, langId) {
            let urlRequest = f.hostAPI + "@Constant.APIs.analysis_district_avg_statistic"
            $.ajax({
                method: "POST",
                url: urlRequest,
                data: JSON.stringify({
                    "id": provinceId,
                    "from_date": moment(new Date()).format('YYYY-MM-DD 00:00:00'),
                    "to_date": moment(new Date()).format('YYYY-MM-DD 23:59:59'),
                    "component_id": f.componentId,
                    "lang_id": langId
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: true,
                success: function (response) {
                    let resultAnalysis = response.Data.comps;
                    let avgProvince = 0.0;
                    if (resultAnalysis.length > 0) {
                        f.resultAnalysis = resultAnalysis;
                        for (let i = 0; i < resultAnalysis.length; i++) {
                            let item = resultAnalysis[i];
                            let val = item.val ? item.val : 0;
                            let isAQI = f.componentId === 'aqi' ? true : false;
                            let info = getInfoAQIPM25(isAQI, val);
                            avgProvince += val;

                            // data districts
                            let itemMapDataDistrict = {
                                name: item.name,
                                val: item.val.toFixed(f.digitDecimal),
                                color: info.bg_color,
                            };
                            f.mapDataDistrict[item.id] = itemMapDataDistrict;
                        }
                        avgProvince = avgProvince / resultAnalysis.length;
                        avgProvince = avgProvince.toFixed(f.digitDecimal);
                    }
                    else {
                        avgProvince = '--';
                        f.mapDataDistrict = [];
                    }
                }
            });
        }

        function initGradientAQI() {
            let rainbow = new Rainbow(); // by default, range is 0 to 100
            let numberOfItems = f.rangeGDColorAQI + 1;
            for (let i = 0; i < f.VNAQI.length - 1; i++) {
                f.VNAQI[i].gdColors = [];
                let fromColor = f.VNAQI[i].bg_color;
                let toColor = f.VNAQI[i + 1].bg_color;
                rainbow.setNumberRange(1, numberOfItems);
                rainbow.setSpectrum(fromColor, toColor);
                for (let j = 1; j <= numberOfItems; j++) {
                    let hex = '#' + rainbow.colourAt(j);
                    f.VNAQI[i].gdColors[j - 1] = hex;
                }
            }
        }
        //initGradientAQI();

        /*** region map ***/
        function getInfoAQIPM25(isAQI, val) {
            let aqiStatus = '';
            let aqiDes = '';
            let bgColor = '';
            let fontColor = '';

            for (let i = 0; i < f.VNAQI.length; i++) {
                let aqi = f.VNAQI[i];
                let from, to;
                if (isAQI) {
                    from = aqi.from;
                    to = aqi.to;
                }
                else {
                    from = aqi.pm25_from;
                    to = aqi.pm25_to;
                }

                if (from != null) {
                    if (to != null) {
                        if (from <= val && val <= to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            if (aqi.gdColors) {
                                let step = (to - from) / f.rangeGDColorAQI;
                                let index = Math.floor((val - from) / step);
                                bgColor = aqi.gdColors[index];
                            }
                            else bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                    else {
                        if (from <= val) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
                else {
                    if (to != null) {
                        if (val <= to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
            }

            return {
                status: aqiStatus,
                des: aqiDes,
                bg_color: bgColor,
                font_color: fontColor
            }
        }

        /*** stylemap function ***/
        function styleMapFunctionProvince(feature, e) {
            let colorVisual = '';
            let label = '';
            let properties = feature.getProperties();
            let fProvinceId = properties.province_id;
            let isAQI = f.componentId === 'aqi' ? true : false;

            if (f.mapDataProvince[fProvinceId]) {
                let aqipm25 = f.mapDataProvince[fProvinceId].val;
                let info = getInfoAQIPM25(isAQI, aqipm25);
                colorVisual = info.bg_color;
                //colorVisual = colorVisual === '' ? 'rgba(0,0,0,0)' : colorVisual;
                label = f.mapDataProvince[fProvinceId].name + ': ' + aqipm25.toString();
            }
            else {
                colorVisual = 'rgba(0,214,0,1)'; // default aqi <= 50
                label = '';
            }

            let styleAQI = new ol.style.Style({
                stroke: apomGis.style.default.stroke,
                fill: new ol.style.Fill({
                    color: colorVisual
                }),
                text: new ol.style.Text({
                    text: label,
                    fill: apomGis.style.default.textFill,
                    stroke: apomGis.style.default.textStroke
                }),
                zIndex: 100
            });
            return [styleAQI];
        };

        function styleMapFunctionDistrict(feature, e) {
            let colorVisual = '';
            let label = '';
            let properties = feature.getProperties();
            let fProvinceId = properties.province_id;
            let fDistrictId = properties.district_id;
            let isAQI = f.componentId === 'aqi' ? true : false;

            if (f.mapDataDistrict[fDistrictId]) {
                let aqipm25 = f.mapDataDistrict[fDistrictId].val;
                let info = getInfoAQIPM25(isAQI, aqipm25);
                colorVisual = info.bg_color;
                //colorVisual = 'rgba(0,214,0,0.1)'; // default aqi <= 50
                label = f.mapDataDistrict[fDistrictId].name + ': ' + aqipm25.toString();
            }
            else {
                colorVisual = 'rgba(0,214,0,0)'; // default aqi <= 50
                label = '';
            }

            let styleAQI = new ol.style.Style({
                stroke: apomGis.style.default.stroke,
                fill: new ol.style.Fill({
                    color: colorVisual
                }),
                text: new ol.style.Text({
                    text: label,
                    fill: apomGis.style.default.textFill,
                    stroke: apomGis.style.default.textStroke
                }),
                zIndex: 100
            });
            return [styleAQI];
        };
        /*** end stylemap function ***/

        /*** tileload function ***/
        function tileLoadFunctionProvince(tile, url) {
            var format = tile.getFormat();
            var tileCoord = tile.getTileCoord();
            tile.setLoader(function (extent, resolution, projection) {
                fetch(url).then(function (response) {
                    response.arrayBuffer().then(function (data) {
                        const format = tile.getFormat() // ol/format/MVT configured as source format
                        const projection1 = format.readProjection(data);
                        if (tile.setProjection) tile.setProjection(projection1);
                        var features = [];
                        try {
                            //features = format.readFeatures(data, {});
                            features = format.readFeatures(data, {
                                extent: tile.extent,
                                featureProjection: tile.projection
                            });
                        }
                        catch (ex) {
                            //console.log('error read feature: ' + ex);
                            features = [];
                        }

                        // filter provinceId districtId
                        if (f.provinceId != '') {
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fProvinceId = properties.province_id;
                                if (fProvinceId != f.provinceId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }

                        tile.setFeatures(features);
                    });
                });
            });
        };

        function tileLoadFunctionDistrict(tile, url) {
            var format = tile.getFormat();
            var tileCoord = tile.getTileCoord();
            tile.setLoader(function (extent, resolution, projection) {
                fetch(url).then(function (response) {
                    response.arrayBuffer().then(function (data) {
                        const format = tile.getFormat() // ol/format/MVT configured as source format
                        const projection1 = format.readProjection(data);
                        if (tile.setProjection) tile.setProjection(projection1);
                        var features = [];
                        try {
                            //features = format.readFeatures(data, {});
                            features = format.readFeatures(data, {
                                extent: tile.extent,
                                featureProjection: tile.projection
                            });
                        }
                        catch (ex) {
                            //console.log('error read feature: ' + ex);
                            features = [];
                        }

                        if (f.provinceId != '') {
                            // filter by province
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fProvinceId = properties.province_id;
                                if (fProvinceId != f.provinceId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }
                        else {
                            features = [];
                        }

                        tile.setFeatures(features);
                    });
                });
            });
        };
        /*** end tileload function ***/

        /*** config layers ***/
        let maxZoomProvince = 9; // init: hide province
        let maxZoomDistrict = 22; // init: hide district
        apomGis.Config.Services = [
            {
                urlservice: '@hostGeoServer' + '/gwc/service/wmts',
                featurebase: 'hydroalp',
                featuretype: 'gis_administrative_province',
                type: apomGis.Config.layerType.vectortile,
                maxZoom: maxZoomProvince,
                tileLoadFunction: tileLoadFunctionProvince,
                styleMap: styleMapFunctionProvince,
                visible: true
            },
            {
                urlservice: '@hostGeoServer' + '/gwc/service/wmts',
                featurebase: 'hydroalp',
                featuretype: 'gis_administrative_district',
                type: apomGis.Config.layerType.vectortile,
                minZoom: maxZoomProvince,
                maxZoom: maxZoomDistrict,
                tileLoadFunction: tileLoadFunctionDistrict,
                styleMap: styleMapFunctionDistrict,
                visible: true
            },
        ]
        /*** end config layers ***/

        $(document).ready(function () {
            // get aqi_avg of districts
            getDistrictAVG(f.provinceId, f.langId);

            // call map
            let fitExtentMap = [
                104.88813171,
                20.16447411,
                106.32005768,
                21.78520813
            ];
            //if(apomGis.mainCurrentImpl) apomGis.mainCurrentImpl.initApomGisAnalysis();
            //mainImpl.initApomGisMobile({
            //    'fit_extent': fitExtentMap
            //});
            mainImpl.initApomGisAnalysis({
                'fit_extent': fitExtentMap,
                'show_bm': true
            });
            apomGis.mainCurrentImpl = mainImpl;
            /*** endregion map ***/

            var navHeight = $('.footer-menu').height() === undefined ? 0 : $('.footer-menu').height();
            var footerHeight = 0, delta = 0;
            var height = (window.innerHeight - (navHeight + footerHeight)) - delta;
            $('#' + mapId).css('height', (height + delta) + 'px');
            $(window).resize(function () {
                var height_map = (window.innerHeight - (navHeight + footerHeight)) - 0;
                $('#' + mapId).css('height', (height_map + delta) + 'px');
            });

            $('.zoom-button').click(function () {
                let type = $(this).data('type');
                if (type === 'in') apomGis.mainCurrentImpl.mapImpl.coreImpl.fixZoomIn();
                else apomGis.mainCurrentImpl.mapImpl.coreImpl.fixZoomOut();
            });
        });
    }
</script>