﻿
    @if (Apom_User.Common.SessionContext.Language == Apom_User.Common.Constant.LANGUAGE_DEFAULT)
    {
        <div class="content">
            <div class="header-popup">
                <div class="title">Chú thích</div>
                <div>
                    <div>Đóng</div>
                    <span class="font-icon-close"></span>
                </div>
            </div>
            <div class="item-noti ">
                <div>
                    <span>
                        <div class="title-medium">Dữ liệu quan trắc là gì?</div>
                    </span>
                    <div class="discription" style="display: block">
                        Là các giá trị PM2.5 được đo đạc được tại các trạm quan trắc trên mặt đất. Dữ liệu các trạm quan trắc được thu thập từ 3 nguồn chính:
                        <div>
                            <ul>
                                <li>Trung tâm Quan trắc Môi trường miền Bắc</li>
                                <li>Cục Bảo vệ Môi trường Hà Nội (Hanoi EPA)</li>
                                <li>và các trạm đặt tại Đại Sứ quán và Lãnh Sự quán Mỹ.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-noti ">
                <div>
                    <span>
                        <div class="title-medium">Dữ liệu mô hình là gì?</div>
                    </span>
                    <div class="discription">Là dữ liệu dạng bản đồ, AQI hoặc nồng độ bụi PM2.5 trung bình ngày trên khu vực Việt Nam. Mỗi điểm ảnh chứa giá trị nồng độ bụi PM2.5 đại diện cho một vùng không gian có phạm vi 1x1 km. Các giá trị bản đồ được cập nhật theo ngày và dự báo cho 7 ngày tới.</div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="content">
            <div class="header-popup">
                <div class="title">Notes</div>
                <div>
                    <div>Close</div>
                    <span class="font-icon-close"></span>
                </div>
            </div>
            <div class="item-noti ">
                <div>
                    <span>
                        <div class="title-medium">What is monitoring data?</div>
                    </span>
                    <div class="discription" style="display: block">
                        It is the PM2.5 values measured at on-ground monitoring stations. This data is collected from 3 main sources:
                        <div>
                            <ul>
                                <li>The Northern Center for Environmental Monitoring (NCEM)</li>
                                <li>The Hanoi Environment Protection Agency (Hanoi EPA)</li>
                                <li>Stations placed at the Embassy and Consulate General of America</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-noti ">
                <div>
                    <span>
                        <div class="title-medium">What is model data?</div>
                    </span>
                    <div class="discription">Is a map data, AQI or daily average PM2.5 dust concentration in Vietnam. Each pixel contains PM2.5 dust concentration value representing a spatial area of ​​1x1 km. Map values ​​are updated daily and forecasted for the next 7 days.</div>
                </div>
            </div>
        </div>
    }

    <svg width="12" height="54" viewBox="0 0 12 54" fill="none">
        <path d="M3 16C4.78977 19.485 8.71785 23.2757 11.0832 25.3726C12.0467 26.2266 12.0467 27.7734 11.0832 28.6274C8.71785 30.7243 4.78977 34.515 2.99999 38C0.0957327 43.6551 -1.18021e-05 54 -1.18021e-05 54L0 -2.84124e-06C0 -2.84124e-06 0.09574 10.3449 3 16Z" fill="white" />
    </svg>