﻿@using Apom_User.Common
@*@model List<pinned_location>*@
@{
    //var lstPinnedLocation = Model;
    string userId = Apom_User.Common.SessionContext.UserProfile == null ? "" : Apom_User.Common.SessionContext.UserProfile.userid;
    string langId = Apom_User.Common.SessionContext.Language;

    string accessToken = SessionContext.UserProfile == null ? "" : SessionContext.UserProfile.access_token;
}

<div class="modal in loading-ajax-ranking" tabindex="-1" style="display:block">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div style="">
        <div style="position:absolute; top:45%;left:35%">
            <i class="fa fa-spinner fa-spin fa-5x red"></i>
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div class="card-1 scroll-in-table">
    <div class="title">
        <div>@Resources.Map.ranking_title</div>
        <label class="col-md-12 label-control lbl-ranking-subtitle" style="font-size: smaller;">
        </label>
    </div>
    <div class="discription">
        <div>@Resources.Map.ranking_pinnedlocation:</div>
    </div>

    <div class="pin-location">
        @*
        <div class="card-5">
            <div class="location-name">
                <div>
                    Hai Phong
                </div>
                <div class="icon non-interactive">
                    <span class="font-icon-close"></span>
                </div>
            </div>
            <div class="infor">
                <div class="no">#21</div>
                <div class="aqi-number">AQI: 21</div>
            </div>
        </div>
        *@
    </div>
        
    <div class="table">
        <div class="header-table">
            <div class="item col-32">
                <div class="">#</div>
            </div>
            <div class="item flex-1" style="padding-left: var(--padding-C);">
                <div>@Resources.Map.ranking_location</div>
            </div>
            <div class="item justify-center" style="width: 65px;">
                <div>AQI VN</div>
            </div>
            <div class="item justify-end">
                <div>@Resources.Map.yesterday</div>
            </div>
        </div>

        <div id="ranking" class="content-table">
            @*
            <div class="row-table">
                <div class="item col-32">21</div>
                <div class=" flex-1">
                    <div class="icon">
                        <span class="font-icon-location"></span>
                    </div>
                    <!-- <div class="icon active">
                        <span class="font-icon-pin"></span>
                    </div> -->
                    <div>
                        TP. Ho Chi Minh
                    </div>
                </div>
                <div class="col-56 item justify-end">
                    <div class="tab-icon-text green-bg">
                        <div>92</div>
                    </div>
                </div>
                <div class="col-56 green-style-text item justify-end ">
                    <span class="font-icon-arrow-up"></span>
                    <!-- <span class="font-icon-arrow-bottom"></span> -->
                    <div>6.1</div>
                </div>
            </div>
            *@
        </div>
    </div>
</div>

<script>
    var rankingData = [];
    var lsPinLocationName = "apom_pin_location";
    function showRanking(groupid) {
        var hostAPI = '@ViewBag.HostAPI';
        var urlRequestRanking = hostAPI + "@Constant.APIs.componentgeotiffdaily_ranking";

        $.ajax({
            method: "POST",
            url: urlRequestRanking,
            data: JSON.stringify({
                "group_id": groupid,
                "component_id": 'pm25',
                "lang_id": '@SessionContext.Language'
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                //console.log(response.Data.comps);
                if (response.Data.comps.length > 0) {
                    for (let i = 0; i < response.Data.comps.length; i++) {
                        // change aqi value between 2 day
                        let avgToday = response.Data.comps[i]['avg'];
                        let avgYesterday = response.Data.comps[i]['avg_pre'];
                        let delta = avgToday - avgYesterday;
                        response.Data.comps[i]['up'] = delta > 0;
                        response.Data.comps[i]['delta'] = Math.abs(delta);

                        let val = response.Data.comps[i]['avg'] ? response.Data.comps[i]['avg'].toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL) : '';
                        response.Data.comps[i]['avg'] = val;

                        let valDelta = response.Data.comps[i]['delta'] ? response.Data.comps[i]['delta'].toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL) : '';
                        response.Data.comps[i]['delta'] = valDelta;
                    }

                    let dateShotting = response.Data.comps[0]['date_shooting'];
                    dateShotting = dateShotting != null ? '(' + moment(new Date(dateShotting)).format(formatDate) + ')' : '';
                    $('.lbl-ranking-subtitle').text(dateShotting);

                    let index = 1;
                    $('.pin-location').empty();

                    rankingData = response.Data.comps;
                    for (let i = 0; i < rankingData.length; i++)
                    {
                        let item = rankingData[i];

                        let no = item.no;
                        let avg = parseFloat(item['avg']);
                        let delta = rankingData[i]['delta'];
                        let isUp = rankingData[i]['up'];
                        let bgColor = '', fontColor = '';
                        for (let i = 0; i < apomGis.Config.VNAQI.length; i++) {
                            let aqi = apomGis.Config.VNAQI[i];
                            if (aqi.from != null) {
                                if (aqi.to != null) {
                                    if (aqi.from <= avg && avg <= aqi.to) {
                                        bgColor = aqi.bg_color;
                                        fontColor = aqi.font_color;
                                    }
                                }
                                else {
                                    if (aqi.from <= avg) {
                                        bgColor = aqi.bg_color;
                                        fontColor = aqi.font_color;
                                    }
                                }
                            }
                            else {
                                if (aqi.to != null) {
                                    if (avg <= aqi.to) {
                                        bgColor = aqi.bg_color;
                                        fontColor = aqi.font_color;
                                    }
                                }
                            }
                        };
                        item.bgColor = bgColor;
                        item.fontColor = fontColor;

                        /***** pinned location *******/
                        let isPinned = false;
                        for (let j = 0; j < pinnedLocation.length; j++)
                        {
                            let itemPL = pinnedLocation[j];
                            if(itemPL.province_id === item.administrative_id)
                            {
                                let htmlRow = '';
                                htmlRow += '<div class="card-5 icon-location-' + no + '" style="background-color: ' + bgColor + ';">';
                                // location name
                                htmlRow += '<div class="location-name">';
                                htmlRow += '<div class="outlined-text">' + itemPL.province_name + '</div>';
                                // close button
                                htmlRow += '<div class="icon non-interactive"></div>';
                                htmlRow += '</div>';
                                // end location name

                                // info
                                htmlRow += '<div class="infor">';
                                // aqi
                                htmlRow += '<div class="aqi-number outlined-text" style="opacity: 1.0;">' + item['avg'] + '</div>';
                                // 24h
                                htmlRow += '<div class="aqi-number outlined-text" style="opacity: 1.0;">';
                                if (isUp) {
                                    htmlRow += '<span class="font-icon-arrow-up"></span>';
                                }
                                else {
                                    htmlRow += '<span class="font-icon-arrow-bottom"></span>';
                                }
								console.log('delta', delta);
                                htmlRow += '<span>' + (delta.length?delta:'0') + '</span>';
                                htmlRow += '</div>';
                                // end 24h
                                htmlRow += '</div>';
                                // end info
                                htmlRow += '</div>';
                                $(".pin-location").append(htmlRow);
                                isPinned = true;
                                /*
                                <div class="card-5">
                                    <div class="location-name">
                                        <div>
                                            Hai Phong
                                        </div>
                                        <div class="icon non-interactive">
                                            <span class="font-icon-close"></span>
                                        </div>
                                    </div>
                                    <div class="infor">
                                        <div class="no">#21</div>
                                        <div class="aqi-number">AQI: 21</div>
                                    </div>
                                </div>
                                */
                                break;
                            }
                        }
                        /*****************************/

                        html = '<div class="row-table">';
                        html += '<div class="item col-32">' + index++ + '</div>';
                        html += '<div class=" flex-1">';
                        if(!isPinned)
                        {
                            html += '<div class="icon icon-location" data-no=' + no + '>';
                            html += '<span class="font-icon-location"></span>';
                            html += '</div>';
                        }
                        else
                        {
                            html += '<div class="icon icon-location" data-no=' + no + '>';
                            html += '<span class="font-icon-pin"></span>';
                            html += '</div>';
                        }
                        html += '<div>';
                        html += item.administrative_name;
                        html += '</div>';
                        html += '</div>';
                        html += '<div class="col-56 item justify-end">';
                        html += '<div class="tab-icon-text green-bg-1" style="width: 48px; background-color: ' + bgColor + '; color: ' + fontColor + ';">';
                        html += '<div style="margin: auto;">' + item['avg'] + '</div>';
                        html += '</div>';
                        html += '</div>';
                        html += '<div class="col-56 green-style-text item justify-end ">';

                        if (isUp) {
                            html += '<span class="font-icon-arrow-up"></span>';
                        }
                        else {
                            html += '<span class="font-icon-arrow-bottom"></span>';
                        }
                        html += '<span>' + delta + '</span>';
                        html += '</div>';
                        html += '</div>';
                        $("#ranking").append(html);
                    }

                    $('.icon-location').click(function()
                    {
                        let accessToken = '@accessToken';
                        if (accessToken === '') {
                            console.log('not allow pinned location');
                            return;
                        }
                        $('.loading-ajax-ranking').show();
                        let no = parseInt($(this).data('no'));
                        let spanObj = $(this).find('span');

                        rankingData = response.Data.comps;
                        let bgColor = '', provinceName = '', isUp = false, avg = '', delta = '', provinceId = '';
                        for (let i = 0; i < rankingData.length; i++)
                        {
                            let item = rankingData[i];
                            if(no == item.no)
                            {
                                bgColor = item.bgColor;
                                provinceName = item.administrative_name;
                                isUp = item.isUp;
                                avg = item.avg;
                                delta = item.delta;
                                provinceId = item.administrative_id
                                break;
                            }
                        }
                        if(spanObj.hasClass('font-icon-location'))
                        {
                            let isAllowPinned = true;
                            let urlRequestPinnedLocation = hostAPI + "@Apom_User.Common.Constant.APIs.pinnedlocation_update";
                            $.ajax({
                                method: "POST",
                                url: urlRequestPinnedLocation,
                                headers: {
                                    "access_token": "@accessToken"
                                },
                                data: JSON.stringify({
                                    "province_id": provinceId,
                                    "user_id": '@userId',
                                    "is_add": true
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: "json",
                                crossDomain: true,
                                async: false,
                                success: function (response) {
                                    $('.loading-ajax-ranking').hide();
                                    if(response.Code != 200)
                                    {
                                        isAllowPinned = false;
                                    }
                                },
                                failure: function (response) {
                                    $('.loading-ajax-ranking').hide();
                                    console.log(response);
                                },
                                error: function (response) {
                                    $('.loading-ajax-ranking').hide();
                                    console.log(response);
                                }
                            });

                            if (isAllowPinned) {
                                spanObj.removeClass('font-icon-location');
                                spanObj.addClass('font-icon-pin');

                                let htmlRow = '';
                                htmlRow += '<div class="card-5 icon-location-' + no + '" style="background-color: ' + bgColor + ';">';
                                // location name
                                htmlRow += '<div class="location-name">';
                                htmlRow += '<div class="outlined-text">' + provinceName + '</div>';
                                // close button
                                htmlRow += '<div class="icon non-interactive"></div>';
                                htmlRow += '</div>';
                                // end location name

                                // info
                                htmlRow += '<div class="infor">';
                                // aqi
                                htmlRow += '<div class="aqi-number outlined-text" style="opacity: 1.0;">' + avg + '</div>';
                                // 24h
                                htmlRow += '<div class="aqi-number outlined-text" style="opacity: 1.0;">';
                                if (isUp) {
                                    htmlRow += '<span class="font-icon-arrow-up"></span>';
                                }
                                else {
                                    htmlRow += '<span class="font-icon-arrow-bottom"></span>';
                                }
                                htmlRow += '<span>' + delta + '</span>';
                                htmlRow += '</div>';
                                // end 24h
                                htmlRow += '</div>';
                                // end info
                                htmlRow += '</div>';
                                $(".pin-location").append(htmlRow);
                            }
                            else {
                                console.log('not allow pinned location');
                            }

                            // add localstorage
                            @*if(apomGis.supportLS)
                            {
                                let lsPinLocation = [];
                                let lsItemPinLocation = {};
                                if (localStorage.getItem(lsPinLocationName)) {
                                    lsItemPinLocation = JSON.parse(localStorage.getItem(lsPinLocationName));
                                }

                                lsItemPinLocation.uid = lsItemPinLocation.uid === undefined ? '@userId' : lsItemPinLocation.uid;
                                lsItemPinLocation.pl = lsItemPinLocation.pl === undefined ? [] : lsItemPinLocation.pl;
                                lsItemPinLocation.langId = lsItemPinLocation.langId === undefined ? '@langId' : lsItemPinLocation.langId;
                                let isExist = false;
                                for (let i = 0; i < lsItemPinLocation.pl.length; i++)
                                {
                                    if(lsItemPinLocation.pl[i].province_id === provinceId)
                                    {
                                        isExist = true;
                                        break;
                                    }
                                }
                                if(!isExist)
                                {
                                    let plLenght = lsItemPinLocation.pl.length;
                                    lsItemPinLocation.pl[plLenght] = {};
                                    lsItemPinLocation.pl[plLenght].province_id = provinceId;
                                    lsItemPinLocation.pl[plLenght].province_name = provinceName;
                                    localStorage.setItem(lsItemPinLocationName, JSON.stringify(lsItemPinLocation));
                                }
                            }*@
                        }
                        else
                        {
                            let isAllowPinned = true;

                            let urlRequestPinnedLocation = hostAPI + "@Apom_User.Common.Constant.APIs.pinnedlocation_update";
                            $.ajax({
                                method: "POST",
                                url: urlRequestPinnedLocation,
                                headers: {
                                    "access_token": "@accessToken"
                                },
                                data: JSON.stringify({
                                    "province_id": provinceId,
                                    "user_id": '@userId',
                                    "is_add": false
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: "json",
                                crossDomain: true,
                                async: false,
                                success: function (response) {
                                    $('.loading-ajax-ranking').hide();
                                    if (response.Code != 200) {
                                        isAllowPinned = false;
                                    }
                                },
                                failure: function (response) {
                                    $('.loading-ajax-ranking').hide();
                                    console.log(response);
                                },
                                error: function (response) {
                                    $('.loading-ajax-ranking').hide();
                                    console.log(response);
                                }
                            });

                            if (isAllowPinned) {
                                spanObj.addClass('font-icon-location');
                                spanObj.removeClass('font-icon-pin');
                                $('.pin-location .icon-location-' + no).remove();
                            }
                            else {
                                console.log('not allow pinned location');
                            }

                            // remove localstorage
                            @*if(apomGis.supportLS){
                                let lsPinLocation = {};
                                if (localStorage.getItem(lsPinLocationName)) {
                                    lsPinLocation = JSON.parse(localStorage.getItem(lsPinLocationName));
                                }

                                lsPinLocation.uid = lsPinLocation.uid === undefined ? '@userId' : lsPinLocation.uid;
                                lsPinLocation.pl = lsPinLocation.pl === undefined ? [] : lsPinLocation.pl;
                                lsPinLocation.langId = lsPinLocation.langId === undefined ? '@langId' : lsPinLocation.langId;
                                for (let i = 0; i < lsPinLocation.pl.length; i++)
                                {
                                    if(lsPinLocation.pl[i].province_id === provinceId)
                                    {
                                        lsPinLocation.pl.splice(i, 1);
                                        break;
                                    }
                                }
                                localStorage.setItem(lsPinLocationName, JSON.stringify(lsPinLocation));
                            }*@
                        }
                    });
                }
                $('.loading-ajax-ranking').hide();
            },
            failure: function (response) {
                $('.loading-ajax-ranking').hide();
                console.log(response);
            },
            error: function (response) {
                $('.loading-ajax-ranking').hide();
                console.log(response);
                console.log(response.responseText);
            }
        });
    };

    var pinnedLocation = [];

    function getPinnedLocationDefault() {
        $('.loading-ajax-ranking').show();
        let urlRequestPinnedLocation = '@ViewBag.HostAPI' + "@Apom_User.Common.Constant.APIs.pinnedlocation_default";
        $.ajax({
            method: "POST",
            url: urlRequestPinnedLocation,
            data: JSON.stringify({
                "group_id": 'satellite_aqi_pm25',
                "component_id": 'pm25',
                "user_id": '@userId',
                "lang_id": '@Apom_User.Common.SessionContext.Language'
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                $('.loading-ajax-ranking').hide();
                pinnedLocation = response.Data.comps;

                showRanking('satellite_aqi_pm25');
            },
            failure: function (response) {
                $('.loading-ajax-ranking').hide();
                console.log(response);
                showRanking('satellite_aqi_pm25');
            },
            error: function (response) {
                $('.loading-ajax-ranking').hide();
                console.log(response);
                showRanking('satellite_aqi_pm25');
            }
        });
    };

    $(document).ready(function () {
        getPinnedLocationDefault();
        @*pinnedLocation = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstPinnedLocation));*@

        //showRanking($('#cbo_ranking').val());
        //showRanking('satellite_aqi_pm25');
    });
</script>