﻿@using Repositories.Models.Category
@using Apom_User.Common
@{
    // default hanoi
    string provinceId = ViewData["province_id"] == null ? Constant.WebConfig.PROVINCE_DEFAULT : ViewData["province_id"].ToString();
    string ctrlId = ViewData["ctrl_id"] == null ? "chart" : ViewData["ctrl_id"].ToString();
    string langId = Apom_User.Common.SessionContext.Language;
}
<style>
    /*tab-ranking*/
    .ranking-header {
        font-weight: bold;
        font-size: 1.2rem;
        /*margin-bottom: 10px;*/
    }

    .ranking-date {
        font-size: 0.9rem;
        color: #6c757d;
        font-weight: bold;
    }

    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }

    .aqi-row-value {
        /*background-color: yellow;*/
        border-radius: 8px;
        padding: 3px 8px;
        font-weight: bold;
    }

    .aqi-green {
        background-color: #8bc34a;
        color: white;
    }
    /*tab-ranking*/
</style>

@*<div class="d-flex justify-content-between align-items-center">
        <span class="ranking-header">@Resources.Map.ranking_district_title</span>
        <span class="ranking-date">11/12/2024</span>
    </div>*@
<div class="header">
    <div class="ranking-header">@Resources.Map.ranking_district_title</div>
    <div class="ranking-date">Thứ năm, ngày 12 tháng 12 năm 2024</div>
</div>

<div class="div-ranking-apom">
    <table class="table table-bordered mt-3 table-ranking-apom" id="ranking">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>@Resources.Map.ranking_location</th>
                <th>AQI VN</th>
                <th>@Resources.Map.yesterday</th>
            </tr>
        </thead>
        <tbody id="ranking-body">
            @*<tr>
                    <td>1</td>
                    <td>
                        <span class="aqi-district-name">Hà Nội</span>
                    </td>
                    <td>
                        <span class="aqi-row-value">74.3</span>
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" />
                        </svg>
                        <span class="aqi-delta-value">40.6</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <span class="aqi-district-name">Bắc Ninh</span>
                    </td>
                    <td><span class="aqi-row-value">67.8</span></td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
                        </svg>
                        <span class="aqi-delta-value">39.1</span>
                    </td>
                </tr>*@
        </tbody>
    </table>
</div>

<script>
    var apomLoadingClass = '.apom-loading';
    function showRanking(groupid, date) {
        var hostAPI = '@ViewBag.HostAPI';
        var urlRequestRanking = hostAPI + "@Constant.APIs.componentgeotiffdaily_rankingprovince";

        var dateShooting = new Date(date);
        var date_shooting = moment(dateShooting).format('YYYY-MM-DD');
        var date_shooting_pre = moment(dateShooting.addDays(-1)).format('YYYY-MM-DD');
        var digitDecimal = 1; // CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL
        $.ajax({
            method: "POST",
            url: urlRequestRanking,
            data: JSON.stringify({
                "group_id": groupid,
                "component_id": 'pm25',
                "date_shooting": date_shooting,
                "date_shooting_pre": date_shooting_pre,
                "lang_id": '@SessionContext.Language',
                "province_id": '@provinceId'
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                //console.log(response.Data.comps);
                if (response.Data.comps.length > 0) {
                    for (let i = 0; i < response.Data.comps.length; i++) {
                        // change aqi value between 2 day
                        let avgToday = response.Data.comps[i]['avg'];
                        let avgYesterday = response.Data.comps[i]['avg_pre'];
                        let delta = avgToday - avgYesterday;
                        response.Data.comps[i]['up'] = delta > 0;
                        response.Data.comps[i]['delta'] = Math.abs(delta);

                        let val = response.Data.comps[i]['avg'] ? response.Data.comps[i]['avg'].toFixed(digitDecimal) : '';
                        response.Data.comps[i]['avg'] = val;

                        let valDelta = response.Data.comps[i]['delta'] ? response.Data.comps[i]['delta'].toFixed(digitDecimal) : '0.0';
                        response.Data.comps[i]['delta'] = valDelta;
                    }'';

                    let index = 1;
                    $("#ranking-body").empty();

                    rankingData = response.Data.comps;
                    for (let i = 0; i < rankingData.length; i++)
                    {
                        let item = rankingData[i];

                        let no = item.no;
                        let avg = parseFloat(item['avg']);
                        let delta = item['delta'];
                        let isUp = item['up'];
                        let bgColor = '', fontColor = '';
                        for (let i = 0; i < apomGis.Config.VNAQI.length; i++) {
                            let aqi = apomGis.Config.VNAQI[i];
                            if (aqi.from != null) {
                                if (aqi.to != null) {
                                    if (aqi.from <= avg && avg <= aqi.to) {
                                        bgColor = aqi.bg_color;
                                        fontColor = aqi.font_color;
                                    }
                                }
                                else {
                                    if (aqi.from <= avg) {
                                        bgColor = aqi.bg_color;
                                        fontColor = aqi.font_color;
                                    }
                                }
                            }
                            else {
                                if (aqi.to != null) {
                                    if (avg <= aqi.to) {
                                        bgColor = aqi.bg_color;
                                        fontColor = aqi.font_color;
                                    }
                                }
                            }
                        };
                        item.bgColor = bgColor;
                        item.fontColor = fontColor;

                        html = '<tr>';
                        html += '<td>' + index++ + '</td>';
                        html += '<td>' + item.administrative_name + '</td>';
                        html += '<td><span class="aqi-row-value" style="background-color: ' + bgColor + '; color: ' + fontColor + ';">' + item['avg'] + '</span></td>';
                        if (isUp) {
                            html += '<td>';
                            html += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" /></svg>';
                            html += '<span class="aqi-delta-value">' + delta + '</span>';
                            html += '</td>';
                        }
                        else {
                            html += '<td>';
                            if (parseFloat(delta) === 0) {
                                html += '<span class="">-</span>';
                            }
                            else {
                                html += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" /></svg> ';
                            }
                            html += '<span class="aqi-delta-value">' + delta + '</span>';
                            html += '</td>';
                        }
                        html += '</tr>';
                        $("#ranking-body").append(html);
                    }
                }
                $(apomLoadingClass).hide();
            },
            failure: function (response) {
                $(apomLoadingClass).hide();
                console.log(response);
            },
            error: function (response) {
                $(apomLoadingClass).hide();
                console.log(response);
                console.log(response.responseText);
            }
        });
    };
    $(document).ready(function () {
        let dateNow = new Date();
        let dateNowFormat = dateNow.show('@langId');
        $('.ranking-date').html(dateNowFormat);
        //$('.ranking-date').text(moment(dateShooting).format('DD/MM/YYYY'));
    });
</script>