﻿<!-- BEGIN: Page Vendor JS-->
<script src="~/theme/app-assets/vendors/js/extensions/toastr.min.js"></script>
@*<script src="~/theme/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js"></script>*@
<script src="~/theme/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js"></script>
<script src="~/theme/app-assets/vendors/js/pickers/pickadate/picker.js"></script>
<script src="~/theme/app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
<script src="~/theme/app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
<script src="~/theme/app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
<script src="~/theme/app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>
<script src="~/theme/app-assets/vendors/js/extensions/polyfill.min.js"></script>
<script src="~/theme/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
<!-- END: Page Vendor JS-->
<!-- datatable -->
@if (ViewBag.use_datatable != null && ViewBag.use_datatable)
{
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <script src="~/theme/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
}
<!-- end datatable -->
<!-- highchart -->
@if (ViewBag.use_chart != null && ViewBag.use_chart)
{
    <script src="~/Scripts/highcharts-9.3.2/highcharts.js"></script>
    <script src="~/Scripts/highcharts-9.3.2/modules/series-label.js"></script>
    <script src="~/Scripts/highcharts-9.3.2/modules/exporting.js"></script>
    <script src="~/Scripts/highcharts-9.3.2/modules/export-data.js"></script>
    <script src="~/Scripts/highcharts-9.3.2/modules/accessibility.js"></script>
    <script src="~/Scripts/highcharts-9.3.2/modules/drilldown.js"></script>

    <script type="text/javascript" src="~/Scripts/apom_ultility/apom_chart.js"></script>
}

@if (ViewBag.use_baseslider != null && ViewBag.use_baseslider)
{
    <script type="text/javascript" src="~/Scripts/apom_ultility/apom_timeslider.js"></script>
}

<!-- map library -->
@if (ViewBag.use_map != null && ViewBag.use_map)
{
    <link rel="stylesheet" href="~/Scripts/map/ol.css">
    <script src="~/Scripts/map/ol.js"></script>
    <script src="~/Scripts/apom_map/ol-ext/PopupFeature.js"></script>

    <script src="~/Scripts/apom_map/main.js"></script>
}

@if (ViewBag.use_map_leaflet != null && ViewBag.use_map_leaflet)
{
    if (ViewBag.use_edit_map_leaflet != null && ViewBag.use_edit_map_leaflet)
    {
    }
}
<!-- end map library -->

<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>

<script type="text/javascript" src="~/Scripts/utility.js"></script>
<script>
    var CONFIG_SYSTEMT = {

    };


    function initConfig() {
        let f1 = '@Apom_User.Common.Constant.GENERAL_SETTING.formatdate';
        let f2 = '@Apom_User.Common.Constant.GENERAL_SETTING.formattime';

        let f3 = '@Apom_User.Common.Constant.GENERAL_SETTING.symbolnumber_digitgroup';
        let f4 = '@Apom_User.Common.Constant.GENERAL_SETTING.symbolnumber_digitdecimal';
        let f5 = '@Apom_User.Common.Constant.GENERAL_SETTING.number_digitdecimal';

        let f6 = '@Apom_User.Common.Constant.GENERAL_SETTING.max_size_file';
        let f7 = '@Html.Raw(Resources.GeneralSetting.error_file_big)';
        let f8 = '@Html.Raw(Resources.GeneralSetting.error_file_empty)';
        let f9 = '@Html.Raw(Resources.GeneralSetting.error_file_extension)';
        CONFIG_SYSTEMT.FORMAT_DATE = f1;
        CONFIG_SYSTEMT.FORMAT_TIME = f2;
        CONFIG_SYSTEMT.SYMBOL_NUMBER_DIGITGROUP = f3;
        CONFIG_SYSTEMT.SYMBOL_NUMBER_DIGITDECIMAL = f4;
        CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL = parseInt(f5);
        CONFIG_SYSTEMT.MAX_SIZE_FILE = parseFloat(f6);
        CONFIG_SYSTEMT.ALERT_FILE_SIZE = f7;
        CONFIG_SYSTEMT.ALERT_FILE_EMPTY = f8;
        CONFIG_SYSTEMT.ALERT_FILE_TYPE = f9;
        CONFIG_SYSTEMT.LENGTH_FIELD = 50;
        CONFIG_SYSTEMT.PROJECTION = '@Apom_User.Common.Constant.GENERAL_SETTING.projection';
        CONFIG_SYSTEMT.UNIT_MAP = '@Apom_User.Common.Constant.GENERAL_SETTING.unit_scale';
    };

    initConfig();

    $.toast = function (options) {
        let icon = options.icon ? options.icon : '';
        let title = options.title ? options.title : '';
        let msg = options.text ? options.text : '';
        let position = options.position ? options.position : '';
        let closeButton = options.closeButton ? options.closeButton : true;
        let progressBar = options.progressBar ? options.progressBar : true;
        let hideDuration = options.hideAfter ? options.hideAfter : 2000;

        let loaderBg = options.loaderBg ? options.loaderBg : '';
        let stack = options.stack ? options.stack : 5;

        let positionClass = 'toast-top-right';
        if (position === 'top-left') positionClass = 'toast-top-left';
        else if (position === 'top-center') positionClass = 'toast-top-center';
        else if (position === 'top-right') positionClass = 'toast-top-right';
        else if (position === 'bottom-left') positionClass = 'toast-bottom-left';
        else if (position === 'bottom-center') positionClass = 'toast-bottom-center';
        else if (position === 'bottom-right') positionClass = 'toast-bottom-right';


        if (icon === 'success') {
            toastr.success(msg, title, { positionClass: positionClass, containerId: positionClass }, { "closeButton": closeButton }, { "progressBar": progressBar }, { "hideDuration": hideDuration }, { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 2000 });
        }
        else if (icon === 'info') {
            toastr.info(msg, title, { positionClass: positionClass, containerId: positionClass }, { "closeButton": closeButton }, { "progressBar": progressBar }, { "hideDuration": hideDuration }, { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 2000 });
        }
        else if (icon === 'warning') {
            toastr.warning(msg, title, { positionClass: positionClass, containerId: positionClass }, { "closeButton": closeButton }, { "progressBar": progressBar }, { "hideDuration": hideDuration }, { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 2000 });
        }
        else if (icon === 'error') {
            toastr.error(msg, title, { positionClass: positionClass, containerId: positionClass }, { "closeButton": closeButton }, { "progressBar": progressBar }, { "hideDuration": hideDuration }, { "showMethod": "slideDown", "hideMethod": "slideUp", timeOut: 2000 });
        }
    }

    $(document).ready(function () {
        $('.redirect').click(function () {
            window.history.go(-1);
        });
    });
</script>
