﻿<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="@Resources.Common.sys_title">
<meta name="keywords" content="apom, POP, wrf, mem, pm2.5">
<meta name="author" content="tuannh">
@if (ViewBag.Title != null)
{
    <title>@String.Concat(ViewBag.Title, " - ", Resources.Common.sys_title)</title>
}
else
{
    <title>@Resources.Common.sys_title</title>
}
<link rel="apple-touch-icon" href="~/theme/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="~/theme/app-assets/images/ico/favicon.ico">
<!--<link rel="shortcut icon" type="image/x-icon" href="~/FileStore/img/logo/2451423.27.png">-->
@*<link rel="shortcut icon" type="image/x-icon" href="~/FileStore/img/logo/2451423.27.png">*@
@*<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">*@
@*<link href="/ggfont?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">*@


<link rel="stylesheet" href="~/theme/apom/main.css" />
<link rel="stylesheet" href="~/theme/apom/Icons/style.css">
@*<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">*@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
@*<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">*@
@*<link href="/ggfont2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">*@
<link rel="stylesheet" href="~/theme/apom/library.css" />
<link rel="stylesheet" href="~/theme/apom/Fonts/stylesheet.css" />
<script src="~/theme/apom/library.js"></script>

@*<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@

<script src="~/theme/app-assets/vendors/js/jquery.min.js"></script>

<link rel="stylesheet" href="~/theme/apom/font-awesome-4.7.0/css/font-awesome.min.css">

@if (ViewBag.use_map_leaflet != null && ViewBag.use_map_leaflet)
{
    @*<link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/charts/leaflet.css">*@
}
@if (ViewBag.use_switch != null && ViewBag.use_switch)
{
    @*<link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/forms/toggle/switchery.min.css" />*@
}

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@

<script src="~/Scripts/jquery.blockUI.js"></script>

<style>
    .jquery-validate-require {
        color: red;
    }

    .jquery-validate-error {
        color: red;
    }

    .error {
        color: red;
    }

    #overlay {
        background-color: gray;
    }

        #overlay a .menu-text {
            color: antiquewhite;
            font-size: 1rem;
        }

    .field-validation-error {
        color: red;
    }

    .validation-summary-errors li {
        color: red;
    }

    .app-sidebar-fixed #sidebar {
        top: 0 !important;
    }

    #table-tab {
        height: 0 !important;
    }

    .main-content {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    td.day.disabled {
        opacity: 0.2 !important;
    }

    .picker__holder {
        max-width: 330px;
    }
</style>

@*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>*@

<!-- datetime ultility -->
<script src="~/Scripts/moment.js"></script>

<!-- apom ultility -->
<script type="text/javascript" src="~/Scripts/apom_ultility/apom_main.js"></script>
<script type="text/javascript" src="~/Scripts/apom_ultility/apom_container.js"></script>

@if (ViewBag.use_notification != null && ViewBag.use_notification)
{
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    <!--
        Browsers have a limitation of the maximum number of connections to the same host address (same application). So, this limits the maximum number of opened browser windows of the same application with SignalR connections. IWC-SignalR allows to bypass this restriction using single SignalR connection for all windows of the same application. IWC-SignalR was tested with SignalR v2.2.0.
    -->
    <script src="~/Scripts/notification/iwc-all.js"></script>
    <script src="~/Scripts/notification/signalr-patch.js"></script>
    <script src="~/Scripts/notification/iwc-signalr.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            // unblock when ajax activity stops 
            //$(document).ajaxStop($.unblockUI);
            //$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        });
    </script>
}