﻿<!DOCTYPE html>
<html>
<!-- BEGIN: Head-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Html.Partial("~/Views/Shared/stack-admin/_Header_new.cshtml")
    @RenderSection("css_featured", required: false)

    <style>
        .apom-loading {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 45%;
            display: none;
        }
    </style>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="">
        <div id="loading-ajax" class="modal in loading-ajax" tabindex="-1" style="display:none;">
            <div class="modal-backdrop fade in" style="height: 100%;"></div>
            <div style="">
                <div style="position:absolute; top:50%;left:50%; z-index: 1;">
                    <i class="fa fa-spinner fa-spin fa-5x red"></i>
                </div>
                <div class="content"></div>
            </div><!-- /.modal-dialog -->
        </div>
        <div class="spinner-border text-success apom-loading"></div>

        <!-- BEGIN: Header-->
        @Html.Partial("~/Views/Shared/stack-admin/partial/_header_new_other.cshtml")
        <!-- END: Header-->
        <!-- BEGIN: Main Menu-->
        @*@Html.Partial("~/Views/Shared/stack-admin/partial/_menu.cshtml")*@
        <!-- END: Main Menu-->

        <div class="app-content content">
            @RenderBody()
            @*<hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
            <!-- BEGIN: FOOTER -->
            @Html.Partial("~/Views/Shared/stack-admin/partial/_footer_new.cshtml")
            <!-- END: FOOTER -->
        </div>

        @Html.Partial("~/Views/Shared/stack-admin/_Footer_new.cshtml")

        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)*@
    </div>
</body>
<!-- END: Body-->
</html>
