﻿@using Repositories.Models.Category
@using Repositories.Models.Asset
@using Apom_User.Common

@model Repositories.Models.analysis_model_view
@{
    Layout = ViewBag.LayoutNewOther;
    ViewBag.Title = Resources.Common.data_analysis;
    string langId = Apom_User.Common.SessionContext.Language;

    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;

    string hostGeoServer = Constant.WebConfig.HOST_GEOSERVER;
    string provinceId = Constant.WebConfig.PROVINCE_DEFAULT;
    string provinceName = langId == "vi" ? "Hà Nội" : "Ha Noi";

    var cookies = Request.Cookies[Constant.WebConfig.COOKIE_URL] != null ? Request.Cookies[Constant.WebConfig.COOKIE_URL] : null;
    bool isAuthenticate = false, isVietNam = false;
    if (cookies != null)
    {
        isAuthenticate = cookies.Values["is_auth"] == "1" ? true : false;
        isVietNam = cookies.Values["is_vn"] == "1" ? true : false;
    }
}

<style>
    .menubar-filter {
        position: absolute;
        padding: 0;
        right: 1%;
        top: 10px;
    }

    .blockUI h1 {
        width: 100%;
    }

    .blockUI h2 {
        width: 100%;
    }

    .blockUI h3 {
        width: 100%;
        display: none;
    }

    .blockOverlay {
        opacity: 0.3;
        display: none;
    }

    .layout-dasboard-map {
        z-index: 1;
    }
    .layout-dasboard-map .map-full-screen {
        position: absolute;
        right: 1%;
        top: 1%;
        padding: 10px;
        z-index: 1;
    }
    /*.map-full-screen-min {
        display: none !important;
    }*/

    .highcharts-exporting-group {
        opacity: 0.5 !important;
    }
</style>

<script src="~/Scripts/rainbowvis.js"></script>

<div class="menubar menubar-filter">
    @Html.Partial("/Views/Shared/stack-admin/partial/_filter_data.cshtml", Model.Provinces)
</div>
<div class="container-scroll">
    <div class="bg-gray layout-dashboard">
        <div class="card-6" style="z-index: 6;">
            <div>
                <div>
                    <span class="font-icon-arrow-right"></span>
                    <div>@Resources.Common.polluted_days</div>
                </div>
            </div>
            <div>
                <div class="district-info">
                    @*<div class="district-number district-unpolluted">--</div>*@
                    <div class="district-number day-polluted">--</div>
                    <div class="district">@Resources.Common.days</div>
                </div>
            </div>
            <div class="info-switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887q0-.525-.362-.888t-.888-.362q-.525 0-.887.363t-.363.887q0 .525.363.888t.887.362Zm-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.313.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z" /></svg>
                <div class="info">
                    @Resources.Common.explanation1
                </div>
            </div>
        </div>

        <div class="card-6" style="z-index: 5;">
            <div>
                <div>
                    <span class="font-icon-arrow-right"></span>
                    <div>@Resources.Common.polluted_district_num</div>
                </div>

            </div>
            <div>
                <div class="district-info">
                    <div class="district-number district-polluted">--</div>
                    <div class="district">@Resources.Common.districts</div>
                </div>
                @*<div class="percent-info">
                        <span class="font-icon-arrow-up"></span>
                        <div class="percent">10%</div>
                        <div class="compare-for">so với tháng 1</div>
                    </div>*@
            </div>
            <div class="info-switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887q0-.525-.362-.888t-.888-.362q-.525 0-.887.363t-.363.887q0 .525.363.888t.887.362Zm-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.313.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z" /></svg>
                <div class="info">
                    @Resources.Common.explanation2
                </div>
            </div>
        </div>

        <div class="card-6" style="z-index: 4;">
            <div>
                <div>
                    <span class="font-icon-arrow-right"></span>
                    <div>@Resources.Common.min_district</div>
                </div>
                <div></div>
            </div>
            <div>
                <div class="district-info">
                    <div class="district-number district-aqi-min-name">--</div>
                    @*<div class="district district-aqi-min-name">Quận</div>*@
                </div>
                <div class="district-info">
                    @*<span class="font-icon-arrow-up"></span>
                        <div class="percent">10%</div>
                        <div class="compare-for">so với tháng 1</div>*@
                    <div class="district-number district-aqi-min-val">--</div>
                </div>
            </div>
            <div class="info-switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887q0-.525-.362-.888t-.888-.362q-.525 0-.887.363t-.363.887q0 .525.363.888t.887.362Zm-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.313.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z" /></svg>
                <div class="info">
                    @Resources.Common.explanation3
                </div>
            </div>
        </div>

        <div class="card-6" style="z-index: 3;">
            <div>
                <div>
                    <span class="font-icon-arrow-right"></span>
                    <div>@Resources.Common.max_district</div>
                </div>
                <div></div>
            </div>
            <div>
                <div class="district-info">
                    <div class="district-number district-aqi-max-name">--</div>
                </div>
                <div class="district-info">
                    <div class="district-number district-aqi-max-val">--</div>
                </div>
            </div>
            <div class="info-switch">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887q0-.525-.362-.888t-.888-.362q-.525 0-.887.363t-.363.887q0 .525.363.888t.887.362Zm-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.313.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z" /></svg>
                <div class="info last">
                    @Resources.Common.explanation4
                </div>
            </div>
        </div>

        <div class="card-6">
            <div>
                <div>
                    <span class="font-icon-location"></span>
                    <div class="chart-province-daily-title">--</div>
                </div>
                @*<div class="icon">
                        <span class="font-icon-more"></span>
                    </div>*@
            </div>
            <div class="chart-height" id="chart_province_daily">
            </div>
        </div>

        <div class="card-6 layout-dasboard-map fill-map1" style="padding: 0px !important;">
            @*<div>
                    <div>
                        <span class="font-icon-location"></span>
                        <div>Quận huyện trong <span>Hà Nội</span></div>
                    </div>
                    <div class="icon">
                        <span class="font-icon-more"></span>
                    </div>
                </div>*@
            <div class="map-full-screen">
                @*minimize*@
                <div class="map-full-screen-min">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 7L12 12M12 12H15.75M12 12V8.25" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2 18C2 16.1144 2 15.1716 2.58579 14.5858C3.17157 14 4.11438 14 6 14C7.88562 14 8.82843 14 9.41421 14.5858C10 15.1716 10 16.1144 10 18C10 19.8856 10 20.8284 9.41421 21.4142C8.82843 22 7.88562 22 6 22C4.11438 22 3.17157 22 2.58579 21.4142C2 20.8284 2 19.8856 2 18Z" stroke="#1C274C" stroke-width="1.5" />
                        <path d="M11.9999 2C16.714 2 19.071 2 20.5354 3.46447C21.9999 4.92893 21.9999 7.28595 21.9999 12C21.9999 16.714 21.9999 19.0711 20.5354 20.5355C19.1784 21.8926 17.055 21.9921 12.9999 21.9994M2.00049 11C2.00779 6.94493 2.10734 4.8215 3.46438 3.46447C4.43813 2.49071 5.8065 2.16443 8 2.0551" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </div>
                    @*maximize*@
                <div class="map-full-screen-max">
                    <svg fill="#000000" height="26px" width="26px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 473 473" xml:space="preserve">
                    <g>
                    <g>
                    <path d="M459.5,0H330.4c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5h96.5L218.8,235.1c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4
			                        s6.9-1.3,9.5-4L446,46.1v96.5c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5V13.5C473,6,467,0,459.5,0z" />
                    <path d="M459.5,231.2c-7.5,0-13.5,6-13.5,13.5v130.9c0,38.8-31.6,70.4-70.4,70.4H97.4C58.6,446,27,414.4,27,375.6V97.4
			                        C27,58.6,58.6,27,97.4,27h129.9c7.5,0,13.5-6,13.5-13.5S234.8,0,227.3,0H97.4C43.7,0,0,43.7,0,97.4v278.2
			                        C0,429.3,43.7,473,97.4,473h278.2c53.7,0,97.4-43.7,97.4-97.4V244.7C473,237.2,467,231.2,459.5,231.2z" />
	                        </g>
                        </g>
                    </svg>
                </div>
            </div>
            <div style="width: 100%; height: 100%;margin-bottom: 0;">
                @Html.Partial("~/Views/Dashboard/partial/_map.cshtml")
            </div>
        </div>

        <div class="card-6">
            <div>
                <div>
                    <span class="font-icon-location"></span>
                    <div class="chart-district-daily-title">--</div>
                </div>
                @*<div class="icon">
                        <span class="font-icon-more"></span>
                    </div>*@
            </div>
            <div class="chart-height" id="chart_district_daily">
            </div>
        </div>

        <div class="card-6">
            @*<div>
                    <div>
                        <span class="font-icon-location"></span>
                        <div class="chart-district-avg-title"></div>
                    </div>
                    <div class="icon">
                        <span class="font-icon-more"></span>
                    </div>
                </div>*@
            <div class="chart-height" id="chart_district_avg">

            </div>
        </div>
    </div>
</div>

<script>
    var mapId = 'map-apom-basic';
    var formatDate = 'dd/MM/yyyy';
    var formatTime = 'hh:mm:ss';
    var myDateFormat = 'DD-MM-YYYY';


    $(document).ready(function () {
        formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;

        const rangeDays = apomGis.Config.timeslider.prev_current;
        const nextDays = apomGis.Config.timeslider.next_currrent;
        var f = {
            VNAQI: apomGis.Config.VNAQI,
            provinceId_His: '',
            provinceId: '@provinceId',
            provinceName: '@provinceName',
            districtId: '',
            fromDate: new moment().add(rangeDays*(-1),'days').format('YYYY-MM-DD 00:00:00'),
            toDate: new moment().add(nextDays, 'days').format('YYYY-MM-DD 23:59:59'),
            componentId: 'aqi',
            langId: '@Apom_User.Common.SessionContext.Language',
            dropdownProvinceClass: 'filter-data-province',
            daterangeClass: 'filter-data-daterange',
            dropdownAQIClass: 'filter-data-aqi',
            extentProvince: undefined,
            mapDataProvince: [],
            mapDataDistrict: [],
            hostAPI: '@ViewBag.HostAPI',
        };
        //f.hostAPI = 'http://localhost:9764/';

        var height = $('.menubar').outerHeight();
        height = $(window).height() - height;
        $('.container-scroll').height(height);

        var rangeGDColorAQI = 100;

        $('.map-full-screen-min').hide();
        $('.map-full-screen-min').click(function (e) {
            $(this).hide();
            $('.map-full-screen-max').show();
            $(this).parent().parent().removeClass('fill-map');
            apomGis.mainCurrentImpl.mapImpl.control.updateSize();
        });
        $('.map-full-screen-max').click(function (e) {
            $(this).hide();
            $('.map-full-screen-min').show();
            $(this).parent().parent().addClass('fill-map');
            apomGis.mainCurrentImpl.mapImpl.control.updateSize();
        });

        function initGradientAQI()
        {
            let rainbow = new Rainbow(); // by default, range is 0 to 100
            let numberOfItems = rangeGDColorAQI + 1;
            for(let i=0; i< f.VNAQI.length - 1; i++){
                f.VNAQI[i].gdColors = [];
                let fromColor = f.VNAQI[i].bg_color;
                let toColor = f.VNAQI[i+1].bg_color;
                rainbow.setNumberRange(1, numberOfItems);
                rainbow.setSpectrum(fromColor, toColor);
                for (let j = 1; j <= numberOfItems; j++) {
                    let hex = '#' + rainbow.colourAt(j);
                    f.VNAQI[i].gdColors[j-1] = hex;
                }
            }
        }
        initGradientAQI();

        /*** region map ***/
        function getInfoAQIPM25(isAQI, val){
            let aqiStatus = '';
            let aqiDes = '';
            let bgColor = '';
            let fontColor = '';

            for(let i=0; i< f.VNAQI.length; i++){
                let aqi = f.VNAQI[i];
                let from, to;
                if(isAQI){
                    from = aqi.from;
                    to = aqi.to;
                }
                else{
                    from = aqi.pm25_from;
                    to = aqi.pm25_to;
                }

                if(from != null) {
                    if(to != null) {
                        if(from <= val && val <= to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            if(aqi.gdColors)
                            {
                                let step = (to-from)/rangeGDColorAQI;
                                let index = Math.floor((val - from)/step);
                                bgColor = aqi.gdColors[index];
                            }
                            else bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                    else {
                        if(from <= val) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
                else {
                    if(to != null) {
                        if(val <= to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            break;
                        }
                    }
                }
            }

            return {
                status: aqiStatus,
                des: aqiDes,
                bg_color: bgColor,
                font_color: fontColor
            }
        }

        /*** stylemap function ***/
        function styleMapFunctionProvince(feature, e){
            let colorVisual = '';
            let label = '';
            let properties = feature.getProperties();
            let fProvinceId = properties.province_id;
            let isAQI = f.componentId === 'aqi' ? true : false;

            if(f.mapDataProvince[fProvinceId])
            {
                let aqipm25 = f.mapDataProvince[fProvinceId].val;
                let info = getInfoAQIPM25(isAQI, aqipm25);
                colorVisual = info.bg_color;
                //colorVisual = colorVisual === '' ? 'rgba(0,0,0,0)' : colorVisual;
                label = f.mapDataProvince[fProvinceId].name + ': ' + aqipm25.toString();
            }
            else
            {
                colorVisual = 'rgba(0,214,0,1)'; // default aqi <= 50
                label = '';
            }

            let styleAQI = new ol.style.Style({
                stroke: apomGis.style.default.stroke,
                fill: new ol.style.Fill({
                    color: colorVisual
                }),
                text: new ol.style.Text({
                    text: label,
                    fill: apomGis.style.default.textFill,
                    stroke: apomGis.style.default.textStroke
                }),
                zIndex: 100
            });
            return [styleAQI];
        };

        function styleMapFunctionDistrict(feature, e){
            let colorVisual = '';
            let label = '';
            let properties = feature.getProperties();
            let fProvinceId = properties.province_id;
            let fDistrictId = properties.district_id;
            let isAQI = f.componentId === 'aqi' ? true : false;

            if(f.mapDataDistrict[fDistrictId])
            {
                let aqipm25 = f.mapDataDistrict[fDistrictId].val;
                let info = getInfoAQIPM25(isAQI, aqipm25);
                colorVisual = info.bg_color;
                //colorVisual = 'rgba(0,214,0,0.1)'; // default aqi <= 50
                label = f.mapDataDistrict[fDistrictId].name + ': ' + aqipm25.toString();
            }
            else
            {
                colorVisual = 'rgba(0,214,0,0)'; // default aqi <= 50
                label = '';
            }

            let styleAQI = new ol.style.Style({
                stroke: apomGis.style.default.stroke,
                fill: new ol.style.Fill({
                    color: colorVisual
                }),
                text: new ol.style.Text({
                    text: label,
                    fill: apomGis.style.default.textFill,
                    stroke: apomGis.style.default.textStroke
                }),
                zIndex: 100
            });
            return [styleAQI];
        };
        /*** end stylemap function ***/

        /*** tileload function ***/
        function tileLoadFunctionProvince(tile, url) {
            var format = tile.getFormat();
            var tileCoord = tile.getTileCoord();
            tile.setLoader(function (extent, resolution, projection) {
                fetch(url).then(function (response) {
                    response.arrayBuffer().then(function (data) {
                        const format = tile.getFormat() // ol/format/MVT configured as source format
                        const projection1 = format.readProjection(data);
                        if (tile.setProjection) tile.setProjection(projection1);
                        var features = [];
                        try {
                            //features = format.readFeatures(data, {});
                            features = format.readFeatures(data, {
                                extent: tile.extent,
                                featureProjection: tile.projection
                            });
                        }
                        catch (ex) {
                            //console.log('error read feature: ' + ex);
                            features = [];
                        }

                        // filter provinceId districtId
                        if(f.provinceId != ''){
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fProvinceId = properties.province_id;
                                if(fProvinceId != f.provinceId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }

                        tile.setFeatures(features);
                    });
                });
            });
        };

        function tileLoadFunctionDistrict(tile, url) {
            var format = tile.getFormat();
            var tileCoord = tile.getTileCoord();
            tile.setLoader(function (extent, resolution, projection) {
                fetch(url).then(function (response) {
                    response.arrayBuffer().then(function (data) {
                        const format = tile.getFormat() // ol/format/MVT configured as source format
                        const projection1 = format.readProjection(data);
                        if (tile.setProjection) tile.setProjection(projection1);
                        var features = [];
                        try {
                            //features = format.readFeatures(data, {});
                            features = format.readFeatures(data, {
                                extent: tile.extent,
                                featureProjection: tile.projection
                            });
                        }
                        catch (ex) {
                            //console.log('error read feature: ' + ex);
                            features = [];
                        }


                        // filter provinceId districtId
                        //if(f.districtId != ''){
                        //    for (var i = 0; i < features.length; i++) {
                        //        var properties = features[i].getProperties();
                        //        var fDistrictId = properties.district_id;
                        //        if(fDistrictId != f.districtId) {
                        //            features.splice(i, 1);
                        //            i--;
                        //        }
                        //    }
                        //}
                        //else
                        if (f.provinceId != '') {
                            // filter by province
                            for (var i = 0; i < features.length; i++) {
                                var properties = features[i].getProperties();
                                var fProvinceId = properties.province_id;
                                if(fProvinceId != f.provinceId) {
                                    features.splice(i, 1);
                                    i--;
                                }
                            }
                        }
                        else{
                            features = [];
                        }

                        tile.setFeatures(features);
                    });
                });
            });
        };
        /*** end tileload function ***/

        /*** config layers ***/
        let maxZoomProvince = 9; // init: hide province
        let maxZoomDistrict = 22; // init: hide district
        apomGis.Config.Services = [
            {
                urlservice: '@hostGeoServer' + '/gwc/service/wmts',
                featurebase: 'hydroalp',
                featuretype: 'gis_administrative_province',
                type: apomGis.Config.layerType.vectortile,
                maxZoom: maxZoomProvince,
                tileLoadFunction: tileLoadFunctionProvince,
                styleMap: styleMapFunctionProvince,
                visible: true
            },
            {
                urlservice: '@hostGeoServer' + '/gwc/service/wmts',
                featurebase: 'hydroalp',
                featuretype: 'gis_administrative_district',
                type: apomGis.Config.layerType.vectortile,
                minZoom: maxZoomProvince,
                maxZoom: maxZoomDistrict,
                tileLoadFunction: tileLoadFunctionDistrict,
                styleMap: styleMapFunctionDistrict,
                visible: true
            },
        ]
        /*** end config layers ***/

        // call map
        if(apomGis.mainCurrentImpl) apomGis.mainCurrentImpl.initApomGisAnalysis();
        /*** endregion map ***/

        function changeDataAnalysis(provinceId, districtId, fromDate, toDate, componentId, langId){
            let urlRequest = '';
            let hostAPI = f.hostAPI;
            const units = {
                'pm25': 'PM2.5 (&micro;g/m <sup>3</sup>)',
                'aqi': 'AQI'
            };
            $('#chart_district_daily').empty();
            /// index statistic min/max
            if(provinceId != '')
            {
                $.loading(true);
                urlRequest = hostAPI + "@Constant.APIs.analysis_district_statistic";
                $.ajax({
                    method: "POST",
                    url: urlRequest,
                    data: JSON.stringify({
                        "id": provinceId,
                        "from_date": fromDate,
                        "to_date": toDate,
                        "component_id": componentId,
                        "lang_id": langId
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    crossDomain: true,
                    async: true,
                    success: function (response) {
                        $.loading(false);
                        // count
                        let resultAnalysis = response.Data.comps;

                        let unpolluted = parseInt(resultAnalysis.unpolluted);
                        unpolluted = unpolluted === '' ? '--' : unpolluted;
                        let polluted = parseInt(resultAnalysis.polluted);
                        polluted = polluted === '' ? '--' : polluted;
                        let polluted_days = parseInt(resultAnalysis.polluted_days);
                        polluted_days = polluted_days === '' ? '--' : polluted_days;
                        $('.district-unpolluted').text(unpolluted);
                        $('.day-polluted').text(polluted_days);
                        $('.district-polluted').text(polluted);

                        // min - max
                        let resultMinMax = response.Data.minmax;
                        if(resultMinMax.length > 0)
                        {
                            for(var i=0; i<resultMinMax.length; i++)
                            {
                                let item = resultMinMax[i];
                                let name = item.name;
                                let val = item.val;
                                if(name === null)
                                {
                                    name = '--';
                                    val = '--';
                                }
                                else val = val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
                                if(item.type === 'min')
                                {
                                    $('.district-aqi-min-name').text(name);
                                    $('.district-aqi-min-val').text(val);
                                }
                                else {
                                    $('.district-aqi-max-name').text(name);
                                    $('.district-aqi-max-val').text(val);
                                }
                            }
                        }
                        else{
                            $('.district-aqi-min-name').text('--');
                            $('.district-aqi-min-val').text('--');
                            $('.district-aqi-max-name').text('--');
                            $('.district-aqi-max-val').text('--');
                        }
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }

            /// chart

            for(let i=0; i<2; i++)
            {
                let idRegion = '';
                let divIdAQI = '';
                let isDrawChart = false;
                if(i === 0)
                {
                    isDrawChart = provinceId != '';
                    if(isDrawChart){
                        idRegion = provinceId;
                        divIdAQI = 'chart_province_daily';
                        urlRequest = hostAPI + "@Constant.APIs.analysis_province_daily_statistic";
                    }
                }
                else if(i === 1)
                {
                    isDrawChart = districtId != '';
                    //$('#chart_district_daily').empty();
                    if(isDrawChart){
                        idRegion = districtId;
                        divIdAQI = 'chart_district_daily';
                        urlRequest = hostAPI + "@Constant.APIs.analysis_district_daily_statistic";
                    }
                }

                if(!isDrawChart){
                    continue;
                }
                $.loading(true, '#' + divIdAQI);
                $.ajax({
                    method: "POST",
                    url: urlRequest,
                    data: JSON.stringify({
                        "id": idRegion,
                        "from_date": fromDate,
                        "to_date": toDate,
                        "component_id": componentId,
                        "lang_id": langId
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    crossDomain: true,
                    //async: false,
                    success: function (response) {
                        //$.loading(false, '#' + divIdAQI);

                        let dataDaily = response.Data.comps;
                        if (dataDaily.length > 0) {
                            let titleComponent = '';
                            let aqiValue = [];
                            let dateShooting = [];
                            let plotsBandVNAQI = [];
                            let resultChart = [];

                            dataDaily.forEach(function (element) {
                                let val;
                                val = (element.val === null || element.val === -9999) ? 0 : element.val;
                                aqiValue.push(val);
                                dateShooting.push(element.dateshooting);//.substr(0, 10));
                            });

                            // array da duoc sap xep theo thu tu thoi gian tang dan
                            for (let i = 0; i < dataDaily.length; i++) {
                                resultChart.push([new Date(dateShooting[i]).getTime(), aqiValue[i]]);
                            }

                            /************* AQI *************/
                            if(componentId === 'aqi')
                            {
                                //apomGis.Config.VNAQI.map(function (element) {
                                //    let _element = {
                                //        'color': element.bg_color,
                                //        'from': element.from,
                                //        'to': element.to
                                //    };
                                //    plotsBandVNAQI.push(_element);
                                //});
                                f.VNAQI.map(function (element) {
                                    if(element.gdColors)
                                    {
                                        let step = (element.to-element.from)/rangeGDColorAQI;
                                        for(let k = 0; k<rangeGDColorAQI; k++)
                                        {
                                            let _element = {
                                                'color': element.gdColors[k],
                                                'from': element.from + step*k,
                                                'to': element.from + step*(k+1)
                                            };
                                            plotsBandVNAQI.push(_element);
                                        }
                                    }
                                    else
                                    {
                                        let _element = {
                                            'color': element.bg_color,
                                            'from': element.from,
                                            'to': element.to
                                        };
                                        plotsBandVNAQI.push(_element);
                                    }
                                });
                            }
                            else{
                                // pm25
                                apomGis.Config.VNAQI.map(function (element) {
                                    if(element.gdColors)
                                    {
                                        let step = (element.pm25_to-element.pm25_from)/rangeGDColorAQI;
                                        for(let k = 0; k<rangeGDColorAQI; k++)
                                        {
                                            let _element = {
                                                'color': element.gdColors[k],
                                                'from': element.pm25_from + step*k,
                                                'to': element.pm25_from + step*(k+1)
                                            };
                                            plotsBandVNAQI.push(_element);
                                        }
                                    }
                                    else
                                    {
                                        let _element = {
                                            'color': element.bg_color,
                                            'from': element.pm25_from,
                                            'to': element.pm25_to
                                        };
                                        plotsBandVNAQI.push(_element);
                                    }
                                });
                            }

                            //let title = compName + " values at " + groupName;

                            let serieses = [
                            {
                                //showInLegend: false,
                                data: resultChart,
                                name: titleComponent,
                                color: "blue",
                            }];

                            let myChartAQI = new apomChart();
                            myChartAQI.generateChart({
                                'id': divIdAQI,
                                'typeChart': 'line',
                                'enableCredits': false,
                                'tooltip': {
                                    headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true,
                                },
                                xAsis: {
                                    'type': 'datetime',
                                    'format': '{value: %Y-%m-%d}',
                                    'rotation': -45,
                                    'text': '@Resources.Map.chart_date_title',
                                    'tickInterval': 86400000 // 24h
                                },
                                yAxis: {
                                    'text': units[componentId],
                                    'plotBands': plotsBandVNAQI
                                },
                                'series': serieses,
                                'legend': { enabled: false },
                                'enableExport': true
                            });
                            /************* end AQI *************/
                        }
                        else{
                            $('#' + divIdAQI).empty();
                        }
                    },
                    failure: function (response) {
                        $.loading(false, '#' + divIdAQI);
                        console.log(response);
                    },
                    error: function (response) {
                        $.loading(false, '#' + divIdAQI);
                        console.log(response);
                    }
                });
            }

            /// district avg on map
            if(provinceId != '')
            {
                urlRequest = hostAPI + "@Constant.APIs.analysis_district_avg_statistic";
                $.ajax({
                    method: "POST",
                    url: urlRequest,
                    data: JSON.stringify({
                        "id": provinceId,
                        "from_date": fromDate,
                        "to_date": toDate,
                        "component_id": componentId,
                        "lang_id": langId
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    crossDomain: true,
                    async: true,
                    success: function (response) {
                        let resultAnalysis = response.Data.comps;
                        let avgProvince = 0.0;
                        if(resultAnalysis.length > 0)
                        {
                            f.resultAnalysis = resultAnalysis;
                            for(let i=0; i<resultAnalysis.length; i++)
                            {
                                let item = resultAnalysis[i];
                                let val = item.val ? item.val : 0;
                                let isAQI = f.componentId === 'aqi' ? true : false;
                                let info = getInfoAQIPM25(isAQI, val);
                                avgProvince += val;

                                // data districts
                                let itemMapDataDistrict = {
                                    name: item.name,
                                    val: item.val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL),
                                    color: info.bg_color,
                                };
                                f.mapDataDistrict[item.id] = itemMapDataDistrict;
                            }
                            avgProvince = avgProvince / resultAnalysis.length;
                            avgProvince = avgProvince.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
                        }
                        else{
                            avgProvince = '--';
                            f.mapDataDistrict = [];
                        }
                        // 1 province cu the -> lay avg
                        if(f.mapDataProvince[f.provinceId] === undefined){
                            let itemMapDataProvince = {
                                name: f.provinceName,
                                val: avgProvince,
                                total: resultAnalysis.length,
                            };
                            f.mapDataProvince[f.provinceId] = itemMapDataProvince;
                        }
                        else{
                            f.mapDataProvince[f.provinceId].val = avgProvince;
                            f.mapDataProvince[f.provinceId].total = resultAnalysis.length;
                        }

                        // draw chart avg district
                        $('.chart-district-avg-title').text(f.provinceName);
                        var divIdDistrictVal = 'chart_district_avg';
                        var resultChart = [];
                        var colorsChart = [];
                        var titleDistrictVal = f.provinceName;
                        for (let i = resultAnalysis.length - 1; i >= 0; i--) {
                            let itemResult = resultAnalysis[i];
                            resultChart.push([itemResult.name, itemResult.val]);
                            let isAQI = f.componentId === 'aqi' ? true : false;
                            let info = getInfoAQIPM25(isAQI, itemResult.val);
                            let colorVisual = info.bg_color;
                            colorsChart.push(colorVisual);
                        }
                        let serieses = [
                        {
                            name: titleDistrictVal,
                            colorByPoint: true,
                            colors: colorsChart,
                            data: resultChart
                        }];

                        function callbackChartClickDistrictAVG(name, val){
                            let resultAnalysis = f.resultAnalysis;
                            for (let i = resultAnalysis.length - 1; i >= 0; i--) {
                                let itemResult = resultAnalysis[i];
                                if(itemResult.name === name && itemResult.val === val)
                                {
                                    // load data
                                    f.districtId = itemResult.id;
                                    $('.chart-district-daily-title').text(itemResult.name);
                                    changeDataAnalysis('', f.districtId, f.fromDate, f.toDate, f.componentId, f.langId);

                                    // get extent district
                                    let urlRequestDistrict = f.hostAPI + "@Constant.APIs.administrative_district_extent";
                                    $.ajax({
                                        method: "GET",
                                        url: urlRequestDistrict,
                                        data: {
                                            district_id: f.districtId,
                                            lang_id: '@Apom_User.Common.SessionContext.Language'
                                        },
                                        contentType: 'application/json; charset=utf-8',
                                        dataType: "json",
                                        crossDomain: true,
                                        async: false,
                                        success: function (response) {
                                            console.log(response);
                                            if (response) {
                                                //let deltaX = 13000, deltaY = 2600;
                                                let deltaX = 0, deltaY = 0;
                                                let extentMin, extentMax;
                                                if(apomGis.Config.projection.code != 'EPSG:4326')
                                                {
                                                    extentMin = ol.proj.transform([response.minx, response.miny], 'EPSG:4326', apomGis.Config.projection.code);
                                                    extentMax = ol.proj.transform([response.maxx, response.maxy], 'EPSG:4326', apomGis.Config.projection.code);
                                                    deltaX = 0;
                                                    deltaY = 0;
                                                }
                                                else
                                                {
                                                    extentMin = [response.minx, response.miny];
                                                    extentMax = [response.maxx, response.maxy];
                                                }
                                                f.extentDistrict = [extentMin[0] - deltaX, extentMin[1] - deltaY, extentMax [0] - deltaX, extentMax[1] - deltaY];
                                                apomGis.mainCurrentImpl.mapImpl.zoomToExtent(f.extentDistrict);
                                            }
                                        },
                                        failure: function (response) {
                                            console.log(response);
                                        },
                                        error: function (response) {
                                            console.log(response);
                                        }
                                    });
                                    // end - get extent province
                                    break;
                                }
                            }
                        }

                        let myChartAQI = new apomChart();
                        myChartAQI.generateChartDrilldown({
                            'id': divIdDistrictVal,
                            'typeChart': 'column',
                            'enableCredits': false,
                            'tooltip': {
                                headerFormat: '<span style="font-size:11px">{series.name}</span><table>',
                                //pointFormat: '<tr><td style="color:{point.color};padding:0">{point.name}: </td>' + '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
                                pointFormat: '<tr><td style="padding:0">{point.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            'xAxis': {
                            },
                            'yAxis': {
                                'text': units[componentId]
                                //'plotBands': plotsBandVNAQI
                            },
                            'dataLabels': {
                                enabled: false,
                                format: '{point.y:.1f}'
                            },
                            'series': serieses,
                            'enableExport': true,
                            'callbackClick': callbackChartClickDistrictAVG
                        });
                        // end draw chart

                        if(apomGis.mainCurrentImpl)
                        {
                            apomGis.mainCurrentImpl.vtProvince.clearTileCache();
                            apomGis.mainCurrentImpl.vtDistrict.clearTileCache();
                            if(f.extentProvince && f.provinceId_His != f.provinceId)
                            {
                                f.provinceId_His = f.provinceId;
                                apomGis.mainCurrentImpl.mapImpl.zoomToExtent(f.extentProvince);
                            }
                        }
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        }

        $('.' + f.dropdownProvinceClass).change(function(element){
            let id = $(this).val();
            f.provinceId = id;
            f.provinceName = $(this).find("option:selected").text();
			$('.chart-district-daily-title').text('--');
            // get extent province
            let urlRequestDistrict = f.hostAPI + "@Constant.APIs.administrative_province_extent";
            $.ajax({
                method: "GET",
                url: urlRequestDistrict,
                data: {
                    province_id: f.provinceId,
                    lang_id: '@Apom_User.Common.SessionContext.Language'
                },
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: false,
                success: function (response) {
                    console.log(response);
                    if (response) {
                        let deltaX = 0, deltaY = 0;
                        let extentMin, extentMax;
                        if(apomGis.Config.projection.code != 'EPSG:4326')
                        {
                            extentMin = ol.proj.transform([response.minx, response.miny], 'EPSG:4326', apomGis.Config.projection.code);
                            extentMax = ol.proj.transform([response.maxx, response.maxy], 'EPSG:4326', apomGis.Config.projection.code);
                            deltaX = 0;
                            deltaY = 0;
                        }
                        else
                        {
                            extentMin = [response.minx, response.miny];
                            extentMax = [response.maxx, response.maxy];
                        }
                        f.extentProvince = [extentMin[0], extentMin[1], extentMax[0], extentMax[1]];
                    }
                },
                failure: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log(response);
                }
            });
            // end - get extent province

            $('.chart-province-daily-title').text(f.provinceName);
            f.districtId = '';
            changeDataAnalysis(f.provinceId, f.districtId, f.fromDate, f.toDate, f.componentId, f.langId);
        });

        $('.' + f.daterangeClass).daterangepicker({
            opens: 'left',
            startDate: (new Date()).addDays(rangeDays * (-1)),
            endDate: (new Date().addDays(nextDays)),
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            f.fromDate = start.format('YYYY-MM-DD') + ' 00:00:00';
            f.toDate = end.format('YYYY-MM-DD') + ' 23:59:59';
            changeDataAnalysis(f.provinceId, f.districtId, f.fromDate, f.toDate, f.componentId, f.langId);
        });

        $('.' + f.dropdownAQIClass).change(function(element){
            let id = $(this).val();
            f.componentId = id;
            changeDataAnalysis(f.provinceId, f.districtId, f.fromDate, f.toDate, f.componentId, f.langId);
        });

        // map click
        if(apomGis.mainCurrentImpl)
        {
            let map = apomGis.mainCurrentImpl.mapImpl.control;
            let districtName = apomGis.mainCurrentImpl.layerNameDistrict;
            map.on('singleclick', function (e) {
                var coordinate = e.coordinate;
                var feature = map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                    if ((layer != null && layer != undefined)) {
                        let layerName = feature.getProperties().layer;
                        if(districtName === layerName)
                        {
                            // hightlight feature
                            // add feature graphic of geotiff layer
                            if (map.parent.graphicLayer) {
                                map.parent.graphicLayer.removeAllFeature();
                                map.parent.graphicLayer.createGraphic({
                                    geom: map.parent.graphicLayer.geometry.createPoint(coordinate[0], coordinate[1])
                                });
                            }

                            // load data
                            f.districtId = feature.getProperties().district_id;
                            let langID = '@langId';
                            let districtName = langID === 'vi' ? feature.getProperties().name_vi : feature.getProperties().name_en;
                            $('.chart-district-daily-title').text(districtName);
                            changeDataAnalysis('', f.districtId, f.fromDate, f.toDate, f.componentId, f.langId);
                        }
                    }
                });
            });
        }
        //let isVietNam = '@isVietNam.ToString().ToLower()' === 'true' ? true : false;
        $('.' + f.dropdownProvinceClass).val(f.provinceId);
        $('.' + f.dropdownProvinceClass).change();
        //$('.' + f.dropdownProvinceClass).prop('disabled', true);
    });

</script>