﻿@using Repositories.Models.Category
@{
    List<province> lstProvince = Model != null ? Model as List<province> : new List<province>();
    string langId = Apom_User.Common.SessionContext.Language;
}

<style>
    .filter-data .dropdown select {
        color: black;
    }

    .dropdown {
        background-color: white;
    }

        .dropdown:hover {
            transition: var(--transition);
            background-color: var(--white-50);
        }

        .dropdown select {
            color: var(--white);
            padding-left: 16px;
            cursor: pointer;
        }

        .dropdown .filter-data-daterange {
            padding: 12px 16px 12px 16px;
            border-radius: var(--border-radius-D);
        }
</style>

<link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
<script src="~/theme/app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>

@*<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>*@

<div class="filter-data">
    @if (lstProvince.Count > 0)
    {
        <div class="dropdown">
            @*<div class="icon">
                    <span class="font-icon-location"></span>
                </div>*@
            <select class="filter-data-province">
                @{
                    for (int i = 0; i < lstProvince.Count; i++)
                    {
                        province p = lstProvince[i];
                        string name = langId == "vi" ? p.name : p.name_en;
                        <option value="@p.province_id">@name</option>
                    }
                }
            </select>
        </div>

        <div class="dropdown">
            @*<div class="icon">
                    <span class="font-icon-location"></span>
                </div>*@
            <input type="text" name="daterange" class="filter-data-daterange" size="22" value="08/01/2022 - 08/20/2022" />
        </div>

        <div class="dropdown">
            @*<div class="icon">
                    <span class="font-icon-location"></span>
                </div>*@
            <select class="filter-data-aqi">
                <option value="aqi" selected="selected">AQI</option>
                <option value="pm25">PM 2.5</option>

            </select>
        </div>

        @*<div class="dropdown active">
                <span>Lọc dữ liệu</span>
                <div class="icon">
                    <span class="font-icon-arrow-right"></span>
                </div>
            </div>*@
    }
</div>
