﻿<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<style>
    .footer ul {
        list-style-type: none;
    }
</style>
@{ 
    string version = "v" + Resources.Common.version;
}
<footer class="footer footer-static footer-light navbar-border p-0">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <ul class="pl-0">
            <li class="nav-item float-left brand-vdg">
                <span class="d-block d-md-inline-block vdg-brand" style="margin-top: 10px;">
                    <a class="text-bold-800 grey darken-2" href="https://vidagis.com" target="_blank">
                        @Resources.Administrator.sys_name
                    </a>
                    <span style="font-size: 11px; font-weight: bold;">@version</span>
                    <span class="cloud-reserved"></span>
                </span>
            </li>
            @*<li class="nav-item float-right left-content d-none d-lg-block">
                <ul class="nav" style="margin-top: 10px;">
                    <li class="nav-item float-right">
                        <span class="float-md-right">
                            <span style="font-size: 11px; font-weight: bold;">Online: 1</span>
                        </span>
                    </li>
                </ul>
            </li>*@
        </ul>
    </div>

</footer>

<!-- END: Footer-->
<!-- BEGIN: Vendor JS-->
<script src="~/theme/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->
<!-- BEGIN: Page Vendor JS-->

<!-- END: Page Vendor JS-->
<!-- BEGIN: Theme JS-->
<script src="~/theme/app-assets/js/core/app-menu.js"></script>
<script src="~/theme/app-assets/js/core/app.js"></script>
<!-- END: Theme JS-->
<!-- BEGIN: Page JS-->
<!-- END: Page JS-->

<script>
    $(document).ready(function () {
        $('#loading-ajax').hide();
});
</script>