﻿@using Repositories.Models.Category
@{ 
    List<map_scale> lstMapScale = new List<map_scale>();
    if (Model.MapScale != null)
    {
        lstMapScale = Model.MapScale;
    }
    else
    {
    }
}
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<!-- BEGIN: Footer-->
<!--<footer class="footer footer-static footer-transparent">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2020 <a class="text-bold-800 grey darken-2" href="https://1.envato.market/pixinvent_portfolio" target="_blank">PIXINVENT </a></span><span class="float-md-right d-none d-lg-block">Hand-crafted & Made with <i class="feather icon-heart pink"></i></span></p>
</footer>-->
<style>
    .footer ul {
        list-style-type: none;
    }

    .ol-mouse-position {
        position: unset !important;
    }

    .scale-input-height {
        height: 25px;
        padding: 0;
    }

    #scale-1 {
        padding-left: 3px;
        padding: 0 5px;
        margin-left: 5px;
        border-radius: 3px 0px 0px 3px;
    }

    #scale-btn {
        padding: 0 8px !important;
        border: solid 1px #c1c1c1;
        border-radius: 0px 3px 3px 0px;
    }

    #scale-bar {
        width: 90px;
        padding: 0 3px;
    }

    .coordinate-input, .scale-input {
        border: solid 1px;
    }

    .quantity-button.quantity-up {
        font-family: "FontAwesome";
    }

    .quantity-button.quantity-down {
        font-family: "FontAwesome";
    }

    .footer-static {
        margin-top: -15px !important;
    }

    .rotation-input {
        background-color: #fff;
        border: 1px solid #ddd !important;
        height: 25px;
        color: black;
        border-radius: 3px;
        padding-left: 3px;
        padding-right: 3px;
        width: 4rem;
    }

    .quantity-nav {
        float: right;
        position: relative;
        height: 25px;
    }

    .quantity-button {
        position: relative;
        cursor: pointer;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.08);
        width: 21px;
        text-align: center;
        color: #333;
        font-size: 10px;
        font-weight: bold;
        line-height: 1.5;
        padding: 0;
        background: #FAFAFA;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-radius: 0 4px 0 0;
        line-height: 0.6;
        border: 1px solid #b9b9b9;
        font-family: "FontAwesome";
    }

    .quantity-button.quantity-down {
        position: absolute;
        bottom: 0;
        height: 50%;
        border-radius: 0 0 4px 0;
        border: 1px solid #b9b9b9;
        font-family: "FontAwesome";
    }
</style>
@{ 
    string version = "v" + Resources.Common.version;
}
<footer class="footer footer-static footer-light navbar-border p-0">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <ul class="pl-0">
            <li class="nav-item float-left brand-vdg">
                <span class="d-block d-md-inline-block vdg-brand" style="margin-top: 10px;">
                    <a class="text-bold-800 grey darken-2" href="https://vidagis.com" target="_blank">
                        <!--<img src="/Content/backend/assets/images/logo.png" alt="vidagis cloud" style="height: 15px;" />-->
                        @Resources.Administrator.sys_name
                    </a>
                    <span style="font-size: 11px; font-weight: bold;">@version</span>
                    <span class="cloud-reserved"></span>
                </span>
            </li>
            <li class="nav-item float-right left-content d-none d-lg-block">
                <ul class="nav" style="margin-top: 10px;">
                    <li class="nav-item mr-1">
                        <label for="coordinate" class="display-mobile coordinate-label">@Resources.Common.coordinate: </label>
                        <label id="mouse-position" class="display-mobile"></label>
                    </li>
                    <li class="nav-item mr-1">
                        <div class="input-group scale-input-height">
                            <label for="scale-bar" class="scale-label"> @Resources.Common.scale: </label>
                            <div class="input-group-append scale-input-height">
                                <span class="input-group-text" id="scale-1">1 :</span>
                            </div>
                            <input type="number" value="10000" step="100000" id="scale-bar" class="form-control scale-input-height" aria-label="Text input with segmented dropdown button">
                            <div class="input-group-append scale-input-height">
                                <button type="button" class="btn btn-outline-secondary" id="scale-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="ti-angle-up"></span>
                                </button>
                                <div class="dropdown-menu">
                                    @foreach (var item in lstMapScale)
                                    {
                                        <a class="dropdown-item scale-op" data-value="@item.scale_val"> @item.scale_alias</a>
                                    }
                                    @*<a class="dropdown-item scale-op" data-value="10000">1 : 100</a>
                                    <a class="dropdown-item scale-op" data-value="10000">1 : 1000</a>
                                    <a class="dropdown-item scale-op" data-value="10000">1 : 10000</a>
                                    <a class="dropdown-item scale-op" data-value="10000">1 : 100000</a>*@
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item mr-1">
                        <label for="rotation" class="display-mobile rotation-label"> @Resources.Common.rotation:</label>
                        <input type="hidden" id="rotation-view" class="rotation-input" min="-360" max="360" name="rotation" />
                        <input type="text" id="rotation-view-display" class="display-mobile rotation-input" name="rotation" maxlength="5" style="max-height: 25px;" onkeypress='return restrictAlphabets(event)'>
                        <div class="quantity-nav display-mobile">
                            <button class="quantity-button quantity-up"></button>
                            <button class="quantity-button quantity-down"></button>
                        </div>
                    </li>
                    <li class="nav-item mr-1">
                        <label style="margin: 0px 10px 5px 0;"><i class="icon-globe"></i> <span id="epsg-label">EPSG:900913</span></label>
                    </li>

                    @*<li class="nav-item float-right">
                        <span class="float-md-right">
                            <span style="font-size: 11px; font-weight: bold;">Online: 1</span>
                        </span>
                    </li>*@
                </ul>
            </li>

        </ul>
    </div>

</footer>

<!-- END: Footer-->
<!-- BEGIN: Vendor JS-->
<script src="~/theme/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->
<!-- BEGIN: Page Vendor JS-->
@if (ViewBag.use_map_leaflet != null && ViewBag.use_map_leaflet)
{
<script src="~/theme/app-assets/vendors/js/charts/leaflet/data/us-states.json"></script>
<script src="~/theme/app-assets/vendors/js/charts/leaflet/leaflet.js"></script>
<script src="~/theme/app-assets/js/scripts/charts/leaflet/maps-leaflet.js"></script>
}

<!-- switch checkbox -->
@if (ViewBag.use_switch != null && ViewBag.use_switch)
{
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/plugins/forms/switch.css" />
<script src="~/theme/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
<script src="~/theme/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
}

<!-- END: Page Vendor JS-->
<!-- BEGIN: Theme JS-->
<script src="~/theme/app-assets/js/core/app-menu.js"></script>
<script src="~/theme/app-assets/js/core/app.js"></script>
<!-- END: Theme JS-->
<!-- BEGIN: Page JS-->

@if (ViewBag.use_switch != null && ViewBag.use_switch)
{
<script src="~/theme/app-assets/js/scripts/forms/switch.js"></script>
}
<!-- END: Page JS-->

<script>
    $(document).ready(function () {
        $('#epsg-label').text(CONFIG_SYSTEMT.PROJECTION);
        $('#rotation-view-display').val($('#rotation-view').val() + '\u00B0');
        $('#rotation-view-display').on('keyup',function () {
        let value = $(this).val();
        let degree = value.split("\u00B0").pop();
        let max = parseFloat($('#rotation-view').attr('max'));
        let min = parseFloat($('#rotation-view').attr('min'));
        if (degree === '') {
            let val = value.replace('\u00B0', '');
            if (val !== '') {
                if (parseFloat(val) > max) {
                        $(this).val(val.substring(0, val.length - 1) + '\u00B0');
                    value = val.substring(0, val.length - 1);
                }
                else if (parseFloat(val) < min) {
                        $(this).val(val.substring(0, val.length - 1) + '\u00B0');
                    value = val.substring(0, val.length - 1);
                }
                if (isNaN(parseFloat(val))) $('#rotation-view').val('0');
                    else $('#rotation-view').val(parseFloat(val).toString());
                    $('#rotation-view').trigger('change');
            }
        } else {
                $(this).val(value.substring(0, value.indexOf("\u00B0")) + '\u00B0');
                $('#rotation-view').val(value.substring(0, value.indexOf("\u00B0")));
                $('#rotation-view').trigger('change');
        }
    });
        //click up/down value
        $('.quantity-up').click(function () {
            let oldValue = parseFloat($('#rotation-view').val());
            let newVal = 0;
            let max = parseFloat($('#rotation-view').attr('max'));
            if (oldValue >= max) {
                newVal = oldValue;
            } else {
                newVal = oldValue + 1;
            }

            if (newVal === 1) {
                newVal = 6; // [-5, 5] degree: no rotation
            }
            else if (newVal > 0 && newVal < 6) {
                newVal = 0; // [-5, 5] degree: no rotation
            }
            else if (newVal === -1) {
                newVal = -6; // [-5, 5] degree: no rotation
            }
            else if (newVal < 0 && newVal > -6) {
                newVal = 0; // [-5, 5] degree: no rotation
            }
            $('#rotation-view').val(newVal);
            $('#rotation-view').trigger("change");
            $('#rotation-view-display').val(newVal + '\u00B0');
        });

        $('.quantity-down').click(function () {
            var oldValue = parseFloat($('#rotation-view').val());
            let newVal = 0;
            let min = parseFloat($('#rotation-view').attr('min'));
            if (oldValue <= min) {
                newVal = oldValue;
            } else {
                newVal = oldValue - 1;
            }

            if (newVal === 1) {
                newVal = 6; // [-5, 5] degree: no rotation
            }
            else if (newVal > 0 && newVal < 6) {
                newVal = 0; // [-5, 5] degree: no rotation
            }
            else if (newVal === -1) {
                newVal = -6; // [-5, 5] degree: no rotation
            }
            else if (newVal < 0 && newVal > -6) {
                newVal = 0; // [-5, 5] degree: no rotation
            }
            $('#rotation-view').val(newVal);
            $('#rotation-view').trigger("change");
            $('#rotation-view-display').val(newVal + '\u00B0');
        });

        $('.scale-op').click(function () {
        var value = $(this).data('value');
            $('#scale-bar').val(value);
        if (apomGis.mainCurrentImpl) apomGis.mainCurrentImpl.mapImpl.setScaleForMap(parseInt(value));
    });
        $('#scale-bar').bind('blur keyup', function (e) {
            if (e.type === 'blur' || e.keyCode === 13) {
                var value = $(this).val();
                $('#scale-bar').val(value);
                if (apomGis.mainCurrentImpl) apomGis.mainCurrentImpl.mapImpl.setScaleForMap(parseInt(value));
            }
            // do your stuff here
        });

        $('#scale-bar').change(function () {
            var value = $(this).val();
            //alert('scale:' + scale);
            if (apomGis.mainCurrentImpl) apomGis.mainCurrentImpl.mapImpl.setScaleForMap(parseInt(value));
        })
});
function restrictAlphabets(e) {
    var x = e.which || e.keycode;
    if (x=== 45 || (x >= 48 && x <= 57))
        return true;
    else
        return false;
}
</script>

<script>
    $(document).ready(function () {
        $('#loading-ajax').hide();
});
</script>

<!-- time slider -->
@if (ViewBag.use_baseslider != null && ViewBag.use_baseslider)
{
    @*<script src="~/Scripts/jquery-base-slider/bower_components.js"></script>
    <script src="~/Scripts/jquery-base-slider/jquery-base-slider.js"></script>
    <script src="~/Scripts/jquery-base-slider/jquery-base-slider-handle.js"></script>
    <script src="~/Scripts/jquery-base-slider/jquery-base-slider-value.js"></script>
    <link href="~/Scripts/jquery-base-slider/jquery-base-slider.css" rel="stylesheet">
    <link href="~/Scripts/jquery-base-slider/style.css" rel="stylesheet">*@

    <link href="~/Scripts/jquery-base-slider/time_slider/bower_components.css" rel="stylesheet">
    <script src="~/Scripts/jquery-base-slider/time_slider/bower_components.js"></script>
    <script src="~/Scripts/jquery-base-slider/time_slider/jquery-time-slider.js"></script>
}