﻿@using Repositories.Extension
@using Repositories.Services.Administrative

@{ 
    bool isHavePermissionAdmin = userroleLocalServiceUtil.Instance.isAdmin(Apom_User.Common.SessionContext.UserProfile.userid);
}
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-primary navbar-shadow navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/Home">
                        @*<img class="brand-logo" alt="stack admin logo" src="../theme/app-assets/images/logo/stack-logo-light.png">*@
                        <img class="brand-logo" alt="stack admin logo" src="~/FileStore/img/logo/2451423.27.png">
                        <h2 class="brand-text">@Resources.Administrator.sys_name.ToUpper()</h2>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu"></i></a></li>
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon feather icon-maximize"></i></a></li>
                    <li class="nav-item nav-search">
                        <a class="nav-link nav-link-search" href="#"><i class="ficon feather icon-search"></i></a>
                        <div class="search-input">
                            <input class="input" type="text" placeholder="@Resources.Common.search..." tabindex="0" data-search="template-search">
                            <div class="search-input-close"><i class="feather icon-x"></i></div>
                            <ul class="search-list"></ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-language nav-item">
                        @if (Apom_User.Common.SessionContext.Language == Apom_User.Common.Constant.LANGUAGE_DEFAULT)
                        {
                            <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flag-icon flag-icon-vn"></i>
                                <span class="selected-language"></span>
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flag-icon flag-icon-gb"></i>
                                <span class="selected-language"></span>
                            </a>
                        }
                        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                            <a class="dropdown-item" href="@Url.Action("ChangeLanguage","Common",new{url= Request.Url.AbsoluteUri,  culture="vi" ,area=""})">
                                <i class="flag-icon flag-icon-vn"></i> @Resources.Common.vietnamese
                            </a>
                            <a class="dropdown-item" href="@Url.Action("ChangeLanguage","Common",new{url= Request.Url.AbsoluteUri,  culture="en" ,area=""})">
                                <i class="flag-icon flag-icon-gb"></i> @Resources.Common.english
                            </a>
                        </div>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        @if (Apom_User.Common.SessionContext.UserProfile != null)
                        {
                            Apom_User.Common.SessionContext.UserProfile.time_request = DateTime.Now.Ticks;
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    @if (string.IsNullOrEmpty(Apom_User.Common.SessionContext.UserProfile.image))
                                    {
                                        <img src="~/gui/imgs/unnamed.png" alt="avatar">
                                    }
                                    else
                                    {
                                        <img src="@Url.Action("GetFile", "FileTransfer", new { area = "" })?file_id=@Apom_User.Common.SessionContext.UserProfile.image" alt="avatar" />
                                    }
                                </div>
                                <span class="user-name">
                                    @Apom_User.Common.SessionContext.UserProfile.username
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("UserInfo", "User", new { paraI = Libs.Utils.Encrypts.Encrypt(String.Concat(Apom_User.Common.SessionContext.UserProfile.time_request.Value.ToString(), "_", Apom_User.Common.Constant.WebConfig.KEYENDE), Apom_User.Common.SessionContext.UserProfile.emailaddress), time_request = Apom_User.Common.SessionContext.UserProfile.time_request, redirect = Request.Url.AbsoluteUri })">
                                    <i class="feather icon-user"></i>
                                    @Resources.Administrator.user_info
                                </a>

                                    @*@if (isHavePermissionAdmin)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("UserList", "User", new { area = "" })">
                                            <i class="fa fa-cogs"></i>
                                            <span class="menu-title" data-i18n="Contacts">@Resources.Administrator.user_list</span>
                                        </a>
                                    }*@

                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="feather icon-power" style="float: left;"></i>
                                        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                        }
                                        @Resources.Administrator.logout
                                    </a>

                                    @*<div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="login-with-bg-image.html"><i class="feather icon-voicemail"></i>@Resources.Common.warning</a>*@
</div>
                        }
                        else
                        {
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <div class="avatar avatar-online"><img src="~/gui/imgs/unnamed.png" alt="avatar"></div><span class="user-name">@Resources.Common.user</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="@Url.Action("Login", "Account", new { area = "" })"><i class="feather icon-user"></i> @Resources.Common.login</a>
                            <a class="dropdown-item" href="@Url.Action("Register", "Account", new { area = "" })"><i class="fa fa-registered"></i> @Resources.Common.register</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login-with-bg-image.html"><i class="feather icon-voicemail"></i>@Resources.Common.warning</a>
                        </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>