﻿@using Repositories.Extension
@using Repositories.Services.Administrative
@{ 
    bool isHavePermissionAdmin = userroleLocalServiceUtil.Instance.isAdmin(Apom_User.Common.SessionContext.UserProfile.userid);
}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border" style="z-index: 1001;">
    <!-- main menu header-->
    <!-- include includes/menu-header-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="navigation-header">
                <span></span><i class="feather icon-minus" data-toggle="tooltip" data-placement="right" data-original-title="General"></i>
            </li>
            <li class="" nav-item">
                <a href="@Url.Action("Index", "Home", new { area = "" })"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Email Application">@Resources.Common.home</span></a>
            </li>
			
			@if (isHavePermissionAdmin)
			{
				<li class="nav-item" >
					<a href="@Url.Action("UserList", "User", new { area = "" })">
					<i class="fa fa-cogs"></i>
					<span class="menu-title" data-i18n="Contacts">@Resources.Administrator.user_list</span>
					</a>
				</li>
			}
			
            @*@if (Apom_User.Common.SessionContext.UserProfile != null)
            {
            <li class="" nav-item">
                <a href="@Url.Action("Index", "Analysis", new { area = "" })"><i class="feather icon-bar-chart"></i><span class="menu-title" data-i18n="Todo Application">@Resources.Common.data_analysis</span></a>
            </li>
            }
            <li class="" nav-item">
                <a href="#"><i class="fa fa-table"></i><span class="menu-title" data-i18n="Contacts">@Resources.Common.report_onkk</span></a>
            </li>*@
            
            @if (Apom_User.Common.SessionContext.UserProfile != null)
            {
            @*<li class="" nav-item">
                <a href="#l"><i class="fa fa-cogs"></i><span class="menu-title" data-i18n="Contacts">@Resources.Common.setting</span></a>
            </li>*@
            }
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
