﻿<style>
    .map-legend {
        position: absolute;
        bottom: 4.2rem;
        right: 0;
        z-index: 1;
    }

    .map-legend ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .map-legend ul li {
        border: 1px solid darkgray;
    }

    .map-legend ul li span {
        /*font-size: 1rem;*/
        /*font-size: xx-small;*/
        font-size: 8px;
    }

    .items-center {
        align-items: center;
    }

    .p-\[0\.5rem\] {
        padding: .5rem;
    }

    .rounded-tl-\[0\.8rem\] {
        border-top-left-radius: .8rem;
    }

    .rounded-bl-\[0\.8rem\] {
        border-bottom-left-radius: .8rem;
    }

    .rounded-tr-\[0\.8rem\] {
        border-top-right-radius: .8rem;
    }

    .rounded-br-\[0\.8rem\] {
        border-bottom-right-radius: .8rem;
    }

    .leading-\[1\] {
        line-height: 1;
    }

    .justify-between {
        justify-content: space-between;
    }
</style>
<div class="scale w-full text-white text-center font-semibold rounded-[1rem] overflow-hidden border-[8px] border-[rgba(245,245,245,0.6)] dark:border-[rgba(34,39,44,0.40)] map-legend">
    <ul class="w-full flex">
        <li style="background-color: #1bbe58" class="flex-1 flex1 items-center leading-[1] p-[0.5rem] justify-between rounded-tl-[0.8rem] rounded-bl-[0.8rem]">
            <span>0-</span><span>50</span>
        </li>
        <li style="background-color: #ffff00; color: black;" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
            <span>51-</span><span>100</span>
        </li>
        <li style="background-color: #ff7e00" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
            <span>101-</span><span>150</span>
        </li>
        <li style="background-color: #d52827" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
            <span>151-</span><span>200</span>
        </li>
        <li style="background-color: #8f3f97" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem]">
            <span>201-</span><span>300</span>
        </li>
        <li style="background-color: #7e0023" class="flex-1 flex1 items-center leading-[1] justify-center p-[0.5rem] rounded-tr-[0.8rem] rounded-br-[0.8rem]">
            <span>300+</span>
        </li>
    </ul>
</div>