﻿@model List<Repositories.Models.Asset.group_short>
@{
    var lstLayers = Model;
    int delay = 200;
}

<div class="filter">
    @{
        foreach (var layer in lstLayers)
        {
            delay += 50;
            String displayMode = layer.id == "wrf_aqi_pm25" ? "none" : "flex";
            <div data-id='@layer.id' data-typestation='@layer.type_station' style="margin-right: 10px;display: @displayMode"class="tab-icon-text icon-toggle-layer popup-infor-container active" data-aos="fade-down" data-aos-delay="@delay">
                <span class="@layer.icon"></span>
                <div class="title-layer">@layer.name</div>
                <!--
				<div class="popup-infor">
                    <svg width="54" height="12" viewBox="0 0 54 12">
                        <path d="M16 9C19.485 7.21023 23.2757 3.28215 25.3726 0.916761C26.2266 -0.0466799 27.7734 -0.0466784 28.6274 0.916763C30.7243 3.28215 34.515 7.21023 38 9.00001C43.6551 11.9043 54 12 54 12L-2.27299e-06 12C-2.27299e-06 12 10.3449 11.9043 16 9Z"
                              fill="white" />
                    </svg>
                    <div class="content">
                        <span class="font-icon-info"></span>
                        <div>
                            <div class="title-medium">@layer.name</div>
                            <div class="discription">@layer.des</div>
                        </div>
                    </div>
                </div>
				-->
            </div>
        }
    }
</div>

<script>
    var listLayers = new apomContainer();

    function toogleLayerByType(element, isActive) {
        let typeStation = element.data('typestation');
        if (isActive != undefined)
        {
            if (isActive) {
                if (!element.hasClass('active')) element.addClass('active');
            }
            else {
                element.removeClass('active');
            }
        }
        else element.toggleClass("active");
        let _isActive = element.hasClass('active');
        let siblingItems = element.siblings();
        for (let i = 0; i < siblingItems.length; i++) {
            if ($(siblingItems[i]).data('typestation') === typeStation) {
                if (_isActive) $(siblingItems[i]).removeClass("active");
                //else $(siblingItems[i]).addClass("active");
            }
        }
    }

    // set status layerList (active / non-active) from localStorage
    function setStatusLayerList(groupStatusLayers) {
        $('.icon-toggle-layer').map(function (element) {
            var groupId = $(this).data('id');
            var itemStatusLayer = groupStatusLayers.find(x=>x.id === groupId);

            var newRow = listLayers.createRowWithToogleClassActive(
            [
                {
                    'obj': $(this),
                    'event': 'change',
                    'callback': toogleLayerStation
                },
                //{
                //    'obj': spanObj
                //},
            ]);
            listLayers.addRow(newRow);

            if (itemStatusLayer) {
                toogleLayerByType($(this), itemStatusLayer.active);
            }
        });
    }
    /* end layer list */

    /* layer list */
    // isOn = true -> turn on layer
    function toogleLayerStation(element) {
        var groupId = $(element).data('id');
        typeStation = parseInt($(element).data('typestation'));
        isOn = $(element).hasClass("active");
        let titleLayer = $(element).find('.title-layer').text();

        var layerItem = apomGis.mainCurrentImpl.listGroupLayers.find(x=>x.id === groupId);
        if (layerItem === undefined) {
            apomGis.mainCurrentImpl.listGroupLayers.push({
                id: groupId,
                active: isOn
            });
        }
        else {
            layerItem.active = isOn;
        }

        // save to localStorage
        apomGis.mainCurrentImpl.saveStatusLayers(apomGis.mainCurrentImpl.listGroupLayers);

        //alert('id: ' + id + '\n isOn: ' + isOn);
        // station
        if (typeStation === 1) {
            //apomGis.mainCurrentImpl.vtStationTimeSeries.clearTileCache();
            apomGis.mainCurrentImpl.vtStationTimeSeries.setVisible(isOn);
        }
        else if (typeStation === 2) // weather
        {

        }
        else if (typeStation === 3) // layer from modeling
        {
            for (let i = 0; i < apomGis.mainCurrentImpl.mapImpl.wmslayers.length; i++) {
                let layer = apomGis.mainCurrentImpl.mapImpl.wmslayers[i].layer;
                if (layer) {
                    if (groupId === layer.get('groupid')) {
                        //layer.setVisible(isOn);
                        apomGis.mainCurrentImpl.mapImpl.wmslayers[i].setVisible(isOn);
                        if (isOn) apomGis.mainCurrentImpl.layerModelActive = apomGis.mainCurrentImpl.mapImpl.wmslayers[i];

                        // setting label in info-feature-satellite
                        if(isOn) $('.map-info-feature-satellite .title-layer-satellite').text(titleLayer);
                        break;
                    }
                }
            }
        }
    }
    /* end layer list */

    $(document).ready(function () {
        $(".icon-toggle-layer").click(function (e) {
            e.preventDefault();
            toogleLayerByType($(this));
        });

        // setting label in info-feature-satellite
        let elementSatellite = $('.filter').find("[data-typestation='3']");
        for(let i=0; i< elementSatellite.length; i++)
        {
            if($(elementSatellite[i]).hasClass('active'))
            {
                $('.map-info-feature-satellite .title-layer-satellite').text($(elementSatellite[i]).find('.title-layer').text());
                break;
            }
        }
    });
</script>