﻿<div class="slider-container">
    @*<div class="play-btn" onclick="Play()">
        <div class="icon">
            <span class="font-icon-play"></span>
        </div>
    </div>
    <div class="slider">
        <div class="slider-bg"></div>
        <div class="slider-step">
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
            <div class="step">
                <div class="line"></div>
                <div class="time">07:40</div>
            </div>
        </div>
        <div class="slider-run">
            <div class="point-drag"></div>
        </div>
    </div>
    <div class="play-btn">
        <div class="icon" onclick="Back()">
            <span class="font-icon-left"></span>
        </div>
        <div class="time-selected">18:30</div>
        <div class="icon" onclick="Next()">
            <span class="font-icon-right"></span>
        </div>
    </div>*@
</div>
