﻿@model Apom_User.Models.RegisterViewModel
@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "Active account";

    bool expiredRegister = Model.expired_register;

    string title = expiredRegister ? Resources.Administrator.register_account_fail : Resources.Administrator.register_account_success;
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <section id="search-website" class="card overflow-hidden">
            <div class="card-header">
                <h4 class="card-title">@title</h4>
                @*<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
        <ul class="list-inline mb-0">
            <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
            <!--<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>-->
            <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
            <!--<li><a data-action="close"><i class="feather icon-x"></i></a></li>-->
        </ul>
    </div>*@
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    @if (expiredRegister)
                    {
                        string msgInActive = Resources.Administrator.register_account_expired;
                        msgInActive = msgInActive.Replace("{0}", "");
                        <span>@msgInActive</span>@Html.ActionLink(Resources.Administrator.register_register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    }
                    else
                    {
                        string msgActive = Resources.Administrator.register_account_confirm;
                        msgActive = msgActive.Replace("{0}", "");
                        <p>
                            <span>@msgActive</span>@Html.ActionLink(Resources.Administrator.register_login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>
                    }
                </div>
            </div>
        </section>
    </div>
</div>

    
