﻿@model Apom_User.Models.ForgotPasswordViewModel
@{
    Layout = ViewBag.LayoutLogin;
    //ViewBag.Title = "Forgot your password?";

    Apom_User.Models.ForgotPasswordViewModel forgotPasswordModel = Model == null ? new Apom_User.Models.ForgotPasswordViewModel() : Model;

    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";
}

<style>
    .line-on-side
    {
        line-height: 1.2em;
    }
</style>

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <section class="row flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                        <div class="card-header border-0 pb-0">
                            @*<div class="card-title text-center">
                                <div class="p-1"><img src="../theme/app-assets/images/logo/logo.png" alt="branding logo" style="width: 75px;"></div>
                            </div>*@
                            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                <span>
                                    @Resources.User.pwd_reset_send_link.
                                </span>
                            </h6>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                @*<form class="form-horizontal" action="login-simple.html" novalidate>*@
                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                                    {
                                        <div class="form-group row" style="margin: 3px;">
                                            <div class="col-sm-12 col-12 text-center text-sm-left">
                                                <fieldset>
                                                    <label class="validation-summary-error">@msgError</label>
                                                    <label class="validation-summary-info">@msgInfo</label>
                                                    <label class="validation-summary-success">@msgSuccess</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    }
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="email" class="form-control form-control-lg" id="user_email" name="user_email" placeholder="@Resources.Administrator.email_address" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-mail"></i>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-outline-primary btn-lg btn-block">
                                        <i class="feather icon-unlock"></i> @Resources.User.pwd_reset
                                    </button>
                                @*</form>*@
                                }
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <p class="float-sm-left text-center"><a href="@Url.Action("Login", "Account", new { area = "" })" class="card-link">@Resources.Common.login</a></p>
                            <p class="float-sm-right text-center"><a href="@Url.Action("Register", "Account", new { area = "" })" class="card-link">@Resources.Common.register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
