﻿@model Apom_User.Models.RegisterViewModel
@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "Register";

    Apom_User.Models.RegisterViewModel registerModel = Model == null ? new Apom_User.Models.RegisterViewModel() : Model;
    
    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";
}


<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
        <section class="row flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                        <div class="card-header border-0">
                            @*<div class="card-title text-center">
                                <div class="p-1"><img src="../theme/app-assets/images/logo/logo.png" alt="branding logo" style="width: 75px;"></div>
                            </div>*@
                            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                <span>
                                    @Resources.Administrator.create_account
                                </span>
                            </h6>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                @*<form class="form-horizontal form-simple" action="index.html" novalidate>*@
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                                    {
                                        <div class="form-group row" style="margin: 3px;">
                                            <div class="col-sm-12 col-12 text-center text-sm-left">
                                                <fieldset>
                                                    <label class="validation-summary-error">@msgError</label>
                                                    <label class="validation-summary-info">@msgInfo</label>
                                                    <label class="validation-summary-success">@msgSuccess</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    }
                                    <fieldset class="form-group position-relative has-icon-left mb-1">
                                        <input type="text" class="form-control form-control-lg" id="user_name" name="user_name" placeholder="@Resources.Administrator.user_name" value="@registerModel.user_name">
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left mb-1">
                                        <input type="email" class="form-control form-control-lg" id="user_email" name="user_email" placeholder="@Resources.Administrator.email_address" value="@registerModel.user_email" required />
                                        <div class="form-control-position">
                                            <i class="feather icon-mail"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="password" class="form-control form-control-lg" id="user_password" name="user_password" placeholder="@Resources.Administrator.enter_pwd" value="@registerModel.user_password" required>
                                        <div class="form-control-position">
                                            <i class="fa fa-key"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="password" class="form-control form-control-lg" id="user_confirmpassword" name="user_confirmpassword" placeholder="@Resources.Administrator.enter_confirmpassword" value="@registerModel.user_confirmpassword" required>
                                        <div class="form-control-position">
                                            <i class="fa fa-key"></i>
                                        </div>
                                    </fieldset>                                    
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="feather icon-unlock"></i> @Resources.Administrator.register</button>
                                    @*</form>*@
                                }
                            </div>
                            <p class="text-center">@Resources.Administrator.account_exist <a href="@Url.Action("Login", "Account", new { area = "" })" class="card-link">@Resources.Administrator.login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        var msgError = '@msgError';
        if (msgError != '') showErr(msgError);
    });
</script>
