﻿@model Apom_User.Models.RegisterViewModel
@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "Register";

    Apom_User.Models.RegisterViewModel registerModel = Model == null ? new Apom_User.Models.RegisterViewModel() : Model;

    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";

    string langVNSelected = Apom_User.Common.SessionContext.Language == Apom_User.Common.Constant.LANGUAGE_DEFAULT ? "selected" : "";
    string langENSelected = String.IsNullOrEmpty(langVNSelected) ? "selected" : "";
    string redirectURL = Request.Params["redirect"] ?? (Model == null ? "/home" : Model.redirect_url);
    string formatDate = Apom_User.Common.Constant.GENERAL_SETTING.formatdate;
    string birthDay = "";
    string minDate = "", maxDate = "";
    if (registerModel.user_birthday != null)
    {
        DateTime dtBirthday = registerModel.user_birthday.Value;
        birthDay = dtBirthday.ToString("yyyy-MM-dd");
        //birthDay = String.Concat(dtBirthday.Year, "-", dtBirthday.Month, "-", dtBirthday.Day);
    }
    string sexVal = String.IsNullOrEmpty(registerModel.user_sex) ? "sex_man" : registerModel.user_sex;
    int minLengthPwd = Apom_User.Common.Constant.WebConfig.PWD_LENGTH_MIN;
    int maxLengthPwd = Apom_User.Common.Constant.WebConfig.PWD_LENGTH_MAX;

    string placehoder_pass = Resources.User.placehoder_pass.Replace(@"@num", minLengthPwd.ToString());
}

<style>
    #use_birthday {
        margin: 0px 50px 0px 0px;
    }

    #user_sex {
        margin: 0px 5px 0px 50px;
        background-color: transparent;
    }

    #user_firstname {
        margin: 0px 10px 0px 0px;
    }

    #user_middlename, #user_lastname {
        margin: 0px 0px 0px 10px;
    }

    /*.login-alert {
        display: none;
    }*/
</style>
<div class="popup-overlay popup-login step-by-step">
    <div class="popup-container">
        <div class="popup">
            <div class="title-login">
                @Html.Partial("/Views/Shared/stack-admin/partial/_logo.cshtml")
                <div class="title">@Resources.Administrator.register</div>
            </div>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="@redirectURL" id="txtRedirectURL" name="txtRedirectURL" />
                if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                {
                    <div class="login-alert">
                        <svg class="icon-input" viewBox="0 0 16 16">
                            <path d="M7.33333 2.5C4.66396 2.5 2.5 4.66396 2.5 7.33333C2.5 10.0027 4.66396 12.1667 7.33333 12.1667C10.0027 12.1667 12.1667 10.0027 12.1667 7.33333C12.1667 4.66396 10.0027 2.5 7.33333 2.5ZM1.5 7.33333C1.5 4.11167 4.11167 1.5 7.33333 1.5C10.555 1.5 13.1667 4.11167 13.1667 7.33333C13.1667 10.555 10.555 13.1667 7.33333 13.1667C4.11167 13.1667 1.5 10.555 1.5 7.33333Z" />
                            <path d="M10.9799 10.9795C11.1752 10.7842 11.4918 10.7842 11.687 10.9795L13.687 12.9795C13.8823 13.1747 13.8823 13.4913 13.687 13.6866C13.4918 13.8818 13.1752 13.8818 12.9799 13.6866L10.9799 11.6866C10.7847 11.4913 10.7847 11.1747 10.9799 10.9795Z" />
                        </svg>
                        <div>
                            <label class="validation-summary-error">@msgError</label>
                        </div>
                        <div>
                            <label class="validation-summary-info">@msgInfo</label>
                        </div>
                        <div>
                            <label class="valivalidation-summary-success">@msgSuccess</label>
                        </div>
                    </div>
                }

                <div class="input-container">
                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@Resources.Administrator.user_name</div>*@
                            <input type="text" id="user_name" name="user_name" placeholder="@Resources.Administrator.user_name_input" value="@registerModel.user_name" required oninvalid="this.setCustomValidity('@Resources.User.require_user_name')" oninput="setCustomValidity('')" />
                        </div>
                        <span class="font-icon-info"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@Resources.Administrator.email_address</div>*@
                            <input type="email" id="user_email" name="user_email" placeholder="@Resources.Administrator.email_address_input" value="@registerModel.user_email" required oninvalid="this.setCustomValidity('@Resources.Administrator.email_address_input')" oninput="setCustomValidity('')" />
                        </div>
                        <span class="font-icon-mail"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@Resources.User.account_firstname</div>*@
                            <input type="text" id="user_firstname" name="user_firstname" placeholder="@Resources.Administrator.user_firstname_input" value="@registerModel.user_firstname" required oninvalid="this.setCustomValidity('@Resources.User.require_user_fullname')" oninput="setCustomValidity('')" />
                        </div>
                        <div>
                            @*<div class="input-label">@Resources.User.account_middlename</div>*@
                            <input type="text" id="user_middlename" name="user_middlename" placeholder="@Resources.Administrator.user_middlename_input" value="@registerModel.user_middlename">
                        </div>
                        <div>
                            @*<div class="input-label">@Resources.User.account_lastname</div>*@
                            <input type="text" id="user_lastname" name="user_lastname" placeholder="@Resources.Administrator.user_lastname_input" value="@registerModel.user_lastname" required oninvalid="this.setCustomValidity('@Resources.User.require_user_fullname')" oninput="setCustomValidity('')" />
                        </div>
                        <span class="font-icon-info"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@rResources.User.account_birthday</div>*@
                            <input type="date" class="form-control" data-date-format="@formatDate.ToUpper()" name="use_birthday" id="use_birthday" data-date="" value="@birthDay" placeholder="@Resources.Administrator.use_birthday_input" required oninvalid="this.setCustomValidity('@Resources.User.require_user_birthday')" oninput="setCustomValidity('')" title="@Resources.User.account_birthday" />
                        </div>
                        <div>
                            @*<div class="input-label">@Resources.User.sex</div>*@
                            <select id="user_sex" name="user_sex" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="@Resources.User.sex" title="@Resources.User.sex">
                                <option value="sex_man">@Resources.User.sex_man</option>
                                <option value="sex_woman">@Resources.User.sex_woman</option>
                                <option value="sex_undefined">@Resources.User.sex_undefined</option>
                            </select>
                        </div>
                        <span class="font-icon-info"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@Resources.User.account_firstname</div>*@
                            <input type="text" id="user_phonenumber" name="user_phonenumber" placeholder="@Resources.Administrator.user_phonenumber_input" value="@registerModel.user_phonenumber" required oninvalid="this.setCustomValidity('@Resources.User.require_user_phone')" oninput="setCustomValidity('')" />
                        </div>
                        <div>
                            @*<div class="input-label">@Resources.User.account_middlename</div>*@
                            <input type="text" id="user_companyname" name="user_companyname" placeholder="@Resources.Administrator.user_companyname_input" value="@registerModel.user_companyname" required oninvalid="this.setCustomValidity('@Resources.User.require_user_company')" oninput="setCustomValidity('')" />
                        </div>
                        <span class="font-icon-info"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@Resources.Administrator.enter_pwd</div>*@
                            <input type="password" id="user_password" name="user_password" placeholder="@placehoder_pass" value="@registerModel.user_password" required oninvalid="this.setCustomValidity('@Resources.Administrator.enter_pwd_input')" oninput="setCustomValidity('')" title="@Resources.Administrator.enter_pwd" />
                        </div>
                        <span class="font-icon-lock" title="@Resources.Administrator.enter_pwd"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div>
                            @*<div class="input-label">@Resources.Administrator.enter_confirmpassword</div>*@
                            <input type="password" class="form-control form-control-lg" id="user_confirmpassword" name="user_confirmpassword" placeholder="@Resources.Administrator.enter_confirmpassword" value="@registerModel.user_confirmpassword" required oninvalid="this.setCustomValidity('@Resources.Administrator.enter_confirmpassword')" oninput="setCustomValidity('')" title="@Resources.Administrator.enter_confirmpassword" />
                        </div>
                        <span class="font-icon-lock" title="@Resources.Administrator.enter_confirmpassword"></span>
                    </div>
                </div>

                <div class="btn-popup">
                    @*<div class="pop-btn">
                            <div>Forgot password?</div>
                        </div>*@
                    <input class="input-submit" type="submit" value="@Resources.Administrator.register">
                </div>
            }
            <div class="">
                <div class="login-information">
                    <div>@Resources.Administrator.account_exist</div>
                    <div class="link">
                        <a href="@redirectURL" class="card-link">@Resources.Common.login</a>
                    </div>
                </div>
                <div class="languages">
                    <span lang="vi" class="@langVNSelected"></span>
                    <span lang="en" class="@langENSelected"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //var msgError = '@msgError';
        //if (msgError != '') showErr(msgError);
        $(".languages span").click(function () {
            let langSelected = $(this).attr('lang');
            window.location.href = "/Common/ChangeLanguage?url=" + window.location.href + "&culture=" + langSelected;
        })
        $('#user_sex').val('@sexVal');

        $("#account-bỉthday").on("change", function () {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format"))
            )
        }).trigger("change");
    });
</script>
