﻿@model Apom_User.Models.ResetPasswordViewModel

@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "VerifyPassword";

    bool expiredResetPassword = Model.expired_reset_password;
    bool requestResetPassword = Model.request_reset_password;

    string title = expiredResetPassword ? Resources.Administrator.reset_password_fail : Resources.User.pwd_reset;

    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";
}


<div class="popup-overlay popup-login step-by-step">
    <div class="popup-container">
        <div class="popup">
            <div class="title-login">
                <div class="title">@title</div>
            </div>

            @if (expiredResetPassword)
            {
                string msgInActive = Resources.Administrator.reset_password_expire;
                msgInActive = msgInActive.Replace("{0}", "");
                <span>@msgInActive</span>@Html.ActionLink(Resources.Administrator.register_register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            }
            else if (!requestResetPassword)
            {
                string msgInActive = Resources.Administrator.reset_password_disable;
                <span>@msgInActive</span>
            }
            else
            {
                using (Html.BeginForm("VerifyPassword", "Account", FormMethod.Post, new { @class = "form-login", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                    {
                        <div class="login-alert">
                            <svg class="icon-input" viewBox="0 0 16 16">
                                <path d="M7.33333 2.5C4.66396 2.5 2.5 4.66396 2.5 7.33333C2.5 10.0027 4.66396 12.1667 7.33333 12.1667C10.0027 12.1667 12.1667 10.0027 12.1667 7.33333C12.1667 4.66396 10.0027 2.5 7.33333 2.5ZM1.5 7.33333C1.5 4.11167 4.11167 1.5 7.33333 1.5C10.555 1.5 13.1667 4.11167 13.1667 7.33333C13.1667 10.555 10.555 13.1667 7.33333 13.1667C4.11167 13.1667 1.5 10.555 1.5 7.33333Z" />
                                <path d="M10.9799 10.9795C11.1752 10.7842 11.4918 10.7842 11.687 10.9795L13.687 12.9795C13.8823 13.1747 13.8823 13.4913 13.687 13.6866C13.4918 13.8818 13.1752 13.8818 12.9799 13.6866L10.9799 11.6866C10.7847 11.4913 10.7847 11.1747 10.9799 10.9795Z" />
                            </svg>
                            <div>
                                <label class="validation-summary-error">@msgError</label>
                            </div>
                            <div>
                                <label class="validation-summary-info">@msgInfo</label>
                            </div>
                            <div>
                                <label class="valivalidation-summary-success">@msgSuccess</label>
                            </div>
                        </div>
                    }

                    <div class="input-container">
                        <div class="input with-label with-icon">
                            <div>
                                <div class="input-label">@Resources.Administrator.email_address</div>
                                <input type="email" readonly="readonly" id="user_email" name="user_email" placeholder="@Resources.Administrator.email_address_input" value="@Model.user_email" required oninvalid="this.setCustomValidity('@Resources.Administrator.email_address_input')" oninput="setCustomValidity('')" />
                            </div>
                            <span class="font-icon-mail"></span>
                        </div>

                        <div class="input with-label with-icon">
                            <div>
                                <div class="input-label">@Resources.Administrator.enter_pwd</div>
                                <input type="password" id="user_password" name="user_password" placeholder="@Resources.Administrator.enter_pwd_input" required oninvalid="this.setCustomValidity('@Resources.Administrator.enter_pwd_input')" oninput="setCustomValidity('')" />
                            </div>
                            <span class="font-icon-lock"></span>
                        </div>

                        <div class="input with-label with-icon">
                            <div>
                                <div class="input-label">@Resources.Administrator.enter_confirmpassword</div>
                                <input type="password" id="user_confirmpassword" name="user_confirmpassword" placeholder="@Resources.Administrator.enter_confirmpassword" required oninvalid="this.setCustomValidity('@Resources.Administrator.enter_confirmpassword')" oninput="setCustomValidity('')" />
                            </div>
                            <span class="font-icon-lock"></span>
                        </div>
                    </div>

                    <div class="btn-popup">
                        @*<div class="pop-btn">
                                <div>Forgot password?</div>
                            </div>*@
                        <input class="input-submit" type="submit" value="@Resources.User.pwd_reset">
                    </div>
                }
            }
            <div class="">
                @if (!requestResetPassword)
            {
                    <div class="login-information">
                        <div class="link">
                            <a href="@Url.Action("Index", "Home", new { area = "" })" class="card-link">@Resources.Common.home</a>
                        </div>
                    </div>

                    <div class="login-information">
                        <div class="link">
                            <a href="@Url.Action("Login", "Account", new { area = "" })" class="card-link">@Resources.Common.login</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="login-information">
                        <div class="link">
                            <a href="@Url.Action("Login", "Account", new { area = "" })" class="card-link">@Resources.Common.login</a>
                        </div>
                    </div>

                    <div class="login-information">
                        <div>@Resources.Administrator.account_not_exist</div>
                        <div class="link">
                            <a href="@Url.Action("Register", "Account", new { area = "" })" class="card-link">@Resources.Common.register</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>