﻿<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<style>
    .footer ul {
        list-style-type: none;
    }
</style>
@{ 
    string version = "v" + Resources.Common.version;
}
<footer class="footer footer-static footer-light navbar-border p-0">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <ul class="pl-0">
            <li class="nav-item float-left brand-vdg">
                <span class="d-block d-md-inline-block vdg-brand" style="margin-top: 10px;">
                    <a class="text-bold-800 grey darken-2" href="https://vidagis.com" target="_blank">
                        @Resources.Administrator.sys_name
                    </a>
                    <span style="font-size: 11px; font-weight: bold;">@version</span>
                    <span class="cloud-reserved"></span>
                </span>
            </li>
            @*<li class="nav-item float-right left-content d-none d-lg-block">
                <ul class="nav" style="margin-top: 10px;">
                    <li class="nav-item float-right">
                        <span class="float-md-right">
                            <span style="font-size: 11px; font-weight: bold;">Online: 1</span>
                        </span>
                    </li>
                </ul>
            </li>*@
        </ul>
    </div>

</footer>

<!-- END: Footer-->
<!-- BEGIN: Vendor JS-->
<script src="~/theme/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->
<!-- BEGIN: Page Vendor JS-->
@if (ViewBag.use_map_leaflet != null && ViewBag.use_map_leaflet)
{
<script src="~/theme/app-assets/vendors/js/charts/leaflet/data/us-states.json"></script>
<script src="~/theme/app-assets/vendors/js/charts/leaflet/leaflet.js"></script>
<script src="~/theme/app-assets/js/scripts/charts/leaflet/maps-leaflet.js"></script>
}

<!-- switch checkbox -->
@if (ViewBag.use_switch != null && ViewBag.use_switch)
{
<link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/plugins/forms/switch.css" />
<script src="~/theme/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
<script src="~/theme/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
}

<!-- END: Page Vendor JS-->
<!-- BEGIN: Theme JS-->
<script src="~/theme/app-assets/js/core/app-menu.js"></script>
<script src="~/theme/app-assets/js/core/app.js"></script>
<!-- END: Theme JS-->
<!-- BEGIN: Page JS-->

@if (ViewBag.use_switch != null && ViewBag.use_switch)
{
<script src="~/theme/app-assets/js/scripts/forms/switch.js"></script>
}
<!-- END: Page JS-->

<script>
    $(document).ready(function () {
        $('#loading-ajax').hide();
});
</script>

<!-- time slider -->
@if (ViewBag.use_baseslider != null && ViewBag.use_baseslider)
{
    @*<script src="~/Scripts/jquery-base-slider/bower_components.js"></script>
    <script src="~/Scripts/jquery-base-slider/jquery-base-slider.js"></script>
    <script src="~/Scripts/jquery-base-slider/jquery-base-slider-handle.js"></script>
    <script src="~/Scripts/jquery-base-slider/jquery-base-slider-value.js"></script>
    <link href="~/Scripts/jquery-base-slider/jquery-base-slider.css" rel="stylesheet">
    <link href="~/Scripts/jquery-base-slider/style.css" rel="stylesheet">*@

    <link href="~/Scripts/jquery-base-slider/time_slider/bower_components.css" rel="stylesheet">
    <script src="~/Scripts/jquery-base-slider/time_slider/bower_components.js"></script>
    <script src="~/Scripts/jquery-base-slider/time_slider/jquery-time-slider.js"></script>
}

<!-- Include the plugin's CSS and JS: -->
<link rel="stylesheet" href="~/Scripts/bootstrap-multiselect-dropdown/css/bootstrap-multiselect.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect-dropdown/js/bootstrap-multiselect.js"></script>