﻿<div class="menubar">
    <div>
        <!-- menu -->
        @Html.Partial("/Views/Shared/stack-admin/partial/_menu_new.cshtml")
        <!-- end menu -->
        @Html.Partial("/Views/Shared/stack-admin/partial/_logo.cshtml")
        <svg xmlns="http://www.w3.org/2000/svg" width="1" height="28" viewBox="0 0 1 28" fill="none">
            <rect y="0.101562" width="1" height="27" rx="0.5" fill="white" fill-opacity="0.3" />
        </svg>
        <div>@ViewBag.Title</div>
    </div>    

    @*@Html.Partial("/Views/Shared/stack-admin/partial/_filter_data.cshtml")*@
</div>
