﻿@using Apom_User.Common
@using Repositories.Services.Administrative
@{
    var cookies = Request.Cookies[Constant.WebConfig.COOKIE_URL] != null ? Request.Cookies[Constant.WebConfig.COOKIE_URL] : null;
    bool isAuthenticate = false, isVietNam = false;
    if (ViewBag.isAuthenticate != null)
    {
        isAuthenticate = (bool)ViewBag.isAuthenticate;
    }
    else if (cookies != null)
    {
        isAuthenticate = cookies.Values["is_auth"] == "1" ? true : false;
    }

    if (ViewBag.isVietNam != null)
    {
        isVietNam = (bool)ViewBag.isVietNam;
    }
    else if (cookies != null)
    {
        isVietNam = cookies.Values["is_vn"] == "1" ? true : false;
    }

    string urlRedirect = string.IsNullOrEmpty(Context.Request.QueryString["redirect"]) ? "#" : Context.Request.QueryString["redirect"].ToString();
    urlRedirect = Apom_User.Common.Constant.REDIRECT_URL(urlRedirect, Apom_User.Common.Constant.WebConfig.DOMAIN_ENPOINT_EX);
}
<style>
    .menu-content {
        top: calc(-1*var(--padding-B));
        left: calc(100% + 15px);
    }

    .map-menu-content .item-menu, .map-menu-content .item-menu a {
        color: black;
        text-decoration: unset;
    }

        .map-menu-content .item-menu:hover, .map-menu-content .pop-btn:hover {
            color: var(--white);
            background-color: var(--primary-color-hover);
        }

            .map-menu-content .item-menu.active a, .map-menu-content .item-menu:hover a, .map-menu-content .pop-btn:hover a {
                color: var(--white);
            }

    .map-menu-content .pop-btn {
        background-color: var(--gray-100);
        color: black;
        text-decoration: unset;
        padding: var(--padding-E);
        margin-bottom: var(--padding-C);
    }

        .map-menu-content .pop-btn a {
            /*color: var(--white);*/
        }

    /*.menu-content .item-menu > div > a > div {
        font-size: var(--font-size-10);
        font-weight: 400;
        line-height: 148%;
        color: var(--gray);
    }*/
</style>

@{
    string homeActiveClass = "";
    string dataAnalysisActiveClass = "";
    string newsActiveClass = "";
    string aboutActiveClass = "";
    string settingActiveClass = "";
    string userProfileActiveClass = "";
    string userListActiveClass = "";

    int pageActive = ViewBag.page == null ? (int)Apom_User.Common.Constant.Page.home : (int)ViewBag.page;
    string classActive = "active";
    switch (pageActive)
    {
        default:
        case (int)Apom_User.Common.Constant.Page.home:
            homeActiveClass = classActive;
            break;
        case (int)Apom_User.Common.Constant.Page.data_analysis:
            dataAnalysisActiveClass = classActive;
            break;
        case (int)Apom_User.Common.Constant.Page.news:
            newsActiveClass = classActive;
            break;
        case (int)Apom_User.Common.Constant.Page.about:
            aboutActiveClass = classActive;
            break;
        case (int)Apom_User.Common.Constant.Page.setting:
            settingActiveClass = classActive;
            break;
        case (int)Apom_User.Common.Constant.Page.user_profile:
            userProfileActiveClass = classActive;
            break;
        case (int)Apom_User.Common.Constant.Page.user_list:
            userListActiveClass = classActive;
            break;
    }
    string redirectURL = Request.Url.PathAndQuery;
    redirectURL = Apom_User.Common.Constant.REDIRECT_URL(redirectURL, Apom_User.Common.Constant.WebConfig.DOMAIN_ENPOINT_EX);
    string langVNSelected = Apom_User.Common.SessionContext.Language == Apom_User.Common.Constant.LANGUAGE_DEFAULT ? "selected" : "";
    string langENSelected = String.IsNullOrEmpty(langVNSelected) ? "selected" : "";
    string newLink = "https://popgis.vnu.edu.vn/about/blog/";
    string aboutLink = "https://popgis.vnu.edu.vn/about";
    //bool isAuthenticate = ViewBag.isAuthenticate ?? false;
    //string urlHomePage = !isAuthenticate ? Url.Action("Index", "Home", new { area = "" }) : (isVietNam ? Url.Action("VietNam", "Home", new { area = "" }) : Url.Action("HaNoi", "Home", new { area = "" }));
}


<!-- menu -->
<label for="menu-toggle" class="icon _hide-in-searching_ menu-container">
    <input type="checkbox" id="menu-toggle" style="display:none;" />
    <span class="font-icon-menu"></span>

    <div class="menu-content map-menu-content">
        <div>
            <div class="title">
                @Resources.Map.map_menu
            </div>
            <select id="cboLanguage">
                <option @langVNSelected value="vi">
                    @Resources.Map.map_language_vi
                </option>
                <option @langENSelected value="en">
                    @Resources.Map.map_language_en
                </option>
            </select>
        </div>
        <div>
            <a class="item-menu @homeActiveClass" href="@urlRedirect">
                <span class="font-icon-location"></span>
                <span class="menu-title" data-i18n="Contacts">@Resources.Common.home</span>
            </a>
            <a class="item-menu @dataAnalysisActiveClass" href="@Url.Action("Index", "Dashboard", new { area = "", redirect = redirectURL })">
                <span class="font-icon-analyzic"></span>
                <span class="menu-title" data-i18n="Contacts">@Resources.Common.data_analysis</span>

            </a>
        </div>
        @*@if (isAuthenticate)
        {
            <div>
                <a class="item-menu @newsActiveClass" href="@newLink">
                    <span class="font-icon-news"></span>
                    <span class="menu-title" data-i18n="Contacts">@Resources.Common.news</span>
                </a>
                <a class="item-menu @aboutActiveClass" href="@aboutLink">
                    <span class="font-icon-info"></span>
                    <span class="menu-title" data-i18n="Contacts">@Resources.Common.about</span>
                </a>
            </div>
        }*@
        @if (Apom_User.Common.SessionContext.UserProfile != null)
        {
            Apom_User.Common.SessionContext.UserProfile.time_request = DateTime.Now.Ticks;

            <div>
                @*<label for="setting-toggle" class="item-menu @settingActiveClass">
            <input type="checkbox" id="setting-toggle" style="display:none;" />
            <span class="font-icon-setting1"></span>
            <span class="menu-title">@Resources.Common.setting</span>
            @Html.Partial("/Views/Home/partial/_map_setting.cshtml")
        </label>*@

                @*<a class="item-menu" href="https://docs.google.com/forms/d/1GQ2Du5tUxUhhfWvaZQUC4BDMdocaLTBT2qc9qf-wgPA/edit?chromeless=1" target="_blank">
            <span class="font-icon-setting1"></span>
            <span style="max-width: 80px; display: inline-block; overflow: hidden; text-overflow:ellipsis;">@Resources.Common.request_data</span>
        </a>*@
                <a class="item-menu @aboutActiveClass" href="@aboutLink">
                    <span class="font-icon-info"></span>
                    <span class="menu-title" data-i18n="Contacts">@Resources.Common.about</span>
                </a>

                <a class="item-menu" href="@Url.Action("UserInfo", "User", new { paraI = Libs.Utils.Encrypts.Encrypt(String.Concat(Apom_User.Common.SessionContext.UserProfile.time_request.Value.ToString(), "_", Apom_User.Common.Constant.WebConfig.KEYENDE), Apom_User.Common.SessionContext.UserProfile.emailaddress), time_request = Apom_User.Common.SessionContext.UserProfile.time_request, redirect = Request.Url.PathAndQuery, area = "" })">
                    <span class="font-icon-user"></span>
                    <span style="max-width: 80px; display: inline-block; overflow: hidden; text-overflow:ellipsis;">@Apom_User.Common.SessionContext.UserProfile.username</span>
                </a>

            </div>

            /*if (userLocalServiceUtil.Instance.isAdmin(Apom_User.Common.SessionContext.UserProfile))
            {
                <div>
                    <div class="item-menu @userListActiveClass">
                        <span class="font-icon-menu"></span>
                        <a class="dropdown-item" href="@Url.Action("UserList", "User", new { area = "" })">
                            <span class="menu-title" data-i18n="Contacts">@Resources.Administrator.user_list</span>
                        </a>
                    </div>
                </div>
            }*/
            <div>
                <div class="item-menu pop-btn" onclick="document.getElementById('logoutForm').submit()">
                    <span class="menu-title">
                        @using (Html.BeginForm("LogOff", "Account", new { area = "", redirect = redirectURL }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        @Resources.Administrator.logout
                    </span>
                </div>
            </div>
        }
        else
        {
            if (isAuthenticate)
            {
                <div>                 
                    <a class="item-menu @aboutActiveClass" href="@aboutLink">
                        <span class="font-icon-info"></span>
                        <span class="menu-title" data-i18n="Contacts">@Resources.Common.about</span>
                    </a>
                    <a class="item-menu" href="@Url.Action("Login", "Account", new {redirect=redirectURL})">
                        <span class="font-icon-user"></span>
                        <span class="menu-title">@Resources.Common.login</span>
                    </a>
                </div>
                /*<div>
                    <div class="pop-btn" style="margin-bottom: 0;">
                        <div>
                            <a class="" href="@Url.Action("Register", "Account", new { area = "" })">
                                @Resources.Common.register
                            </a>
                        </div>
                    </div>
                </div>*/
            }
            else
            {
                <div>                    
                    <a class="item-menu @aboutActiveClass" href="@aboutLink">
                        <span class="font-icon-info"></span>
                        <span class="menu-title" data-i18n="Contacts">@Resources.Common.about</span>
                    </a>
                </div>
            }
        }
    </div>
</label>
<!-- end menu -->

<script>
    $(document).ready(function () {
        $('#cboLanguage').change(function () {
            let langSelected = $(this).val();
            window.location.href = "/Common/ChangeLanguage?url=" + window.location.href + "&culture=" + langSelected;
        });
        @*console.log('urlRedirect: @urlRedirect');
        console.log('redirectURL: @redirectURL');*@
    });
</script>