﻿@model Repositories.Models.Administrative.user_info_view
@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "Account_Setting";

    string activeLinkGeneral = "", activeLinkChangePwd = "";
    string activeGeneral = "", activeChangePwd = "";
    string cmd = Request["cmd"] == null ? "0" : Request["cmd"];
    if(cmd == "0")
    {
        activeLinkGeneral = "active";
        activeGeneral = "active";
        activeChangePwd = "fade";
    }
    else
    {
        activeLinkChangePwd = "active";
        activeGeneral = "fade";
        activeChangePwd = "active";
    }
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">@Resources.User.acount_setting</h3>            
        </div>        
    </div>
    <div class="content-body">
        <!-- account setting page start -->
        <section id="page-account-settings">
            <div class="row">
                <!-- left menu section -->
                <div class="col-md-3 mb-2 mb-md-0">
                    <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                        <li class="nav-item">
                            <a class="nav-link d-flex @activeLinkGeneral" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                                <i class="feather icon-globe"></i>
                                @Resources.User.account_general
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex @activeLinkChangePwd" id="account-pill-password" data-toggle="pill" href="#account-vertical-password" aria-expanded="false">
                                <i class="feather icon-lock"></i>
                                @Resources.User.account_change_password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex redirect" data-toggle="pill" href="#" aria-expanded="false">
                                <i class="feather icon-arrow-left"></i>
                                @Resources.Common.back
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- right content section -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane @activeGeneral" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                        @Html.Partial("/Views/User/partial/_account_setting_general.cshtml", Model.user)
                                    </div>

                                    <div class="tab-pane @activeChangePwd" id="account-vertical-password" role="tabpanel" aria-labelledby="account-pill-password" aria-expanded="false">
                                        @Html.Partial("/Views/User/partial/_account_setting_change_pwd.cshtml", Model.user)
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- account setting page end -->
    </div>
</div>