﻿@using Repositories.Services.Administrative
@model Repositories.Models.Administrative.user_info_view

@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "UserInfo";
    string avatar = Model.user.image;
    if(String.IsNullOrEmpty(avatar))
    {
        avatar = "/gui/imgs/unnamed.png";
    }
    else
    {
        avatar = Model.user.image_src;
    }

    bool isAllowEdit = Model.user.userid == Apom_User.Common.SessionContext.UserProfile.userid && Model.user.userid != userLocalServiceUtil.Instance.SupperAdminDefault.userid;
    var time_request = DateTime.Now.Ticks.ToString();

    bool isSupperAdmin = Model.user.isSuperAdmin;
    //String urlRedirect = Request["redirect"] == null ? "" : Request["redirect"].ToString();
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <!-- Search form-->
        <section id="search-website" class="overflow-hidden">
            @*<div class="card-header">
                <h4 class="card-title">@Resources.Administrator.user_information</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                        <!--<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>-->
                        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                        <!--<li><a data-action="close"><i class="feather icon-x"></i></a></li>-->
                    </ul>
                </div>
            </div>*@
            <!-- users view media object start -->
            <div class="row">
                <div class="col-12 col-sm-7">
                    <div class="media mb-2">
                        <a class="mr-1" href="#">
                            <img src="@avatar" alt="users view avatar" class="users-avatar-shadow rounded-circle" height="64" width="64">
                        </a>
                        <div class="media-body pt-25">
                            <h4 class="media-heading">
                                <span class="users-view-name">@Model.user.username</span>
                                @*<span class="text-muted font-medium-1"></span>
                                <span class="users-view-username text-muted font-medium-1 ">candy007</span>*@
                            </h4>
                            <span>@Resources.User.email:</span>
                            <span class="users-view-id">@Model.user.emailaddress</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 px-0 d-flex justify-content-end align-items-center px-1 mb-2">
                    <a href="#" class="btn btn-sm mr-25 border redirect">
                        <i class="feather icon-arrow-left"></i>
                        @Resources.Common.back
                    </a>
                    <a href="#" class="btn btn-sm mr-25 border">@Resources.User.my_profile</a>
                    @if (isAllowEdit)
                    {
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Account_Setting", "User", new { paraI=@Libs.Utils.Encrypts.Encrypt(String.Concat(time_request,"_", Apom_User.Common.Constant.WebConfig.KEYENDE), Model.user.emailaddress), t=@time_request, redirect = Request.Url.AbsoluteUri })">
                        <i class="fa fa-edit"></i>
                        @Resources.User.my_profile_edit
                    </a>
                    }
                </div>
            </div>
            <!-- users view media object ends -->
            @*<div class="card-content collapse show">
            <div class="card-body">*@
            <!-- users view card data start -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        @Html.Partial("/Views/User/partial/_info.cshtml", Model.user)
                    </div>
                </div>
            </div>
            <!-- users view card data ends -->
        </section>
        <!--/ Search form -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#loading-ajax').hide();
    });
</script>