﻿@model Repositories.Models.Administrative.user_info_model
@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "Create_User";
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">@Resources.Administrator.create_account</h3>
        </div>
    </div>
    <div class="content-body">
        <!-- users list start -->
        <section id="page-account-new">
            <div class="row">
                <!-- left menu section -->
                <div class="col-md-3 mb-2 mb-md-0">
                    <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                        <li class="nav-item">
                            <a class="nav-link d-flex active" id="account-pill-general" data-toggle="pill" href="#account-vertical-new" aria-expanded="true">
                                <i class="feather icon-globe"></i>
                                @Resources.User.account_general
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex redirect" data-toggle="pill" href="#" aria-expanded="false">
                                <i class="feather icon-arrow-left"></i>
                                @Resources.Common.back
                            </a>
                        </li>
                    </ul>
                </div>
                
                
                <!-- right content section -->
                <div class="col-md-9">                    
                    <div class="card">                        
                        <div class="card-content">                            
                            <div class="card-body">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="account-vertical-new" aria-labelledby="account-pill-general" aria-expanded="true">
                                        @Html.Partial("/Views/User/partial/_create_user.cshtml", Model)
                                    </div>
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

