﻿@using Repositories.Models.Administrative

@model user_list_view
@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "UserInfo";

    List<user_info_model> lst = Model.lstUser;
    user_info_model userProfile = Model.userProfile;

    int index = 0;
    string urlRedirect = string.IsNullOrEmpty(Context.Request.QueryString["redirect"]) ? "" : Context.Request.QueryString["redirect"].ToString();
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <div class="content-body">
            <!-- users list start -->
            <section class="card users-list-wrapper">
                <div class="card-header">
                    <h4 class="card-title">@Resources.Administrator.user_list</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                            <!--<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>-->
                            <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                            <!--<li><a data-action="close"><i class="feather icon-x"></i></a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <!-- users-list-table -->
                        <div class="users-list-table">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body" style="padding-top: 0;">
                                        <div class="btn-group" style="margin: 5px;" role="group" aria-label="Basic example">
                                            <a class="btn btn-icon btn-secondary" href="@Url.Action("Create_User", "User", new { time_request = Apom_User.Common.SessionContext.UserProfile.time_request, redirect = Request.Url.PathAndQuery })">
                                                <i class="fa fa-plus"></i>
                                                @Resources.Administrator.create_account
                                            </a>
                                            @if (!String.IsNullOrEmpty(urlRedirect))
                                            {
                                            <a href="@urlRedirect" class="btn btn-icon btn-outline-primary redirect1" style="margin-left: 5px;">
                                                <i class="feather icon-arrow-left"></i>
                                                @Resources.Common.back
                                            </a>
                                            }
                                        </div>
                                        <!-- datatable start -->
                                        <div class="table-responsive">
                                            <table id="users-list-datatable" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>@Resources.Common.numerical_order</th>
                                                        <th>@Resources.User.username</th>
                                                        <th>@Resources.User.email</th>
                                                        <th>@Resources.User.fullname</th>
                                                        <th>@Resources.User.last_activity_at</th>
                                                        <th>@Resources.User.role</th>
                                                        <th>@Resources.User.status</th>
                                                        @*<th></th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (user_info_model userI in lst)
                                                    {
                                                        index++;
                                                        string roles = "";
                                                        userI.time_request = DateTime.Now.Ticks;
                                                        foreach (var roleItem in userI.role)
                                                        {
                                                            roles += String.IsNullOrEmpty(roles) ? roleItem.rolename : ", " + roleItem.rolename;
                                                        }
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>
                                                                <a href="@Url.Action("UserInfo", "User", new { paraI=@Libs.Utils.Encrypts.Encrypt(String.Concat(userI.time_request.Value.ToString(),"_", Apom_User.Common.Constant.WebConfig.KEYENDE), userI.emailaddress), time_request = @userI.time_request.Value.ToString(), redirect = Request.Url.PathAndQuery })">
                                                                    @*<i class="fa fa-plus"></i>*@
                                                                    @userI.username
                                                                </a>
                                                            </td>
                                                            <td>@userI.emailaddress</td>
                                                            <td>@userI.fullname</td>
                                                            <td>@userI.lasttime_access_str</td>
                                                            <td>@roles</td>
                                                            <td>
                                                                <span class="@userI.classactive">
                                                                    @Resources.Administrator.ResourceManager.GetString(userI.activename)
                                                                </span>
                                                            </td>
                                                            @*<td><a href="@Url.Action("UserInfo", "User", new { area = "", id = userI.userid })"><i class="feather icon-edit-1"></i></a></td>*@
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- datatable ends -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end users-list-table -->
                    </div>
                </div>
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>

<script>
    // variable declaration
    var usersTable;
    var usersDataArray = [];
    // datatable initialization
    if ($("#users-list-datatable").length > 0) {
        usersTable = $("#users-list-datatable").DataTable({
            'columnDefs': [{
                "orderable": false,
                "targets": [6]
            }]
        });
    };
</script>

