﻿@using Repositories.Models.Category

@{
    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex == null ? new List<vnaqi_index_short>() : Model.VNAQIIndex;
}

<style>
    .analysis-layer-map {
        width: 100%;
		height: 100%;
    }

    .analysis-layer-map .map-apom-container {
        width: 100%;
        height: 100%;
        margin: 0px !important;
    }
</style>

<div class="analysis-layer-map">
    <div id="map-apom-analysis" class="map-apom-container">
    </div>
</div>

<script>
    $(document).ready(function () {
        var f = {
            VNAQI: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI)),
            mapid: 'map-apom-analysis',
        };

        /*** init map ***/
        var mainImpl = null;
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;

        mainImpl = new apomGis.mainClass({
            mapid: f.mapid,
            hostapi: '@ViewBag.HostAPI',
            langid: '@Apom_User.Common.SessionContext.Language'.trim()
        });

        apomGis.mainCurrentImpl = mainImpl;
        /*** end init map ***/        
    });
</script>
