﻿
@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "Error401";
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10 p-0">
                    <div class="card-header bg-transparent border-0">
                        <h2 class="error-code text-center mb-2">401</h2>
                        <h3 class="text-uppercase text-center">Error 401 - Unauthorized Access.</h3>
                    </div>
                    <div class="card-content">
                        @Html.Partial("~/Views/Bug/partial/_footprint.cshtml")
                    </div>
                </div>
        </section>
    </div>
</div>

