﻿<div id="analysis_station_header" class="card-body" style="padding-top: 0;">
    <ul class="nav nav-tabs nav-underline" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#analysis_station_chart" data-toggle="tab" aria-controls="tabIcon221" role="tab" aria-selected="true">
                <i class="fa fa-link"></i> @Resources.Analysis.chart
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#analysis_station_table_attr" data-toggle="tab" aria-controls="tabIcon222" role="tab" aria-selected="false">
                <i class="fa fa-file-image-o"></i> @Resources.Analysis.table_attr
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#analysis_station_map" data-toggle="tab" aria-controls="tabIcon223" role="tab" aria-selected="false">
                <i class="fa fa-file-image-o"></i> @Resources.Analysis.map
            </a>
        </li>
    </ul>
</div>