﻿<style>
    .analysis-geotiff-statistic-data {
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        color: #666;
    }
</style>

<div id="analysis_layer_table_attr" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab122">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="no-data-text">@Resources.Analysis.no_data_analysis</div>
            <table id="analysis_geotiff_statistic_data" class="table table-striped table-bordered small analysis-geotiff-statistic-data" style="width:100%">
            </table>
        </div>
    </div>
</div>