﻿<div id="analysis_station_table_attr" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab222">
    <div class="row">
        <div class="col-12 col-md-12">
            table attributes
        </div>
    </div>
</div>
