﻿<link rel="stylesheet" type="text/css" href="~/Content/aqi.css" />

<style type="text/css">
    span.frac {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    span.frac > sup, span.frac > sub {
        display: block;
        font: inherit;
        padding: 0 0.3em;
    }
    span.frac > sup {border-bottom: 0.08em solid;}
    span.frac > span {display: none;}    
</style>

<div id="about_aqi" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab23">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <ol class="">
                            <li class="">
                                <span class="font-weight-bold">Tính giá trị Nowcast đối với PM<sub>2.5</sub> và PM<sub>10</sub></span>
                                <p>
                                    Gọi c1, c2, …c12 là 12 giá trị quan trắc trung bình 1 giờ (với c1 là giá trị quan trắc trung bình 1 giờ hiện tại, c12 là giá trị quan trắc trung bình 1 giờ cách 12 giờ so với hiện tại).
                                </p>
                                <p>
                                Tính giá trị trọng số: 𝑤<sup>∗</sup>= <span class="frac"><sup>𝑐<sub>𝑚𝑖𝑛</sub></sup><span>&frasl;</span><sub>𝑐<sub>𝑚𝑎𝑥</sub></sub></span>
                                </p>
                                <p>Trong đó:</p>
                                <p>c<sub>min</sub> là giá trị nhỏ nhất trong số 12 giá trị trung bình 1 giờ</p>
                                <p>c<sub>max</sub> là giá trị lớn nhất trong số 12 giá trị trung bình 1 giờ</p>
                                <p>Nếu 𝑤<sup>∗</sup> ≤ <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> thì lấy 𝑤 = <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></p>
                                <p>Nếu 𝑤<sup>∗</sup> > <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> thì lấy 𝑤 = 𝑤<sup>∗</sup></p>
                                <p>Trong trường hợp 𝑤 > <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> thì giá trị <span class="font-italic">Nowcast</span> = <span class="frac"><sup>∑<sup>12</sup><sub>i=1</sub> 𝑤<sup>𝑖−1</sup>𝑐<sub>𝑖</sub></sup><span>&frasl;</span><sub>∑<sup>12</sup><sub>i=1</sub> 𝑤<sub>𝑖−1</sub></sub></span></p>

                                <p>Trong trường hợp 𝑤= <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> thì giá trị <span class="font-italic">Nowcast</span> = <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>𝑐<sub>1</sub> + (<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>)<sub>2</sub>𝑐<sub>2</sub> + ... + (<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>)<sub>12</sub>𝑐<sub>12</sub></p>
                                <p><span class="font-weight-bold">Chú ý:</span></p>

                                <p>- Nếu có ít nhất 2 trong 3 giá trị c<sub>1</sub>, c<sub>2</sub>, c<sub>3</sub> có dữ liệu thì mới tính được giá trị Nowcast, ngược lại coi như “không có dữ liệu” (không tính được giá trị Nowcast).</p>

                                <p>- Nếu c<sub>i</sub> không có giá trị thì lấy w<sup>i-1</sup> = 0.</p>
                            </li>
                            <li class="">
                                <span class="font-weight-bold">Tính giá trị AQI<sup>h</sup> cho PM2.5 (AQI<sub>PM2.5</sub>)</span>
                                <p>Giá trị AQI<sup>h</sup> của thông số PM2.5 được tính toán theo công thức:</p>
                                <p class="d-flex justify-content-center">
                                    𝐴𝑄𝐼<span><sub>𝑥</sub></span>= <span class="frac"><sup>𝐼<sub>𝑖+1</sub> − 𝐼<sub>𝑖</sub></sup><span>&frasl;</span><sub>𝐵𝑃<sub>𝑖+1</sub> − 𝐵𝑃<sub>𝑖</sub></sub></span> <span>(𝑁𝑜𝑤𝑐𝑎𝑠𝑡<sub>𝑥</sub>−𝐵𝑃<sub>𝑖</sub>)+𝐼<sub>𝑖</sub></span>
                                </p>

                                <p>Trong đó:</p>
                                <p class="ml-5">AQI<sub>PM2.5</sub>: Giá trị AQI của thông số x</p>
                                <p class="ml-5">BP<sub>i</sub>: Nồng độ giới hạn dưới của giá trị thông số quan trắc được quy định trong Bảng 1 tương ứng với mức i</p>
                                <p class="ml-5">BP<sub>i+1</sub>: Nồng độ giới hạn trên của giá trị thông số quan trắc được quy định trong Bảng 1 tương ứng với mức i+1</p>
                                <p class="ml-5">I<sub>i</sub>: Giá trị AQI ở mức i đã cho trong bảng tương ứng với giá trị BP<sub>𝑖</sub></p>
                                <p class="ml-5">I<sub>i+1</sub>: Giá trị AQI ở mức i+1 cho trong bảng tương ứng với giá trị BP<sub>𝑖</sub>+1</p>
                                <p class="ml-5">Nowcast<sub>x</sub>: Giá trị Nowcast được tính toán ở phần a</p>
                                <p class="d-flex justify-content-center">Bảng 1: Các giá trị BPi đối với các thông số</p>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">i</td>
                                            <td rowspan="2">I<sub>i</sub></td>
                                            <td>Giá trị BP<sub>i</sub>< đối với từng thông số (µg/m<sup>3</sup>)</td>
                                        </tr>
                                        <tr>
                                            <td>PM<sub>2.5</sub>/td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>50</td>
                                            <td>25</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>50</td>
                                            <td>25</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>100</td>
                                            <td>50</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>150</td>
                                            <td>80</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>200</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>300</td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>400</td>
                                            <td>350</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>≥500</td>
                                            <td>≥500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <span class="font-weight-bold">Bảng chất lượng không khí dựa trên AQI:</span>
                                <p>Chỉ số chất lượng không khí được tính theo thang điểm (khoảng giá trị AQI) tương ứng với biểu tượng và các màu sắc để cảnh báo chất lượng không khí và mức độ ảnh hưởng tới sức khỏe con người.</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td style="width:25%;">Khoảng giá trị AQI</td>
                                            <td style="width:60%;">Chất lượng không khí</td>
                                            <td style="width:15%;">Màu sắc</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="aqi-box-vn box-good">
                                            <td>0 - 50</td>
                                            <td>Chất lượng không khí tốt, không ảnh hưởng tới sức khỏe</td>
                                            <td>Xanh</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-moderate">
                                            <td>51 - 50</td>
                                            <td>Chất lượng không khí ở mức chấp nhận được. Tuy nhiên, đối với những người nhạy cảm (người già, trẻ em, người mắc các bệnh hô hấp, tim mạch…) có thể chịu những tác động nhất định tới sức khỏe</td>
                                            <td>Vàng</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-sensitive-unhealthy">
                                            <td>101 - 150</td>
                                            <td>Những người nhạy cảm gặp phải các vấn đề về sức khỏe, những người bình thường ít ảnh hưởng.</td>
                                            <td>Da cam</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-unhealthy">
                                            <td>151 - 200</td>
                                            <td>Những người bình thường bắt đầu có các ảnh hưởng tới sức khỏe, nhóm người nhạy cảm có thể gặp những vấn đề sức khỏe nghiêm trọng hơn.</td>
                                            <td>Đỏ</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-very-unhealthy">
                                            <td>201 - 300</td>
                                            <td>Cảnh báo hưởng tới sức khỏe: mọi người bị ảnh hưởng tới sức khỏe nghiêm trọng hơn.</td>
                                            <td>Tím</td>
                                        </tr>
                                        <tr class="aqi-box-vn box-hazardous">
                                            <td>301 - 500</td>
                                            <td>Cảnh báo khẩn cấp về sức khỏe: Toàn bộ dân số bị ảnh hưởng tới sức khỏe tới mức nghiêm trọng</td>
                                            <td>Nâu</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </li>
                        </ol>
                        Nguồn tham khảo: <a href="http://cem.gov.vn/storage/news_file_attach/QD%201459%20TCMT%20ngay%2012.11.2019%20AQI.pdf">Tính giá trị AQI theo giờ (AQI<sup>h</sup>)</a>
</div>
                </li>
            </ul>
        </div>
    </div>
</div>

