﻿<div id="about_datasource" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab22">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <p>Phương pháp xây dựng bản đồ phân bố nồng độ bụi PM2.5 dùng trong báo cáo này được kế thừa từ kết quả đề tài Đánh giá tác động ô nhiễm không khí lên sức khỏe sử dụng cách tiếp cận tích hợp từ công nghệ ảnh viễn thám (Quỹ phát triển Khoa học & Công nghệ quốc gia - NAFOSTED, Mã số: 102.99-2016.22). Bản đồ phân bố nồng độ bụi PM2.5 theo ngày trên Việt Nam được xây dựng dựa trên Mô hình Ảnh hưởng Hỗn hợp (Mixed Effect Model) sử dụng các nguồn dữ liệu khác nhau trong giai đoạn 2012 – 2020. Dữ liệu đầu vào bao gồm quan trắc tại mặt đất, sản phẩm ảnh vệ tinh (AOD), các bản đồ khí tượng (nhiệt độ, độ ẩm, áp suất, PBLH…), các bản đồ sử dụng đất (mật độ dân số, mật độ giao thông, chỉ số thực vật). Mô hình thống kê tìm ra mối quan hệ giữa các lớp dữ liệu đầu vào với quan trắc PM2.5 tại trạm theo các hàm toán học. Các bước cần thực hiện để xây dựng bản đồ bao gồm: tiền xử lý và tăng cường chất lượng dữ liệu, tích hợp dữ liệu, xây dựng và kiểm chứng mô hình, ước tính và kiểm chứng bản đồ hàng ngày (Nguyen và cộng sự, 2021). Một số kết quả bước đầu về phương pháp xây dựng bản đồ phân bố nồng độ bụi PM2.5 toàn quốc đã được xuất bản trong tạp chí danh mục ISI uy tín (Nguyen và cộng sự, 2015). Các kết quả nghiên cứu mới trong phát triển bản đồ phân bố nồng độ bụi PM2.5, được sử dụng để phân tích trong báo cáo này, có chất lượng tốt hơn do sử dụng công nghệ và dữ liệu mới, đang được tổng hợp để xuất bản trong thời gian tới.</p>

                        <p>Các bản đồ phân bố nồng độ bụi PM2.5 theo ngày được tổng hợp thành các bản đồ trung bình tháng, trung bình năm 2019 và 2020 tại Việt Nam với độ phân giải không gian 3x3km. Các bản đồ này được sử dụng cho phân tích hiện trạng ô nhiễm PM2.5 ở phạm vi toàn quốc, miền (Bắc, Trung và Tây Nguyên, Nam) theo tỉnh/thành phố, và hai đô thị đặc biệt (Hà Nội, TP. Hồ Chí Minh). Các hình vẽ, biểu đồ được sử dụng nhằm trực quan hóa sự phân bố của PM2.5 theo không gian giữa các khu vực, địa phương khác nhau.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

