﻿<div id="about_edu_video" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab25">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <p>Các video mang tính giáo dục sẽ tóm tắt kết quả nghiên cứu của dự án này cho các nhà quản lý môi trường, người dân và các tổ chức phi chính phủ không phải là chuyên gia trong lĩnh vực ô nhiễm không khí. Video có thể giải thích trực quan tình trạng ô nhiễm không khí ở Việt Nam. Một ví dụ về sau đây đã được nhóm của chúng tôi xuất bản: <a href="https://youtu.be/0RVIo7qD6jQ">Video</a>.</p>

                        <p>Video sẽ được thực hiện bằng cách xếp chồng các bản đồ PM2.5 trung bình hàng ngày thu được từ WP1 để cung cấp thông tin về sự phân bố theo thời gian và không gian của nồng độ PM2.5 trong khu vực nghiên cứu. Bên cạnh đó, các thông tin hỗ trợ khác, chẳng hạn như các nguồn phát thải chủ đạo, điều kiện khí tượng và bản đồ sử dụng đất, sẽ được phân tích để làm rõ mối quan hệ giữa ô nhiễm PM2.5 và các yếu tố đó. Video sẽ đưa ra các khuyến nghị về các hành động cá nhân mà mọi người có thể làm để cải thiện chất lượng không khí. Video cũng sẽ có phụ đề.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>