﻿<div id="about_edu_video" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab25">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        @Resources.About.edu_video
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>




