﻿<div id="about_fqa_info" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab26">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        @Resources.About.fqa_info
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
