﻿<div id="about_related_article" class="tab-pane" role="tabpanel" aria-labelledby="baseIcon-tab24">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul class="media-list p-0">
                <li class="media">
                    <div class="media-body">
                        <ol class="">
                            <li class="">
                                Về ảnh hưởng của ô nhiễm không khí đến sức khỏe con người:
                                <p>
                                    - Thi Trang Nhung, Nguyen & Schindler, Christian & Chau, Ngo & Hanh, Phan & Le Tu, Hoang & Minh Dien, Tran & Nguyen, Thanh & Künzli, Nino. (2019). <span class="font-weight-bold">Exposure to Air pollution and Risk of Hospitalization for Cardiovascular diseases amongst Vietnamese adults: Case-crossover study.</span> Science of The Total Environment. 703. 134637. 10.1016/j.scitotenv.2019.134637.
                                </p>
                            </li>
                            <li class="">
                                Về PM2.5:
                                <p>
                                    - Thi Trang Nhung, Nguyen & Jegasothy, Edward & Nguyen, Ngan & Ngo Xuan, Truong & Nguyen, Thanh & Marks, Guy & Morgan, Geoffrey. (2021). <span class="font-weight-bold">Mortality burden due to long-term exposure to PM2.5 in Hanoi, Vietnam.</span> ISEE Conference Abstracts. 2021. 10.1289/isee.2021.P-734.
                                </p>
                                <p>
                                    - Nguyen, Thanh & Le, Hoang & Mac, Thi & Thi Trang Nhung, Nguyen & Pham Van, Ha & Bui, Hung. (2019). <span class="font-weight-bold">Current Status of PM2.5 Pollution and its Mitigation in Vietnam.</span>
                                </p>
                            </li>
                            <li class="">
                                Về WRF:
                                <p>
                                    - Ngoc, Do Thi Nhu & Ngo, Xuan & Pham Van, Ha & Bui, Hung & Nguyen, Thanh & Vuong, Nhu & Le, Hoang & Pham, Thuy. (2021). <span class="font-weight-bold">Application of WRF-Chem to simulate air quality over Northern Vietnam.</span> Environmental Science and Pollution Research. 24. 1-15. 10.1007/s11356-020-08913-y.
                                </p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



