﻿.map-apom #navbar-layer-satellite {
    position: absolute;
    z-index: 401;
}
.map-apom .right-border {
    right: 0;
}
.map-apom .top-border {
    top: 0;
}     

.map-apom #rhpane {
    justify-content: flex-start;
    align-self: flex-end;
    position: relative;
    pointer-events: none;
    flex-grow: 1;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 8px;
}

.map-apom .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.map-apom #rhpane #overlay {
    width: 25px;
    margin-bottom: 25px;
    margin-top: 8px;
    font-size: 16px;
    align-self: flex-end;
    pointer-events: auto;
}

.map-apom .menu {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    line-height: 1;
    text-transform: none;
    font-variant: normal;
    display: block;
    list-style: none;
}

.map-apom #rhpane #overlay.iconsize-6 a {
    margin: 0;
}

.map-apom #rhpane #overlay a.selected {
    background: none;
}

.map-apom #rhpane #overlay a {
    padding: 0;
    margin: 0.15em 0;
    color: #fff3e1;
}
.map-apom .menu a.selected {
    background-color: #d49500;
}
.map-apom .menu a {
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: relative;
    margin: 0;
    display: block;
    list-style: none;
    font-weight: normal;
    padding: 0.31 em 1.56 em 0.31 em 0.75 em;
    white-space: nowrap;
}

.map-apom #rhpane #overlay a.selected .iconfont {
    background-color: #d49500;
    box-shadow: 0 0 4px 0 black;
    color: white;
}
.map-apom #rhpane #overlay a .iconfont {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    text-align: center;
}
.map-apom #rhpane #overlay a .iconfont, #rhpane #overlay a .menu-text {
    display: table-cell;
    vertical-align: middle;
}

.map-apom #rhpane #overlay a.selected .menu-text {
    text-decoration: underline;
}
.map-apom #rhpane #overlay a .menu-text {
    height: 22px;
    transition: background-color .3s;
    position: absolute;
    text-shadow: 0 0 4px black;
    right: 25px;
    line-height: 1.4;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 1.5px;
    right: 22px;
    top: 0;
    border-radius: 1.2em;
}
.map-apom #rhpane #overlay a .iconfont, #rhpane #overlay a .menu-text {
    display: table-cell;
    vertical-align: middle;
}

.map-apom #rhpane .zoom-ctrl {
    color: white;
    cursor: pointer;
}

.map-apom .notap {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.map-apom .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map-apom-container .left-box{
    position: absolute;
    top: 1%;
    left: 3%;
    z-index: 1;
    font-size: 30px;
}

.map-apom-container .map-apom-ranking {
    position: absolute;
    z-index: 999;
    height: 100%;
    background-color: white;
}

/*vertical menu group/component*/
.map-apom-container .group-component-vertical .nav-link {
    padding: 0.5rem 0.5rem;
}

.map-apom-container .group-component-vertical .nav-link[data-toggle].collapsed:after {
    content: " ▴";
}

.map-apom-container .group-component-vertical .nav-link[data-toggle]:not(.collapsed):after {
    content: " ▾";
}

.map-apom-container .group-component-vertical {
    position: absolute;
    z-index: 1;
    height: auto;
    background-color: rgba(160,160,160,0.5);
    top: 1%;
    right: 1%;
}

.map-apom-container .group-component-vertical ul li {
    line-height: 1;
}

.map-apom-container .group-component-vertical ul li a span {
    color: white;
}

/* popup */
.map-apom-container .ol-popup {
    border-radius: 10px;
    line-height: 1;
}

.map-apom-container .ol-popup-content-new {
    max-width: 400px;
}

.map-apom-container .ol-popup-content-new .ol-prev {
    border-width: 0.5em 0.5em 0.5em 0 !important;
}

.map-apom-container .ol-popup-content-new .ol-prev, .ol-popup-content-new .ol-next {
    border-style: solid;
    border-color: transparent rgba(0,60,136,.5);
    border-width: 0.5em 0 0.5em 0.5em;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0.5em;
    cursor: pointer;
}

.map-apom-container .ol-popup-content-new .ol-count{
    float: left;
    margin: 5px;
}

.map-apom-container .ol-popup-content-new button.closeBox-new{
    /*margin: 10px;*/
}

.map-apom-container .ol-popup-content-new .ol-popupfeature .ol-popuptitle {
    /*margin: 10px;*/
    font-size: 12px;
    color: #414141;
    /*padding-bottom: 5px;*/
    margin-bottom: 5px;
    /*border-bottom: 1px solid #414141;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.ol-popuptitle {
    font-size: 15px;
    color: inherit !important;
}

.ol-popuptitle-des {
    line-height: 1.2;
}

.map-apom-container .ol-popup-content-new .ol-popupfeature .table {
    /*min-width: 400px;*/
}

.map-apom-container .ol-popup-content-new .ol-popupfeature .table th, .table td {
    padding: 0.5rem;
}
/* end popup */


/* common */
.no-margin {
    margin: 0px;
}
/* end common */