﻿<div id="analysis_layer_header" class="card-body" style="padding-top: 5;">
    <ul class="nav nav-tabs nav-underline" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#analysis_layer_chart" data-toggle="tab" aria-controls="tabIcon121" role="tab" aria-selected="true">
                <i class="fa fa-link"></i> @Resources.Analysis.chart
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#analysis_layer_table_attr" data-toggle="tab" aria-controls="tabIcon122" role="tab" aria-selected="false">
                <i class="fa fa-file-image-o"></i> @Resources.Analysis.table_attr
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#analysis_layer_map" data-toggle="tab" aria-controls="tabIcon123" role="tab" aria-selected="false">
                <i class="fa fa-file-image-o"></i> @Resources.Analysis.map
            </a>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('#analysis_layer_header .nav-link').click(function () {
            let href = $(this).attr('href');
            if (href === '#analysis_layer_map') {
                if (apomGis.mainCurrentImpl.mapImpl === null) {
                }
                else {
                    setTimeout(function () {
                        apomGis.mainCurrentImpl.mapImpl.control.updateSize();
                    }, 100);
                }
            }
        });
    });
</script>