﻿@using Repositories.Models.Category
@using Repositories.Models.Asset

@{ 
    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;
}

<style>
    .analysis-layer-map .map-apom-container {
        width: 100%;
        height: 400px;
    }
</style>
<link href="~/Content/windy/main.css" rel="stylesheet" type="text/css">
<link href="~/Content/windy/home.css" rel="stylesheet" type="text/css">

<div id="analysis_layer_map" class="tab-pane analysis-layer-map hidden-xs" role="tabpanel" aria-labelledby="baseIcon-tab123">
    <div class="row">
        <div class="col-12 col-md-12 map-apom">
            <div id="navbar-layer-satellite" class="left-border top-border d-none">
                <section id="rhpane" class="shy flex-container mobiletablethide">
                    <div id="mapzoom" class="map-zoom" style="margin: 5px;">
                        <div data-do="zoomIn" data-delta="1" data-duration="500" class="clickable iconfont fg-yellow noselect zoom-ctrl zoom-plus fix-zoom-in" title="Zoom in">+</div>
                        <div data-do="zoomOut" data-delta="-1" data-duration="500" class="clickable iconfont fg-yellow noselect zoom-ctrl zoom-minus fix-zoom-out" title="Zoom out">-</div>
                    </div>
                </section>
            </div>

            <div id="map-apom-analysis" class="map-apom-container">
                @*<div class="no-data-text">@Resources.Analysis.no_data_analysis</div>*@
            </div>
        </div>
    </div>
</div>

<script>    
    $(document).ready(function () {
        var f = {
            mapid: 'map-apom-analysis'
        };

        var mainImpl = null;
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;

        mainImpl = new apomGis.mainClass({
            mapid: f.mapid,
            hostapi: '@ViewBag.HostAPI',
            langid: '@Apom_User.Common.SessionContext.Language'.trim()
        });
        apomGis.mainCurrentImpl = mainImpl;                
    });
</script>