﻿<div id="analysis_layer_chart" class="tab-pane active" role="tabpanel" aria-labelledby="baseIcon-tab121">
    <div class="row">
        <div class="col-12 col-md-12">
            <div id="analysis_chart_container">
                <div class="no-data-text">@Resources.Analysis.no_data_analysis</div>
            </div>
        </div>
    </div>
</div>
