﻿@model Apom_User.Models.LoginViewModel
@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "Log in";

    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section class="row flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header border-0">
                            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                <span>
                                    @Resources.Administrator.login
                                </span>
                            </h6>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                                    {
                                        <div class="form-group row" style="margin: 3px;">
                                            <div class="col-sm-12 col-12 text-center text-sm-left">
                                                <fieldset>
                                                    <label class="validation-summary-error">@msgError</label>
                                                    <label class="validation-summary-info">@msgInfo</label>
                                                    <label class="validation-summary-success">@msgSuccess</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    }
                                    <fieldset class="form-group position-relative has-icon-left mb-1">
                                        <input type="text" class="form-control form-control-lg" id="user_email" name="user_email" placeholder="@Resources.Administrator.email_address" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left mb-1">
                                        <input type="password" class="form-control form-control-lg" id="user_password" name="user_password" placeholder="@Resources.Administrator.enter_pwd" required>
                                        <div class="form-control-position">
                                            <i class="fa fa-key"></i>
                                        </div>
                                    </fieldset>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-12 text-center text-sm-left">
                                            <fieldset>
                                                <input type="checkbox" id="user_rememberme" name="user_rememberme" class="chk-remember">
                                                <label for="remember-me">@Resources.Administrator.remember_me</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-6 col-12 text-center text-sm-right"><a href="@Url.Action("ForgotPassword", "Account", new { area = "" })" class="card-link">@Resources.Administrator.forgot_pwd</a></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="feather icon-unlock"></i>@Resources.Administrator.login</button>
                                }
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="">
                                <p class="float-sm-right text-center m-0"><a href="@Url.Action("Register", "Account", new { area = "" })" class="card-link">@Resources.Administrator.register</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        var msgError = '@msgError';
        if (msgError != '') showErr(msgError);

        var msgSuccess = '@msgSuccess';
        if (msgSuccess != '') showSuccess(msgSuccess);

        var msgInfo = '@msgInfo';
        if (msgInfo != '') showSuccess(msgInfo);
    });
</script>