﻿@model Apom_User.Models.LoginViewModel
@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "Log in";

    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";
    string email = String.IsNullOrEmpty(Model.user_email) ? "" : Model.user_email;
    string pwd = String.IsNullOrEmpty(Model.user_password) ? "" : Model.user_password;
    string isRemember = String.IsNullOrEmpty(Model.user_rememberme) ? "" : (Model.user_rememberme.Equals("on", StringComparison.OrdinalIgnoreCase) ? "checked" : "");

    string langVNSelected = Apom_User.Common.SessionContext.Language == Apom_User.Common.Constant.LANGUAGE_DEFAULT ? "selected" : "";
    string langENSelected = String.IsNullOrEmpty(langVNSelected) ? "selected" : "";
    string redirectURL = Request.Params["redirect"] ?? Model.redirect_url;
}

<style>
    .title-login {
        margin-bottom: 0 !important;
    }
</style>

<div class="popup-overlay popup-login step-by-step">
    <div class="popup-container">
        <div class="popup">
            <div class="title-login">
                <div class="title">@Resources.Administrator.login</div>
                <!--<div class="discription">
                    <div>Vui lòng chọn phương thức đăng nhập</div>
                </div>-->
            </div>
            <!--<div class="tab-login">
                <div class="tab-icon-text icon-toggle active ">
                    <div>Email</div>
                </div>
                <div class="tab-icon-text icon-toggle ">
                    <div>Phone</div>
                </div>
            </div>-->
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="@redirectURL" id="txtRedirectURL" name="txtRedirectURL" />
                if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                {
                    <div class="login-alert">
                        <svg class="icon-input" viewBox="0 0 16 16">
                            <path d="M7.33333 2.5C4.66396 2.5 2.5 4.66396 2.5 7.33333C2.5 10.0027 4.66396 12.1667 7.33333 12.1667C10.0027 12.1667 12.1667 10.0027 12.1667 7.33333C12.1667 4.66396 10.0027 2.5 7.33333 2.5ZM1.5 7.33333C1.5 4.11167 4.11167 1.5 7.33333 1.5C10.555 1.5 13.1667 4.11167 13.1667 7.33333C13.1667 10.555 10.555 13.1667 7.33333 13.1667C4.11167 13.1667 1.5 10.555 1.5 7.33333Z" />
                            <path d="M10.9799 10.9795C11.1752 10.7842 11.4918 10.7842 11.687 10.9795L13.687 12.9795C13.8823 13.1747 13.8823 13.4913 13.687 13.6866C13.4918 13.8818 13.1752 13.8818 12.9799 13.6866L10.9799 11.6866C10.7847 11.4913 10.7847 11.1747 10.9799 10.9795Z" />
                        </svg>
                        <div>
                            <label class="validation-summary-error">@msgError</label>
                        </div>
                        <div>
                            <label class="validation-summary-info">@msgInfo</label>
                        </div>
                        <div>
                            <label class="valivalidation-summary-success">@msgSuccess</label>
                        </div>
                    </div>
                }
                <div class="input-container">
                    <div class="input with-label with-icon">
                        <div>
                            <div class="input-label">@Resources.Administrator.email_address</div>
                            <input type="text" id="user_email" name="user_email" 
                                   value="@email"
                                   placeholder="@Resources.Administrator.email_address_input" required oninvalid="this.setCustomValidity('@Resources.Administrator.email_address_input')" oninput="setCustomValidity('')">
                        </div>
                        <span class="font-icon-mail"></span>
                    </div>
                    <div class="input with-label with-icon">
                        <div>
                            <div class="input-label">@Resources.Administrator.enter_pwd</div>
                            <input type="password" class="form-control form-control-lg" id="user_password"
                                   name="user_password" 
                                   value="@pwd"
                                   placeholder="@Resources.Administrator.enter_pwd_input" required oninvalid="this.setCustomValidity('@Resources.Administrator.enter_pwd_input')" oninput="setCustomValidity('')">
                        </div>
                        <span class="font-icon-lock"></span>
                    </div>

                    <div class="input with-label with-icon">
                        <div class="login-information">
                            @if (String.IsNullOrEmpty(isRemember))
                            {
                                <input type="checkbox" id="user_rememberme" name="user_rememberme" class="chk-remember">
                            }
                            else
                            {
                                <input type="checkbox" checked="@isRemember" id="user_rememberme" name="user_rememberme" class="chk-remember">
                            }
                            <label for="remember-me">@Resources.Administrator.remember_me</label>
                        </div>

                        <div class="login-information">
                            <div class="link">
                                <a href="@Url.Action("ForgotPassword", "Account", new { area = "" })" class="card-link">@Resources.Administrator.forgot_pwd</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-popup">
                    @*<div class="pop-btn">
                            <div>Forgot password?</div>
                        </div>*@
                    <input class="input-submit" type="submit" value="@Resources.Administrator.login">
                </div>
            }
        <div class="">
            <div class="login-information">
                <div class="link">
                    <a href="@Url.Action("Index", "Home", new { area = "" })" class="card-link">@Resources.Common.home</a>
                </div>
            </div>

            <div class="login-information">
                <div>@Resources.Administrator.account_not_exist</div>
                <div class="link">
                    <a href="@Url.Action("Register", "Account", new { area = "" })" class="card-link">@Resources.Administrator.register</a>
                </div>
            </div>
            <div class="languages">
                <span lang="vi" class="@langVNSelected"></span>
                <span lang="en" class="@langENSelected"></span>
            </div>
        </div>
        </div>
    </div>
</div>
    
<script>
    $(document).ready(function () {
        var msgError = '@msgError';
        if (msgError != '') showErr(msgError);

        var msgSuccess = '@msgSuccess';
        if (msgSuccess != '') showSuccess(msgSuccess);

        var msgInfo = '@msgInfo';
        if (msgInfo != '') showSuccess(msgInfo);
        $(".languages span").click(function () {
            let langSelected = $(this).attr('lang');
            window.location.href = "/Common/ChangeLanguage?url=" + window.location.href + "&culture=" + langSelected;
        })
    });
</script>
