﻿@model Apom_User.Models.ResetPasswordViewModel

@{
    Layout = ViewBag.LayoutLogin;
    ViewBag.Title = "VerifyPassword";

    bool expiredResetPassword = Model.expired_reset_password;

    string title = expiredResetPassword ? Resources.Administrator.reset_password_fail : Resources.User.pwd_reset;
    
    string msgInfo = Model != null ? (Model.msg_info == null ? "" : Model.msg_info) : "";
    string msgError = Model != null ? (Model.msg_error == null ? "" : Model.msg_error) : "";
    string msgSuccess = Model != null ? (Model.msg_success == null ? "" : Model.msg_success) : "";
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <section class="row flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                        <div class="card-header border-0 pb-0">
                            <h4 class="card-title">@title</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>-->
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <!--<li><a data-action="close"><i class="feather icon-x"></i></a></li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                @if (expiredResetPassword)
                                {
                                    string msgInActive = Resources.Administrator.reset_password_expire;
                                    msgInActive = msgInActive.Replace("{0}", "");
                                    <span>@msgInActive</span>@Html.ActionLink(Resources.Administrator.register_register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                }
                                else
                                {
                                    using (Html.BeginForm("VerifyPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        if (!String.IsNullOrEmpty(msgError) || !String.IsNullOrEmpty(msgInfo) || !String.IsNullOrEmpty(msgSuccess))
                                        {
                                            <div class="form-group row" style="margin: 3px;">
                                                <div class="col-sm-12 col-12 text-center text-sm-left">
                                                    <fieldset>
                                                        <label class="validation-summary-error">@msgError</label>
                                                        <label class="validation-summary-info">@msgInfo</label>
                                                        <label class="validation-summary-success">@msgSuccess</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        }

                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="email" readonly="readonly" class="form-control form-control-lg" id="user_email" name="user_email" placeholder="@Resources.Administrator.email_address" value="@Model.user_email" required>
                                            <div class="form-control-position">
                                                <i class="feather icon-mail"></i>
                                            </div>
                                        </fieldset>

                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control form-control-lg" id="user_password" name="user_password" placeholder="@Resources.Administrator.enter_pwd" required>
                                            <div class="form-control-position">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </fieldset>

                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control form-control-lg" id="user_confirmpassword" name="user_confirmpassword" placeholder="@Resources.Administrator.enter_confirmpassword" required>
                                            <div class="form-control-position">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </fieldset>

                                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">
                                            <i class="feather icon-unlock"></i> @Resources.User.pwd_reset
                                        </button>
                                    }
                                }
                                <div class="card-footer border-0">
                                    <p class="float-sm-left text-center"><a href="@Url.Action("Login", "Account", new { area = "" })" class="card-link">@Resources.Common.login</a></p>
                                    <p class="float-sm-right text-center"><a href="@Url.Action("Register", "Account", new { area = "" })" class="card-link">@Resources.Common.register</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>