﻿@model Repositories.Models.Administrative.user_info_model

@{
    string activeClass = "";
    string cmd = Request["cmd"] == null ? "0" : Request["cmd"];
    if (cmd == "0")
    {
        activeClass = "active";
    }
    string paraI = Request["paraI"] == null ? "" : Request["paraI"];
    string t = Request["t"] == null ? "" : Request["t"];


    var tempError = TempData["lError_ChangeInfo"];
    List<Repositories.Models.ErrorShowModel> lstError = new List<Repositories.Models.ErrorShowModel>();
    if (tempError != null)
    {
        Repositories.Models.ErrorModel lError = tempError as Repositories.Models.ErrorModel;
        lstError = lError.lMessage;
    }

    string msgSuccess = TempData["success_ChangeInfo"] != null ? TempData["success_ChangeInfo"].ToString() : "";
    string msgError = "";

    string formatDate = Apom_User.Common.Constant.GENERAL_SETTING.formatdate;

    string birthDay = "";
    string minDate = "", maxDate = "";
    if (Model.birthday != null)
    {
        DateTime dtBirthday = Model.birthday.Value;
        birthDay = dtBirthday.ToString("yyyy-MM-dd");
        //birthDay = String.Concat(dtBirthday.Year, "-", dtBirthday.Month, "-", dtBirthday.Day);
    }


    string avatar = Model.image;
    if (String.IsNullOrEmpty(avatar))
    {
        avatar = "/gui/imgs/unnamed.png";
    }
    else
    {
        avatar = Model.image_src;
    }

    int sizeAvatarMax = Apom_User.Common.Constant.WebConfig.SIZE_IMG_AVATAR;
    string account_upload_new_photo_require = Resources.User.account_upload_new_photo_require.Replace(@"@num", sizeAvatarMax.ToString());
    string msgToolargeSizeAvatar = Resources.User.account_upload_new_photo_invalid_size.Replace(@"@num", sizeAvatarMax.ToString());

    string sexVal = String.IsNullOrEmpty(Model.sex) ? "sex_man" : Model.sex;
}

@foreach (var itemError in lstError)
{
    msgError += itemError.errorMessage + ". ";
    <div>
        <label class="jquery-validate-error">@itemError.errorMessage</label>
    </div>
}

@if (!String.IsNullOrEmpty(msgSuccess))
{
    <div>
        <label class="validation-summary-success">@msgSuccess</label>
    </div>
}
<script src="~/Scripts/moment.js"></script>

@*@using (Html.BeginForm("Account_Setting_Info", "User", FormMethod.Post, new { @id = "form_change_userinfo", @class = "form-horizontal", enctype = "multipart/form-data" }))*@
@using (Html.BeginForm("Account_Setting_Info", "User", FormMethod.Post, new { @id = "form_change_userinfo", @class = "form form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.userid)
    <input type="hidden" name="paraI" id="paraI" value="@paraI" />
    <input type="hidden" name="t" id="t" value="@t" />
    <input type="hidden" name="account-change-avatar" id="account-change-avatar" value="0" />

    <div class="media">
        <a href="javascript: void(0);">
            <img src="@avatar" class="rounded mr-75" id="account-img-preview" alt="profile image" height="64" width="64">
        </a>
        <div class="media-body mt-75">
            <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                <label class="btn btn-sm btn-primary ml-50 mb-50 mb-sm-0 cursor-pointer" for="account-upload">
                    @Resources.User.account_upload_new_photo
                </label>
                <input type="file" accept="image/*" id="account-upload" name="account-upload" hidden>
                <button class="btn btn-sm btn-secondary ml-50" id="account-reset-photo" name="account-reset-photo">
                    @Resources.User.account_reset_photo
                </button>
            </div>
            <p class="text-muted ml-75 mt-50">
                <small>
                    @account_upload_new_photo_require
                </small>
            </p>
            <p class="text-muted ml-75 mt-50 d-none account-notification-too-large-avatar">
                <label class="jquery-validate-error">@msgToolargeSizeAvatar</label>
            </p>
        </div>
    </div>
    <hr>

    <div class="form-body">
        <h4 class="form-section">
            <i class="feather icon-user"></i>
            @Resources.User.personal_info
        </h4>
        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-username">
                @Resources.User.account_username
                <span class="jquery-validate-require">(*)</span>
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="50" class="form-control" name="account-username" id="account-username" placeholder="@Resources.User.account_username" value="@Model.username" required data-validation-required-message="This username field is required">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-firstname">
                @Resources.User.account_firstname
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="20" class="form-control" name="account-firstname" id="account-firstname" placeholder="@Resources.User.account_firstname" value="@Model.firstname">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-middlename">
                @Resources.User.account_middlename
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="20" class="form-control" name="account-middlename" id="account-middlename" placeholder="@Resources.User.account_middlename" value="@Model.middlename">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-lastname">
                @Resources.User.account_lastname
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="20" class="form-control" name="account-lastname" id="account-lastname" placeholder="@Resources.User.account_lastname" value="@Model.lastname">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-birthday">
                @Resources.User.account_birthday
            </label>
            <div class="col-md-9">
                <input type="date" class="form-control" data-date-format="@formatDate.ToUpper()" name="account-bỉthday" id="account-bỉthday" data-date="" value="@birthDay" placeholder="@Resources.User.account_birthday">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-sex">
                @Resources.User.sex
            </label>
            <div class="col-md-9">
                <select id="account-sex" name="account-sex" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="@Resources.User.sex">
                    <option value="sex_man">@Resources.User.sex_man</option>
                    <option value="sex_woman">@Resources.User.sex_woman</option>
                    <option value="sex_undefined">@Resources.User.sex_undefined</option>
                </select>
            </div>
        </div>

        <h4 class="form-section">
            <i class="feather icon-clipboard"></i>
            @Resources.User.contact_info
        </h4>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-e-mail">
                @Resources.User.account_email
                <span class="jquery-validate-require">(*)</span>
            </label>
            <div class="col-md-9">
                <input readonly type="email" maxlength="50" class="form-control" name="account-email" id="account-email" placeholder="@Resources.User.account_email" value="@Model.emailaddress" required data-validation-required-message="This email field is required">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-phonenumber">
                @Resources.User.account_phonenumber
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="30" class="form-control" name="account-phonenumber" id="account-phonenumber" value="@Model.phonenumber" placeholder="@Resources.User.account_phonenumber">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-company">
                @Resources.User.account_company
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="500" class="form-control" name="account-company" id="account-company" value="@Model.companyname" placeholder="@Resources.User.account_company">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="account-website">
                Website
            </label>
            <div class="col-md-9">
                <input type="text" maxlength="500" class="form-control" name="account-website" id="account-website" value="@Model.website" placeholder="https://">
            </div>
        </div>

        <div class="form-actions d-flex flex-sm-row flex-column justify-content-end">
            <button type="button" class="btn btn-warning mr-1">
                <i class="feather icon-x"></i>
                @Resources.User.account_cancel
            </button>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check-square-o"></i>
                @Resources.User.account_save_changes
            </button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        // account-upload account-reset-photo
        $('#account-upload').on('change', function () {
            var inputFile = this;
            var url = $(inputFile).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (inputFile.files && inputFile.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var file = inputFile.files[0];
                console.log("Filename: " + file.name);
                console.log("Type: " + file.type);
                console.log("Size: " + file.size + " bytes");
                var kbAvatar = file.size / 1024;
                if (kbAvatar > parseInt('@sizeAvatarMax')) {
                    $('.account-notification-too-large-avatar').removeClass('d-none');
                    // reset
                    $(this).val('');
                    return false;
                }
                if (!$('.account-notification-too-large-avatar').hasClass('d-none')) $('.account-notification-too-large-avatar').addClass('d-none');

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#account-img-preview').attr('src', e.target.result);
                    $('#account-change-avatar').val('1');
                }
                reader.readAsDataURL(file);

            }
            else {
                $('#account-img-preview').attr('src', '@avatar');
                $('#account-change-avatar').val('0');
            }
            return false;
        });

        $('#account-reset-photo').click(function () {
            var srcOrigin = '@avatar';
            $('#account-img-preview').attr('src', srcOrigin);
            $('#account-change-avatar').val('0');
            $('#account-upload').val('');
            return false;
        });

        $("#account-bỉthday").on("change", function () {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD")
                .format(this.getAttribute("data-date-format"))
            )
        }).trigger("change");

        $("#form_change_userinfo").validate({
            errorClass: "jquery-validate-error",
            rules: {
                "account-username": {
                    required: true
                },
                //"account-bỉthday": {
                //    min: '2022-04-01',
                //    max: '2022-04-30',
                //},
            },
            messages: {
                "account-username": {
                    required: "@Html.Raw(Resources.User.error_required)",
                },
            },
            errorPlacement: function (error, element) {
                if (element[0].name === "emailaddress" || element[0].name === "phonenumber") {
                    error.insertAfter($(element[0]).parent());
                }
                else {
                    $(error[0]).insertAfter($(element[0]));
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        var msgSuccess = '@msgSuccess';
        if (msgSuccess != '') showSuccess(msgSuccess);

        var msgError = '@msgError';
        if (msgError != '') showErr(msgError);

        $('#account-sex').val('@sexVal');
    });
</script>
