﻿@model Repositories.Models.Administrative.user_info_model

@{ 
    int minLengthPwd = Apom_User.Common.Constant.WebConfig.PWD_LENGTH_MIN;
    int maxLengthPwd = Apom_User.Common.Constant.WebConfig.PWD_LENGTH_MAX;

    string placehoder_pass = Resources.User.placehoder_pass.Replace(@"@num", minLengthPwd.ToString());

    string paraI = Request["paraI"] == null ? "" : Request["paraI"];
    string t = Request["t"] == null ? "" : Request["t"];

    var tempError = TempData["lError_ChangePwd"];
    List<Repositories.Models.ErrorShowModel> lstError = new List<Repositories.Models.ErrorShowModel>();
    if (tempError != null)
    {
        Repositories.Models.ErrorModel lError = tempError as Repositories.Models.ErrorModel;
        lstError = lError.lMessage;
    }

    string msgSuccess = TempData["success_ChangePwd"] != null ? TempData["success_ChangePwd"].ToString() : "";
    string msgError = "";
}

@foreach (var itemError in lstError)
{
    msgError += itemError.errorMessage + ". ";
    <div>
        <label class="jquery-validate-error">@itemError.errorMessage</label>
    </div>
}

@if (!String.IsNullOrEmpty(msgSuccess))
{
    <div>
        <label class="validation-summary-success">@msgSuccess</label>
    </div>
}
@using (Html.BeginForm("Account_Setting_ChangePassword", "User", FormMethod.Post, new { @id = "form_change_pass", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.userid)
    <input type="hidden" name="paraI" id="paraI" value="@paraI" />
    <input type="hidden" name="t" id="t" value="@t" />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="controls">
                    <label for="account-old-password">
                        @Resources.User.account_old_pasword
                        <span class="jquery-validate-require">(*)</span>
                    </label>
                    <input type="password" class="form-control" id="account-old-password" name="account-old-password" placeholder="@Resources.User.account_old_pasword" onkeypress="if (event.keyCode == 13) { return false;}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="controls">
                    <label for="account-new-password">
                        @Resources.User.account_new_pasword
                        <span class="jquery-validate-require">(*)</span>
                    </label>
                    <input type="password" name="account-new-password" id="account-new-password" class="form-control" placeholder="@placehoder_pass" minlength="@minLengthPwd" maxlength="@maxLengthPwd" onkeypress="if (event.keyCode == 13) { return false;}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="controls">
                    <label for="account-retype-new-password">
                        @Resources.User.account_new_password_retype
                        <span class="jquery-validate-require">(*)</span>
                    </label>
                    <input type="password" name="account-retype-new-password" class="form-control" id="account-retype-new-password" placeholder="@Resources.User.account_new_password_retype" minlength="@minLengthPwd" maxlength="@maxLengthPwd" onkeypress="if (event.keyCode == 13) { return false;}">
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
            <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">
                @Resources.User.account_save_changes
            </button>
            <button type="reset" class="btn btn-light">@Resources.User.account_cancel</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //validate special character    
        $.validator.addMethod("validateSpecialCharacter", function (value, element) {
            let regexp = new RegExp(@Html.Raw(Apom_User.Common.Constant.REGEXP.special_character));
            let is_valid = regexp.test(value);
            if (is_valid) return false;
            else return true;
        }, "@Html.Raw(Resources.User.exist_special_character)");

        $.validator.addMethod("validateSpecialCharacter3", function (value, element) {
            let regexp = new RegExp(/^[a-zA-Z0-9!@@#\$%\^\&*\)\(+=._-]+$/);
            let is_valid = regexp.test(value);
            return is_valid;
        }, "@Html.Raw(Resources.User.exist_special_character)");

        //validate phone
        @*$.validator.addMethod("validatePhone", function (value, element) {
        let regexp = new RegExp(/^0/);
        let is_valid = regexp.test(value);
        return is_valid;
    }, "@Html.Raw(Resources.MyProFile.validate_phone)");*@

        //validate special character
        $.validator.addMethod("validatePassword", function (value, element) {
            let regexp = new RegExp("@Apom_User.Common.Constant.REGEXP.password");
            let is_valid = regexp.test(value);
            return is_valid;
        }, "@Html.Raw(Resources.User.password_1_upper_1_digit)");

        $("#form_change_pass").validate({
            errorClass: "jquery-validate-error",
            rules: {
                "account-new-password": {
                    required: true,
                    maxlength: parseInt('@maxLengthPwd'),
                    minlength: parseInt('@minLengthPwd'),
                    validateSpecialCharacter3: true,
                    validatePassword: true
                },
                "account-retype-new-password": {
                    required:true,
                    equalTo: "#account-new-password",
                    maxlength: parseInt('@maxLengthPwd'),
                    minlength: parseInt('@minLengthPwd'),
                    validateSpecialCharacter3: true,
                    validatePassword:true
                },
                "account-old-password": {
                    required: true,
                    maxlength: parseInt('@maxLengthPwd'),
                    //validateSpecialCharacter3: true,
                    //validatePassword:true
                }
            },
            messages: {
                "account-new-password": {
                    required: "@Html.Raw(Resources.User.error_required)",
                    maxlength: "@Html.Raw(Resources.User.msg_value_too_long)".replace("@@num", @maxLengthPwd),
                    minlength: "@Html.Raw(Resources.User.password_require_num_char)".replace("@@num", @minLengthPwd),
                },
                "account-retype-new-password": {
                    required: "@Html.Raw(Resources.User.error_required)",
                    equalTo: "@Html.Raw(Resources.User.validate_pass)",
                    maxlength: "@Html.Raw(Resources.User.msg_value_too_long)".replace("@@num", @maxLengthPwd),
                    minlength: "@Html.Raw(Resources.User.password_require_num_char)".replace("@@num", @minLengthPwd),
                },
                "account-old-password": {
                    required: "@Html.Raw(Resources.User.error_required)",
                    maxlength: "@Html.Raw(Resources.User.msg_value_too_long)".replace("@@num", @maxLengthPwd),
                }
            },
            errorPlacement: function (error, element) {
                if (element[0].name === "emailaddress" || element[0].name === "phonenumber") {
                    error.insertAfter($(element[0]).parent());
                }
                else {
                    $(error[0]).insertAfter($(element[0]));
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        var msgSuccess = '@msgSuccess';
        if (msgSuccess != '') showSuccess(msgSuccess);

        var msgError = '@msgError';
        if (msgError != '') showErr(msgError);
    });
</script>