﻿@using Repositories.Services.Administrative
@model Repositories.Models.Administrative.user_info_model

@{ 
    string roles = "";
    string roleId = "";
    bool isRoot = false;
    foreach (var roleItem in Model.role)
    {
        roles += String.IsNullOrEmpty(roles) ? roleItem.rolename : ", " + roleItem.rolename;
        roleId = roleItem.roleid;
        isRoot = roleItem.isroot == null ? false : roleItem.isroot.Value;
        roleId = (roleId == PermissionBase.Security.RoleSystem.ADMINISTRATOR && isRoot) ? PermissionBase.Security.RoleSystem.SUPPER_ADMINISTRATOR : roleId;
    }

    bool isHavePermissionSuppAdminDefault = userroleLocalServiceUtil.Instance.isSupperAdminDefault(Apom_User.Common.SessionContext.UserProfile.userid);

    bool isHavePermissionSuppAdmin = userroleLocalServiceUtil.Instance.isSupperAdmin(Apom_User.Common.SessionContext.UserProfile.userid);

    bool isHavePermissionAdmin = userroleLocalServiceUtil.Instance.isAdmin(Apom_User.Common.SessionContext.UserProfile.userid);

    bool isChangePermission = false;
    bool isAllowLock = false;
    bool isAllowDelUser = false;
    if(isHavePermissionSuppAdminDefault)
    {
        isChangePermission = isAllowDelUser = isAllowLock = Model.userid != userLocalServiceUtil.Instance.SupperAdminDefault.userid;
    }
    else
    {
        if (isHavePermissionSuppAdmin)
        {
            isChangePermission = isAllowLock = isAllowDelUser = !Model.isSuperAdmin;
        }
        else if (isHavePermissionAdmin)
        {
            isChangePermission = false;
            isAllowLock = isAllowDelUser = !Model.isSuperAdmin && !Model.isAdmin;
        }
    }
}

<style>
    .swal2-content
    {
        font-weight: bold;
        color: red;
        font-size: larger;
    }
</style>
<div class="row">
    <div class="col-12 col-md-8">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>@Resources.User.register_at:</td>
                    <td>@Model.time_register_str</td>
                </tr>
                <tr>
                    <td>@Resources.User.last_activity_at:</td>
                    <td class="users-view-latest-activity">@Model.lasttime_access_str</td>
                </tr>
                <tr>
                    <td>@Resources.User.role:</td>
                    <td class="users-view-role">
                        <a>@roles</a>
                        @if (isChangePermission)
                        {
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#default">
                                @Resources.User.account_change_role
                            </button>
                            <!-- Modal -->
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel1">@Resources.User.account_change_role</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-body">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="account-username">
                                                        @Resources.User.account_role
                                                    </label>
                                                    <div class="col-md-9">
                                                        <select id="account-role" name="account-role" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="@Resources.User.account_role">
                                                            @if (isHavePermissionSuppAdminDefault)
                                                            {
                                                                <option value="@PermissionBase.Security.RoleSystem.SUPPER_ADMINISTRATOR">Super Admin</option>
                                                            }
                                                            @if (isHavePermissionSuppAdmin)
                                                            {
                                                                <option value="@PermissionBase.Security.RoleSystem.ADMINISTRATOR">Administrator</option>
                                                            }
                                                            @if (isHavePermissionAdmin)
                                                            {
                                                            <option value="@PermissionBase.Security.RoleSystem.MEMBER">Member</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">@Resources.User.cancel_confirm</button>
                                            <button type="button" class="btn btn-outline-primary change-role-account">@Resources.User.confirm_update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>@Resources.User.status:</td>
                    <td>
                        <a>
                            <span class="@Model.classactive users-view-status">
                        @Resources.Administrator.ResourceManager.GetString(Model.activename)</span>
                        </a>
                        @if (isAllowLock)
                        {
                            if (Model.activename == "user_status_active")
                            {
                            <input type="button" class="btn btn-outline-danger lock-account" value="@Resources.User.account_lock_account" />
                            }
                            else
                            {
                            <input type="button" class="btn btn-outline-success unlock-account" value="@Resources.User.account_unlock_account" />
                            }
                        }
                        @if (isAllowDelUser)
                        {
                            <input type="button" class="btn btn-outline-danger del-account" value="@Resources.User.account_del_account" />
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @*<div class="col-12 col-md-8">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Module Permission</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Create</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Users</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Articles</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Staff</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
</div>

@*<div id="user_infomation" class="tab-pane in active">
    <div class="row">
        <div class="col-xs-12 col-sm-3 center">
            @if (string.IsNullOrEmpty(ViewBag.avatar))
            {
                <img src="/Content/assets/images/avatar_asset.png" style='width:@String.Concat(Apom_User.Common.Constant.WebConfig.RESIZE_IMG_WIDTH, "px");height:@String.Concat(Apom_User.Common.Constant.WebConfig.RESIZE_IMG_HEIGHT, "px")' />
            }
            else
            {
                <img src="@ViewBag.avatar" style="width:150px;height:auto" />
            }
            <div class="space space-4"></div>

        </div> <!--/.col -->

        <div class="col-xs-12 col-sm-5">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="3">@Resources.Administrator.user_information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Resources.User.username :</td>
                        <td>@(string.IsNullOrEmpty(Model.username) ? "" : Model.username)</td>
                    </tr>
                    <tr>
                        @if (!string.IsNullOrEmpty(Model.fullname))
                        {
                            <td>@Resources.User.fullname :</td>
                            <td align="left">@Model.fullname</td>
                        }
                    </tr>
                    <tr>
                        <td>@Resources.User.sex :</td>
                        <td>
                            @if (Model.sex == null)
                            {
                                <span>@Resources.User.unknown</span>
                            }
                            else
                            {
                                <span>@(Model.sex.Value ? Resources.User.male : Resources.User.famale)</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Resources.User.birthday :</td>
                        <td>@(Model.birthday == null ? "" : Model.birthday.Value.ToString("dd/MM/yyyy"))</td>
                    </tr>
                    <tr>
                        <td>@Resources.User.email :</td>
                        <td>@(string.IsNullOrEmpty(Model.emailaddress) ? "" : Model.emailaddress)</td>
                    </tr>
                    <tr>
                        <td>@Resources.User.phone :</td>
                        <td>@(string.IsNullOrEmpty(Model.phonenumber) ? "" : Model.phonenumber)</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.col -->

    </div>
    <div class="space-20"></div>
</div><!-- /#info -->*@

@if (isAllowLock)
{
<script>
    // lock-account / unlock-account
    $(document).ready(function () {
        $(".lock-account").on("click", function () {
            Swal.fire({
                title: "@Html.Raw(Resources.User.account_are_you_sure)",
                text: "@Html.Raw(Resources.User.account_lock_account)",
                type: "warning",
                showCancelButton: true,

                cancelButtonColor: "#d33",
                cancelButtonText: "@Html.Raw(Resources.User.cancel_confirm)",
                cancelButtonClass: "btn btn-primary ml-1",

                confirmButtonColor: "#3085d6",
                confirmButtonText: "@Html.Raw(Resources.User.confirm_update)",
                confirmButtonClass: "btn btn-danger ml-1",
                buttons: {
                    cancel: {
                        text: "@Html.Raw(Resources.User.cancel_confirm)",
                        value: null,
                        visible: true,
                        className: "btn-outline-secondary",
                        closeModal: true,
                    },
                    confirm: {
                        text: "@Html.Raw(Resources.User.confirm_update)",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {
                    var data = new FormData();
                    data.append("data", JSON.stringify([
                        {
                            paraI: '@Request["paraI"]',
                            time_request: '@Request["time_request"]'
                        }
                    ]));
                    $.ajax({
                        url: '@Url.Action("lock_account", "User")',
                        type: 'POST',
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        data: data,
                        async: false, //blocks window close
                        success: function (data) {
                            if (data.Code === 200 && data.Message != '') {
                                Swal.fire({
                                    type: "success",
                                    title: "@Html.Raw(Resources.User.account_lock_account)",
                                    text: data.Message,
                                    confirmButtonClass: "btn btn-success"
                                }).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }
                                });
                                showSuccess(data.Message);
                            }
                            if (data.Code === 400 && data.Message != '') {
                                Swal.fire({
                                    type: "error",
                                    title: "@Html.Raw(Resources.User.account_lock_account)",
                                    text: data.Message,
                                    confirmButtonClass: "btn btn-danger"
                                });
                                showErr(data.Message);
                            }
                        },
                        error: function (ex) {
                            showErr(ex);
                        }
                    });
                }
            });
        });

        $(".unlock-account").on("click", function () {
            Swal.fire({
                title: "@Html.Raw(Resources.User.account_are_you_sure)",
                text: "@Html.Raw(Resources.User.account_unlock_account)",
                type: "warning",
                showCancelButton: true,

                cancelButtonColor: "#d33",
                cancelButtonText: "@Html.Raw(Resources.User.cancel_confirm)",
                cancelButtonClass: "btn btn-primary ml-1",

                confirmButtonColor: "#3085d6",
                confirmButtonText: "@Html.Raw(Resources.User.confirm_update)",
                confirmButtonClass: "btn btn-danger ml-1",
                buttons: {
                    cancel: {
                        text: "@Html.Raw(Resources.User.cancel_confirm)",
                        value: null,
                        visible: true,
                        className: "btn-outline-secondary",
                        closeModal: true,
                    },
                    confirm: {
                        text: "@Html.Raw(Resources.User.confirm_update)",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {


                    var data = new FormData();
                    data.append("data", JSON.stringify([
                        {
                            paraI: '@Request["paraI"]',
                            time_request: '@Request["time_request"]'
                        }
                    ]));
                    $.ajax({
                        url: '@Url.Action("unlock_account", "User")',
                        type: 'POST',
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        data: data,
                        async: false, //blocks window close
                        success: function (data) {
                            if (data.Code === 200 && data.Message != '') {
                                Swal.fire({
                                    type: "success",
                                    title: "@Html.Raw(Resources.User.account_unlock_account)",
                                    text: data.Message,
                                    confirmButtonClass: "btn btn-success"
                                }).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }
                                });
                                showSuccess(data.Message);
                            }
                            if (data.Code === 400 && data.Message != '') {
                                Swal.fire({
                                    type: "error",
                                    title: "@Html.Raw(Resources.User.account_lock_account)",
                                    text: data.Message,
                                    confirmButtonClass: "btn btn-danger"
                                });
                                showErr(data.Message);
                            }
                        },
                        error: function (ex) {
                            showErr(ex);
                        }
                    });
                }
            });
        });
    });
</script>
}

@if(isAllowDelUser)
{
<script>
    // del-account
    $(document).ready(function () {
        $(".del-account").on("click", function () {
            Swal.fire({
                title: "@Html.Raw(Resources.User.account_are_you_sure)",
                text: "@Html.Raw(Resources.User.account_del_account)",
                type: "warning",
                showCancelButton: true,

                cancelButtonColor: "#d33",
                cancelButtonText: "@Html.Raw(Resources.User.cancel_confirm)",
                cancelButtonClass: "btn btn-primary ml-1",

                confirmButtonColor: "#3085d6",
                confirmButtonText: "@Html.Raw(Resources.User.confirm_update)",
                confirmButtonClass: "btn btn-danger ml-1",
                buttons: {
                    cancel: {
                        text: "@Html.Raw(Resources.User.cancel_confirm)",
                        value: null,
                        visible: true,
                        className: "btn-outline-secondary",
                        closeModal: true,
                    },
                    confirm: {
                        text: "@Html.Raw(Resources.User.confirm_update)",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {
                    var data = new FormData();
                    data.append("data", JSON.stringify([
                        {
                            paraI: '@Request["paraI"]',
                            time_request: '@Request["time_request"]'
                        }
                    ]));
                    $.ajax({
                        url: '@Url.Action("del_account", "User")',
                        type: 'POST',
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        data: data,
                        async: false, //blocks window close
                        success: function (data) {
                            if (data.Code === 200 && data.Message != '') {
                                Swal.fire({
                                    type: "success",
                                    title: "@Html.Raw(Resources.User.account_del_account)",
                                    text: data.Message,
                                    confirmButtonClass: "btn btn-success"
                                }).then(function (result) {
                                    if (result.value) {
                                        //location.reload();
                                        location.href = data.Data;
                                    }
                                });
                                showSuccess(data.Message);
                            }
                            if ((data.Code === 400 || data.Code === 403) && data.Message != '') {
                                Swal.fire({
                                    type: "error",
                                    title: "@Html.Raw(Resources.User.account_del_account)",
                                    text: data.Message,
                                    confirmButtonClass: "btn btn-danger"
                                });
                                showErr(data.Message);
                            }
                        },
                        error: function (ex) {
                            showErr(ex);
                        }
                    });
                }
            });
        });
    });
</script>
}

@if(isChangePermission)
{
    <script>
        // change-role-account
        $(document).ready(function () {
            $('#account-role').val('@roleId');
            $(".change-role-account").on("click", function () {
                var role = $('#account-role').val();
                var data = new FormData();
                data.append("data", JSON.stringify([
                    {
                        paraI: '@Request["paraI"]',
                        time_request: '@Request["time_request"]',
                        data: role
                    }
                ]));
                $.ajax({
                    url: '@Url.Action("chane_role_account", "User")',
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: data,
                    async: false, //blocks window close
                    success: function (data) {
                        if (data.Code === 200 && data.Message != '') {
                            showSuccess(data.Message);
                            location.href = data.Data;
                        }
                        if ((data.Code === 400 || data.Code === 403) && data.Message != '') {
                            showErr(data.Message);
                        }
                    },
                    error: function (ex) {
                        showErr(ex);
                    }
                });
            });
        });
    </script>
}