﻿/*.slider-container {
    width  : 25rem;
    _max-width: 80%;
    _height : 10rem;
    //border : 0.12rem solid red;
    padding: .25rem;
    margin-left: 0%;
    margin-bottom: 1rem;
}

.slider-container.resizable {
    width  : 80% !important;
}

.slider-container .code-container {
    height          : 3rem;
    width           : 100%;
    padding         : 0.125rem;
    font-family     : monospace;
    font-size       : 0.667rem;
    background-color: #DDDDDD;
    overflow-y      : scroll;
}*/


.slider-container {
    width: 25rem;
    _height: 8rem;
    border:0.12rem solid red;
    padding:1rem;
}
.date-box {
    display: inline-block;
    border:0.12rem solid green;
    padding: 0.25rem;
    width: 6.5rem;
}
h4 {
    margin        : 0;
    font-size    : 120%;
}
button {
    font-size: 0.8rem;
}