﻿@using Repositories.Models.Category
@using Repositories.Models.Asset

@model Repositories.Models.map_model_view
@{
    Layout = ViewBag.Layout;
    //ViewBag.Title = "Home Page";

    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;
    List<component_geotiff_service_short> lstServices = Model.Services;
}

<!--<link href="~/Content/windy/index.css" rel="stylesheet" type="text/css">-->
<link href="~/Content/windy/main.css" rel="stylesheet" type="text/css">
<link href="~/Content/windy/home.css" rel="stylesheet" type="text/css">
<!-- aqi -->
<link rel="stylesheet" type="text/css" href="~/Content/aqi.css">
<script src="~/Scripts/moment.js"></script>

<style>
    .map-apom-container .left-panel-chart-component, .map-apom-container .left-panel-map-ranking {
        position: absolute;
        z-index: 401;
        top: 0px;
        left: 0px;
        padding: 0;
    }

    /* legend vn-aqi */
    .map-apom-container .legend-vnaqi {
        /*position: fixed;*/
        position: absolute;
        /*bottom: 35px;*/
        bottom: 3px;
        left: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: -webkit-center;
        z-index: 1;
    }
    
    .map-apom-container .legend-vnaqi p.no-margin {
        margin-bottom: 10px;
    }

    .map-apom-container .legend-vnaqi .bar-title {
        color: #fff;
        background-color: #292562;
        border-radius: 5px !important;
        margin-bottom: 0;
        font-size: .7rem;
        padding: 6px;
    }

    .map-apom-container .legend-vnaqi span {
        border-radius: 0;
        font-size: .9rem !important;
        font-weight: 400;
        line-height: 1;
        margin: -2px;
        padding: 3px 8px;
    }

    .map-apom-container .legend-vnaqi .humi-gradient {
        border-radius: 5px;
        overflow: hidden;
    }

    .map-apom-container .legend-vnaqi .humi-gradient .aqi-row, .map-apom-container .legend-vnaqi .humi-gradient .temp-row {
        width: 100%;
        display: flex;
    }

    .map-apom-container .legend-vnaqi .aqi-bar {
        width: 16.66%;
        text-align: center;
        height: 20px !important;
        padding: 0;
        line-height: 20px;
        font-size: .7rem;
    }
    /* end legend vn-aqi */

    .bg-gray-img {
        background-image: url('../../FileStore/img/background_gray.png');
        background-size: cover;
    }

    .pm-concen-title {
        margin-top: 3px;
        margin-bottom: 0;
    }

    .table-no-bordered {
        color: inherit !important;
    }

    .map-apom #rhpane .map-ranking {
        color: white;
        cursor: pointer;
        pointer-events: auto;
    }
    #rhpane .map-ranking:hover {
    }

    #rhpane .map-ranking img {
        cursor: pointer;
    }

    .map-ranking-table-vnaqi {
        width: 100%;
    }

    .map-ranking-table-vnaqi .iqair-aqi-pill {
        display: grid;
        place-content: center;
        border-radius: 4px;
        min-width: 56px;
        max-width: 56px;
        min-height: 24px;
        max-height: 24px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }

    .map-ranking-title {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 0px 0px 15px 0px;
    }
</style>

<script>
    var mapId = 'map-apom-basic';
    var formatDate = 'dd/MM/yyyy';
    var formatTime = 'hh:mm:ss';
    var numDaysDaily = 15;
    var numDaysDailyStation = 2;

    var timeInterval = 1000;
    var myDateFormat = 'DD-MM-YYYY';

    var timeSliderStation = null;
    var timeSliderLayer = null;
</script>

<div class="content-wrapper" style="padding: 0;">
    <div class="content-body" style="height: 100%;">
        <!-- map-apom start -->
        <section class="map-apom" style="height: 100%;">
            <!-- basic map start -->
            <div class="card" style="height: 100%; margin:0px;">
                <div class="card-body" style="padding: 0;">
                    <!--<div class="card-title">Home</div>-->
                    <div id="navbar-layer-satellite" class="left-border top-border">
                        <section id="rhpane" class="shy flex-container mobiletablethide">
                            <div id="mapzoom" class="map-zoom" style="margin: 5px;">
                                <div data-do="zoomIn" data-delta="1" data-duration="500" class="clickable iconfont fg-yellow noselect zoom-ctrl full-extent" title="@Resources.Map.toolbar_fullextent">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div data-do="zoomIn" data-delta="1" data-duration="500" class="clickable iconfont fg-yellow noselect zoom-ctrl zoom-plus fix-zoom-in" title="@Resources.Map.toolbar_zoomin">+</div>
                                <div data-do="zoomOut" data-delta="-1" data-duration="500" class="clickable iconfont fg-yellow noselect zoom-ctrl zoom-minus fix-zoom-out" title="@Resources.Map.toolbar_zoomout">-</div>
                            </div>
                            <div id="mapranking" class="map-ranking" style="margin: 5px;">
                                <img alt="@Resources.Map.ranking" title="@Resources.Map.ranking" src="~/FileStore/img/ranking.32.png" class="map-ranking-img" />
                            </div>
                        </section>
                    </div>

                    <div id="map-apom-basic" class="map-apom-container" style="">
                        <div class="legend-vnaqi ng-star-inserted">
                            <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 col-md-9 margin-auto">
                                <p class="no-margin" style="text-align: center;">
                                    <span class="bar-title">VN AQI</span>
                                </p>
                                <div class="humi-gradient" style="width: 100%; height: 20px; color: #ffffff; text-align: left;">
                                    <div class="aqi-row">
                                        <div class="aqi-box-vn box-good aqi-bar"> 0-50</div>
                                        <div class="aqi-box-vn box-moderate aqi-bar">51-100</div>
                                        <div class="aqi-box-vn box-sensitive-unhealthy aqi-bar">101-150</div>
                                        <div class="aqi-box-vn box-unhealthy aqi-bar">151-200</div>
                                        <div class="aqi-box-vn box-very-unhealthy aqi-bar">201-300</div>
                                        <div class="aqi-box-vn box-hazardous aqi-bar">300+</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- layer list / vertical menu group - component -->
                        <!-- class="col-2 collapse show d-md-flex bg-light pt-2 pl-0" -->
                        <div class="collapse show d-md-flex group-component-vertical" id="group_component">
                            <ul class="nav flex-column flex-nowrap overflow-hidden">
                                @*<li class="nav-item">
                            <a class="nav-link collapsed text-truncate" href="#submenuLayerSelector" data-toggle="collapse" data-target="#submenuLayerSelector">
                                <i class="fa fa-bars"></i>
                                <span class="d-none d-sm-inline">Chọn lớp</span>
                            </a>
                            <div class="collapse" id="submenuLayerSelector" aria-expanded="false">
                                <ul class="flex-column pl-1 nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa fa-minus"></i>
                                            <span>Satellite AQI</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapsed text-truncate" href="#submenuStationToolbar" data-toggle="collapse" data-target="#submenuStationToolbar">
                                <i class="fa fa-university"></i>
                                <span class="d-none d-sm-inline">Trạm quan trắc</span>
                            </a>

                            <div class="collapse" id="submenuStationToolbar" aria-expanded="false">
                                <ul class="flex-column pl-1 nav">
                                    <li class="nav-item">
                                        <a class="nav-link collapsed text-truncate" href="#submenuAirPolution" data-toggle="collapse" data-target="#submenuAirPolution">
                                            <i class="fa fa-minus"></i>
                                            <span>Trạm đo ONKK</span>
                                        </a>

                                        <div class="collapse" id="submenuAirPolution" aria-expanded="false">
                                            <ul class="flex-column pl-1 nav">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <i class="fa fa-minus"></i>
                                                        <span>Hà Nội EPA</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed text-truncate" href="#submenuAirWeather" data-toggle="collapse" data-target="#submenuAirWeather">
                                            <i class="fa fa-snowflake-o"></i>
                                            <span>Trạm khí tượng</span>
                                        </a>

                                        <div class="collapse" id="submenuAirWeather" aria-expanded="false">
                                            <ul class="flex-column pl-1 nav">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <i class="fa fa-minus"></i>
                                                        <span>UWYO</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                                @Html.Raw(ViewBag.htmlVerticalMenu)
                            </ul>
                        </div>

                        <!-- chart AQI -->
                        <div class="col-xl-4 col-md-8 col-sm-12 left-panel-chart-component" style="display: none;max-height: 520px;">
                            <div class="card">
                                <div class="card-content">
                                    <button class="closeBox closeBox-new hasclosebox close-chart-component" type="button" style="position: absolute;right: 3px;top: 3px;z-index:2;">
                                        x
                                    </button>
                                    <div class="card-body">
                                        <ul class="nav nav-tabs nav-top-border no-hover-bg" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="profileIcon2-tab1" data-toggle="tab" href="#dailyaqichart" aria-controls="dailyaqichart" role="tab" aria-selected="true"><i class="fa fa-header"></i> AQI</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="homeIcon2-tab1" data-toggle="tab" href="#dailyconcenchart" aria-controls="dailyconcenchart" role="tab" aria-selected="false"><i class="fa fa-align-justify"></i> @Resources.Map.concentration</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content px-1 pt-1">
                                            <div class="tab-pane active in" id="dailyaqichart" aria-labelledby="profileIcon2-tab1" role="tabpanel">
                                            </div>
                                            <div class="tab-pane" id="dailyconcenchart" aria-labelledby="homeIcon2-tab1" role="tabpanel">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ranking -->
                        <div class="col-xl-4 col-md-8 col-sm-12 left-panel-map-ranking" style="display: none;max-height: 520px;overflow: auto;">
                            <div class="card">
                                <div class="card-content">
                                    <button class="closeBox closeBox-new hasclosebox close-map-ranking" type="button" style="position: absolute;right: 3px;top: 3px;z-index:2;">
                                        x
                                    </button>
                                    <div class="card-body">
                                        <div class="form-group row map-ranking-title">
                                            <label class="col-md-12 label-control lbl-ranking-title" style="padding: 0;">
                                                @Resources.Map.ranking_title
                                            </label>
                                            <label class="col-md-12 label-control lbl-ranking-subtitle" style="font-size: smaller;">                                                
                                            </label>    
                                        </div>
                                        @*<div class="form-group row">
                                            <label class="col-md-4 label-control" for="projectinput1">@Resources.Map.ranking_follow:</label>
                                            <div class="col-md-8">
                                                <select class="custom-select form-control" id="cbo_ranking" name="cbo_ranking">
                                                    @{
                                                        for (int i = lstServices.Count - 1; i >= 0; i--)
                                                        {
                                                            component_geotiff_service_short service = lstServices[i];
                                                            if (service.type.Equals("station", StringComparison.OrdinalIgnoreCase) || service.timeslider == false || service.timeslider == null)
                                                            {
                                                                continue;
                                                            }
                                                            <option value="@service.group_id">@service.title</option>
                                                         }
                                                    }
                                                </select>
                                            </div>
                                        </div>*@
                                        
                                        <div class="form-group row" style="margin: 0;">
                                            <table id="" class="map-ranking-table-vnaqi" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>@Resources.Map.ranking_col_administrative</th>
                                                        <th>AQI</th>
                                                    </tr>
                                                </thead>
                                                @*<tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Hà Nội</td>
                                                        <td class="aqi-box-vn box-moderate">80</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Thanh Hóa</td>
                                                        <td class="aqi-box-vn box-good">40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Nghệ An</td>
                                                        <td class="aqi-box-vn box-moderate">100</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Huế</td>
                                                        <td class="aqi-box-vn box-sensitive-unhealthy">120</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Đà Nẵng</td>
                                                        <td class="aqi-box-vn box-sensitive-unhealthy">115</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Nha trang</td>
                                                        <td class="aqi-box-vn box-moderate">80</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Hồ Chí Minh</td>
                                                        <td class="aqi-box-vn box-moderate">90</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Cà Mau</td>
                                                        <td class="aqi-box-vn box-good">35</td>
                                                    </tr>
                                                </tbody>*@
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- time slider -->
                        <style>
                            .time-slider-inactive {
                                position: absolute;
                                bottom: 1%;
                                left: 1%;
                                z-index: 1;
                                background-color: white;
                            }

                            .time-slider-active {
                                position: absolute;
                                bottom: 1%;
                                left: 1%;
                                z-index: 1;
                                background-color: white;
                                width: 98%;
                                display: none;
                            }
                        </style>

                        <div class="time-slider-inactive">
                            <div class="row" style="margin: 0;">
                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_time_slider_active">
                                    <i class="fa fa-hand-pointer-o"></i> @Resources.Map.timeslider
                                </button>
                                @*<div class="dropdown-menu">
                            <a title="Station" href="#" class="dropdown-item btn-time-slider-station-active">
                                <i class="ti-plus"></i> @Resources.Map.timeslider_station
                            </a>
                            <a title="Layer" href="#" data-groupid="satellite_aqi_pm25" class="dropdown-item btn-time-slider-layer-active">
                                <i class="ti-envelope"></i> @Resources.Map.timeslider_layer
                            </a>
                        </div>*@
                                <div class="dropdown-menu">
                                    @{
                                        for (int i = 0; i < lstServices.Count; i++)
                                        {
                                            component_geotiff_service_short service = lstServices[i];
                                            if (service.timeslider == false || service.timeslider == null)
                                            {
                                                continue;
                                            }
                                            service.classBtnTriggerSlider = String.Concat("btn-time-slider-", service.type, "-", service.oid, "-active");
                                            service.classDivTimeSlider = String.Concat("time-slider-", service.type, "-", service.oid, "-active");
                                            service.inputTimeSlider = String.Concat("input_time_slider_", service.type, "_", service.oid); ;
                                            service.btnRunTimeSlider = String.Concat("btn_", service.type, "_", service.oid, "_run_date");
                                            service.btnBackwardTimeSlider = String.Concat("btn_", service.type, "_", service.oid, "_backward_date");
                                            service.btnForwardTimeSlider = String.Concat("btn_", service.type, "_", service.oid, "_forward_date");
                                            service.spanCollapseTimeSlider = String.Concat("span_collapse_", service.type, "_", service.oid, "_slider");

                                            <a title="@service.title" data-groupid="@service.group_id" href="#" class="dropdown-item @service.classBtnTriggerSlider">
                                                <i class="ti-plus"></i> @service.title
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        @{
                            for (int i = 0; i < lstServices.Count; i++)
                            {
                                component_geotiff_service_short service = lstServices[i];
                                if (service.timeslider == false || service.timeslider == null)
                                {
                                    continue;
                                }
                                <div class="time-slider-active @service.classDivTimeSlider">
                                    <div class="row" style="margin: 0px;">
                                        <div class="col-lg-1 col-md-1" style="text-align: center;">
                                            <button class="btn btn-sm btn-outline-dark col-lg-12" id="@service.btnRunTimeSlider">
                                                <span class="fa fa-play-circle-o"></span>
                                            </button>
                                        </div>
                                        <div class="col-lg-9 col-md-8" style="padding: 0;">
                                            <div class="slider-container">
                                                <input type="text" id="@service.inputTimeSlider" value="4" name="range" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3" style="text-align: center;">
                                            <button class="btn btn-sm btn-outline-dark col-lg-4" id="@service.btnBackwardTimeSlider">
                                                <span class="fa fa-arrow-circle-left"></span>
                                            </button>
                                            <button class="btn btn-sm btn-outline-dark col-lg-4" id="@service.btnForwardTimeSlider">
                                                <span class="fa fa-arrow-circle-right"></span>
                                            </button>
                                        </div>
                                        <div style="position: absolute; right: 1%; cursor: pointer;">
                                            <span class="fa fa-arrows-h" id="@service.spanCollapseTimeSlider"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @*<div class="time-slider-layer-active">
                    <div class="row" style="margin: 0px;">
                        <div class="col-lg-1 col-md-1" style="text-align: center;">
                            <button class="btn btn-sm btn-outline-dark col-lg-12" id="btn_layer_run_date">
                                <span class="fa fa-play-circle-o"></span>
                            </button>
                        </div>
                        <div class="col-lg-9 col-md-8" style="padding: 0;">
                            <div class="slider-container">
                                <input type="text" id="time_slider_layer" value="4" name="range" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3" style="text-align: center;">
                            <button class="btn btn-sm btn-outline-dark col-lg-4" id="btn_layer_backward_date">
                                <span class="fa fa-arrow-circle-left"></span>
                            </button>
                            <button class="btn btn-sm btn-outline-dark col-lg-4" id="btn_layer_forward_date">
                                <span class="fa fa-arrow-circle-right"></span>
                            </button>
                        </div>
                        <div style="position: absolute; right: 1%; cursor: pointer;">
                            <span class="fa fa-arrows-h collapse-time-layer-slider"></span>
                        </div>
                    </div>
                </div>*@
                    </div>
                </div>
            </div>
            <!-- basic map end -->
        </section>
        <!-- map-apom end -->
    </div>
</div>

<script>
    var timeSliderCurrentDate = moment(new Date()).format('YYYY-MM-DD');
    //timeSliderCurrentDate = '2022-01-06';
    $(document).ready(function () {
        /* init time slider */
        var nowDate = new Date();
        var nowHour = nowDate.getHours();

        if(apomGis.Config.position) apomGis.Config.position.digit = CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL;
        /* format date with moment
            YYYY: 4-digit year '2019'
            YY: 2-digit year '19'
            MMMM: Full-length month 'June'
            MMM: 3 character month 'Jun'
            MM: Month of the year, zero-padded '06'
            M: Month of the year '6'
            DD: Day of the month, zero-padded '01'
            D: Day of the month '1'
            Do: Day of the month with numeric ordinal contraction '1st'
        */
        moment.simpleFormat.options.date = 'YMD';

        // init GUI time-slide-inactive
        /* station */
        callbackOnChangeStationTimeSlider = function(currentTimeStation){
            if(apomGis.mainCurrentImpl){
                apomGis.mainCurrentImpl.vtStationTimeSeries.clearTileCache();

                let limitTime = 1000 * 60 * 60 * 1;
                // check to clear interval
                if(new Date().getTime() - Math.abs(currentTimeStation) < limitTime) {
                    clearInterval(this.intervalPlay);
                    this.intervalPlay = null;
                    $('#' + this.playBtn + ' span').removeClass(this.classNamePlayBtnPause).addClass(this.classNamePlayBtnRun);
                }
            }
        };

        /* layer */
        callbackOnChangeLayerTimeSlider = function(currentTimeLayer){
            if(apomGis.mainCurrentImpl){
                let filterTime = '';
                let limitTime = 0
                if(this.typeSlider === 'hour') {
                    // 2022-01-09T01:00:00.000Z
                    filterTime = moment(new Date(currentTimeLayer)).format('YYYY-MM-DDThh:mm:ss') + 'Z';
                    limitTime = 1000 * 60 * 60 * 1;
                    timeSliderCurrentDate = moment(new Date(currentTimeLayer)).format('YYYY-MM-DD hh:mm:ss');
                }
                else{
                    // day
                    filterTime = moment(new Date(currentTimeLayer)).format('YYYY-MM-DD');
                    limitTime = 1000 * 60 * 60 * 24;
                    timeSliderCurrentDate = moment(new Date(currentTimeLayer)).format('YYYY-MM-DD');
                }
                apomGis.mainCurrentImpl.layerModelActive.updateParams({
                    'TIME': filterTime
                });

                // check to clear interval
                if(new Date().getTime() - Math.abs(currentTimeLayer) < limitTime) {
                    clearInterval(this.intervalPlay);
                    this.intervalPlay = null;
                    $('#' + this.playBtn + ' span').removeClass(this.classNamePlayBtnPause).addClass(this.classNamePlayBtnRun);
                }
            }
        };

        apomGis.Config.Services = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstServices));

        for (let i = 0; i < apomGis.Config.Services.length; i++)
        {
            let service = apomGis.Config.Services[i];
            let typeSlider = service.typeslider;
            if(typeSlider === null || typeSlider === undefined) continue;
            let showHourFormat = typeSlider === 'hour' ? true : false;
            let step = typeSlider === 'hour' ? 1 : 24;
            let minTime = typeSlider === 'hour' ?  -1 * numDaysDailyStation * 24 : -1 * numDaysDaily * 24 - nowHour; // default 0h
            let maxTime = typeSlider === 'hour' ? 0 : -1 * nowHour; // default 0h
            let isStation = service.type === apomGis.Config.layerType.station ? true : false;
            let callbackFunction = isStation ? callbackOnChangeStationTimeSlider : callbackOnChangeLayerTimeSlider;
            let timeSlider = new apomTimeSlider({
                id: service.inputTimeSlider,
                callbackOnChange: callbackFunction,
                showUTC: false,
                showHourFormat: showHourFormat,
                myDateFormat: myDateFormat,
                playBtn: service.btnRunTimeSlider,
                timerInterval: timeInterval,
                previousBtn: service.btnBackwardTimeSlider,
                nextBtn: service.btnForwardTimeSlider,
                minTime: minTime,
                maxTime: maxTime,
                from: minTime,
                to: 24,
                step: step,
                grid: true,
                showMinorTicks: false,
                mousewheel: true,
                typeSlider: typeSlider
            });
            if(service.type === apomGis.Config.layerType.station) timeSliderStation = timeSlider;


            // button trigger time slider
            $('.' + service.classBtnTriggerSlider).click(function() {
                $('.time-slider-inactive').hide();
                $('.time-slider-active').hide(); // close all time slider
                $('.' + service.classDivTimeSlider).fadeIn(500, 'swing', function(){
                    if(service.typeslider === 'day'){
                        $($('.' + service.classDivTimeSlider + ' .label-between-ticks').siblings()[3]).hide(); // hide hour tick major
                        $('.' + service.classDivTimeSlider + ' .label-between-ticks').css('top',''); // remove top -> return top default
                    }

                    $('#' + service.btnRunTimeSlider).css('top', $('.' + service.classDivTimeSlider + ' .base-slider-container .handle').css('top'));
                    $('#' + service.btnBackwardTimeSlider).css('top', $('.' + service.classDivTimeSlider + ' .base-slider-container .handle').css('top'));
                    $('#' + service.btnForwardTimeSlider).css('top', $('.' + service.classDivTimeSlider + ' .base-slider-container .handle').css('top'));
                });

                /* show / hide station layer */
                if(service.type === apomGis.Config.layerType.station) {
                    apomGis.mainCurrentImpl.vtStationTimeSeries.setVisible(true);
                    apomGis.mainCurrentImpl.vtStation.setVisible(false);
                }
                else{
                    // layer active
                    for(let i=0;i<apomGis.mainCurrentImpl.mapImpl.wmslayers.length;i++){
                        let layer = apomGis.mainCurrentImpl.mapImpl.wmslayers[i].layer;
                        if(layer) {
                            let groupid = $(this).data('groupid');
                            if(groupid === layer.get('groupid') && layer.getVisible()){
                                apomGis.mainCurrentImpl.layerModelActive = apomGis.mainCurrentImpl.mapImpl.wmslayers[i];

                                // turn on layer, turn of other layer
                                for(let j=0;j<switcheryList.length;j++){
                                    var id = $(switcheryList[j].element).data('id');
                                    if(id === groupid){
                                        switcheryList[j].visible(true);
                                        break;
                                    }
                                }
                            }
                        }
                    }
                }
            });

            // collapse time slider
            $('#' + service.spanCollapseTimeSlider).click(function() {
                $('.time-slider-inactive').fadeIn();
                $('.' + service.classDivTimeSlider).hide();

                /* show / hide station layer */
                if(service.type === apomGis.Config.layerType.station) {
                    apomGis.mainCurrentImpl.vtStationTimeSeries.setVisible(false);
                    apomGis.mainCurrentImpl.vtStation.setVisible(true);
                }
            });
        }
        // end init GUI time-slide-inactive

        /* Switchery.prototype */
        Switchery.prototype.visible = function(visible) {
            var isBinClick = visible ^ this.element.checked;
            if(isBinClick){
                this.bindClick();
            }
        };

        var f = {
            mapid: 'map-apom-basic'
        };

        var mainImpl = null;
        formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;

        apomGis.Config.scale.show_label = parseInt('@Apom_User.Common.Constant.WebConfig.SCALE_SHOW_STATION_LABEL');

        var style_simple = new ol.style.Style({
            fill: new ol.style.Fill({
                color: '#ADD8E6'
            }),
            stroke: new ol.style.Stroke({
                color: '#880000',
                width: 1
            })
        });

        function simpleStyle(feature) {
            return style_simple;
        }

        mainImpl = new apomGis.mainClass({
            mapid: f.mapid,
            hostapi: '@ViewBag.HostAPI',
            langid: '@Apom_User.Common.SessionContext.Language'.trim()
        });
        mainImpl.initApomGis();

        apomGis.mainCurrentImpl = mainImpl;
        setStatusLayerList(apomGis.mainCurrentImpl.getStatusLayers());

        var height = (window.innerHeight - ($('nav').height() + $('footer').height())) - 0;
        $('#' + f.mapid).css('height', (height + 0) + 'px');
        $('.left-panel-chart-component').css('maxHeight', height);
        $('.left-panel-map-ranking').css('maxHeight', height);
        $(window).resize(function () {
            var height_map = (window.innerHeight - ($('nav').height() + $('footer').height())) - 0;
            var height_resize = (window.innerHeight - ($('nav').height() + $('footer').height())) - 20;
            $('#' + f.mapid).css('height', (height_map + 0) + 'px');
        });

        // chart AQI
        $('.close-chart-component').click(function () {
            $('.left-panel-chart-component').fadeOut();
        });

        /**** map ranking *****/
        $('.map-ranking-img').click(function(){
            $('.left-panel-map-ranking').fadeIn();
        });

        $('.close-map-ranking').click(function () {
            $('.left-panel-map-ranking').fadeOut();
        });

        //$('#cbo_ranking').change(function(){
        //    var val = $(this).val();
        //    showRanking(val);
        //});

        function showRanking(groupid){
            var hostAPI = '@ViewBag.HostAPI';
            var urlRequestRanking = hostAPI + "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_ranking";

            $.ajax({
                method: "POST",
                url: urlRequestRanking,
                data: JSON.stringify({
                    "group_id": groupid,
                    "component_id": 'pm25',
                    "lang_id": '@Apom_User.Common.SessionContext.Language'
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: true,
                success: function (response) {
                    console.log(response.Data.comps);
                    if(response.Data.comps.length > 0){
                        for(let i=0;i<response.Data.comps.length;i++){
                            response.Data.comps[i]['avg'] = response.Data.comps[i]['avg'] ? response.Data.comps[i]['avg'].toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL) : '';
                        }

                        var dateShotting = response.Data.comps[0]['date_shooting'];
                        dateShotting = moment(new Date(dateShotting)).format(formatDate);
                        $('.lbl-ranking-subtitle').text('(' + dateShotting + ')');
                        $('.map-ranking-table-vnaqi').DataTable({
                            "data": response.Data.comps,
                            "columns": [
                                    { "title": "#", "data": "no", "orderable": false },
                                    { "title": "@Resources.Map.ranking_col_administrative", "data": "administrative_name"},
                                    { "title": "AQI", "data": "avg" }
                            ],
                            "createdRow": function( row, data, dataIndex){
                                var avg = parseFloat(data['avg']);
                                let bgColor = '', fontColor = '';
                                for(let i=0; i< apomGis.Config.VNAQI.length; i++){
                                    let aqi = apomGis.Config.VNAQI[i];
                                    if(aqi.pm25_from != null) {
                                        if(aqi.pm25_to != null) {
                                            if(aqi.pm25_from <= avg && avg <= aqi.pm25_to) {
                                                bgColor = aqi.bg_color;
                                                fontColor = aqi.font_color;
                                            }
                                        }
                                        else {
                                            if(aqi.pm25_from <= avg) {
                                                bgColor = aqi.bg_color;
                                                fontColor = aqi.font_color;
                                            }
                                        }
                                    }
                                    else {
                                        if(aqi.pm25_to != null) {
                                            if(avg <= aqi.pm25_to) {
                                                bgColor = aqi.bg_color;
                                                fontColor = aqi.font_color;
                                            }
                                        }
                                    }
                                };

                                // class ol-popup
                                $($(row).find('td')[2]).css('backgroundColor', bgColor).css('color', fontColor);
                            },
                            "language": {
                                "url": "/FileStore/cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/@Apom_User.Common.SessionContext.Language" + ".json"
                            }
                        });
                    }
                },
                failure: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        };
        //showRanking($('#cbo_ranking').val());
        showRanking('satellite_aqi_pm25');
        /**** map ranking *****/
    });

    /********* identify for station **********/
    // get station's name when click station on map
    function getTitleStation(feature, hostAPI, langId) {
        let title = '';
        let isstation = false, isaqi = false;
        let groupId = '';
        let properties = feature.getProperties();
        groupId = (properties["group_id"] === null) ? '' : properties["group_id"];
        // call api
        if (groupId != '' && hostAPI != '') {
            let urlRequest = hostAPI + "@Apom_User.Common.Constant.APIs.group_info" + "?group_id=" + groupId + "&lang_id=" + langId;
            $.ajax({
                type: "GET",
                url: urlRequest,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: false,
                success: function (response) {
                    console.log(response);
                    title = response.name;
                    des = response.des;
                    isaqi = response.isaqi;
                    isstation = response.isstation;
                    $('.apom-loading').hide();
                },
                failure: function (response) {
                    console.log(response);
                    $('.apom-loading').hide();
                },
                error: function (response) {
                    console.log(response);
                    $('.apom-loading').hide();
                }
            });
        }

        return {
            title: title,
            des: des
        };
    }

    // get station's attributes when click station on map
    function callbackAttrStation(feature, hostAPI, langId) {
        let attributes = [];
        let groupId = '';
        let properties = feature.getProperties();
        groupId = (properties["group_id"] === null) ? '' : properties["group_id"];
        // call api
        if (groupId != '' && hostAPI != '') {
            let component_id = 'pm25';
            let urlRequest = hostAPI + "@Apom_User.Common.Constant.APIs.station_daily_short_newest" + "?group_id=" + groupId + "&component_id=" + component_id + "&lang_id=" + langId;
            $.ajax({
                type: "GET",
                url: urlRequest,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: false,
                success: function (response) {
                    console.log(response);
                    attributes = response;
                    if (attributes.group.isaqi) attributes.callbackShow = callbackShowStationAQI;
                    else attributes.callbackShow = callbackShowMeteorology;
                    $('.apom-loading').hide();
                },
                failure: function (response) {
                    console.log(response);
                    $('.apom-loading').hide();
                },
                error: function (response) {
                    console.log(response);
                    $('.apom-loading').hide();
                }
            });
        }
        return attributes;
    }

    function getStatusAQI(aqi_status_num) {
        var aqiStatus = '', className = '';
        if (aqi_status_num < 0) {
            aqiStatus = '@Resources.Map.aqi_undefined';
            className = 'aqi-box-vn box-undefined';
        }
        else if (aqi_status_num === 0) {
            aqiStatus = '@Resources.Map.aqi_good';
            className = 'aqi-box-vn box-good';
        }
        else if (aqi_status_num === 1) {
            aqiStatus = '@Resources.Map.aqi_medium';
            className = 'aqi-box-vn box-moderate';
        }
        else if (aqi_status_num === 2) {
            aqiStatus = '@Resources.Map.aqi_low';
            className = 'aqi-box-vn box-sensitive-unhealthy';
        }
        else if (aqi_status_num === 3) {
            aqiStatus = '@Resources.Map.aqi_bad';
            className = 'aqi-box-vn box-unhealthy';
        }
        else if (aqi_status_num === 4) {
            aqiStatus = '@Resources.Map.aqi_verybad';
            className = 'aqi-box-vn box-very-unhealthy';
        }
        else if (aqi_status_num === 5) {
            aqiStatus = '@Resources.Map.aqi_hazardous';
            className = 'aqi-box-vn box-hazardous';
        }
        return { status: aqiStatus, class_name: className };
    }

    function callbackShowStationAQI(properties, langId) {
        var html = '';
        var groupId = properties['group_id'];
        var des = properties['group_des'] === null ? properties['group_name'] : properties['group_des'];

        var aqi_status = properties['aqi_status'] === null ? -1 : parseInt(properties['aqi_status']);
        //var aqiInfo = getStatusAQI(aqi_status);
        //var aqiStatus = aqiInfo.status;
        //var className = aqiInfo.class_name;

        var aqiStatus = '', aqiDes = '';
        var className = 'aqi-box-vn box-undefined';
        var bgColor = '', fontColor = '';
        var comp_val = properties['comp_val'] === null ? 'n/a' : parseFloat(properties['comp_val']);
        var comp_aqi = properties['comp_aqi'] === null ? 'n/a' : parseFloat(properties['comp_aqi']);
        if(Number.isFinite(comp_aqi)){
            for(let i=0; i< apomGis.Config.VNAQI.length; i++){
                let aqi = apomGis.Config.VNAQI[i];
                if(aqi.from != null) {
                    if(aqi.to != null) {
                        if(aqi.from <= comp_aqi && comp_aqi <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                        }
                    }
                    else {
                        if(aqi.from <= comp_aqi) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                        }
                    }
                }
                else {
                    if(aqi.to != null) {
                        if(comp_aqi <= aqi.to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                        }
                    }
                }
            };
        };


        var date_shooting = properties['datetime_shooting'] === null ? null : properties['datetime_shooting'];
        if (date_shooting) {
            var year = parseInt(date_shooting.substr(0, 4));
            var month = parseInt(date_shooting.substr(5, 2)) - 1;
            var day = parseInt(date_shooting.substr(8, 2));
            var hour = parseInt(date_shooting.substr(11, 2));
            var minute = parseInt(date_shooting.substr(14, 2));
            var second = parseInt(date_shooting.substr(17, 2));
            var dateShooting = new Date(year, month, day, hour, minute, second);
            date_shooting = moment(dateShooting).format(formatDate + ' ' + formatTime + ' a');
        }

        // class ol-popup
        //$('.ol-popup').css('backgroundColor', bgColor).css('color', fontColor);
        $('.ol-popup').css('color', fontColor);

        // render html
        html = '<div class="row aqi-box aqi-box-us text-center ' + className + '" style="padding-bottom: 10px;border-radius: 0px 0px 10px 10px; margin: 0px;">';
        html += '<div class="col-2" style="margin: auto;padding: 10px 0px 10px 0px;background-color: ' + bgColor + '"><p class="aqi-box-text-number no-margin">@Resources.Map.aqi_aqi</p><p class="aqi-box-number ng-star-inserted">' + comp_aqi + '</p></div>';
        html += '<div class="col-2" style="margin: auto;padding-left: 0;padding-right: 0;"><p style="margin: 0;" class="ng-star-inserted"><img class="aqi-icon-60 pm-aqi-faces" src="/FileStore/img/aqi/' + aqi_status + '.svg" alt="' + aqiStatus + '"></p></div>';
        html += '<div class="col-8" style="margin: auto;"><div class="text"><p class="pm-aqi-desc ng-star-inserted" style="margin-top: 10px;margin-bottom: 10px;text-align: left;">@Resources.Map.aqi_status: ' +  aqiStatus + '</p><p class="pm-aqi-desc ng-star-inserted" style="text-align: left;">' + aqiDes + '</p></div></div>';
        html += '<div class="col-4 text-center" style="margin-top: 5px;"><p class="pm-envi-value no-margin">' + comp_val + '</p><p class="pm-concen-title">PM 2.5 (µg/m3)</p></div>';
        html += '<div class="col-8 text-center" style="margin-top: 5px;"><p class="pm-last-update ng-star-inserted" style="text-align: left;">@Resources.Map.aqi_dateshooting: ' + date_shooting + '</p></div>';
        html += '<div class="col-12"><a data-id=' + groupId + ' data-lang=' + langId + ' data-title="" date-subtitle="" style="cursor:pointer;text-decoration: underline;" class="popup-station-view" onClick="viewDetailStation(this);">@Resources.Common.view_detail</a></div>';
        html += '</div>';
        return html;
    }

    function callbackShowMeteorology(properties) {
        var html = '';
        var groupId = properties['group_id'];
        var des = properties['group_des'] === null ? properties['group_name'] : properties['group_des'];

        html += '<tr>';
        html += '<td colspan="3">';
        html += '<a data-id=' + groupId + ' style="cursor:pointer;text-decoration: underline;color: #009c9f;" class="popup-station-view" onClick="viewDetailMeteorology(this);">@Resources.Common.view_detail</a>';
        html += '</td>';
        html += '</tr>';
        return html;
    }
    /********* end identify for station **********/

    /* view detail station - chart */
    function viewDetailStation(element) {
        var groupId = $(element).data('id');
        var langId = $(element).data('lang');
        //groupId = 'hoankiem';
        var hostAPI = '@ViewBag.HostAPI';

        var title = $('.ol-popuptitle-title').text();
        var subTitle = $('.ol-popuptitle-des').text();
        let urlRequestCompByGroup = hostAPI + "@Apom_User.Common.Constant.APIs.groupcomp_compbygroup";

        $.ajax({
            method: "POST",
            url: urlRequestCompByGroup,
            data: JSON.stringify({
                "group_id": groupId
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: true,
            success: function (response) {
                var lstComps = response.Data.comps;

                var compIds = [];
                var compAQIIds = [];
                //compAQIIds.push('aqi');
                lstComps.forEach(function (element) {
                    compIds.push(element.component_id);
                    compAQIIds.push('aqi_' + element.component_id);
                });

                // reset
                $('.left-panel-chart-component').fadeIn();
                $('#dailyaqichart').empty();
                $('#dailyconcenchart').empty();

                // chart for AQI
                compAQIIds.forEach(function (element) {
                    // add div tag foreach aqi_comp
                    let divId = 'daily' + element + '_chart_show';
                    let $dailyaqichartShow = $("<div id='" + divId  + "'></div>")
                    $('#dailyaqichart').append($dailyaqichartShow);
                    let urlRequestDaily = hostAPI + "@Apom_User.Common.Constant.APIs.compstation_daily";

                    $.ajax({
                        method: "POST",
                        url: urlRequestDaily,
                        data: JSON.stringify({
                            "group_id": groupId,
                            "comp_id": element,
                            "numdays": numDaysDaily,
                            "lang_id": langId
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            console.log(response);
                            if (response.Code = 200) {
                                dataDaily = response.Data.daily_aqi;
                                if (dataDaily.length > 0) {
                                    let compName = dataDaily[0].component_name;
                                    let groupName = dataDaily[0].group_name;
                                    let aqiValue = [];
                                    let dateShooting = [];
                                    dataDaily.forEach(function (element) {
                                        aqiValue.push(element.aqi_value);
                                        dateShooting.push(element.datetime_shooting);//.substr(0, 10));
                                    });

                                    let units = '';

                                    let plotsBandVNAQI = [];
                                    apomGis.Config.VNAQI.map(function(element){
                                        let _element = {
                                            'color': element.bg_color,
                                            'from': element.from,
                                            'to': element.to
                                        };
                                        plotsBandVNAQI.push(_element);
                                    });

                                    //let title = compName + " values at " + groupName;

                                    let resultChart = [];
                                    //dataDaily.map(function(element){
                                    //    resultChart.push([new Date(element.datetime_shooting).getTime(), element.aqi_value]);
                                    //});

                                    // array sap xep theo thu tu thoi gian tang dan
                                    for(let i=dataDaily.length-1;i>=0;i--){
                                        resultChart.push([new Date(dataDaily[i].datetime_shooting).getTime(), dataDaily[i].aqi_value]);
                                    }

                                    let serieses = [
						            {
						                //showInLegend: false,
						                data: resultChart,
						                name: compName,
						                color: "green",
						            }];

                                    let myChart = new apomChart();
                                    myChart.generateChart({
                                        'id': divId,
                                        'typeChart' : 'spline',
                                        'enableCredits': false,
                                        'title': title,
                                        'subTitle': subTitle,
                                        'tooltip': {
                                            headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                            footerFormat: '</table>',
                                            shared: true,
                                            useHTML: true,
                                        },
                                        xAsis: {
                                            'type': 'datetime',
                                            'format': '{value: %Y-%m-%d %H:%M}',
                                            'rotation': -45,
                                            'text': '@Resources.Map.chart_date_title',
                                            'tickInterval': 86400000 // 24h
                                        },
                                        yAxis: {
                                            'text': units,
                                            'plotBands': plotsBandVNAQI
                                        },
                                        'series': serieses,
                                        'enableExport': true,
                                        'menuItemsExport': ["downloadPNG",
                                                            "downloadPDF",
                                                            "separator",
                                                            "downloadCSV",
                                                            "downloadXLS",
                                                            //"viewData",
                                                            "openInCloud"
                                        ],
                                    });
                                }
                            }
                        },
                        failure: function (response) {
                            console.log(response);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });

                // chart for Components
                compIds.forEach(function (element) {
                    // add div tag foreach aqi_comp
                    let divId = 'daily' + element + '_chart_show';
                    let $dailyconcenchartShow = $("<div id='" + divId + "'></div>")
                    $('#dailyconcenchart').append($dailyconcenchartShow);
                    let urlRequestDaily = hostAPI + "@Apom_User.Common.Constant.APIs.compstation_daily";

                    $.ajax({
                        method: "POST",
                        url: urlRequestDaily,
                        data: JSON.stringify({
                            "group_id": groupId,
                            "comp_id": element,
                            "numdays": numDaysDaily,
                            "lang_id": langId
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            //console.log(response);
                            if (response.Code = 200) {
                                dataDaily = response.Data.daily_aqi;
                                if (dataDaily.length > 0) {
                                    let compName = dataDaily[0].component_name;
                                    let groupName = dataDaily[0].group_name;
                                    let aqiValue = [];
                                    let dateShooting = [];
                                    dataDaily.forEach(function (element) {
                                        aqiValue.push(element.aqi_value);
                                        dateShooting.push(element.datetime_shooting);//.substr(0, 10));
                                    });

                                    let units = '&micro;gm<sup>-3</sup>';

                                    let plotsBandAQIPM25 = [];
                                    apomGis.Config.VNAQI.map(function(element){
                                        let _element = {
                                            'color': element.bg_color,
                                            'from': element.pm25_from,
                                            'to': element.pm25_to
                                        };
                                        plotsBandAQIPM25.push(_element);
                                    });

                                    @*let title = '@Resources.Map.comp_values_at_address';
                                    title = title.replaceAll('${x}', compName).replaceAll('${y}', groupName);*@

                                    let resultChart = [];
                                    //dataDaily.map(function(element){
                                    //    resultChart.push([new Date(element.datetime_shooting).getTime(), element.aqi_value]);
                                    //});

                                    // array sap xep theo thu tu thoi gian tang dan
                                    for(let i=dataDaily.length-1;i>=0;i--){
                                        resultChart.push([new Date(dataDaily[i].datetime_shooting).getTime(), dataDaily[i].aqi_value]);
                                    }

                                    let serieses = [
						            {
						                //showInLegend: false,
						                data: resultChart,
						                name: compName,
						                color: "green",
						                type: 'spline',
						                tooltip: {
						                    valueDecimals: 2
						                }
						            }];

                                    let myChart = new apomChart();
                                    myChart.generateChart({
                                        'id': divId,
                                        'enableCredits': false,
                                        'title': title,
                                        'subTitle': subTitle,
                                        'tooltip': {
                                            headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                            footerFormat: '</table>',
                                            shared: true,
                                            useHTML: true,
                                        },
                                        xAsis: {
                                            'type': 'datetime',
                                            'format': '{value: %Y-%m-%d %H:%M}',
                                            'rotation': -45,
                                            'text': '@Resources.Map.chart_date_title',
                                            'tickInterval': 86400000 // 24h
                                        },
                                        yAxis: {
                                            'text': units,
                                            'plotBands': plotsBandAQIPM25
                                        },
                                        'series': serieses,
                                        'enableExport': true,
                                        'menuItemsExport': ["downloadPNG",
                                                            "downloadPDF",
                                                            "separator",
                                                            "downloadCSV",
                                                            "downloadXLS",
                                                            //"viewData",
                                                            "openInCloud"
                                        ],
                                    });
                                }
                            }
                        },
                        failure: function (response) {
                            console.log(response);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });
            },
            failure: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function viewDetailMeteorology(element) {
        var groupId = $(element).data('id');
        groupId = 'hoankiem';
    }
    /* end view detail station - chart */

    /* layer list */
    // isOn = true -> turn on layer
    function toogleLayerStation(element) {
        var groupId = $(element).data('id');
        typeStation = parseInt($(element).data('typestation'));
        isOn = $(element).is(":checked");

        var layerItem = apomGis.mainCurrentImpl.listGroupLayers.find(x=>x.id===groupId);
        if(layerItem===undefined){
            apomGis.mainCurrentImpl.listGroupLayers.push({
                id: groupId,
                active: isOn
            });
        }
        else{
            layerItem.active=isOn;
        }

        // save to localStorage
        apomGis.mainCurrentImpl.saveStatusLayers(apomGis.mainCurrentImpl.listGroupLayers);

        //alert('id: ' + id + '\n isOn: ' + isOn);
        // station
        if(typeStation === 1) {
            apomGis.mainCurrentImpl.vtStation.setVisible(isOn);
        }
        else if(typeStation === 2) // weather
        {

        }
        else if(typeStation === 3) // layer from modeling
        {
            for(let i=0;i<apomGis.mainCurrentImpl.mapImpl.wmslayers.length;i++){
                let layer = apomGis.mainCurrentImpl.mapImpl.wmslayers[i].layer;
                if(layer) {
                    if(groupId === layer.get('parentid')) {
                        layer.setVisible(isOn);
                        break;
                    }
                }
            }

            // turn off other node if isOn = true
            if(isOn){
                $('.switchery-layer-menu').map(function(element){
                    var _parent = $(this).parent();
                    var _toogleChk = $(_parent).find('.switchery-layer-menu');
                    var _groupId = $(_toogleChk).data('id');
                    var _type = parseInt($(_toogleChk).data('typestation'));

                    if(switcheryList && typeStation === _type && groupId != _groupId) {
                        for(var i=0;i<switcheryList.length;i++){
                            var id = $(switcheryList[i].element).data('id');
                            if(id === _groupId){
                                switcheryList[i].visible(false);
                            }
                        }
                    }
                });
            }
        }
    }

    function tileLoadFunctionStation(tile, url) {
        var format = tile.getFormat();
        var tileCoord = tile.getTileCoord();
        tile.setLoader(function (extent, resolution, projection) {
            fetch(url).then(function (response) {
                response.arrayBuffer().then(function (data) {
                    const format = tile.getFormat() // ol/format/MVT configured as source format
                    const projection1 = format.readProjection(data);
                    if (tile.setProjection) tile.setProjection(projection1);
                    var features = [];
                    try {
                        //features = format.readFeatures(data, {});
                        features = format.readFeatures(data, {
                            extent: tile.extent,
                            featureProjection: tile.projection
                        });
                    }
                    catch (ex) {
                        //console.log('error read feature: ' + ex);
                        features = [];
                    }

                    // filter
                    for (var i = 0; i < features.length; i++) {
                        var properties = features[i].getProperties();
                        var parentId = properties.parent_id;

                        var layerItem = apomGis.mainCurrentImpl.listGroupLayers.find(x=>x.id===parentId);
                        // layerItem = undefined -> chua thiet lap trang thai -> mac dinh la active
                        if(layerItem && !layerItem.active) {
                            features.splice(i, 1);
                            i--;
                        }
                    }
                    tile.setFeatures(features);
                });
            });
        });
    };

    var listLayers = new apomContainer();
    $('.switchery-layer-menu').map(function(element){
        var parent = $(this).parent();
        var toogleChk = $(parent).find('.switchery-layer-menu');
        var spanObj = $(parent).find('span.d-sm-inline');
        var newRow = listLayers.createRow([
            {
                'obj': toogleChk,
                'event': 'change',
                'callback': toogleLayerStation
            },
            {
                'obj': spanObj
            },
        ]);
        listLayers.addRow(newRow);
    });

    // set status layerList (active / non-active) from localStorage
    function setStatusLayerList(groupStatusLayers) {
        $('.switchery-layer-menu').map(function(element){
            var parent = $(this).parent();
            var toogleChk = $(parent).find('.switchery-layer-menu');
            var groupId = $(toogleChk).data('id');

            var itemStatusLayer = groupStatusLayers.find(x=>x.id===groupId);
            if(itemStatusLayer && switcheryList) {
                // itemStatusLayer.active
                for(var i=0;i<switcheryList.length;i++){
                    var id = $(switcheryList[i].element).data('id');
                    if(id===groupId){
                        switcheryList[i].visible(itemStatusLayer.active);
                    }
                }
            }
        });
    }
    /* end layer list */

    /* layer time series */
    function tileLoadFunctionStationTimeSeries(tile, url) {
        var format = tile.getFormat();
        var tileCoord = tile.getTileCoord();
        tile.setLoader(function (extent, resolution, projection) {
            fetch(url).then(function (response) {
                response.arrayBuffer().then(function (data) {
                    const format = tile.getFormat() // ol/format/MVT configured as source format
                    const projection1 = format.readProjection(data);
                    if (tile.setProjection) tile.setProjection(projection1);
                    var features = [];
                    try {
                        //features = format.readFeatures(data, {});
                        features = format.readFeatures(data, {
                            extent: tile.extent,
                            featureProjection: tile.projection
                        });
                    }
                    catch (ex) {
                        //console.log('error read feature: ' + ex);
                        features = [];
                    }

                    // filter
                    if(timeSliderStation!=null) {
                        for (var i = 0; i < features.length; i++) {
                            var properties = features[i].getProperties();
                            var parentId = properties.parent_id;

                            var layerItem = apomGis.mainCurrentImpl.listGroupLayers.find(x=>x.id===parentId);
                            // layerItem = undefined -> chua thiet lap trang thai -> mac dinh la active

                            var timeF = new Date(properties.datetime_shooting).getTime();
                            if(timeF != timeSliderStation.currentTime || (layerItem && !layerItem.active)) {
                                features.splice(i, 1);
                                i--;
                            }
                        }
                    }
                    tile.setFeatures(features);
                });
            });
        });
    };

    /****** identify for geotiff ******/
    function identifyTitle(feature, hostAPI, langId) {
        $('.apom-loading').show();
        var properties = feature.getProperties();
        if(properties['geotiff']){
            $('.apom-loading').hide();
            // layer
            return {
                title: properties['titlegroup'],
                des: properties['titlecomponent']
            };
        }
        else{
            // station
            return getTitleStation(feature, hostAPI, langId);
        }
    };

    function identifyCallbackAttr(feature, hostAPI, langId){
        $('.apom-loading').show();
        var properties = feature.getProperties();
        if(properties['geotiff']){
            $('.apom-loading').hide();
            // layer
            properties.callbackShow = callbackShowGeoTiffAQI;
            return properties;
        }
        else{
            // station
            return callbackAttrStation(feature, hostAPI, langId)
        }
    };

    // view detail chart layer
    function viewDetailLayer(element) {
        var groupcomponentId = $(element).data('gcid');
        var langId = $(element).data('lang');
        var coorX = parseInt($(element).data('x'));
        var coorY = parseInt($(element).data('y'));
        var requestDate = $(element).data('date-request');
        var hostAPI = '@ViewBag.HostAPI';

        // reset
        $('.left-panel-chart-component').fadeIn();
        $('#dailyaqichart').empty();
        $('#dailyconcenchart').empty();

        let urlRequestDaily = '';

        // chart for AQI PM25
        let divIdAQI = 'daily_aqi_' + groupcomponentId + '_chart_show';
        let $dailyaqichartShow = $("<div id='" + divIdAQI  + "'></div>")
        $('#dailyaqichart').append($dailyaqichartShow);

        // chart for Components
        let divIdComp = 'daily_' + element + '_chart_show';
        let $dailyconcenchartShow = $("<div id='" + divIdComp + "'></div>")
        $('#dailyconcenchart').append($dailyconcenchartShow);

        urlRequestDaily = hostAPI + "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_list_geotiff";
        $.ajax({
            method: "POST",
            url: urlRequestDaily,
            data: JSON.stringify({
                "x": coorX,
                "y": coorY,
                "groupcomponent_id": groupcomponentId,
                "date_request" : requestDate,
                "numdays": numDaysDaily,
                "lang_id": langId
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            crossDomain: true,
            async: false,
            success: function (response) {
                console.log(response);
                if (response.Code = 200) {
                    dataDaily = response.Data.comps;
                    if (dataDaily.length > 0) {
                        let titleGroup = dataDaily[0].titlegroup;
                        let titleComponent = dataDaily[0].titlecomponent;
                        let aqiValue = [];
                        let compValue = [];
                        let dateShooting = [];
                        let plotsBandVNAQI = [];
                        let plotsBandAQIPM25 = [];
                        let resultChart = [];
                        let resultChartComp = [];

                        dataDaily.forEach(function (element) {
                            compValue.push(element.val);
                            aqiValue.push(element.val_aqi);
                            dateShooting.push(element.requestdate);//.substr(0, 10));
                        });

                        let units = '&micro;gm<sup>-3</sup>';

                        // array sap xep theo thu tu thoi gian tang dan
                        for(let i=0; i<dataDaily.length;i++){
                            resultChart.push([new Date(dateShooting[i]).getTime(), aqiValue[i]]);
                            resultChartComp.push([new Date(dateShooting[i]).getTime(), compValue[i]]);
                        }

                        /************* AQI *************/
                        apomGis.Config.VNAQI.map(function(element){
                            let _element = {
                                'color': element.bg_color,
                                'from': element.from,
                                'to': element.to
                            };
                            plotsBandVNAQI.push(_element);
                        });

                        //let title = compName + " values at " + groupName;

                        let serieses = [
                        {
                            //showInLegend: false,
                            data: resultChart,
                            name: titleComponent,
                            color: "green",
                        }];

                        let myChartAQI = new apomChart();
                        myChartAQI.generateChart({
                            'id': divIdAQI,
                            'typeChart' : 'spline',
                            'enableCredits': false,
                            'tooltip': {
                                headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            xAsis: {
                                'type': 'datetime',
                                'format': '{value: %Y-%m-%d}',
                                'rotation': -45,
                                'text': 'Date',
                                'tickInterval': 86400000 // 24h
                            },
                            yAxis: {
                                'text': units,
                                'plotBands': plotsBandVNAQI
                            },
                            'series': serieses,
                            'enableExport': true
                        });
                        /************* end AQI *************/

                        /************* Comp *************/
                        apomGis.Config.VNAQI.map(function(element){
                            let _element = {
                                'color': element.bg_color,
                                'from': element.pm25_from,
                                'to': element.pm25_to
                            };
                            plotsBandAQIPM25.push(_element);
                        });

                        @*let title = '@Resources.Map.comp_values_at_address';
                        title = title.replaceAll('${x}', compName).replaceAll('${y}', groupName);*@

                        let seriesesComp = [
                        {
                            //showInLegend: false,
                            data: resultChartComp,
                            name: titleComponent,
                            color: "green",
                            type: 'spline',
                            tooltip: {
                                valueDecimals: 2
                            }
                        }];

                        let myChartComp = new apomChart();
                        myChartComp.generateChart({
                            'id': divIdComp,
                            'enableCredits': false,
                            'tooltip': {
                                headerFormat: '<span style="font-size:10px">{point.key:%Y-%m-%d %H:%M}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true,
                            },
                            xAsis: {
                                'type': 'datetime',
                                'format': '{value: %Y-%m-%d}',
                                'rotation': -45,
                                'text': 'Date',
                                'tickInterval': 86400000 // 24h
                            },
                            yAxis: {
                                'text': units,
                                'plotBands': plotsBandAQIPM25
                            },
                            'series': seriesesComp,
                            'enableExport': true
                        });
                        /************* end Comp *************/
                    }
                }
            },
            failure: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    // get station's attributes when click station on map
    function callbackShowGeoTiffAQI(properties, langId) {
        var html = '<tbody>';
        var coorX = properties['x'];
        var coorY = properties['y'];
        var val = properties['val'];
        var valAQI = properties['val_aqi'];
        var titleComp = properties['titlecomponent'];
        var titleGroup = properties['titlegroup'];
        var dateShooting = properties['date'];
        dateShooting = moment(new Date(dateShooting)).format(formatDate);
        //date_shooting = moment(dateShooting).format(formatDate + ' ' + formatTime + ' a');

        var aqiStatus = '', aqiDes = '';
        var className = 'aqi-box-vn box-undefined';
        var bgColor = '', fontColor = '';
        var aqi_status = -1;
        if(Number.isFinite(val)){
            val = (val === null || val === apomGis.Config.noData) ? 'n/a': parseFloat(val).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            //val = val.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            valAQI = (valAQI === null || valAQI === apomGis.Config.noData) ? 'n/a': parseFloat(valAQI).toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            //valAQI = valAQI.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            coorX = coorX.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);
            coorY = coorY.toFixed(CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL);

            for(let i=0; i< apomGis.Config.VNAQI.length; i++){
                let aqi = apomGis.Config.VNAQI[i];
                if(aqi.from != null) {
                    if(aqi.to != null) {
                        if(aqi.pm25_from <= val && val <= aqi.pm25_to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = i;
                            break;
                        }
                    }
                    else {
                        if(aqi.pm25_from <= val) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = i;
                            break;
                        }
                    }
                }
                else {
                    if(aqi.pm25_to != null) {
                        if(val <= aqi.pm25_to) {
                            aqiStatus = aqi.statusname;
                            aqiDes = aqi.des;
                            bgColor = aqi.bg_color;
                            fontColor = aqi.font_color;
                            aqi_status = i;
                            break;
                        }
                    }
                }
            };
        }
        else{
            val = 'n/a';
            valAQI = 'n/a';
        }

        // class ol-popup
        //$('.ol-popup').css('backgroundColor', '').css('color', fontColor);
        $('.ol-popup').css('color', fontColor);

        @*html += '<tr><td>@Resources.Map.aqi_aqi</td><td>' + valAQI + '</td></tr>';
        html += '<tr><td>@Resources.Map.identify_val</td><td>' + val + '</td></tr>';
        html += '<tr><td>@Resources.Map.aqi_status</td><td>' + aqiStatus + '</td></tr>';
        html += '<tr><td>@Resources.Map.identify_time</td><td>' + dateShooting + '</td></tr>';
        html += '<tr><td>@Resources.Map.identify_coor</td><td>' + coorX + '&nbsp;&nbsp;&nbsp;' + coorY + '</td></tr>';
        html += '<tr><td colspan="2"><a data-date-request=' + properties['date'] + ' data-gcid=' + properties['gcid'] + ' data-x=' + properties['click_x'] + ' data-y=' + properties['click_y'] + ' data-lang=' + langId + ' style="cursor:pointer;text-decoration: underline;" class="popup-station-view" onClick="viewDetailLayer(this);">@Resources.Common.view_detail</a></td></tr>';
        html += '</tbody>';*@

        // render html
        html = '<div class="row aqi-box aqi-box-us text-center ' + className + '" style="padding-bottom: 10px;border-radius: 0px 0px 10px 10px; margin: 0px;">';
        html += '<div class="col-2" style="margin: auto;padding: 10px 0px 10px 0px;background-color: ' + bgColor + '"><p class="aqi-box-text-number no-margin">@Resources.Map.aqi_aqi</p><p class="aqi-box-number ng-star-inserted">' + valAQI + '</p></div>';
        html += '<div class="col-2" style="margin: auto;padding-left: 0;padding-right: 0;"><p style="margin: 0;" class="ng-star-inserted"><img class="aqi-icon-60 pm-aqi-faces" src="/FileStore/img/aqi/' + aqi_status + '.svg" alt="' + aqiStatus + '"></p></div>';
        html += '<div class="col-8" style="margin: auto;"><div class="text"><p class="pm-aqi-desc ng-star-inserted" style="margin-top: 10px;margin-bottom: 10px;text-align: left;">@Resources.Map.aqi_status: ' +  aqiStatus + '</p><p class="pm-aqi-desc ng-star-inserted" style="text-align: left;">' + aqiDes + '</p></div></div>';
        html += '<div class="col-4 text-center" style="margin-top: 5px;"><p class="pm-envi-value no-margin">' + val + '</p><p class="pm-concen-title">' + titleComp + ' (µg/m3)</p></div>';
        html += '<div class="col-8 text-center" style="margin-top: 5px;"><p class="pm-last-update ng-star-inserted" style="text-align: left;">@Resources.Map.aqi_dateshooting: ' + dateShooting + '</p></div>';
        html += '<div class="col-12"><a data-date-request=' + properties['date'] + ' data-gcid=' + properties['gcid'] + ' data-x=' + properties['click_x'] + ' data-y=' + properties['click_y'] + ' data-lang=' + langId + ' style="cursor:pointer;text-decoration: underline;" class="popup-station-view" onClick="viewDetailLayer(this);">@Resources.Common.view_detail</a></div>';
        html += '</div>';

        return html;
    }

    function idenitfyDataGeoTiff (map, coordinate, callback) {
        $('.apom-loading').show();
        var action = map.parent.coreImpl.action;
        var coorX = coordinate[0], coorY = coordinate[1];
        //var current_date = moment(new Date()).format('YYYY-MM-DD 00:00:00');
        //var current_date = moment(new Date()).format('YYYY-MM-DD');
        //timeSliderCurrentDate = '2022-01-06';
        var current_date = timeSliderCurrentDate;
        var features = [];
        var hostAPI = map.parent.hostAPI;
        //var popupFeature = map.parent.popup;
        if (action === apomGis.Config.action.identify) {
            /******** identify  mem - wwrfchem *********/
            // only check layer that is visible
            var arrProperties = [];
            for (var i = 0; i < map.parent.wmslayers.length; i++) {
                var wmsLayer = map.parent.wmslayers[i];
                if (wmsLayer.getVisible()) {
                    var params = wmsLayer.layer.get('params');
                    console.log('identify: ' + params);
                    var url = params.url;
                    var featurebase = params.featurebase;
                    var featuretype = params.featuretype;

                    var urlRequest = hostAPI + "@Apom_User.Common.Constant.APIs.componentgeotiffservice_getbyserviceinfo";

                    $.ajax({
                        method: "POST",
                        url: urlRequest,
                        data: JSON.stringify({
                            "url": url,
                            "featurebase": featurebase,
                            "featuretype": featuretype
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            console.log(response);
                            var groupComponentId = response.Data.comps.groupcomponent_id;
                            var urlRequestIdentify = hostAPI + "@Apom_User.Common.Constant.APIs.componentgeotiffdaily_identify_geotiff";

                            $.ajax({
                                method: "POST",
                                url: urlRequestIdentify,
                                data: JSON.stringify({
                                    "x": coorX,
                                    "y": coorY,
                                    "groupcomponent_id": groupComponentId,
                                    "date_request": current_date,
                                    "lang_id": '@Apom_User.Common.SessionContext.Language'
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: "json",
                                crossDomain: true,
                                async: false,
                                success: function (response) {
                                    console.log(response.Data.comps);
                                    if(response.Data.comps)
                                    {
                                        response.Data.comps['date'] = current_date;
                                        response.Data.comps['click_x'] = coorX;
                                        response.Data.comps['click_y'] = coorY;
                                        arrProperties.push(response.Data.comps);
                                        //callback(response.Data.comps);
                                    }
                                    //popupFeature.show(coordinate, feature);
                                    $('.apom-loading').hide();
                                },
                                failure: function (response) {
                                    console.log(response);
                                    $('.apom-loading').hide();
                                },
                                error: function (response) {
                                    console.log(response);
                                    $('.apom-loading').hide();
                                }
                            });
                        },
                        failure: function (response) {
                            console.log(response);
                            $('.apom-loading').hide();
                        },
                        error: function (response) {
                            console.log(response);
                            $('.apom-loading').hide();
                        }
                    });

                }
            }
            if(callback) callback(arrProperties);
            /******** end identify  mem - wwrfchem *********/
        }
    }
    /****** end identify ******/
</script>