﻿@using Repositories.Models.Category
@using Repositories.Models.Asset
@using Apom_User.Common
@model Repositories.Models.map_model_view

@{
    Layout = ViewBag.LayoutNewMobile;

    ViewBag.isVietNam = Model.isVietNam;
    ViewBag.isAuthenticate = Model.isAuthenticate;
    //ViewBag.Title = "Home Page";

    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;
    //List<component_geotiff_service_short> lstServices = Model.Services;

    string langId = Apom_User.Common.SessionContext.Language;
    string provinceId = Constant.WebConfig.PROVINCE_DEFAULT; // hanoi

    string suffixChartForecast = "forecast";

    string mapId = "map-apom-basic";

    string accessToken = SessionContext.UserProfile == null ? "" : SessionContext.UserProfile.access_token;
    string dailyaqiChart = String.Concat("dailyaqichart_", suffixChartForecast);
    string dailyconcenChart = String.Concat("dailyconcenchart_", suffixChartForecast);
}

<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    /*footer*/
    .footer-menu {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        border-top: 1px solid #ddd;
    }

        .footer-menu .nav-item {
            flex: 1;
            text-align: center;
            padding: 8px 0;
        }

        .footer-menu .nav-link {
            color: #6c757d;
            font-size: 0.9rem;
        }

            .footer-menu .nav-link.active {
                color: red;
                font-weight: bold;
            }
    /*footer*/

    #tab-ranking, #tab-forecast {
        display: none;
    }

    #tab-forecast, #tab-ranking {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
        padding-top: 1px;
        margin-right: auto;
        margin-left: auto;
    }

    .header-container {
        width: 100%;
        position: fixed;
        z-index: 1000;
        background: #fff;
        max-width: 100vw;
        top: 0;
    }

    .dropdown-container {
        position: relative;
    }

    .container-fluent {
        margin-right: 18px;
        margin-left: 1px;
    }

    @@media only screen and (max-width: 599.9px) {
        .top-header {
            padding: 13px 0;
            flex-wrap: nowrap;
        }
    }

    @@media only screen and (max-width: 599.9px) {
        .top-header {
            padding: 10px;
        }
    }

    .top-header {
        display: flex;
        flex-direction: row;
        /*flex-wrap: wrap;*/
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        color: #414141;
    }

    .header-container img {
        width: 90px;
    }

    .section-divider {
        height: 1px;
        background: #000;
        opacity: .06;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .location {
        /*margin-top: -20px;*/
        /*padding-top: 15px;*/
        background-color: #fcfcfc;
    }

    .top-header-title {
        font-weight: 700;
        text-shadow: none;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
        padding-left: 10px;
        margin-top: 5px;
    }
</style>

<script src="~/Scripts/rainbowvis.js"></script>
<div class="header-container">
    <div class="dropdown-container">
        <div class="container-fluent">
            <div class="top-header">
                <img loading="lazy" src="~/FileStore/img/logo_hanoiair.3.png" />
                <span class="top-header-title">@Resources.Map.forecast_title</span>
            </div>
        </div>
    </div>
</div>
<div class="container123" style="margin-bottom: 4.1rem; padding-top: 60px; background: linear-gradient(180deg,#f9fafb 36.4%,#eaecf0)">
    <div class="location">
        <div class="section-divider"></div>
        <div id="tab-forecast" class="tab-apom">
            <div class="card-1">
                @Html.Partial("/Views/Home/partial/_forcast_mobile.cshtml", new ViewDataDictionary(ViewData)
            {
                { "ctrl_id", suffixChartForecast },
                { "province_id", provinceId },
            })
            </div>
        </div>

        <div id="tab-map" class="tab-apom">
            @Html.Partial("/Views/Home/partial/_map_mobile.cshtml", new ViewDataDictionary(ViewData)
            {
                { "ctrl_id", mapId }
            })

        </div>

        <div id="tab-ranking" class="tab-apom">
            <div class="card-1">
                @Html.Partial("/Views/Home/partial/_ranking_mobile.cshtml", new ViewDataDictionary(ViewData)
            {
                { "ctrl_id", suffixChartForecast },
                { "province_id", provinceId },
            })
            </div>
        </div>
    </div>
</div>


<nav class="footer-menu d-flex">
    <a href="#" data-link="tab-map" data-loading="1" class="nav-link nav-item nav-link-apom active">
        @*<span>&#128506;</span>*@
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
        </svg>
        <br>
        <span class="title-menu-bottom">@Resources.Map.menu_mobile_map_title</span>
    </a>
    <a href="#" data-link="tab-forecast" data-loading="0" class="nav-link nav-item nav-link-apom">
        @*<span>&#127963;</span>*@
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07" />
        </svg>
        <br>
        <span class="title-menu-bottom">@Resources.Map.menu_mobile_forecast_title</span>
    </a>
    <a href="#" data-link="tab-ranking" data-loading="0" class="nav-link nav-item nav-link-apom">
        @*<span>&#128200;</span>*@
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ol" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5" />
            <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635z" />
        </svg>
        <br>
        <span class="title-menu-bottom">@Resources.Map.menu_mobile_ranking_title</span>
    </a>
</nav>
@*</div>*@
<script>
    var mapId = '@mapId';
    var formatDate = 'dd/MM/yyyy';
    var formatTime = 'hh:mm:ss';
    var myDateFormat = 'DD-MM-YYYY';
    var optionIdentify = [];
    var apomLoadingClass = '.apom-loading';
    var isAuthenticate = '@ViewBag.isAuthenticate' === 'True' ? true : false;

    $(document).ready(function () {
        formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;
        @*apomGis.Config.Services = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstServices));*@

        if (CONFIG_SYSTEMT.MAP_EXTENT != undefined) {
            apomGis.Config.initExtent.extent = CONFIG_SYSTEMT.MAP_EXTENT;
            apomGis.Config.initExtent.full = CONFIG_SYSTEMT.MAP_EXTENT;
            let xCenter = (CONFIG_SYSTEMT.MAP_EXTENT[0] + CONFIG_SYSTEMT.MAP_EXTENT[2]) / 2;
            let yCenter = (CONFIG_SYSTEMT.MAP_EXTENT[1] + CONFIG_SYSTEMT.MAP_EXTENT[3]) / 2;
            apomGis.Config.initExtent.center = {
                x: xCenter,
                y: yCenter
            };
        }

        $('.nav-link-apom').click(function () {
            let dataLink = $(this).data('link');
            let loading = parseInt($(this).data('loading'));
            if (loading === 0) {
                $(this).data('loading', 1);
                if (dataLink === 'tab-ranking') {
                    $(apomLoadingClass).show();
                    if (typeof (showRanking) === 'function') showRanking('satellite_aqi_pm25', (new Date()).toString());
                    $(apomLoadingClass).hide();
                }
                if (dataLink === 'tab-map') {
                    $(apomLoadingClass).show();
                    if (typeof (initMap) === 'function') initMap();
                    $(apomLoadingClass).hide();
                }
                if (dataLink === 'tab-forecast') {
                    $(apomLoadingClass).show();
                    if (typeof (viewChartDetailGeoTiff) === 'function') {
                        var properties = {
                            gcid: '63',
                            type_slider: 'day'
                        };
                        var hostAPI = '@ViewBag.HostAPI';
                        viewChartDetailGeoTiff(properties, hostAPI, '@langId', '#@dailyaqiChart', '#@dailyconcenChart', true);
                    }
                    $(apomLoadingClass).hide();
                }
            }
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            $('.tab-apom').hide();
            $('#' + dataLink).show();
        });

        initMap();

    });

</script>
