﻿@using Repositories.Models.Category
@using Repositories.Models.Asset
@using Apom_User.Common

@model Repositories.Models.map_model_view
@{
    Layout = ViewBag.LayoutNew;
    ViewBag.isVietNam = Model.isVietNam;
    ViewBag.isAuthenticate = Model.isAuthenticate;
    //ViewBag.Title = "Home Page";

    List<vnaqi_index_short> lstVNAQI = Model.VNAQIIndex;
    List<component_geotiff_service_short> lstServices = Model.Services;
    string hostGSV = ViewBag.HOSTGSV;

    string suffixChartInfo = "info";
    string suffixChartForecast = "forecast";

    // default hanoi
    double defaultCoorX = 105.77942669560795;
    double defaultCoorY = 21.06512175978723;
}
@*<script src="~/Scripts/apom_ultility/notification.js"></script>*@

<!-- map view -->
<div id="map-apom-basic"></div>
<!-- end map view -->

<div class="left-menu">
    <!-- map search / menu -->
    @Html.Partial("/Views/Home/partial/_map_search.cshtml")
    <!-- end map search / menu -->

    <div class="main-popup active" data-aos="fade-right" data-aos-delay="200">
        <div class="tab-icon-line">

            <div id="tab3" class="tab active" data-link="content-tab3" data-loading="1" title="@Resources.Map.forecast_title">
                <div class="line-transperent"></div>
                <div class="icon">
                    <span class="font-icon-humidity"></span>
                </div>
                <div class="line-status"></div>
            </div>

            <div id="tab1" class="tab" data-link="content-tab1" data-loading="1" title="@Resources.Map.info_title">
                <div class="line-transperent"></div>
                <div class="icon">
                    <span class="font-icon-location"></span>
                </div>
                <div class="line-status"></div>
            </div>

            <div id="tab2" data-link="content-tab2" class="tab" data-loading="0" title="@Resources.Map.ranking_title">
                <div class="line-transperent"></div>
                <div class="icon">
                    <span class="font-icon-chart"></span>
                </div>
                <div class="line-status"></div>
            </div>

            <div class="tab space">
                <div class="line-transperent"></div>
                <div class="icon">
                    <svg class="icon-svg" viewBox="0 0 16 16">
                        <path d="M2 10.833L14 10.833C14.2733 10.833 14.5 11.0597 14.5 11.333C14.5 11.6063 14.2733 11.833 14 11.833L2 11.833C1.72667 11.833 1.5 11.6063 1.5 11.333C1.5 11.0597 1.72667 10.833 2 10.833Z" />
                        <path d="M2 7.5L14 7.5C14.2733 7.5 14.5 7.72667 14.5 8C14.5 8.27333 14.2733 8.5 14 8.5L2 8.5C1.72667 8.5 1.5 8.27333 1.5 8C1.5 7.72667 1.72667 7.5 2 7.5Z" />
                        <path d="M2 4.16699L14 4.16699C14.2733 4.16699 14.5 4.39366 14.5 4.66699C14.5 4.94033 14.2733 5.16699 14 5.16699L2 5.16699C1.72667 5.16699 1.5 4.94032 1.5 4.66699C1.5 4.39366 1.72667 4.16699 2 4.16699Z" />
                    </svg>
                </div>
                <div class="line-status"></div>
            </div>

            <div class="tab toggle-panel">
                <div class="line-transperent"></div>
                <div class="icon">
                    <span class="font-icon-up"></span>
                </div>
                <div class="line-status"></div>
            </div>
        </div>

        <!-- forcast -->
        <div id="content-tab3" class="content-tab">
            @Html.Partial("/Views/Home/partial/_forcast.cshtml")

            <!-- chart -->
            <div class="card-1">
                @Html.Partial("/Views/Home/partial/_map_chart_feature.cshtml", new ViewDataDictionary(ViewData)
            {
                { "ctrl_id", suffixChartForecast },
            })
            </div>
            <!-- end chart -->
        </div>
        <!-- end forcast -->
        <!-- selected feature -->
        <div id="content-tab1" class="content-tab">
            <!-- identify -->
            <div class="card-1 map-info-feature">
                @{
                    Html.RenderPartial("/Views/Home/partial/_map_info_feature.cshtml", new Repositories.Models.Asset.component_station_daily_short());
                }
            </div>
            <!-- end identify -->

            <div class="card-1" style="display: none;">
                <div class="title-tab-expand">
                    <div class="icon non-interactive">
                        <svg viewBox="0 0 12 12">
                            <path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 6C12 9.31371 9.31371 12 6 12C2.68629 12 2.34843e-07 9.31371 5.24537e-07 6C-1.39444e-07 2.68629 2.68629 1.39444e-07 6 -5.24537e-07C9.31371 -2.34843e-07 12 2.68629 12 6ZM6 6.25C6.41421 6.25 6.75 6.58579 6.75 7L6.75 9C6.75 9.41421 6.41421 9.75 6 9.75C5.58579 9.75 5.25 9.41421 5.25 9L5.25 7C5.25 6.58579 5.58579 6.25 6 6.25ZM6 5C6.55228 5 7 4.55229 7 4C7 3.44772 6.55228 3 6 3C5.44772 3 5 3.44772 5 4C5 4.55229 5.44771 5 6 5Z" />
                        </svg>
                    </div>
                    <span class="tab">
                        Thông tin
                    </span>

                    <div class="icon">
                        <svg class="icon-svg" viewBox="0 0 16 16">
                            <path d="M3.64645 9.85355C3.45118 9.65829 3.45118 9.34171 3.64645 9.14645L7.64645 5.14645C7.84171 4.95118 8.15829 4.95118 8.35355 5.14645L12.3536 9.14645C12.5488 9.34171 12.5488 9.65829 12.3536 9.85355C12.1583 10.0488 11.8417 10.0488 11.6464 9.85355L8 6.20711L4.35355 9.85355C4.15829 10.0488 3.84171 10.0488 3.64645 9.85355Z" />
                        </svg>
                    </div>
                </div>

            </div>

            <!-- chart -->
            <div class="card-1">
                @Html.Partial("/Views/Home/partial/_map_chart_feature.cshtml", new ViewDataDictionary(ViewData)
            {
                { "ctrl_id", suffixChartInfo },
            })
            </div>
            <!-- end chart -->
        </div>

        <!-- ranking -->
        <div id="content-tab2" class="content-tab">
            @Html.Partial("/Views/Home/partial/_rankingvn.cshtml")
        </div>
        <!-- end ranking -->
    </div>
</div>

<!-- Toc Control -->
<div>
    @Html.Partial("/Views/Home/partial/_map_toccontrol.cshtml", Model.Layers)
</div>
<!-- end Toc Control -->
<!-- map zoom control -->
<div class="map-control" style="z-index: 3;">
    @Html.Partial("/Views/Home/partial/_map_zoom.cshtml")
</div>
<!-- end map zoom control -->

<div class="logo" data-aos="fade-left" data-aos-delay="900">
    @Html.Partial("/Views/Shared/stack-admin/partial/_logo.cshtml")
</div>

<div class="time-slider">
    @Html.Partial("/Views/Home/partial/_map_time_slider.cshtml");

    @Html.Partial("/Views/Home/partial/_map_legend.cshtml");
</div>
<div class="overlay-bottom"></div>

@*<script src="~/theme/apom/main.js"></script>*@

<script>
    AOS.init();

    $(document).ready(function () {
        $('#content-tab3').show();
        $('#content-tab1, #content-tab2').hide();

        $(".toggle-panel").click(function (e) {
            e.preventDefault();
            $(".main-popup").toggleClass("active");
            $(".time-slider").toggleClass("full-width");
        });
        $(".tab-icon-line .tab").click(function (e) {
            e.preventDefault();
            let dataLink = $(this).data('link');
            let loading = parseInt($(this).data('loading'));
            if (loading === 0) {
                $(this).data('loading', 1);
                if (dataLink === 'content-tab2') {
                    if (typeof (getPinnedLocationDefault) === 'function') getPinnedLocationDefault();
                }
            }
            $(".tab-icon-line .tab").removeClass("active");
            $(this).addClass("active");
            $('.content-tab').hide();
            $('#' + dataLink).show();
        });
    });

    $("#search").focus(function () {
        $(".show-in-searching").addClass("show-search");
        $(".hide-in-searching").addClass("hide-search");
    });
    $("#search").focusout(function () {
        $(".show-in-searching").removeClass("show-search");
        $(".hide-in-searching").removeClass("hide-search");
    });

    //var options = {
    //    chart: {
    //        height: '200',
    //        type: 'line',
    //        toolbar: {
    //            show: false
    //        },
    //        fontFamily: 'Roboto',
    //        fontWeight: '300',
    //    },

    //    stroke: {
    //        curve: 'smooth',
    //        width: 2
    //    },
    //    series: [
    //        {
    //            name: "AQI",
    //            data: [60, 80, 65, 75, 65]
    //        }
    //    ],
    //    fill: {
    //        type: "gradient",
    //        gradient: {
    //            shadeIntensity: 1,
    //            type: 'vertical',
    //            colorStops: [
    //                {
    //                    offset: 30,
    //                    color: "#FF4123",
    //                    opacity: 1
    //                },
    //                {
    //                    offset: 20,
    //                    color: "#F17C00",
    //                    opacity: 1
    //                },
    //                {
    //                    offset: 60,
    //                    color: "#FFD05C",
    //                    opacity: 1
    //                },
    //                {
    //                    offset: 100,
    //                    color: "#00C582",
    //                    opacity: 1
    //                }
    //            ]
    //        }
    //    },
    //    grid: {
    //        borderColor: '#6D6D6D'
    //    },
    //    yaxis: {
    //        labels: {
    //            align: 'left',
    //        },
    //    },
    //    xaxis: {
    //        categories: [
    //            "01/05",
    //            "02/05",
    //            "03/05",
    //            "04/05",
    //            "05/05",
    //            "06/05"
    //        ],
    //        axisBorder: {
    //            show: false
    //        },
    //        axisTicks: {
    //            show: false
    //        },
    //        tooltip: {
    //            enabled: false
    //        }
    //    }
    //};
    //var chart = new ApexCharts(document.querySelector("#chart"), options);
    //chart.render();
</script>

@*tuannh*@
<script>
    var mapId = 'map-apom-basic';
    var formatDate = 'dd/MM/yyyy';
    var formatTime = 'hh:mm:ss';
    var myDateFormat = 'DD-MM-YYYY';
    var optionIdentify = [];
    var isAuthenticate = '@ViewBag.isAuthenticate' === 'True' ? true : false;
</script>

<script>
    $('.map-info-feature-satellite').addClass('active');
    optionIdentify.activeSatellite = true;
    optionIdentify.runChart = true;
    $(document).ready(function () {
        $(".map-info-feature-icon-toggle").click(function (e) {
            e.preventDefault();
            let info = null;
            if ($(this).hasClass('map-info-feature-station')) {
                optionIdentify.activeSatellite = false;
            }
            else {
                optionIdentify.activeSatellite = true;
            }
        });
    });

    var firstLoadData = true;
    var loadRanking = false;
    /* identify */
    function identifyAction(options) {
        let time = optionIdentify.time ? optionIdentify.time : '';
        let date = optionIdentify.date ? optionIdentify.date : '';
        let activeSatellite = optionIdentify.activeSatellite;
        let coors = optionIdentify.coordinate;
        optionIdentify = options;
        if(time != '') optionIdentify.time = time;
        if(date != '') optionIdentify.time = date;
        optionIdentify.activeSatellite = activeSatellite;
        if (coors === optionIdentify.coordinate) optionIdentify.sameCoor = true;
        let runChart = optionIdentify.runChart ?? true;
        // active tab
        if (!options.coordinate) return;
        if (runChart) {
            if (firstLoadData) {
                $('.main-popup #tab3').click();
                firstLoadData = false;
            }
            else $('.main-popup #tab1').click();
        }

        let _options = options ? options : [];
        let map = _options.map ? _options.map : null;
        let feature = _options.feature ? _options.feature : null;;
        let hostAPI = _options.hostAPI ? _options.hostAPI : '';
        let langId = _options.langId ? _options.langId : 'vi';
        let coordinate = _options.coordinate ? _options.coordinate : [0,0];
        let isStation = _options.isStation ? _options.isStation : false;
        let isGeoTiff = _options.isGeoTiff ? _options.isGeoTiff : false;
        let event = _options.e ? _options.e : null;

        if(optionIdentify.activeSatellite)
        {
            $('.map-info-feature-station').removeClass('active');
            if(!$('.map-info-feature-satellite').hasClass('active')) $('.map-info-feature-satellite').addClass('active');
        }
        else
        {
            $('.map-info-feature-satellite').removeClass('active');
            if(!$('.map-info-feature-station').hasClass('active')) $('.map-info-feature-station').addClass('active');
        }

        if(isStation)
        {
            $('.map-info-feature-station').removeClass('disabledbutton');
            var properties = feature.getProperties();
            // station
            let info = getStationInfo(feature, hostAPI, langId, event);
            map.parent.identifyImpl.infoFeatureStation = info;
            if(!optionIdentify.activeSatellite)
            {
                if (info.callbackInfo) {
                    info.callbackInfo(info, langId);
                }
                else {
                    var html = '<div><table>';
                    for (var property in properties) {
                        if (typeof (properties[property]) != "object") {
                            html += '<tr>';
                            html += '<td>' + property + '</td>';
                            html += '<td>';
                            html += properties[property] === null ? '' : properties[property];
                            html += '</td>';
                            html += '</tr>';
                        }
                    }
                    html += '</table></div>';
                    $('.map-info-feature').html(html);
                }
                if (info.callbackChart && !(isGeoTiff && optionIdentify.activeSatellite)) {
                    info.callbackChart[0](info, hostAPI, langId, '#dailyaqichart_' + '@suffixChartInfo', '#dailyconcenchart_' + '@suffixChartInfo', false);
                }
            }
        }
        else{
            if(!$('.map-info-feature-station').hasClass('disabledbutton')) $('.map-info-feature-station').addClass('disabledbutton');
        }

        // geotiff
        if (isGeoTiff && optionIdentify.activeSatellite) {
            identitfyDataGeoTiff(map, coordinate, event, runChart, function (info) {
                var features = [];
                if (info != null) {
                    if (info.reloadInfo) {
                        return;
                    }
                    if (info.length > 0) {
                        //alert('run');
                        $('.map-info-feature-satellite').removeClass('disabledbutton');
                        map.parent.identifyImpl.infoFeatureSatellite = info;

                        if (info.callbackInfo) {
                            info.callbackInfo(info, langId, event);
                        }
                        if (info.callbackChart) {
                            info.callbackChart[0](info, hostAPI, langId, '#dailyaqichart_' + '@suffixChartInfo', '#dailyconcenchart_' + '@suffixChartInfo', false);
                            info.callbackChart[1](info, hostAPI, langId, '#dailyaqichart_' + '@suffixChartForecast', '#dailyconcenchart_' + '@suffixChartForecast', true);
                        }
                    }
                    else {
                        //if(!$('.map-info-feature-satellite').hasClass('disabledbutton')) $('.map-info-feature-satellite').addClass('disabledbutton');
                    }
                }
                else {
                    //if(!$('.map-info-feature-satellite').hasClass('disabledbutton')) $('.map-info-feature-satellite').addClass('disabledbutton');
                }
            });
        }
        else {
            identitfyDataGeoTiff(map, coordinate, event, runChart, function (info) {
                var features = [];
                if (info != null) {
                    if (info.reloadInfo) {
                        return;
                    }
                    if (info.length > 0) {
                        map.parent.identifyImpl.infoFeatureSatellite = info;
                    }
                }
            });
        }
    };

    /********* identify for station **********/
    // get station's name when click station on map
    function getStationInfo(feature, hostAPI, langId, event) {
        let attributes = [];
        let groupId = '';
        let properties = feature.getProperties();
        groupId = (properties["group_id"] === null) ? '' : properties["group_id"];
        let timeSliderCurrentDate = apomGis.mainCurrentImpl.timeSlider.currentDate();
        // call api
        if (groupId != '' && hostAPI != '') {
            let component_id = 'pm25';
            let urlRequest = hostAPI + "@Constant.APIs.station_daily_short" + "?group_id=" + groupId + "&component_id=" + component_id + "&datetime_shooting=" + timeSliderCurrentDate + "&lang_id=" + langId;
            $.ajax({
                type: "GET",
                url: urlRequest,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                crossDomain: true,
                async: false,
                beforeSend: function(){
                    // Show image container
                    if(event != null) event.preventDefault();
                    $('.loading-ajax').show();
                    if(event != null) event.preventDefault();
                },
                success: function (response) {
                    console.log(response);
                    attributes = response;
                    // callback: defined in _map_info_feature & _map_chart_feature
                    if (attributes.group.isaqi) {
                        attributes.callbackInfo = callbackShowStationAQI;
                        attributes.callbackChart = [viewChartDetailStation];
                    }
                    else attributes.callbackInfo = callbackShowMeteorology;
                },
                complete:function(data){
                    // Hide image container
                    if(event != null) event.preventDefault();
                    $('.loading-ajax').hide();
                    if(event != null) event.preventDefault();
                },
                failure: function (response) {
                    console.log(response);
                    $('.loading-ajax').hide();
                },
                error: function (response) {
                    console.log(response);
                    $('.loading-ajax').hide();
                }
            });
        }
        return attributes;
    }
    /********* end identify for station **********/

    /********* identify for geotiff **********/
    function identitfyDataGeoTiff(map, coordinate, event, runChart, callback) {
        var action = map.parent.coreImpl.action;
        var coorX = coordinate[0], coorY = coordinate[1];
        var features = [];
        var hostAPI = map.parent.hostAPI;
        var typeSlider = '';
        //var popupFeature = map.parent.popup;
        if (action === apomGis.Config.action.identify) {
            /******** identify  mem - wwrfchem *********/
            // only check layer that is visible
            var arrProperties = [];
            for (var i = 0; i < map.parent.wmslayers.length; i++) {
                var wmsLayer = map.parent.wmslayers[i];
                if (wmsLayer.getVisible()) {
                    var params = wmsLayer.layer.get('params');
                    //console.log('identify: ' + params);
                    var url = params.url;
                    var featurebase = params.featurebase;
                    var featuretype = params.featuretype;

                    var urlRequest = hostAPI + "@Constant.APIs.componentgeotiffservice_getbyserviceinfo";

                    $.ajax({
                        method: "POST",
                        url: urlRequest,
                        data: JSON.stringify({
                            "url": url,
                            "featurebase": featurebase,
                            "featuretype": featuretype
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        crossDomain: true,
                        async: false,
                        success: function (response) {
                            //console.log(response);
                            if(response.Data.comps === undefined || response.Data.comps === null) return;
                            if(response.Data.comps.groupcomponent_id === undefined || response.Data.comps.groupcomponent_id === null) return;
                            var groupComponentId = response.Data.comps.groupcomponent_id;
                            typeSlider = response.Data.comps.typeslider;
                            var urlRequestIdentify = hostAPI + "@Constant.APIs.componentgeotiffdaily_identify_geotiff";
                            var timeSliderCurrentDate = '';
                            if(typeSlider === 'hour')
                            {
                                timeSliderCurrentDate = apomGis.mainCurrentImpl.timeSlider.currentDate();
                                if(optionIdentify.time === undefined) optionIdentify.time = timeSliderCurrentDate;
                                else{
                                    if(optionIdentify.time === timeSliderCurrentDate && optionIdentify.sameCoor)
                                    {
                                        optionIdentify.sameTime = true;
                                        arrProperties = {
                                            reloadInfo: true
                                        };
                                        return;
                                    }
                                    optionIdentify.time = timeSliderCurrentDate;
                                }
                            }
                            else
                            {
                                timeSliderCurrentDate = moment(apomGis.mainCurrentImpl.timeSlider.currentDate()).format('YYYY-MM-DD');
                                if(optionIdentify.date === undefined) optionIdentify.date = timeSliderCurrentDate;
                                else{
                                    if(optionIdentify.date === timeSliderCurrentDate && optionIdentify.sameCoor)
                                    {
                                        optionIdentify.sameTime = true;
                                        arrProperties = {
                                            reloadInfo: true
                                        };
                                        return;
                                    }
                                    optionIdentify.date = timeSliderCurrentDate;
                                }
                            }

                            var subTime = new Date();
                            $.ajax({
                                method: "POST",
                                url: urlRequestIdentify,
                                data: JSON.stringify({
                                    "x": coorX,
                                    "y": coorY,
                                    "groupcomponent_id": groupComponentId,
                                    "date_request": timeSliderCurrentDate,
                                    "lang_id": '@SessionContext.Language'
                                }),
                                contentType: 'application/json; charset=utf-8',
                                dataType: "json",
                                crossDomain: true,
                                async: false,
                                beforeSend: function(){
                                    // Show image container
                                    if(event != null) event.preventDefault();
                                    $('.loading-ajax').show();
                                    if(event != null) event.preventDefault();
                                },
                                success: function (response) {
                                    //console.log(response.Data.comps);
                                    var timeCompleted = new Date();
                                    subTime = (timeCompleted - subTime)/1000.0;
                                    console.log('time reponse: ' + subTime + ' (s)');
                                    if(response.Data.comps)
                                    {
                                        response.Data.comps['date'] = timeSliderCurrentDate;
                                        response.Data.comps['click_x'] = coorX;
                                        response.Data.comps['click_y'] = coorY;
                                        response.Data.comps['type_slider'] = typeSlider;
                                        // temp
                                        if(response.Data.comps_temp)
                                        {
                                            response.Data.comps['temp_val'] = response.Data.comps_temp.val;
                                        }
                                        // rh
                                        if(response.Data.comps_rh)
                                        {
                                            response.Data.comps['rh_val'] = response.Data.comps_rh.val;
                                        }
                                        arrProperties.push(response.Data.comps);
                                        // callback: defined in _map_info_feature & _map_chart_feature
                                        arrProperties.callbackInfo = callbackShowGeoTiffAQI;
                                        if (runChart) {
                                            arrProperties.callbackChart = [viewChartDetailGeoTiff, viewChartDetailGeoTiff];
                                        }
                                        //callback(response.Data.comps);
                                    }
                                    //popupFeature.show(coordinate, feature);
                                },
                                complete:function(data){
                                    // Hide image container
                                    if(event != null) event.preventDefault();
                                    $('.loading-ajax').hide();
                                    if(event != null) event.preventDefault();
                                },
                                failure: function (response) {
                                    console.log(response);
                                    $('.loading-ajax').hide();
                                },
                                error: function (response) {
                                    console.log(response);
                                    $('.loading-ajax').hide();
                                }
                            });
                        },
                        failure: function (response) {
                            console.log(response);
                            $('.loading-ajax').hide();
                        },
                        error: function (response) {
                            console.log(response);
                            $('.loading-ajax').hide();
                        }
                    });

                }
            }

            if(callback) {
                callback(arrProperties);
            }
            /******** end identify  mem - wwrfchem *********/
        }
    }
    /********* end identify for geotiff **********/
    /* end identify */

    /***** time-slider callback ******/
    function filterLayer(timeTick)
    {
        // station
        if(apomGis.mainCurrentImpl.vtStationTimeSeries && apomGis.mainCurrentImpl.vtStationTimeSeries.getVisible())
        {
            apomGis.mainCurrentImpl.vtStationTimeSeries.clearTileCache();
        }

        // geotiff
        for (let i = 0; i < apomGis.mainCurrentImpl.mapImpl.wmslayers.length; i++) {
            let layer = apomGis.mainCurrentImpl.mapImpl.wmslayers[i].layer;
            if (layer && layer.getVisible()) {
                apomGis.mainCurrentImpl.layerModelActive = apomGis.mainCurrentImpl.mapImpl.wmslayers[i];
                break;
            }
        }

        if(apomGis.mainCurrentImpl.layerModelActive) // set in _map_toccontrol
        {
            let timeSliderCurrentDate = '';
            if(apomGis.mainCurrentImpl.layerModelActive.layer.get('type_slider') === 'hour') {
                //timeSliderCurrentDate = moment(new Date(timeTick)).format('YYYY-MM-DD HH:00:00');
                timeSliderCurrentDate = moment(new Date(timeTick)).format('YYYY-MM-DDThh:mm:ss') + 'Z';
            }
            else {
                timeSliderCurrentDate = moment(new Date(timeTick)).format('YYYY-MM-DD');
            }
            apomGis.mainCurrentImpl.layerModelActive.updateParams({
                'TIME': timeSliderCurrentDate
            });
        }
    };
    /***** end time-slider callback ******/

    /***** layer time series *******/
    function tileLoadFunctionStationTimeSeries(tile, url) {
        var format = tile.getFormat();
        var tileCoord = tile.getTileCoord();
        tile.setLoader(function (extent, resolution, projection) {
            fetch(url).then(function (response) {
                response.arrayBuffer().then(function (data) {
                    const format = tile.getFormat() // ol/format/MVT configured as source format
                    const projection1 = format.readProjection(data);
                    if (tile.setProjection) tile.setProjection(projection1);
                    var features = [];
                    try {
                        //features = format.readFeatures(data, {});
                        features = format.readFeatures(data, {
                            extent: tile.extent,
                            featureProjection: tile.projection
                        });
                    }
                    catch (ex) {
                        //console.log('error read feature: ' + ex);
                        features = [];
                    }

                    // filter
                    for (var i = 0; i < features.length; i++) {
                        var properties = features[i].getProperties();
                        var parentId = properties.parent_id;

                        var layerItem = apomGis.mainCurrentImpl.listGroupLayers.find(x=>x.id===parentId);
                        // layerItem = undefined -> chua thiet lap trang thai -> mac dinh la active

                        var timeF = new Date(properties.datetime_shooting).getTime();
                        if(timeF != apomGis.mainCurrentImpl.timeSlider.current) {
                            features.splice(i, 1);
                            i--;
                        }
                    }
                    tile.setFeatures(features);
                });
            });
        });
    };
    /***** end layer time series *******/

    $(document).ready(function () {
        var date = new Date().addDays(-1);
        var f = {
            mapid: 'map-apom-basic'
        };

        /* init time slider */
        var nowDate = new Date();
        var nowHour = nowDate.getHours();

        if(apomGis.Config.position) apomGis.Config.position.digit = CONFIG_SYSTEMT.SYMBOL_DIGITDECIMAL;
        /* format date with moment
            YYYY: 4-digit year '2019'
            YY: 2-digit year '19'
            MMMM: Full-length month 'June'
            MMM: 3 character month 'Jun'
            MM: Month of the year, zero-padded '06'
            M: Month of the year '6'
            DD: Day of the month, zero-padded '01'
            D: Day of the month '1'
            Do: Day of the month with numeric ordinal contraction '1st'
        */

        /* format time with moment
            HH: hour of day from 0-24, zero-padded, '14'
            H: hour of day from 0-24, '14'
            hh: hour of day on 12-hour clock, zero-padded, '02'
            h: hour of the day on 12 hour clock, '2'
            mm: minute, zero-padded, '04'
            m: minute, '4'
            ss: second, zero-padded
            s: second
            A: 'AM' or 'PM'
            a: 'am' or 'pm'
        */
        //moment.simpleFormat.options.date = 'YMD';

        apomGis.Config.Services = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstServices));

        formatDate = CONFIG_SYSTEMT.FORMAT_DATE.toUpperCase();
        formatTime = CONFIG_SYSTEMT.FORMAT_TIME.toLowerCase();
        apomGis.Config.VNAQI = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstVNAQI));
        apomGis.Config.projection.code = CONFIG_SYSTEMT.PROJECTION;
        apomGis.Config.projection.unit = CONFIG_SYSTEMT.UNIT_MAP;

        apomGis.Config.scale.show_label = parseInt('@Apom_User.Common.Constant.WebConfig.SCALE_SHOW_STATION_LABEL');

        if(CONFIG_SYSTEMT.MAP_EXTENT != undefined)
        {
            apomGis.Config.initExtent.extent = CONFIG_SYSTEMT.MAP_EXTENT;
            apomGis.Config.initExtent.full = CONFIG_SYSTEMT.MAP_EXTENT;
            let xCenter = (CONFIG_SYSTEMT.MAP_EXTENT[0] + CONFIG_SYSTEMT.MAP_EXTENT[2])/2;
            let yCenter = (CONFIG_SYSTEMT.MAP_EXTENT[1] + CONFIG_SYSTEMT.MAP_EXTENT[3])/2;
            apomGis.Config.initExtent.center = {
                x: xCenter,
                y: yCenter
            };
        }

        var style_simple = new ol.style.Style({
            fill: new ol.style.Fill({
                color: '#ADD8E6'
            }),
            stroke: new ol.style.Stroke({
                color: '#880000',
                width: 1
            })
        });

        function simpleStyle(feature) {
            return style_simple;
        }

        var mainImpl = new apomGis.mainClass({
            mapid: f.mapid,
            hostapi: '@ViewBag.HostAPI',
            endpoint_identify: '@Constant.APIs.administrative_info_by_coor',
            langid: '@Apom_User.Common.SessionContext.Language'.trim()
        });
        mainImpl.hostGSV = '@hostGSV';
        mainImpl.isAuthenticate = isAuthenticate;
        mainImpl.initApomGis();

        // search adress
        mainImpl.mapImpl.setSearchAddressOsm({
            'id': 'search',
            'callbackAction': identifyAction
        });

        apomGis.mainCurrentImpl = mainImpl;
        setStatusLayerList(apomGis.mainCurrentImpl.getStatusLayers()); // defined in _map_toccontrol

        $('#loading-ajax').hide();
        var navHeight = $('nav').height() === undefined ? 0 : $('nav').height();
        var footerHeight = $('footer').height() === undefined ? 0 : $('footer').height();
        var height = (window.innerHeight - (navHeight + footerHeight)) - 0;
        $('#' + f.mapid).css('height', (height + 0) + 'px');
        $('.left-panel-chart-component').css('maxHeight', height);
        $('.left-panel-map-ranking').css('maxHeight', height);
        $(window).resize(function () {
            var height_map = (window.innerHeight - (navHeight + footerHeight)) - 0;
            var height_resize = height_map - 20;
            $('#' + f.mapid).css('height', (height_map + 0) + 'px');
        });

        /******** timeslider ********/
        let elem = document.querySelector('.slider-container');
        let now = new Date();
        let deltaDay = 0;
        now.setDate(now.getDate() - deltaDay);
        now = new Date(now.getFullYear(), now.getMonth(), now.getDate(), now.getHours(), 0, 0);
        //now = new Date(2023,2,17,8,0,0);
        now = now.getTime();

        apomGis.mainCurrentImpl.timeSlider = new apomTimeSlider();
        apomGis.mainCurrentImpl.timeSlider.on('update', function (datetime) {
            //console.log("Time slider updated. param= " + datetime);
            if (typeof (filterLayer) != 'undefined') filterLayer(datetime);
            if (typeof (identifyAction) != 'undefined') {
                optionIdentify.runChart = false;
                identifyAction(optionIdentify);
            }
            if (typeof (showRanking) != 'undefined') {
                if (loadRanking) {
                    let dateShooting = moment(datetime).format('YYYY-MM-DD');
                    showRanking('satellite_aqi_pm25', dateShooting);
                }
                else loadRanking = true;
            }
        });

        // elm, from, to, current, nIntervals
        let from = apomGis.Config.timeslider.prev_current;
        let to = apomGis.Config.timeslider.next_currrent;
        let noTicks = parseInt((from + to + 1) / 2);
        apomGis.mainCurrentImpl.timeSlider.init(elem, now - from * 24 * 60 * 60 * 1000, now + to * 24 * 60 * 60 * 1000, now, noTicks);
        /******** end timeslider ********/

        // trung van - ha noi
        let defaultCoorX = 105.79329380007142;
        let defaultCoorY = 20.995274332526627;
        // get_cookies_array in utility.js
        var cookies = get_cookies_array();
        let nameIdentifyCookie = apomGis.mainCurrentImpl.mapImpl.nameIdentifyCookie;
        if (cookies[nameIdentifyCookie] != undefined) {
            let versionCurrent = apomGis.mainCurrentImpl.mapImpl.version.identify;
            let stringCookies = cookies[apomGis.mainCurrentImpl.mapImpl.nameIdentifyCookie];
            let arrayCookiesData = stringCookies.split('|');
            let coorX = 0, coorY = 0, version = '';
            if (arrayCookiesData.length > 0) coorX = parseFloat(arrayCookiesData[0]);
            if (arrayCookiesData.length > 1) coorY = parseFloat(arrayCookiesData[1]);
            if (arrayCookiesData.length > 2) version = arrayCookiesData[2];
            if (versionCurrent === version) {
                defaultCoorX = coorX;
                defaultCoorY = coorY;
            }
        }

        // add feature graphic of geotiff layer
        if (apomGis.mainCurrentImpl.mapImpl.graphicLayer) apomGis.mainCurrentImpl.mapImpl.graphicLayer.removeAllFeature();
        apomGis.mainCurrentImpl.mapImpl.graphicLayer.createGraphic({
            geom: apomGis.mainCurrentImpl.mapImpl.graphicLayer.geometry.createPoint(defaultCoorX, defaultCoorY)
        });
        identifyAction({
            map: apomGis.mainCurrentImpl.mapImpl.control,
            hostAPI: '@ViewBag.HostAPI',
            langId: '@Apom_User.Common.SessionContext.Language',
            coordinate: [defaultCoorX, defaultCoorY],
            isStation: false,
            isGeoTiff: true,
            runChart: true,
        });
    });
</script>
