﻿@model Repositories.Models.analysis_model_view
@{
    Layout = ViewBag.LayoutOtherPage;
    //ViewBag.Title = "Index";
}

<script src="~/Scripts/moment.js"></script>

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-body">
        <!-- Bar charts section start -->
        <section id="chartjs-bar-charts">
            <!-- Column Chart -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">@Resources.Common.data_analysis</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-h font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <!--<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>-->
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <!--<li><a data-action="close"><i class="feather icon-x"></i></a></li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body" style="padding-top: 0;">
                                @*<!-- Navbar-->
                                @Html.Partial("~/Views/Analysis/partial/_header.cshtml")
                                <!--/ Navbar-->
                                <!-- Search Result -->
                                <div class="tab-content">
                                    @Html.Partial("~/Views/Analysis/partial/_layer.cshtml")
                                    @Html.Partial("~/Views/Analysis/partial/_station.cshtml")
                                    <!--/ Search Result -->
                                </div>*@

                                @Html.Partial("~/Views/Analysis/partial/_layer.cshtml", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

